<table class='detail_table'>
  <thead>
    <th></th>
    <th>Name</th>
    <th>Module</th>
    <th>Uploaded</th>
    <th>Last Processed</th>
    <th>Records Saved</th>
    <th>Errors</th>
  </thead>
  <tbody>
    <%@imported_files.each do |imp|%>
      <tr class='hover'>
        <td><%=link_to "Go", "/imported_files/show_angular#/#{imp.id}/1"%></td>
        <td><%=imp.attached_file_name%></td>
        <td><%=imp.core_module.label%></td>
        <td><%=imp.created_at%></td>
        <% fir = imp.last_file_import_finished%>
        <td><%=fir.nil? ? "" : fir.finished_at%></td>
        <td><%=fir.nil? ? "" : fir.changed_object_count%></td>
        <% ec = fir.nil? ? 0 : fir.error_count %>
        <td><span class='error'><%=ec>0 ? ec : ""%></span></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%=will_paginate @imported_files%>
