<% content_for :javascript do %>
  var importedFilePreviewLoaded = false;
  $(function() {
    <% if @imported_file.deletable? && @imported_file.can_delete?(current_user)%>
    $("#btn_delete").button();
    OpenChain.addClickMap('d','Delete','btn_delete');
    <%end%>
    <% unless @imported_file.search_setup.nil? %>
    $("#btn_process").click(function() {$("#mod_loading").dialog('open');});
    $("#btn_download").click(function() {window.location='<%=download_imported_file_path @imported_file%>';});
    $("#mod_loading").dialog({autoOpen:false,width:300,title:"Preview Loading",modal:true,
      open:function() {
        if(!importedFilePreviewLoaded) {
          $.getJSON('<%=preview_imported_file_path @imported_file%>',function(data) {
            if(data.error) {
              $("#mod_loading").dialog('close');
              $("#mod_error").dialog('open');         
            } else {
              var str = "<ul>";
              for(var i=0;i<data.length;i++) {
                str += "<li>"+data[i]+"</li>";
              }
              str += "</ul>";
              $("#preview_content").html(str);
              importedFilePreviewLoaded = true;
              $("#mod_loading").dialog('close');
              $("#mod_preview").dialog('open');
            }
          });
        } else {
          $("#mod_loading").dialog('close');
          $("#mod_preview").dialog('open');
        }
      }
    });
    $("#mod_preview").dialog({autoOpen:false,width:400,title:"Preview",modal:true,buttons:{
      "Go":function() {
        $("#mod_preview").dialog('close');
        $("#mod_processing").dialog('open');
        window.location = '<%=process_file_search_setup_imported_file_path(@imported_file.search_setup,@imported_file)%>';
      },
      "Cancel":function() {$("#mod_preview").dialog('close');}
      }
      });
    $("#mod_error").dialog({autoOpen:false,width:300,title:"Error Reading File",modal:true,buttons:{"OK":function() {$("#mod_error").dialog('close');}}});
    $("#mod_processing").dialog({autoOpen:false,width:300,title:"Processing",
      modal:true,closeOnEscapse:false,close:function() {$("#mod_processing").dialog('open')}});
      <%if @file_import_result.nil?%>
        $("#mod_loading").dialog('open');
      <%end%>
    <% end %>
    $("#mod_download_items").dialog({autoOpen:false,width:600,title:"Download Items",modal:true,buttons:{"OK":function(){$("#frm_di").submit(); },"Cancel":function() {$("#mod_download_items").dialog('close');}}});
    $("#filter_download").change(function() {
      if($(this).is(":checked")) {
        var fields = [];
        <%ModelField.sort_by_label(@imported_file.core_module.model_fields_including_children.values).each do |mf| %>
          fields.push({"uid":'<%=escape_javascript mf.uid.to_s%>',"dtype":'<%=escape_javascript mf.data_type.to_s%>',"label":'<%=escape_javascript mf.label%>'});
        <%end%>
        OCSearch.addSearchCriterion($("#download_items_crits"),fields,new Date().getTime(),null,null,null,false);
      } else {
        $("#download_items_crits").html("");
      }
    });
    $("input[name='send_to']").change(function() {
      if($("#di_email_radio").is(":checked")) {
        $("#di_email_box").show();
      } else {
        $("#di_email").val("");
        $("#di_email_box").hide();
      }
    });
  });
<% end %>

<% content_for :action_bar do %>
  <button class='btn_link' link_to='<%=show_email_file_imported_file_path(@imported_file)%>'>Download Current</button>
  <button id='btn_download'>Download Original</button>
  <% if @imported_file.deletable? && @imported_file.can_delete?(current_user)%>
    <%=button_to('Delete', imported_file_path(@imported_file),:method=>:delete, :confirm=>"Are you sure?", :id=>"btn_delete")%>
  <% end %>
  <% unless @file_import_result.nil?%>
    <button class='btn_link' link_to='<%=file_import_result_path(@file_import_result)%>'>Log</button>
  <%end%>
<% end %>
<table>
  <tr>
    <td width='50%' style='vertical-align:top;'>
      <table>
        <%=field_row "File Name", @imported_file.attached_file_name %>
        <%=field_row "Uploaded At", @imported_file.created_at %>
        <%=field_row "Uploaded By", @imported_file.user ? @imported_file.user.full_name : ""%>
      </table>
    </td>
    <td width='50%' style='vertical-align:top;'>
      <table>
        <%=field_row "Last Processed", @file_import_result.nil? ? "Never" : (@file_import_result.finished_at.nil? ? "Processing" : @file_import_result.finished_at) %>
        <%=field_row "File Rows", @file_import_result.nil? ? "" : @file_import_result.change_records.size %>
        <%=field_row "Records", @search_run.nil? ? "" : @search_run.total_objects %>
        <% if @file_import_result%>
          <% error_count = @file_import_result.error_count%>
          <% if error_count>0%>
            <%=field_row "Errors", link_to(pluralize(error_count,"error"), @file_import_result, :class=>"error")%>
          <%end%>
        <%end%>
      </table>
    </td>
  </tr>
</table>
<% if @file_import_result %>
  <%= render :partial=>'shared/search_results', :locals=>{:bulk_actions=>@bulk_actions, :module_chain=>@imported_file.core_module.default_module_chain,
    :columns=>@columns, :criterions=>[], :objects=>@changed_objects, :item_count=>@search_run.total_objects, :search_run_id=>@search_run.id} %>
<% end %>
<div id='mod_preview' style='display:none;'>
  <div>
    <b>The first row of this file will perform the following actions.<br/>  
      Please double check that it looks right before clicking Go.<br />
      <span style='color:red;'>There is no undo for this action.</span></b>
  </div>
  <div id='preview_content'>
    Loading...
  </div>
</div>
<div id='mod_processing' style='display:none;'>
  File processing in the background.  This may take several minutes.  You will receive a message when processing is complete.
</div>
<div id='mod_loading' style='display:none;'>
  A preview of your file is loading.  Please wait.
</div>
<div id='mod_error' style='display:none;'>
  <p>There was an error reading the file you uploaded.  This might be related to corruption in the original file.</p>
  <p>Many times this can be fixed by opening the file in Excel and saving as a &quot;CSV&quot; file.</p>
  <p>If this does not work, please open a ticket by clicking the Help link at the top of the page.</p>
</div>
