<%content_for :action_bar do %>
  <button class="form_to" form_id="frm_em">Send</button>
  <button class="btn_link" link_to="<%=imported_file_path @file%>">Cancel</button>
<%end%>
<%=form_tag email_file_imported_file_path(@file), :method => :post, :id=>'frm_em' do -%>
  <table>
    <%=field_row "To", text_field_tag(:to, current_user.email)%>
    <tr><td></td><td style='font-size:80%;'>Separate email addresses with commas</td>
    <%=field_row "Subject", text_field_tag(:subject, "[VFI Track] #{@file.core_module.label} data.")%>
    <%=field_row "Body", text_area_tag(:body, "#{current_user.full_name} has sent you the attached file from VFI Track.")%>
  </table>
  <% unless @extra_countries.blank? %>
    <h2>Add Countries To Sheet</h2>
    <% @extra_countries.each do |c| %>
      <%=check_box_tag 'extra_countries[]', c.id%> <%=c.name%><br />
    <% end %>
  <% end %>
<% end %>
