<%-enabled_features = MasterSetup.get.custom_features_list-%>
<div class='container'>
  <div class='row'>
    <div class='span12 text-center'>
      <h1>Custom Features</h1>
    </div>
  </div>
  <%-if enabled_features.blank?-%>
  <div class='row'>
    <div class='span12'>
      There aren't any custom features enabled for this system.
    </div>
  </div>
  <%-end-%>
  <%-if enabled_features.include? 'CSM Sync'%>
  <div class='row'>
    <div class='span12'>
      <%=link_to "CSM Sync", '/custom_features/csm_sync'%>
    </div>
  </div>
  <%-end%>
  <%-if enabled_features.include?('Polo Canada') && OpenChain::CustomHandler::PoloCaEntryParser.new(nil).can_view?(current_user)-%>
  <div class='row'>
    <div class='span12'>
      <%=link_to "Polo Canada", '/custom_features/polo_canada'%>
    </div>
  </div>
  <%-end-%>
  <%-if enabled_features.include?('Polo SAP') && OpenChain::CustomHandler::PoloSapBomHandler.new(nil).can_view?(current_user)-%>
  <div class='row'>
    <div class='span12'>
      <%=link_to "SAP Bill of Materials", '/custom_features/polo_sap_bom'%>
    </div>
  </div>
  <%-end-%>
  <%-if enabled_features.include?('JCrew Parts') && OpenChain::CustomHandler::JCrewPartsExtractParser.new.can_view?(current_user)-%>
  <div class='row'>
    <div class='span12'>
      <%=link_to "JCrew Parts Upload", '/custom_features/jcrew_parts'%>
    </div>
  </div>
  <%-end-%>
  <%-if enabled_features.include?('Polo CA Invoices') && OpenChain::CustomHandler::Polo::PoloCaInvoiceHandler.new(nil).can_view?(current_user)-%>
  <div class='row'>
    <div class='span12'>
      <%=link_to "Polo CA Invoice Upload", '/custom_features/polo_ca_invoices'%>
    </div>
  </div>
  <%-end-%>
  <%-if enabled_features.include?('UA SAP') && OpenChain::CustomHandler::UnderArmour::UaTbdReportParser.new(nil).can_view?(current_user)-%>
  <div class='row'>
    <div class='span12'>
      <%=link_to "TBD Report Upload", '/custom_features/ua_tbd'%>
    </div>
  </div>
  <%-end-%>
</div>
