<% content_for :javascript do %>
var CustomDefinitionForm = {
  getDataTypeField: function() {
    return $("#data_type_select");
  },
  getDataType: function() {
    return CustomDefinitionForm.getDataTypeField().val();
  },
  writeDefaultValueRow: function(currentValue) {
    var cv = currentValue ? currentValue : "";
    $(".dv_row").remove();
    var fieldHtml = "";
    var fieldName = 'custom_definition[default_value]';
    var dataType = CustomDefinitionForm.getDataType();
    var afterWrite = function(dvField) {}
    switch(dataType) {
      case "date":
        fieldHtml = "<input id='dv_fld' type='text' class='isdate form-control' name='"+fieldName+"' size='30' value='"+cv+"'/>";
        afterWrite = function(dvField) {dvField.datepicker({dateFormat: 'yy-mm-dd'});};
        break;
      case "datetime":
        fieldHtml = "<input id='dv_fld' type='datetime-local' class='form-control' name='"+fieldName+"' size='30' value='"+cv+"'/>";
        break;
      case "text":
        fieldHtml = "<textarea id='dv_fld' name='"+fieldName+"' value='"+cv+"' class='form-control'/>";
        break;
      case "string":
        fieldHtml = "<input id='dv_fld' type='text' name='"+fieldName+"' size='30' value='"+cv+"' class='form-control'/>";
        break;
      case "boolean":
        fieldHtml = "<input id='dv_fld' type='checkbox' name='"+fieldName+"' value='true' "+(cv=="true" ? "checked='true'" : "")+" />";
        break;
      case "integer":
        fieldHtml = "<input id='dv_fld' type='text' class='integer form-control' name='"+fieldName+"' size='30' value='"+cv+"' />";
        afterWrite = function(dvField) {dvField.jStepper({allowDecimals:false});};
        break;
      case "decimal":
        fieldHtml = "<input id='dv_fld' type='text' class='decimal form-control' name='"+fieldName+"' size='30' value='"+cv+"' />";
        afterWrite = function(dvField) {dvField.jStepper();};
        break;
    }
    CustomDefinitionForm.getDataTypeField().parents("tr:first").after("<tr class='dv_row hover'><td class='label_cell'>Default:</td><td>"+fieldHtml+"</td></tr>");
    afterWrite($("#dv_fld"));
  },
  handleUserField: function() {
    var dataType = CustomDefinitionForm.getDataType();
    var fld = $("#is_user_chk");
    var row = fld.parents('tr:first');
    if(dataType == "integer") {
      row.show();
    } else {
      fld.prop('checked',false);
      row.hide();
    }
  },
  handleAddressField: function() {
    var dataType = CustomDefinitionForm.getDataType();
    var fld = $("#is_address_chk");
    var row = fld.parents('tr:first');
    if(dataType == "integer") {
      row.show();
    } else {
      fld.prop('checked',false);
      row.hide();
    }
  }
}
$(document).ready(function() {
	$("#btn_save").click(function() {$("#frm_c").submit();});
  $("#btn_save_and_new").click(function() {
    $("#hdn_and_new").val("Y");
    $("#frm_c").submit();
  });
	$("#btn_cancel").click(function() { window.location = '<%=custom_definitions_path%>';});
  $("#data_type_select").change(function() {
    var cdf = CustomDefinitionForm
    cdf.writeDefaultValueRow();
    cdf.handleUserField();
    cdf.handleAddressField();
  });
  CustomDefinitionForm.writeDefaultValueRow('<%=@custom_definition.default_value%>');
  CustomDefinitionForm.handleUserField();
  CustomDefinitionForm.handleAddressField();
});
<% end %>
<% content_for :action_bar do %>
  <button id='btn_save'>Save</button>
  <button id='btn_save_and_new'>Save &amp; New</button>
	<button id='btn_cancel'>Cancel</button>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= form_for(@custom_definition, :html=>{:id=>'frm_c'}) do |f| %>
      <input type='hidden' name='and_new' id='hdn_and_new' value='' />
      <table>
        <tbody>
        <% if @custom_definition.persisted? && current_user.sys_admin? %>
          <%=field_row "UID", @custom_definition.cdef_uid %>
        <% end %>
          <%=field_row "Label", f.text_field(:label, :title=>"The name of the field.", :class=>"focus_first form-control") %>
        <% if @custom_definition.persisted? %>
          <%=field_row "Module", @custom_definition.core_module.label %>
          <%=field_row "Data Type", f.select(:data_type, [[CustomDefinition::DATA_TYPE_LABELS[:date],"date"],[CustomDefinition::DATA_TYPE_LABELS[:datetime],"datetime"],[CustomDefinition::DATA_TYPE_LABELS[:decimal],"decimal"],[CustomDefinition::DATA_TYPE_LABELS[:integer],"integer"],[CustomDefinition::DATA_TYPE_LABELS[:string],"string"],[CustomDefinition::DATA_TYPE_LABELS[:text],"text"],[CustomDefinition::DATA_TYPE_LABELS[:boolean],"boolean"]], {},{:title=>"The type of information you enter into the field.",:id=>'data_type_select',:class=>'form-control', disabled: true})%>
        <% else %>
      	  <%=field_row "Module", f.select(:module_type, CoreModule.to_a_label_class {|c| c.enabled? && c.new_object.respond_to?(:custom_values)}.sort {|a,b| a.first <=> b.first},{},:id=>"sel_mod_type",:title=>"The screen you want the field to be on.", :class=>'form-control')%>
          <%=field_row "Data Type", f.select(:data_type, [[CustomDefinition::DATA_TYPE_LABELS[:date],"date"],[CustomDefinition::DATA_TYPE_LABELS[:datetime],"datetime"],[CustomDefinition::DATA_TYPE_LABELS[:decimal],"decimal"],[CustomDefinition::DATA_TYPE_LABELS[:integer],"integer"],[CustomDefinition::DATA_TYPE_LABELS[:string],"string"],[CustomDefinition::DATA_TYPE_LABELS[:text],"text"],[CustomDefinition::DATA_TYPE_LABELS[:boolean],"boolean"]], {},{:title=>"The type of information you enter into the field.",:id=>'data_type_select',:class=>'form-control'})%>
        <% end %>
          <%=field_row "Sort Rank", f.text_field(:rank, :title=>"An optional number to tell the system where to put the field on the screen.  Lower numbers appear first.", :class=>'form-control') %>
          <%=field_row "Tip", f.text_field(:tool_tip, :title=>"A note (like this) to help user's understand what to type into the field.",:class=>'form-control') %>
          <%=field_row "Use in Quick Search", f.check_box(:quick_searchable, :title=>"If checked this custom field's data will be searchable via the Quick Search box located at the top of every page.") %>
          <%=field_row "User Field", f.check_box(:is_user, :title=>"Does this field represent a User ID?", :id=>'is_user_chk') %>
          <%=field_row "Address Field", f.check_box(:is_address, :title=>"Does this field represent an Address?", :id=>'is_address_chk') %>
          <%=field_row "Glossary definition", f.text_area(:definition, :title=>"A description of this field's meaning which will be displayed in the glossary.",:class=>'form-control') %>
          <%=field_row "Virtual Search Query", f.text_area(:virtual_search_query, title: "A SQL query to run when this field is used on a search.", class: "form-control") %>
          <%=field_row "Virtual Value Query", f.text_area(:virtual_value_query, title: "A SQL query to run to retrieve the value of this field.", class: "form-control") %>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>
