<% content_for :javascript do %>
var CustomDefinitionForm = (function() {
  return {
    writeDefaultValueRow: function(currentValue) {
      var cv = currentValue ? currentValue : "";
      $(".dv_row").remove();
      var dataTypeField = $("#data_type_select");
      var dataType = dataTypeField.val();
      var fieldHtml = "";
      var fieldName = 'custom_definition[default_value]';
      var afterWrite = function(dvField) {}
      switch(dataType) {
        case "date":
          fieldHtml = "<input id='dv_fld' type='text' class='isdate' name='"+fieldName+"' size='30' value='"+cv+"'/>";
          afterWrite = function(dvField) {dvField.datepicker({dateFormat: 'yy-mm-dd'});};
          break;
        case "text":
          fieldHtml = "<textarea id='dv_fld' name='"+fieldName+"' value='"+cv+"'/>";
          break;
        case "string":
          fieldHtml = "<input id='dv_fld' type='text' name='"+fieldName+"' size='30' value='"+cv+"'/>";
          break;
        case "boolean":
          fieldHtml = "<input id='dv_fld' type='checkbox' name='"+fieldName+"' value='true' "+(cv=="true" ? "checked='true'" : "")+"/>";
          break;
        case "integer":
          fieldHtml = "<input id='dv_fld' type='text' class='integer' name='"+fieldName+"' size='30' value='"+cv+"' />";
          afterWrite = function(dvField) {dvField.jStepper({allowDecimals:false});};
          break;
        case "decimal":
          fieldHtml = "<input id='dv_fld' type='text' class='decimal' name='"+fieldName+"' size='30' value='"+cv+"' />";
          afterWrite = function(dvField) {dvField.jStepper();};
          break;
      }
      dataTypeField.parents("tr:first").after("<tr class='dv_row'><td class='label_cell'>Default:</td><td>"+fieldHtml+"</td></tr>");
      afterWrite($("#dv_fld"));
    }
  }
})(); 
$(function() {
	$("#btn_save").click(function() {$("#frm_c").submit();});
  $("#btn_save_and_new").click(function() {
    $("#hdn_and_new").val("Y");
    $("#frm_c").submit();
  });
	$("#btn_cancel").click(function() { window.location = '<%=custom_definitions_path%>';});
  $("#data_type_select").change(function() {CustomDefinitionForm.writeDefaultValueRow();})
  CustomDefinitionForm.writeDefaultValueRow('<%=@custom_definition.default_value%>');
});
<% end %>
<% content_for :action_bar do %>
  <button id='btn_save'>Save</button>
  <button id='btn_save_and_new'>Save &amp; New</button>
	<button id='btn_cancel'>Cancel</button>
<% end %>
<%= form_for(@custom_definition, :html=>{:id=>'frm_c'}) do |f| %>
  <input type='hidden' name='and_new' id='hdn_and_new' value='' />
  <table>
    <%=field_row "Label", f.text_field(:label, :title=>"The name of the field.", :class=>"focus_first") %>
	<%=field_row "Module", f.select(:module_type, CoreModule.to_a_label_class {|c| c.enabled_lambda},{},:id=>"sel_mod_type",
		:title=>"The screen you want the field to be on.")%>
    <%=field_row "Data Type", f.select(:data_type, [[CustomDefinition::DATA_TYPE_LABELS[:date],"date"],[CustomDefinition::DATA_TYPE_LABELS[:decimal],"decimal"],[CustomDefinition::DATA_TYPE_LABELS[:integer],"integer"],[CustomDefinition::DATA_TYPE_LABELS[:string],"string"],[CustomDefinition::DATA_TYPE_LABELS[:text],"text"],[CustomDefinition::DATA_TYPE_LABELS[:boolean],"boolean"]], {},{:title=>"The type of information you enter into the field.",:id=>'data_type_select'})%>
    <%=field_row "Read Only", f.check_box(:read_only) %>
    <%=field_row "Sort Rank", f.text_field(:rank, :title=>"An optional number to tell the system where to put the field on the screen.  Lower numbers appear first.") %>
    <%=field_row "Tip", f.text_field(:tool_tip, :title=>"A note (like this) to help user's understand what to type into the field.") %>
    <%=field_row "Use in Quick Search", f.check_box(:quick_searchable, :title=>"If checked this custom field's data will be searchable via the Quick Search box located at the top of every page.") %>
  </table>
<% end %>
