<% content_for :javascript do %>
$(function() {
	$("#btn_new").button().click(function() {
	  window.location = '<%=new_custom_definition_path%>';
	});
});
<% end %>
<%= render :partial => 'shared/search_box' %>
<table class="detail_table">
  <thead>
    <th><%=sortable_search_heading 'label'%></th>
    <th><%=sortable_search_heading 'm_type'%></th>
		<th><%=sortable_search_heading 'd_type'%></th>
    <th><%=sortable_search_heading 's_rank'%></th>
  </thead>

<% @custom_definitions.each do |cd| %>
  <tr class='hover'>
    <td><%= link_to cd.label, cd %></td>
    <td><%= CoreModule.find_by_class_name(cd.module_type).label %></td>
		<td><%= CustomDefinition::DATA_TYPE_LABELS[cd.data_type.intern]%></td>
    <td><%= cd.rank %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @custom_definitions %>  
<br />
<button id='btn_new'>New</button>
