<% content_for :javascript do %>
$(function() {
 $("#btn_edit").click(function() {window.location='<%=edit_custom_definition_path @custom_definition%>';});
 $("#back_to_search").click(function() {window.location='<%=custom_definitions_path %>';});
});
<% end %>

<% content_for :action_bar do %>
<% if @custom_definition.can_edit?(current_user)%><button id='btn_edit'>Edit</button><%end%>
<%= button_to('Delete', custom_definition_path(@custom_definition),:method => :delete, :confirm => "Are you sure?  Deleting this field will delete all data.  There is no undo.", :id => "btn_delete") %>
<button id='back_to_search'>Back To Search</button>
<% end %>

<table>
<%=field_row "Label", @custom_definition.label %>
<%=field_row "Module", CoreModule.find_by_class_name(@custom_definition.module_type).label %>
<%=field_row "Data Type", CustomDefinition::DATA_TYPE_LABELS[@custom_definition.data_type.intern] %>
<%=field_row "Tip", @custom_definition.tool_tip %>
<%=field_row "Sort Rank", @custom_definition.rank %>
</table>
