<% content_for :action_bar do %>
  <button class='btn_link' link_to='<%= sent_emails_path %>' key_map='b'>Back</button>
<% end %>

<% if @sent_email.suppressed %>
  <p><strong>This email was suppressed.</strong></p>
<% end %>

<% if !@sent_email.delivery_error.blank? %>
<div class="alert alert-danger" role="alert">
  <p><b>THE FOLLOWING ERROR WAS ENCOUNTERED WHILE ATTEMPTING TO DELIVER THIS EMAIL:</b></p>
  <p style="white-space: pre"><%=@sent_email.delivery_error%></p>
</div>
<% end %>
<table>
  <%= field_row "From", @sent_email.email_from %>
  <%= field_row "To", @sent_email.email_to %>
  <%= field_row "Reply to:", @sent_email.email_reply_to if @sent_email.email_reply_to %>
  <%= field_row "Cc", @sent_email.email_cc if @sent_email.email_cc %>
  <%= field_row "Bcc", @sent_email.email_bcc if @sent_email.email_bcc %>
  <%= field_row "Subject", @sent_email.email_subject %>
  <%= field_row "Date", @sent_email.email_date %>
</table>

<iframe src="<%= body_sent_email_path(@sent_email)%>" width="800" height="400" style="border: 0"></iframe>

<% unless @sent_email.attachments.empty? %>
    <br><strong><p>Attachments:</p></strong>
    <row class="col-md-3">
        <table class="table">
            <% @sent_email.attachments.each do |att| %>
              <tr>
                <td><%= link_to(att.attached_file_name, download_attachment_path(att)) %></td>
                <td><%= number_to_human_size(att.attached_file_size, precision: 2) %></td>
              </tr>
            <% end %>
        </table>
    </row>
<% end %>
