<div class="container-fluid message-wrap">
  <div class='row'>
    <div class='col-md-12'>
      <%- @messages.each do |message| %>
        <div class="<%=message.viewed ? 'read' : 'unread'%>" id="message-panel-<%=message.id%>">
          <h5 data-toggle="collapse" data-target="#msg-<%=message.id%>">
            <button class='btn btn-sm btn-link'>
              <span class='fa fa-chevron-right message-read-icon'></span>
            </button> <%=(message.subject.empty? ? '[No Subject]' : message.subject)%>
            <div class='float-right'>
              <button type="button" class='btn btn-sm btn-secondary show-time-btn' title='<%=message.created_at%>'>
                <span class='fa fa-clock-o'></span>
              </button>
              <button type="button" class='btn btn-sm btn-danger delete-message-btn' message-id='<%=message.id%>' title='Delete'>
                <span class='fa fa-trash'></span>
              </button>
            </div>
          </h5>
          <hr>
          <div id="msg-<%=message.id%>" class="collapse" message-id='<%=message.id%>'>
            <%= raw message.body%>
          </div>
        </div>
      <%- end %>  
    </div>
  </div>
  <div class='row'>
    <div class='col-12 text-center'>
      <strong>All messages are deleted after 30 days.</strong>
    </div>
  </div>
</div>
