<% content_for :javascript do %>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active: false,
      change: function(e, ui) {
        id = $(ui.newContent).attr("id");
        unRead = $("#mhead_"+id).hasClass("unread")
        if(unRead) {
          $.get('/messages/'+id+'/read',function(data) {
            if(data>0) {
              $('#message_envelope').show();
            } else {
              $('#message_envelope').hide();
            }
          });
        }
      }
    });

    $("#btn_read_all")
      .button()
      .click(function() {
        $.get('<%=read_all_messages_path%>');
        $('.unread').each(function() {
          $(this).removeClass("unread");
          $(this).addClass("read");
        });
      });
    $(".btn_delete").each(function() {
      id = $(this).attr("id").substring(11,$(this).attr("id").length);
      $(this).button().click(function() {
        if ( confirm("Are you sure you want to delete this message?") ) {
            $.ajax({
                url: '/messages/'+id,
                type: 'post',
                data: { '_method': 'delete' }
            });            
            $("#"+id).effect('fade');
            $("#mhead_h3_"+id).effect('fade', function() {
              $("#"+id).remove();
              $("#mhead_h3_"+id).remove();
            });
	}            
      });
    });
  });
<% end %>

<% content_for :action_bar do %>
<button id='btn_read_all'>Mark All Read</button>
<% if(current_user.sys_admin?)%>
  <button class='btn_link' link_to='<%=new_message_path%>'>Send</button>
<%end%>
<% end %>
<div id="accordion" style='width:98%;'>
<% @messages.each do |message| %>
  <h3 id='mhead_h3_<%=message.id%>' class='message_subject'><a href='#'><span id='mhead_<%=message.id%>' class='<%=message.viewed ? 'read' : 'unread'%>' ><%=(message.subject.empty? ? '[No Subject]' : message.subject)%> - <%= message.created_at%></span></a></h3>
  <div id='<%=message.id%>'>
    <p><%= raw message.body%></p>
    <p>
      <button class='btn_delete' id='btn_delete_<%=message.id%>'>Delete</button>
    </p>
  </div>
<% end %>
</div>
<%= will_paginate @messages %>
<div style='margin:10px 10% 10px 10%;width:80%;text-align:center'>
All messages are deleted after 30 days.
</div>
