<script>
  $(function() {
    $('#clear-announcement-btn').click(function() {
      $('#announcement-modal').modal('hide');
      $.ajax('<%=confirm_api_v1_announcements_path%>', {
        method: 'PUT',
        headers: {
          Accept : "application/json",
          "Content-Type": "application/json"
        },
        data: JSON.stringify({ user_id: <%=@user.id%>,announcement_ids: $('#announcement-container').attr('data-ids') })
      });

    });
  });
</script>
<div id="announcement-container" class="container mb-0" data-ids="<%= @announcements.map(&:id).join(',') %>">
  <% @announcements.each_with_index do |a, idx| %>
    <% unless idx.zero? %>
      <hr class="pt-2 pb-0">
    <% end %>
    <p class="pull-right"><%= a.start_at.strftime("%m-%d-%Y %l:%M%p") %></p>
    <div class="announcement ql-editor">
      <%= a.text&.html_safe %>
    </div>
  <% end %>
  <% unless @no_confirm %>
    <button type="button" class="btn btn-primary mt-2" data-dismiss="modal" id="clear-announcement-btn">OK</button>
    <div class="pt-2">
      <small>To view the message again, click on the notification bell and then <i>Announcements</i>.</small>
    </div>
  <% end %>
</div>
