<%content_for :javascript do-%>
  $(function() {
    $("#mod_add_port").dialog({autoOpen:false,width:'auto',buttons:{'Save':function() {$("#frm_new").submit();},'Cancel':function() {$("#mod_add_port").dialog('close');}}});
    $("#btn_add").click(function() {$("#mod_add_port").dialog('open');});
    $("#mod_update_port").dialog({autoOpen:false,width:'auto',buttons:{'Save':function() {$("#frm_upd").submit();},'Cancel':function() {$("#mod_update_port").dialog('close');}}});
    $("a.upd_lnk").click(function(evt) {
      evt.preventDefault();
      $("#frm_upd").attr('action','/ports/'+$(this).attr('pid'));
      $("#upd_name").val($(this).attr("nm"));
      $("#upd_k").val($(this).attr('k'));
      $("#upd_d").val($(this).attr('d'));
      $("#upd_cp").val($(this).attr('cp'));
      $("#upd_cs").val($(this).attr('cs'));
      $("#upd_u").val($(this).attr('u'));
      $("#upd_iata").val($(this).attr('iata'));
      $("#upd_ao").prop('checked',$(this).attr('ao')==='true')
      $("#upd_ad").prop('checked',$(this).attr('ad')==='true')
      $("#upd_address_id").val($(this).attr('address_id'));
      $("#upd_address_line_1").val($(this).attr('line_1'));
      $("#upd_address_line_2").val($(this).attr('line_2'));
      $("#upd_address_line_3").val($(this).attr('line_3'));
      $("#upd_address_city").val($(this).attr('city'));
      $("#upd_address_state").val($(this).attr('state'));
      $("#upd_address_postal_code").val($(this).attr('postal_code'));
      $("#upd_address_country_iso_code").val($(this).attr('country_iso_code'));
      $("#mod_update_port").dialog('open');
    });
  });
<%end-%>
<%content_for :action_bar do-%>
  <button id='btn_add'>Add</button>
<%end-%>
<h1>Ports</h1>
<%= render :partial => 'shared/search_box' %>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Schedule K</th>
      <th>Schedule D</th>
      <th>CBSA Port / Sublocation</th>
      <th>UN/LOCODE</th>
      <th>IATA Code</th>
      <th>
        Active Origin
      </th>
      <th>
        Active Destination
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%@ports.each do |p|-%>
    <tr class='hover'>
      <td><%=p.name%></td>
      <td><%=p.schedule_k_code%></td>
      <td><%=p.schedule_d_code%></td>
      <td><%=p.cbsa_port%> / <%=p.cbsa_sublocation%></td>
      <td><%=p.unlocode%></td>
      <td><%=p.iata_code%></td>
      <td>
        <%=p.active_origin? ? 'Y' : 'N' %>
      </td>
      <td>
        <%=p.active_destination? ? 'Y' : 'N' %>
      </td>
      <td>
        <a href='#' class='upd_lnk' pid='<%=p.id%>' nm='<%=p.name%>' k='<%=p.schedule_k_code%>' d='<%= p.schedule_d_code %>' cp='<%=p.cbsa_port%>' cs='<%=p.cbsa_sublocation%>' u='<%=p.unlocode%>' iata='<%=p.iata_code%>' ao='<%=p.active_origin%>' ad='<%=p.active_destination%>' address_id="<%=p.address&.id%>" line_1="<%=p.address&.line_1%>" line_2="<%=p.address&.line_2%>" line_3="<%=p.address&.line_3%>" city="<%=p.address&.city%>" state="<%=p.address&.state%>" postal_code="<%=p.address&.postal_code%>" country_iso_code="<%=p.address&.country&.iso_code%>">Update</a> |
        <%=link_to 'Delete', port_path(p), :data => {:confirm => 'Are you sure?'}, :method=>:delete%>
      </td>
    </tr>
    <%end-%>
  </tbody>
</table>
<%=will_paginate%>

<div id='mod_add_port' style='display:none;'>
  <%=form_for Port.new, :html=>{:id=>'frm_new'} do |f|-%>
    <table>
      <%=field_row 'Name', f.text_field(:name)%>
      <%=field_row 'Schedule K', f.text_field(:schedule_k_code)%>
      <%=field_row 'Schedule D', f.text_field(:schedule_d_code)%>
      <%=field_row 'CBSA Port', f.text_field(:cbsa_port)%>
      <%=field_row 'CBSA Sublocation', f.text_field(:cbsa_sublocation)%>
      <%=field_row 'UN/LOCODE', f.text_field(:unlocode)%>
      <%=field_row 'IATA Code', f.text_field(:unlocode)%>
      <%=field_row 'Origin Port', f.check_box(:active_origin)%>
      <%=field_row 'Destination Port', f.check_box(:active_destination)%>
      <%= f.fields_for :address do |a| %>
        <%=field_row 'Address 1', a.text_field(:line_1)%>
        <%=field_row 'Address 2', a.text_field(:line_2)%>
        <%=field_row 'Address 3', a.text_field(:line_3)%>
        <%=field_row 'City', a.text_field(:city)%>
        <%=field_row 'State', a.text_field(:state)%>
        <%=field_row 'Postal Code', a.text_field(:postal_code)%>
        <%=field_row 'Country ISO', a.text_field(:country_iso_code, :size=>3)%>
      <% end %>
    </table>
  <%end-%>
</div>
<%unless @ports.empty?-%>
<div id='mod_update_port' style='display:none;'>
  <%=form_for @ports.first, :html=>{:id=>'frm_upd'} do |f|-%>
    <table>
      <%=field_row 'Name', f.text_field(:name,:id=>'upd_name')%>
      <%=field_row 'Schedule K', f.text_field(:schedule_k_code,:id=>'upd_k')%>
      <%=field_row 'Schedule D', f.text_field(:schedule_d_code,:id=>'upd_d')%>
      <%=field_row 'CBSA Port', f.text_field(:cbsa_port,:id=>'upd_cp')%>
      <%=field_row 'CBSA Sublocation', f.text_field(:cbsa_sublocation,:id=>'upd_cs')%>
      <%=field_row 'UN/LOCODE', f.text_field(:unlocode,:id=>'upd_u')%>
      <%=field_row 'IATA Code', f.text_field(:iata_code,:id=>'upd_iata')%>
      <%=field_row 'Origin Port', f.check_box(:active_origin,:id=>'upd_ao')%>
      <%=field_row 'Destination Port', f.check_box(:active_destination,:id=>'upd_ad')%>
      <%= f.fields_for :address do |a| %>
        <%=a.hidden_field(:id, id: "upd_address_id")%>
        <%=field_row 'Address 1', a.text_field(:line_1,:id=>'upd_address_line_1')%>
        <%=field_row 'Address 2', a.text_field(:line_2,:id=>'upd_address_line_2')%>
        <%=field_row 'Address 3', a.text_field(:line_3,:id=>'upd_address_line_3')%>
        <%=field_row 'City', a.text_field(:city,:id=>'upd_address_city')%>
        <%=field_row 'State', a.text_field(:state,:id=>'upd_address_state')%>
        <%=field_row 'Postal Code', a.text_field(:postal_code,:id=>'upd_address_postal_code')%>
        <%=field_row 'Country ISO', a.text_field(:country_iso_code,:id=>'upd_address_country_iso_code', :size=>3)%>
      <% end %>
      
    </table>
  <%end-%>
</div>
<%end-%>
