<h1>Change My Password</h1>

<%=form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <table>
    <% if requires_old_password?(@user) %>
      <%=field_row "Current Password", f.password_field(:current_password, autocomplete:"off") %>
    <% end %>
    <%=field_row "Password", f.password_field(:password, autocomplete:"off") %>
    <%=field_row "Confirm Password", f.password_field(:password_confirmation, autocomplete:"off") %>
  </table>
  <%= f.submit "Update Password", :id=>"sbm_update_pass", :class=>'btn btn-primary' %>
<% end %>
<% if requires_old_password?(@user) %>
  If you forget your password, <%= link_to('click here to logout', :logout)%> and use the Forgot Your VFI Track Password link on the main Login page.
<% end %>
