<%
  include_process_actions = !@claim.attachments.empty? &&
  (@claim.drawback_claim_audits.count == 0 || @claim.drawback_export_histories.count == 0)

%>
<%content_for :action_bar do-%>
  <%if @claim.can_edit?(current_user)-%>
    <button class='btn_link' link_to='<%=edit_drawback_claim_path(@claim)%>'>Edit</button>
    <%if include_process_actions %>
      <button data-toggle='modal' data-target='#process_actions_modal'>Process Reports</button>
    <%end%>
  <%end-%>
<%end-%>
<h2>Drawback Claim: <%=@claim.name%></h2>


<table class='ent_columns'>
  <tr>
    <td>
      <table cellspacing="0">
        <%=field_row "Company", @claim.importer.name%>
        <%=field_row "Export Date Range","#{@claim.exports_start_date} - #{@claim.exports_end_date}"%>
        <%=field_row "Entry Number", @claim.entry_number%>
        <%=field_row "Pieces (Claimed / Exported)", "#{number_with_delimiter @claim.total_pieces_claimed} / #{number_with_delimiter @claim.total_pieces_exported} (#{number_to_percentage(@claim.percent_pieces_claimed*100,:precision=>1)})"%>
        <%=field_row "Claim Amount (Claimed / Planned)", "#{number_to_currency(@claim.total_claim_amount)} / #{number_to_currency(@claim.planned_claim_amount)} (#{number_to_percentage(@claim.percent_money_claimed*100,:precision=>1)})"%>
        <%=field_row "Claim Audit Record Count", @claim.drawback_claim_audits.count%>
        <%=field_row "Export History Record Count", @claim.drawback_export_histories.count%>
      </table>
    </td>
    <td>
      <table cellspacing="0">
        <%=field_row "Net Claim (Claim - Commission)", number_to_currency(@claim.net_claim_amount)%>
        <%=field_row "Commercial Value", number_to_currency(@claim.total_export_value)%>
        <%=field_row "Potential Duty Exported", number_to_currency(@claim.total_duty)%>
        <%=field_row "HMF Claimed", number_to_currency(@claim.hmf_claimed)%>
        <%=field_row "MPF Claimed", number_to_currency(@claim.mpf_claimed)%>
        <%=field_row "Duty Claimed", number_to_currency(@claim.duty_claimed)%>
        <%=field_row "Duty Check Amount", number_to_currency(@claim.duty_check_amount)%>
        <%=field_row "Commission", number_to_currency(@claim.bill_amount)%>
        <%=field_row "HMF/MPF Check Number", @claim.hmf_mpf_check_number%>
        <%=field_row "HMF/MPF Check Amount", number_to_currency(@claim.hmf_mpf_check_amount)%>
      </table>
    </td>
    <td>
      <table cellspacing="0">
        <%=field_row "ABI Accepted", @claim.abi_accepted_date%>
        <%=field_row "Sent To Customs", @claim.sent_to_customs_date%>
        <%=field_row "Billed", @claim.billed_date%>
        <%=field_row "Duty Check Received", @claim.duty_check_received_date%>
        <%=field_row "HMF/MPF Check Received", @claim.hmf_mpf_check_received_date%>
      </table>
    </td>
  </tr>
</table>

<div class="row">
  <div class="col-md-12">
    <%= render :partial => 'shared/attachments', :locals => { :attachable => @claim } %>
  </div>
</div>

<%if include_process_actions %>
  <div class="modal fade" id="process_actions_modal" tabindex="-1" role="dialog" aria-labelledby="process_actions_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <%=form_for @claim, url: process_report_drawback_claim_path(@claim), method:'POST', html:{id:'frm_process_action', claim:@claim.id.to_s} do%>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="process_actions_modal_label">Process Reports</h4>
          </div>
          <div class="modal-body">
            <div class='form-group'>
              <label for='attachment_id'>Attachment</label>
              <select name='attachment_id' id='attachment_id' class='form-control'>
                <%=options_from_collection_for_select(@claim.attachments.collect {|a| a.can_view?(current_user) ? a : nil}.compact, :id, :attached_file_name)%>
              </select>
            </div>
            <div class='form-group'>
              <label for='process_type'>Attachment Type</label>
              <select name='process_type' id='process_type' class='form-control'>
                <%if @claim.drawback_export_histories.count == 0%>
                  <option value='exphist'>Export History</option>
                <%end%>
                <%if @claim.drawback_claim_audits.count == 0%>
                  <option value='audrpt'>Audit Report</option>
                <%end%>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type='submit' class='btn btn-primary' value='Process' />
          </div>
        </div>
      <%end%>
    </div>
  </div>
<%end%>