<%content_for :javascript do%>
  $(function() {
    var applyFilters = function() {
      var url = $("#sel_searches").val();
      var cids = $("#comp_filt option:selected").map(function(){ return this.value }).get().join(",");
      if(cids.length>0) {
        url += "&cids="+cids;
      }
      window.location = url;
    }
    $("#sel_searches").change(applyFilters);
    $("#comp_filt_go").click(function(ev) {
      ev.preventDefault();
      applyFilters();
    });
  });
  <%if @filter_companies.size > 1%>
    $(document).ready(function() {

      var getParameterByName = function(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.location.search);
        if(results == null)
          return "";
        else
          return decodeURIComponent(results[1].replace(/\+/g, " "));
      }
      var cAry = [];
      var cids = getParameterByName("cids");
      if(cids.length>0) {
        cAry = cids.split(",")
        $("#comp_filt option").each(function() {
          var t = $(this);
          if(cAry.indexOf(t.val()) >= 0) {
            t.attr("selected","selected");
          }
        });
      }
    });
  <%end%>
<%end%>
<div>
  <select id='sel_searches'>
    <option value='/entries/bi/three_month?country=US' <%=selected_search=="/entries/bi/three_month?country=US" ? "selected='selected'" : ""%>>Entry Snapshot (US)</option>
    <option value='/entries/bi/three_month?country=CA' <%=selected_search=="/entries/bi/three_month?country=CA" ? "selected='selected'" : ""%>>Entry Snapshot (Canada)</option>
    <option value='/entries/bi/three_month_hts?country=US' <%=selected_search=="/entries/bi/three_month_hts?country=US" ? "selected='selected'" : ""%>>HTS Snapshot (US)</option>
    <option value='/entries/bi/three_month_hts?country=CA' <%=selected_search=="/entries/bi/three_month_hts?country=CA" ? "selected='selected'" : ""%>>HTS Snapshot (Canada)</option>
  </select>
  <%if @filter_companies.size > 1 %>
  <div>
    <select id='comp_filt' multiple='multiple' size='<%=@filter_companies.size < 10 ? @filter_companies.size : 10%>'>
      <%=options_from_collection_for_select @filter_companies, :id, :name%>
    </select>
    <br />
    <a href='#' id='comp_filt_go'>Filter</a>
  </div>
  <%end%>
</div>
