
<tr class='heading-row'><td colspan="11" id="company-name"><%= report[:company_name].upcase %></td></tr>
<% report[:company_report][:date_hsh].each do |date, by_date| %>
<tr>
    <td>&nbsp;</td>
    <td colspan = "10"><%= date.strftime('%-m/%d/%Y') %></td>
</tr>
    <% by_date[:port_hsh].each do |port, by_port| %>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan = "9"><%= port %></td>
        </tr>
        <% by_port[:entries].each do |ent|%>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><a href="<%= "/entries/#{ent[:ent_entry_number]}" %>"><%= ent[:ent_entry_number] %></a></td>
                <td><%= ent[:ent_entry_type].slice(0...9) if ent[:ent_entry_type] %></td>
                <td><%= ent[:ent_release_date].strftime('%a %m/%d') if ent[:ent_release_date] %></td>
                <td>
                    <% ent[:ent_customer_references].split("\n").each do |ref| %>
                    <%= ref %></br>
                    <% end if ent[:ent_customer_references]%>
                </td>
                <td class='number-val text-right'><%= number_with_precision(ent[:ent_total_duty], precision: 2) %></td>
                <td class='number-val text-right'><%= number_with_precision(ent[:ent_total_fees], precision: 2) %></td>
                <td class='number-val text-right'><%= number_with_precision(ent[:ent_total_duty_and_fees], precision: 2) %></td>
            </tr>
        <% end %>
        <tr class="totals">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="5">Totals for <%= port %></td>
            <td class='number-val text-right'><%= number_with_precision(by_port[:port_total_duty], precision: 2) %></td>
            <td class='number-val text-right'><%= number_with_precision(by_port[:port_total_fees], precision: 2) %></td>
            <td class='number-val text-right'><%= number_with_precision(by_port[:port_total_duty_and_fees], precision: 2) %></td>
        </tr>
    <% end %>
    <tr class= "totals">
        <td>&nbsp;</td>
        <td colspan="6"><%= "Totals for " + date.strftime('%-m/%d/%Y') %></td>
        <td class='number-val text-right'><%= number_with_precision(by_date[:date_total_duty], precision: 2) %></td>
        <td class='number-val text-right'><%= number_with_precision(by_date[:date_total_fees], precision: 2) %></td>
        <td class='number-val text-right'><%= number_with_precision(by_date[:date_total_duty_and_fees], precision: 2) %></td>
    </tr>
<% end %>
<tr class= "totals">
    <td colspan="7"><%= "Totals for #{report[:company_name].upcase}" %>&nbsp;</td>
    <td class='number-val text-right'><%= number_with_precision(report[:company_report][:company_total_duty], precision: 2) %></td>
    <td class='number-val text-right'><%= number_with_precision(report[:company_report][:company_total_fees], precision: 2) %></td>
    <td class='number-val text-right'><%= number_with_precision(report[:company_report][:company_total_duty_and_fees], precision: 2) %></td>
</tr>
    