<%-
pg_entries = nil
distribute_reads { pg_entries = entries.paginate(page:params[:page],per_page:30).to_a }
-%>
<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-2'>
      <div class='text-center'>
        <%=page_entries_info pg_entries%>
      </div>
    </div>
  </div>
</div>
<%-fields_to_use = ModelField.viewable_model_fields(current_user, [:ent_entry_num,:ent_filed_date,@date_uid,:ent_entered_value,:ent_customer_references,:ent_po_numbers,:ent_cust_name])-%>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <%-fields_to_use.each do |f|-%>
      <th><%=ModelField.find_by_uid(f).label(false)%></th>
      <%-end-%>
    </tr>
  </thead>
  <tbody>
    <%-pg_entries.each do |ent|-%>
    <tr>
      <td><%=link_to 'View', ent, :class=>'btn btn-sm'%></td>
      <%-fields_to_use.each do |f|-%>
        <td><%=ModelField.find_by_uid(f).process_export(ent,current_user)%></td>
      <%-end-%>
    </tr>
    <%-end-%>
  </tbody>
</table>
<script type='text/javascript'> <%# needs to be javascript so it executes inside of cache, can't use content_for%>
  $(document).ready(function() {
    $('#nav-action-bar').append("<inline><a class='btn navbar-btn' href='/entries/importer/<%=params[:importer_id]%>/country/<%=params[:iso_code]%>/release_range/<%=params[:release_range]%>/download' title='Download'><i class='fa fa-download'></i></a><form class='navbar-form float-right btn-group' id='browsenav'></form></inline>")
    Chain.addPagination('#browsenav','<%=request.original_fullpath.split("?").first%>',<%=params[:page]%>,<%=pg_entries.total_pages%>);
  });
</script>

