<style>
.ent_columns {
  width:99%;
}
.ent_columns tbody {
  vertical-align:top;
}
.ent_columns .label_cell {
  width:0;
}
.quick_jump {
  text-align: center;
  margin-bottom: 5px;
}
.qj_label {
  font-weight: bold;
  padding-right: 1em;
}
.ci_line td {
  border-top: 1px solid #333;
}
</style>
<%show_broker_invoices = current_user.view_broker_invoices? && !@entry.broker_invoices.blank?%>
<a name='ent_header'></a>
<div class='quick_jump'><span class='qj_label'>Jump To:</span>
  <a href='#c_invoices'>Commercial Invoices</a>
  <%if show_broker_invoices%> | <a href='#b_invoices'>Broker Invoices</a><%end%>
</div>
<!-- Main header -->
<table class='ent_columns'>
  <tbody>
    <tr>
      <td style="width:33%;">
        <table>
          <%[:ent_entry_num,:ent_brok_ref,:ent_importer_tax_id,:ent_cargo_control_number,
          :ent_ca_entry_type,:ent_po_numbers,:ent_mbols,:ent_container_nums,
          :ent_vendor_names,:ent_total_units,:ent_total_invoiced_value,:ent_total_duty].each do |f|%>
            <%=field_view_row @entry, f %>
          <%end%>
        </table>
      </td>
      <td style="width:33%;">
        <table>
          <%[:ent_direct_shipment_date,:ent_across_sent_date,:ent_pars_ack_date,:ent_pars_reject_date,:ent_release_date,:ent_cadex_sent_date,:ent_cadex_accept_date,:ent_duty_due_date,:ent_file_logged_date].each do |f|%>
            <%=field_view_row @entry, f %>
          <%end%>
        </table>
      </td>
      <td style="width:34%;">
        <table>
          <%[:ent_origin_country_codes,:ent_origin_state_code,:ent_export_country_codes,:ent_export_state_code,:ent_us_exit_port_code,:ent_entry_port_code,:ent_ship_terms,:ent_transport_mode_code,:ent_carrier_code,:ent_voyage].each do |f|%>
            <%=field_view_row @entry, f %>
          <%end%>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<a name='c_invoices'></a>
<div class='quick_jump'><span class='qj_label'>Jump To:</span>
  <a href='#ent_header'>Top</a> 
  <% if show_broker_invoices %>
    | <a href='#b_invoices'>Broker Invoices</a>
  <% end %>
</div>
<%if @entry.commercial_invoices.count >0%>
  <h1>Commercial Invoices</h1>
  <%ci_summary_fields = [:ci_invoice_number,:ci_vendor_name,:ci_invoice_value]%>
  <table class='detail_table'>
    <thead><tr>
      <%ci_summary_fields.each do |f|%>
        <th><%=field_label f, false%></th>
      <%end%>
    </tr></thead>
    <tbody>
      <%@entry.commercial_invoices.each do |ci|%>
        <tr class='hover'>
          <%ci_summary_fields.each do |f|%>
            <td><%=f==:ci_invoice_number ? link_to(field_value(ci,f),"#ci_#{ci.id}") : field_value(ci, f)%></td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
  <hr />
<% end%>
<%@entry.commercial_invoices.each do |ci|%>
  <a name='ci_<%=ci.id%>'></a>
  <table class='ent_columns'>
    <tbody>
      <tr><td colspan='2'><h3><%=field_label :ci_invoice_number, false%> - <%=field_value(ci,:ci_invoice_number)%></h3></td></tr>
      <tr>
        <td style='width:50%;'>
          <table>
            <%[:ci_vendor_name,:ci_invoice_date,:ci_invoice_value].each do |f|%>
              <%=field_view_row ci,f,false%>
            <%end%>
          </table>
        </td>
        <td style='width:50%;'>
          <table>
            <%[:ci_currency,:ci_exchange_rate].each do |f|%>
              <%=field_view_row ci,f,false%>
            <%end%>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <%fields = [:cil_part_number,:cil_po_number,:cil_units,:cil_uom,:ent_unit_price,:cil_value,:cil_country_origin_code,:ent_state_origin_code,:cil_country_export_code,:ent_state_export_code]%>
  <table class='detail_table'>
    <thead><tr>
      <%fields.each do |f|%>
        <th><%=field_label f, false%></th>
      <%end%>
    </tr></thead>
    <tbody>
      <%ci.commercial_invoice_lines.each do |line|%>
        <tr class='hover ci_line'>
          <%fields.each_with_index do |f,i|%>
            <td <%="rowspan='2'" if i==0%> <%="style='text-align:right;'" if [:decimal,:integer].include? ModelField.find_by_uid(f).data_type%>><%=field_value(line, f)%></td>
          <%end%>
        </tr>
        <% if line.commercial_invoice_tariffs.count > 0%>
          <tr>
            <td colspan='8' style='font-size:111%;'>
              <%=render :partial=>'shared/detail_table', :locals=>{:fields=>[:cit_hts_code,:cit_duty_amount,:cit_entered_value,:cit_spi_primary,:ent_tariff_provision,
                :cit_classification_qty_1,:cit_classification_uom_1,:ent_value_for_duty_code,:ent_gst_rate_code,:ent_gst_amount,
                :ent_sima_amount,:ent_excise_amount,:ent_excise_rate_code], :lines=>line.commercial_invoice_tariffs}%>
            </td>
          </tr>
        <% end %>
      <%end%>
    </tbody>
  </table>
  <hr />
<%end%>
<%if show_broker_invoices%>
  <a name='b_invoices'></a>
  <div class='quick_jump'><span class='qj_label'>Jump To:</span>
    <a href='#ent_header'>Top</a> |
    <a href='#c_invoices'>Commercial Invoices</a>
  </div>
  <h1>Broker Invoices</h1>
  <%fields = [:bi_invoice_date,:bi_suffix,:bi_invoice_total]%>
  <table class='detail_table'>
    <thead><tr>
      <%fields.each do |f|%>
        <th><%=field_label f, false%></th>
      <%end%>
    </tr></thead>
    <tbody>
      <%@entry.broker_invoices.each do |line|%>
        <%if line.can_view? current_user %>
          <tr class='hover'>
            <%fields.each do |f|%>
              <td <%="style='text-align:right;'" if [:decimal,:integer].include? ModelField.find_by_uid(f).data_type%>>
                <%=f==:bi_invoice_date ? link_to(field_value(line,f),"#bi_#{line.id}") : field_value(line, f)%>
              </td>
            <%end%>
          </tr>
        <% end %>
      <%end%>
    </tbody>
  </table>
  <hr />
  <%@entry.broker_invoices.each do |bi|%>
    <% if bi.can_view? current_user%>
      <a name='bi_<%=bi.id%>'></a>
      <table class='ent_columns'>
        <tbody>
          <tr><td colspan='2'><h3><%=field_label :bi_invoice_date, false%> - <%=field_value(bi,:ci_invoice_date)%></h3></td></tr>
          <tr>
            <td style='width:50%;'>
              <table>
                <%[:bi_suffix,:bi_invoice_total].each do |f|%>
                  <%=field_view_row bi,f,false%>
                <%end%>
              </table>
            </td>
            <td style='width:50%;'>
              <table>
                <%[:bi_to_name,:bi_to_add1,:bi_to_add2,:bi_to_city,:bi_to_state,:bi_to_zip,:bi_to_country_iso].each do |f|%>
                  <%=field_view_row bi,f,false%>
                <%end%>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <%=render :partial=>'shared/detail_table', :locals=>{:fields=>[:bi_line_charge_code,:bi_line_charge_description,:bi_line_charge_amount,:bi_line_vendor_name,:bi_line_vendor_reference,:bi_line_charge_type],:lines=>bi.broker_invoice_lines}%>
    <% end %>
  <%end%>
<%end%>
<%=render :partial => 'shared/attachments', :locals => {:attachable => @entry, :width=>"wide"} %>
<br />
<%=secure_link @entry, current_user%>
