<p>VFI Track was unable to send the attached <%=@file_type%> file, <%=@filename%>, to Kewill Imaging for the following <%="reason".pluralize(@errors.length)%>:
  <br>
  <ol>
  <% @errors.each do |error| %>
    <li><%=error%></li>
  <% end %>
  </ol>
</p>
<% @attachment_messages.each do |attachment_message| %>
<p style="margin-top: 1em;"><%=attachment_message%></p>
<% end if @attachment_messages %>
<% if @blacklisted_extension %>
  <p>File not attached because attachments of type <span><%= @blacklisted_extension %></span> cannot be emailed.</p>
<% end %>
