<p>REGISTRATION REQUEST</p>
<br>
<p>Email: <%=@email%></p>
<p>First Name: <%=@fname%></p>
<p>Last Name: <%=@lname%></p>
<p>Company: <%=@company%></p>
<p>Customer Number: <%=@cust_no%></p>
<p>Contact: <%=@contact%></p>
<p>System Code: <%=@system_code%></p>