<p>The following feedback was left by <%=@user.full_name%> (<%=@user.email%>) of Company <%=@user.company.name%>:</p>

<p><%=@message%></p>

<% if !@current_page.blank? %>
  <p>This feedback was left on the page: <%=@current_page%>.</p>
<% end %>
