<%if @cap_mode%>
<p>A corrective action plan associated with the survey named <%=@survey_title%> has been updated by the following <%="user".pluralize(@updated_by.length)%>: <%=@updated_by.join(", ")%>.</p>
<%else%>
<p>A survey named <%=@survey_title%> has been updated by the following <%="user".pluralize(@updated_by.length)%>: <%=@updated_by.join(", ")%>.</p>
<%end%>
<p>To view the survey follow this link: <a href='<%=@link_addr%>'><%=@link_addr%></a></p>
