<% content_for :javascript do %>
function validate() {
  if ($("#search_setup_id").find(":selected").length == 0 || $("#assign_to_user_id").find(":selected").length == 0) {
    alert("You must select at least one report and a user to give it to.");
    return false;
  } 

  var c = confirm("Are you sure you want to give these reports to these users?")
  if(!c) {
    return false;
  }

  $("#frm_give_scheduled_reports").submit();

}

$(function() {
  Chain.loadUserList($("#assign_to_user_id"));
});
<% end %>

<% content_for :action_bar do -%>
  <button onclick="return validate();">Give Report(s)</button>
<% end -%>

<%= form_tag give_reports_scheduled_reports_path, :method=>"post", :id=>'frm_give_scheduled_reports' do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <div class='container'>
    <div class='row text-center'>
      <div class='col-md-12'>
        <h1>Give <%= @user.first_name %> <%= @user.last_name %>'s Reports to Another User</h1>
      </div>
    </div>
    <div class='row text-center'>
      <div class='col-md-6'>
        <h3>Report - Last Run Time</h3>
        <div><%=select_tag :search_setup_id, grouped_options_for_select(@reports), :multiple=>true, :size=>10, :style=>"width: auto;"%></div>
        <div><em>Reports with an '*' have schedules.</em></div>
        <div><em>(Select one or more)</em></div>
      </div>
      <div class='col-md-6'>
        <h3>Assign To User(s)</h3>
        <div><%=select_tag :assign_to_user_id, "", :multiple=>true, :size=>10, :style=>"width: auto;" %></div>
        <div>Copy Schedules? : <%=check_box_tag :copy_schedules, true, true %>
        <div><em>(Select one or more)</em></div>
      </div>
    </div>
  </div>
<% end %>
