<% content_for :javascript do %>
  $(function() {
    var notificationRecipients = $('#rule-notification-recipients-field');
    var emailComposition = $('#email-composition');
    if ($('#rule-notification-type-field option:selected').is(':empty')) {
      notificationRecipients.prop("disabled", true);
      emailComposition.hide();
    }
    $('#rule-notification-type-field').change(function() {
      if ($('#rule-notification-type-field option:selected').is(':empty')) {
        notificationRecipients.prop("disabled", true);
        emailComposition.hide();
      }
      else {
        notificationRecipients.prop("disabled", false);
        emailComposition.show();
      }
    })
  })

<% end %>

<%= form_for @new_rule, url: business_validation_template_business_validation_rules_path(@bvt) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", id: "rule-name-field", placeholder: "Enter name..." %>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <%= f.select :type, options_for_select(BusinessValidationRule.subclasses_array), {}, {class: "form-control", id: "rule-type"} %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", id: "rule-description-field", placeholder: "Enter description..." %>
  </div>

  <div class="form-group">
    <%= f.label :fail_state %>
    <%= f.select :fail_state, options_for_select(["Fail", "Review"]), {}, {class: "form-control", id: "rule-fail-state-field"} %>
  </div>

  <div class="form-group">
    <%= f.label :rule_attributes_json %>
    <%= f.text_area :rule_attributes_json, rows: 4, class: "form-control", id: "rule-rule-attribute-json-field", placeholder: "Enter the rule's JSON..." %>
  </div>

  <div class="form-group">
    <label for="group_id">Override group</label>
    <%= f.select :group_id, options_from_collection_for_select(@groups, 'id', 'name'), { include_blank: true }, {class: "form-control", id: "rule-type"} %>
  </div>

  <div class="form-group">
    <%= f.label :notification_type %>
    <%= f.select :notification_type, options_for_select(["Email"]), { include_blank: true }, {class: "form-control", id: "rule-notification-type-field"} %>
  </div>

  <div id="email-composition">
    <div class="form-group" id="mailing_list">
      <% if @mailing_lists.present? %>
        <%= f.label :mailing_list_id, "Distribution Lists" %>
        <%= f.select :mailing_list_id, options_from_collection_for_select(@mailing_lists, 'id', 'name'), { include_blank: true }, {class: "form-control"} %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :notification_recipients %>
      <%= f.text_area :notification_recipients, rows: 4, class: "form-control", id: "rule-notification-recipients-field", placeholder: "Enter comma-separated email addresses..." %>
    </div>

    <div class="form-group">
      <%= f.label :cc_notification_recipients %>
      <%= f.text_area :cc_notification_recipients, rows: 4, class: "form-control", id: "rule-notification-recipients-field", placeholder: "Enter comma-separated email addresses..." %>
    </div>

    <div class="form-group">
      <%= f.label :bcc_notification_recipients %>
      <%= f.text_area :bcc_notification_recipients, rows: 4, class: "form-control", id: "rule-notification-recipients-field", placeholder: "Enter comma-separated email addresses..." %>
    </div>

    <div class="form-group">
      <%= f.label :suppress_pass_notice, "Suppress pass notification" %>
      <%= f.check_box :suppress_pass_notice %>
    </div>

    <div class="form-group">
      <%= f.label :subject_pass, "Pass subject" %>
      <%= f.text_field :subject_pass, class: "form-control", placeholder: "Optional" %>
    </div>

    <div class="form-group">
      <%= f.label :message_pass, "Pass Message" %>
      <%= f.text_field :message_pass, class: "form-control", placeholder: "Optional" %>
    </div>

    <div class="form-group">
      <%= f.label :suppress_review_fail_notice, "Suppress review/fail notification" %>
      <%= f.check_box :suppress_review_fail_notice %>
    </div>

    <div class="form-group">
      <%= f.label :subject_review_fail, "Review/Fail subject" %>
      <%= f.text_field :subject_review_fail, class: "form-control", placeholder: "Optional" %>
    </div>

    <div class="form-group">
      <%= f.label :message_review_fail, "Review/Fail message" %>
      <%= f.text_field :message_review_fail, class: "form-control", placeholder: "Optional" %>
    </div>

    <div class="form-group">
      <%= f.label :suppress_skipped_notice, "Suppress skipped notification" %>
      <%= f.check_box :suppress_skipped_notice %>
    </div>

    <div class="form-group">
      <%= f.label :subject_skipped, "Skipped subject" %>
      <%= f.text_field :subject_skipped, class: "form-control", placeholder: "Optional" %>
    </div>

    <div class="form-group">
      <%= f.label :message_skipped, "Skipped message" %>
      <%= f.text_field :message_skipped, class: "form-control", placeholder: "Optional" %>
    </div>
  </div>

  <div class="form-group">
    <%=f.label :disabled%>&nbsp;&nbsp;<%= f.check_box :disabled, checked: true %>
    <small>Uncheck once all criteria are added.</small>
  </div>

  <div align="center">
    <%= f.submit "Submit", class: "btn btn-primary btn-lg", style: "margin-top: 20px;" %>
  </div>

<% end %>