<% content_for :javascript do %>
  $(function() {
    var notificationRecipients = $('#rule-notification-recipients-field');
    if ($('#rule-notification-type-field option:selected').is(':empty')) {
      notificationRecipients.prop("disabled", true);
    }
    $('#rule-notification-type-field').change(function() {
      if ($('#rule-notification-type-field option:selected').is(':empty')) {
        notificationRecipients.prop("disabled", true);
      } 
      else {
        notificationRecipients.prop("disabled", false);
      }
    })
  })

<% end %>

<%= form_for @new_rule, url: business_validation_template_business_validation_rules_path(@bvt) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", id: "rule-name-field", placeholder: "Enter name..." %>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <%= f.select :type, options_for_select(BusinessValidationRule.subclasses_array), {}, {class: "form-control", id: "rule-type"} %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", id: "rule-description-field", placeholder: "Enter description..." %>
  </div>

  <div class="form-group">
    <%= f.label :fail_state %>
    <%= f.select :fail_state, options_for_select(["Fail", "Review"]), {}, {class: "form-control", id: "rule-fail-state-field"} %>
  </div>

  <div class="form-group">
    <%= f.label :rule_attributes_json %>
    <%= f.text_area :rule_attributes_json, rows: 4, class: "form-control", id: "rule-rule-attribute-json-field", placeholder: "Enter the rule's JSON..." %>
  </div>

  <div class="form-group">
    <label for="group_id">Override group</label>
    <%= f.select :group_id, options_from_collection_for_select(@groups, 'id', 'name'), { include_blank: true }, {class: "form-control", id: "rule-type"} %>
  </div>

  <div class="form-group">
    <%= f.label :notification_type %>
    <%= f.select :notification_type, options_for_select(["Email"]), { include_blank: true }, {class: "form-control", id: "rule-notification-type-field"} %>
  </div>

  <div class="form-group">
    <%= f.label :notification_recipients %>
    <%= f.text_area :notification_recipients, rows: 4, class: "form-control", id: "rule-notification-recipients-field", placeholder: "Enter comma-separated email addresses..." %>
  </div>

  <div class="form-group">
    <%=f.label :disabled%>&nbsp;&nbsp;<%= f.check_box :disabled, checked: true %>
    <small>Only uncheck if you don't intend to add search criteria.</small>
  </div>

  <div align="center">
    <%= f.submit "Submit", class: "btn btn-primary btn-lg", style: "margin-top: 20px;" %>
  </div>

<% end %>