<div class="row">
  <div class="col-md-12" align="center">
    <h3>Existing Criteria: <%= @criteria.count %></h3>
  </div>
</div>

<% @criteria.each do |cr| %>
  <div class="row">
    <div class="col-md-12">
      * <%= cr.model_field.label %> <%= CriterionOperator.find_by_key(cr.operator).label %> <%= cr.value %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    * <%= link_to "Manage criteria", "/business_validation_templates/#{@bvt.id}/manage_criteria" %>
  </div>
</div>
<hr>
