<%content_for :javascript do -%>
  $(function() {
    $('#upload_btn').click(function() {
      $('#upload-modal').modal('show');
    });
    $('#btn_upload').click(function() {
      $('#frm_run').submit();
    })
  })

<% end %>

<%-content_for :action_bar do-%>
  <button class="btn_link btn btn-secondary" link_to="<%=new_business_validation_template_path%>">New</button>
  <button class="btn_link btn btn-secondary" link_to="<%=business_validation_schedules_path%>">Schedules</button>
  <button id="upload_btn" class="btn_link btn btn-secondary" title="Upload"><i class='fa fa-upload'></i></button>
<%-end-%>
<div class="container">
  <div class="row">
    <div class='col-md-12'>
      <h1 style='margin-bottom:20px;'>Business Validation Templates</h1>
    </div>
  </div>
  <%@bv_templates.each do |template|%>
    <div class="row">
      <div class='col-md-12'>
        <h2 style="display: inline;">
          <%=link_to "#{template.name}#{template.disabled? ? ' [disabled]' : ''}#{template.private? ? ' [private]' : ''}", template%>
        </h2>
        <div><%=template.description%></div>
        <h3>Criteria</h3>
        <ul>
        <%template.search_criterions.each do |sc|%>
          <li><%=sc.model_field.label%> <%=CriterionOperator.find_by_key(sc.operator).label%> <%=sc.value%></li> 
        <%end%>
        </ul>
      <hr>
      </div>
    </div>
  <%end%>
</div>

<div id="upload-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Upload Template</h3>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= form_tag "/business_validation_templates/upload", :multipart => true, :class=>'form-horizontal', :id=>"frm_run" do %>
          <p>Select a JSON file.</p>
          <div class="form-group">
            <div class="col-md-4">
              <%= file_field_tag :attached, :style => "width: 500px !important;", accept: ".json, application/json"  %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
          <div class="col-md-1 offset-md-1">
            <button type="button" class="btn float-right" id='btn_upload'>Upload</button>
          </div>
      </div>
    </div>
  </div>
</div>
