<%-content_for :action_bar do-%>
  <button class="btn_link btn btn-default" link_to="<%=business_validation_templates_path%>">Back</button>
  <%= button_to "Edit", edit_business_validation_template_path(@bv_template), class: "btn btn-default", form_class:'inline-button-to', method: :get %>
  <%= button_to "Delete", @bv_template, method: :delete, class: "btn btn-default", prompt:"Are you sure you want to delete this?", form_class:'inline-button-to'%>
<%-end-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Template: <%=@bv_template.name%></h1>  
    </div>
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    <div class='col-md-12'>
      <h2>Criteria</h2>
      <ul>
        <%@bv_template.search_criterions.each do |sc|%>
          <li>
            <%=sc.model_field.label%> <%=CriterionOperator.find_by_key(sc.operator).label%> <%=sc.value%>
          </li> 
        <%end%>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Rules</h2>
    </div>
    <%@bv_template.business_validation_rules.each do |bvr|%>
    <div class='col-md-12 rule-container'>
      <h3><%=bvr.name%> (<%=bvr.class.name%>)</h3>
      <div><strong>Description: </strong><%=bvr.description%></div>
      <div><strong>Status If Failed: </strong><%=bvr.fail_state.blank? ? 'Fail' : bvr.fail_state%></div>
      <h4>Criteria</h4>
      <ul>
        <%bvr.search_criterions.each do |sc|%>
          <li>
            <%=sc.model_field.label%> <%=CriterionOperator.find_by_key(sc.operator).label%> <%=sc.value%>  
          </li> 
        <%end%>
      </ul>
      <h4>Rule Data</h4>
      <pre><%=bvr.rule_attributes_json%></pre>
    </div>
    <%end%>
  </div>
</div>
