<div class="container">
  <div class="row">
    <%= link_to "<< Show all BVTs", business_validation_templates_path %>
  </div>
  <div class="row">
    <h1>Template: <%=@bv_template.name%></h1>
  </div>
  <div class="row">
    <%= button_to "Edit", edit_business_validation_template_path(@bv_template), class: "btn btn-warning", style: "color: white; width: 100px;", method: :get %>
  </div>
  <div class="row">
    <h2>Criteria</h2>
    <ul>
      <%@bv_template.search_criterions.each do |sc|%>
        <li>
          <%=sc.model_field.label%> <%=CriterionOperator.find_by_key(sc.operator).label%> <%=sc.value%>
        </li> 
      <%end%>
    </ul>
  </div>
  <div class="row">
    <h2>Rules</h2>
    <%@bv_template.business_validation_rules.each do |bvr|%>
    <div class='col-md-12 rule-container'>
      <h3><%=bvr.name%> (<%=bvr.class.name%>)</h3>
      <div><strong>Description: </strong><%=bvr.description%></div>
      <div><strong>Status If Failed: </strong><%=bvr.fail_state.blank? ? 'Fail' : bvr.fail_state%></div>
      <h4>Criteria</h4>
      <ul>
        <%bvr.search_criterions.each do |sc|%>
          <li><%=sc.model_field.label%> <%=CriterionOperator.find_by_key(sc.operator).label%> <%=sc.value%> | 
            <%= link_to "Delete", search_criterion_path(sc), method: :delete, style: "color: #B83838;" %>
          </li> 
        <%end%>
      </ul>
      <%= button_to "Add Criterion", edit_business_validation_rule_path(bvr), method: :get, class: "btn btn-primary" %>
      <h4>Rule Data</h4>
      <textarea><%=bvr.rule_attributes_json%></textarea>
    </div>
    <%end%>
  </div>
</div>
