<% content_for :javascript do %>
  $(function() {
    $("#btn_save").click(function() {$("#frm_poa").submit();});
<%
cancel_redirect = "/"
cancel_redirect = company_power_of_attorneys_path(@company) if current_user.admin?
%>
    $("#btn_cancel").click(function() {window.location = '<%=cancel_redirect%>'});
  });
<%end%>
<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% end %>
<%= form_for([@company, @power_of_attorney], :html=>{:id=>'frm_poa'}) do |f| %>
  <%= f.hidden_field :company_id %>
  <table>
  <%=field_row "Start date", f.text_field(:start_date, "class" => "isdate") %>
  <%=field_row "Expiration date", f.text_field(:expiration_date, "class" => "isdate") %>
  </table>
<% end %>
