<h1>Listing power_of_attorneys</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Start date</th>
    <th>Expiration date</th>
    <th>Uploaded by</th>
    <th>Attachment file name</th>
    <th>Attachment content type</th>
    <th>Attachment file size</th>
    <th>Attachment updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @power_of_attorneys.each do |power_of_attorney| %>
  <tr>
    <td><%= power_of_attorney.company_id %></td>
    <td><%= power_of_attorney.start_date %></td>
    <td><%= power_of_attorney.expiration_date %></td>
    <td><%= power_of_attorney.uploaded_by %></td>
    <td><%= power_of_attorney.attachment_file_name %></td>
    <td><%= power_of_attorney.attachment_content_type %></td>
    <td><%= power_of_attorney.attachment_file_size %></td>
    <td><%= power_of_attorney.attachment_updated_at %></td>
    <td><%= link_to 'Show', power_of_attorney %></td>
    <td><%= link_to 'Edit', edit_power_of_attorney_path(power_of_attorney) %></td>
    <td><%= link_to 'Destroy', power_of_attorney, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Power of attorney', new_power_of_attorney_path %>
