<% content_for :javascript do %>
  $(function() {
    $( "#btn_new" )
      .button()
      .click(function() {
        window.location = '<%= new_company_power_of_attorney_path(@company )%>';
      });
  });
<% end %>

<h1><%= @company.name %> Power of Attorneys</h1>

<table class='detail_table'>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Expiration date</th>
      <th>Uploaded by</th>
    </tr>
  </thead>
  
  <tbody>
    <% @power_of_attorneys.each do |poa| %>
      <tr>
        <td><%= link_to power_of_attorney.start_date, edit_company_power_of_attorney_path(poa.company_id, company.id) %></td>
        <td><%= poa.expiration_date %></td>
        <td><%= poa.uploaded_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @company.locked? %>
<button id='btn_new'>New</button>
<% end %>
