<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @power_of_attorney.company_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @power_of_attorney.start_date %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @power_of_attorney.expiration_date %>
</p>

<p>
  <b>Uploaded by:</b>
  <%= @power_of_attorney.uploaded_by %>
</p>

<p>
  <b>Attachment file name:</b>
  <%= @power_of_attorney.attachment_file_name %>
</p>

<p>
  <b>Attachment content type:</b>
  <%= @power_of_attorney.attachment_content_type %>
</p>

<p>
  <b>Attachment file size:</b>
  <%= @power_of_attorney.attachment_file_size %>
</p>

<p>
  <b>Attachment updated at:</b>
  <%= @power_of_attorney.attachment_updated_at %>
</p>


<%= link_to 'Edit', edit_power_of_attorney_path(@power_of_attorney) %> |
<%= link_to 'Back', power_of_attorneys_path %>
