<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maersk Navigator Vendor Portal</title>
  <%= app_internals(MasterSetup.get) %>
  <%= stylesheet_link_tag    "vendor_portal", :media => "all" -%>
  <style type="text/css">
    #support-link {
      padding: 0;
    }
  </style>

  <%= javascript_include_tag "vendor_portal" -%>
  <%= javascript_include_tag "jquery_ujs" -%>
  <%= csrf_meta_tags -%>
  <script type="text/javascript">
    $(document).on('click','#support-link',function(evt) {
      $('chain-support-modal .modal').modal('show');
    });
  </script>
</head>
<% body_tag(master_setup, current_user, run_as_user) %>
  <div ng-app='VendorPortal'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class='text-right'>
            <%=current_user.full_name%> -
            <chain-messages-link></chain-messages-link> -
            <button id='support-link' title='Help' class='btn btn-link'><i class="fa fa-question-circle"></i></button> -
            <%if current_user.portal_mode != 'vendor'%><a href='/'>Leave Portal Mode</a> -<%end%>
            <a href='/logout'>Log Out</a>
          </div>
        </div>
      </div>
    </div>
    <div ui-view></div>
    <chain-support-modal></chain-support-modal>
    <chain-errors></chain-errors>
    <chain-bulk-execute></chain-bulk-execute>
  </div>
</body>
</html>
