<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VFI Track Vendor Portal</title>
  <%= stylesheet_link_tag    "vendor_portal", :media => "all" -%>
  <style type="text/css">
    #support-link {
      padding: 0;
    }
    #run_as_box {
      background-color: #FF4747;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid black;
    }
  </style>
  
  <%= javascript_include_tag "vendor_portal" -%>
  <script type="text/javascript">
    $(document).on('click','#support-link',function(evt) {
      $('chain-support-modal .modal').modal('show');
    });
  </script>
</head>
<body>
  <% if @run_as_user %>
    <div id='run_as_box'>Logged In As: <%=@run_as_user.full_name%>, Running As: <%=current_user.full_name%> - <a href='/disable_run_as'>Disable</a></div>
  <% end %>
  <div ng-app='VendorPortal'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class='text-right'>
            <%=current_user.full_name%> - 
            <chain-messages-link></chain-messages-link> - 
            <button id='support-link' title='Help' class='btn btn-link'><i class="fa fa-question-circle"></i></button> - 
            <%if current_user.portal_mode != 'vendor'%><a href='/'>Leave Portal Mode</a> -<%end%>
            <a href='/logout'>Log Out</a>
          </div>
        </div>
      </div>
    </div>
    <div ui-view></div>
    <chain-support-modal></chain-support-modal>
  </div>
</body>
</html>