<% content_for :javascript do %>
$(function() {
    window.reassigned = false;

    function sortSelect(sel) {
          $(sel).append($(sel + " option").remove().sort(function(a, b) {
            var at = $(a).text().toLowerCase(), bt = $(b).text().toLowerCase();
            return (at > bt)?1:((at < bt)?-1:0);
        }));

        }
        
    $("#btn_assign_groups").click(function(evt) {
      evt.preventDefault();
      window.reassigned = true;
      var selectedItems = $("#members_select option:selected").toArray();
      $("#non_members_select").append(selectedItems);
      sortSelect("#non_members_select");
    })
    $("#btn_remove_groups").click(function(evt) {
      evt.preventDefault();
      window.reassigned = true;
      var selectedItems = $("#non_members_select option:selected").toArray();
      $("#members_select").append(selectedItems);
      sortSelect("#members_select");
    })
    $("#btn_delete").click(function(evt) {
      evt.preventDefault();
      if ($("#members_select").children().length > 0)
        alert("Group must be empty before it can be deleted.");
      else if (window.reassigned)
               alert("You must save changes before deleting the group")
           else $("#group-delete-form").submit();
    })
    $("#btn_save").click(function(evt) {
      evt.preventDefault();
      var memberIDs = [];
      $("#members_select").children().each(function(i, elem) { memberIDs.push(elem.value); });
      $("#members_list")[0].value = memberIDs;
      $("#group-form").submit();
    })
});

<%end%>

<div class="container">
    <%= form_for(@group, url: {action: action_type}, html: {id: 'group-form'}) do |f| %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label>Name</label>
                  <%= f.text_field :name, value: @group.name, class: "form-control", placeholder: "Name" %>
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <%= f.text_field :description, value: @group.description, class: "form-control", placeholder: "Description" %>
                </div>

                <div class="form-group">
                  <label>System Code</label>
                  <%= f.text_field :system_code, value: @group.system_code, class: "form-control", placeholder: "System Code", disabled: field_disabled %>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Members</label>
                 <%= select_tag(:members_select, options_from_collection_for_select(@new_members, :id, :username), {include_blank: false, class: "form-control", size: 5, multiple: true, id: "members_select"}) %>
                 <input id="members_list" name="members_list" type="hidden" value="" />
            </div>
          </div>
          <div class="col-md-2">
            <div style="display: table; margin-top: 2.5em; width: 100%;">
              <div style="display: table-cell; text-align: center;">
                <div style="display: inline-block;">
                  <button class="form-control btn btn-default" id="btn_assign_groups"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                  <button class="form-control btn btn-default" style="margin-top: 1em;" id="btn_remove_groups"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Non-members</label>
              <%= select_tag(:non_members_select, options_from_collection_for_select(@new_non_members, :id, :username), {include_blank: false, class: "form-control", size: 5, multiple: true, id: "non_members_select"}) %>
            </div>
          </div>
        </div>
    <% end %> 
</div>

