<script>
  $(function() {
    $( "#user_submit" )
      .button()
  });
</script>
<%= form_for([@company, @user]) do |f| %>
  <%= f.hidden_field :company_id %>
  <table>
  <%=field_row "Username", f.text_field(:username) %>
  <%=field_row "Email", f.text_field(:email) %>
  <%=field_row "First Name", f.text_field(:first_name)%>
  <%=field_row "Last Name", f.text_field(:last_name)%>
  <%=field_row "Password", f.password_field(:password) %>
  <%=field_row "Confirm Pasword", f.password_field(:password_confirmation) %>
  <%=field_row "Time Zone", f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones) %>
  <%=field_row "Email Format", f.select(:email_format,["html","text"])%>
  <% if current_user.admin? %>
    <%=field_row "Administrator", raw("<input type='checkbox' name='is_admin' id='admin' value='true' #{@user.admin ? "checked='true'" : ""}/>")%>
    <% if current_user.sys_admin? %>
      <%=field_row "Sys Administrator", raw("<input type='checkbox' name='is_sys_admin' id='sys_admin' value='true' #{@user.sys_admin ? "checked='true'" : ""} />  (Aspect 9 Employees Only)")%>
      <% if @user.debug_active? %>
        <%=field_row "Debug Will Expire", @user.debug_expires %>
      <% end %>
      <%=field_row "Set Debug Expiration", select_tag(:debug_expiration_hours,options_for_select([["Don't Change",""],["Now","0"],["1 hour","1"],["4 hours","4"],["8 hours","8"],["24 hours","24"]])) %>
    <% end %>
 <% end %>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
