<% content_for :javascript do %>
  $(function() {
    $("#btn_save").click(function() {$("#frm_user").submit();});
<%
cancel_redirect = "/"
cancel_redirect = company_users_path(@company) if current_user.admin?
%>
    $("#btn_cancel").click(function() {window.location = '<%=cancel_redirect%>'});
  });
<%end%>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%end%>
<%= form_for([@company, @user], :html=>{:id=>'frm_user'}) do |f| %>
  <%= f.hidden_field :company_id %>
  <table>
  <%=field_row "Username", f.text_field(:username) %>
  <%=field_row "Email", f.text_field(:email) %>
  <%=field_row "First Name", f.text_field(:first_name)%>
  <%=field_row "Last Name", f.text_field(:last_name)%>
  <%=field_row "Password", f.password_field(:password, :title=>"Enter your new password into both password fields. If you don't need to change your password, you can leave this blank.") %>
  <%=field_row "Confirm Pasword", f.password_field(:password_confirmation, :title=>"Enter your new password into both password fields. If you don't need to change your password, you can leave this blank.") %>
  <%=field_row "Time Zone", f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones) %>
  <%=field_row "Email Format", f.select(:email_format,["html","text"])%>
  <% if current_user.admin? %>
    <%=field_row "Account Locked", "<input type='checkbox' name='is_disabled' id='disabled' value='true' #{@user.disabled ? "checked='true'" : ""}/>".html_safe%>
    <%=field_row "Administrator", raw("<input type='checkbox' name='is_admin' id='admin' value='true' #{@user.admin ? "checked='true'" : ""}/>")%>
    <% if current_user.sys_admin? %>
      <%=field_row "Sys Administrator", raw("<input type='checkbox' name='is_sys_admin' id='sys_admin' value='true' #{@user.sys_admin ? "checked='true'" : ""} />  (Aspect 9 Employees Only)")%>
      <% if @user.debug_active? %>
        <%=field_row "Debug Will Expire", @user.debug_expires %>
      <% end %>
      <%=field_row "Set Debug Expiration", select_tag(:debug_expiration_hours,options_for_select([["Don't Change",""],["Now","0"],["1 hour","1"],["4 hours","4"],["8 hours","8"],["24 hours","24"]])) %>
    <% end %>
 <% end %>
  </table>

  <% if current_user.admin? %>
  <h2>Permissions</h2>
  <% ms = MasterSetup.get%>
  <table class='detail_table'>
    <thead><tr><th width='20%'>Module</th><th width='15%'>View</th><th width='15%'>Add / Edit</th><th width='15%'>Delete</th><th width='15%'>Add Comments</th><th width='15%'>Add Attachments</th></tr></thead>
    <tbody>
      <% if ms.order_enabled? %>
        <tr class='permission_row'>
          <td class='hover'><%=CoreModule::ORDER.label%></td>
          <td class='hover'><%= permission_box @user, 'view_orders?', :order_view, f %></td>
          <td class='hover'><%= permission_box @user, 'edit_orders?', :order_edit, f %></td>
          <td class='hover'><%= permission_box @user, 'delete_orders?', :order_delete, f %></td>
          <td class='hover'><%= permission_box @user, 'comment_orders?', :order_comment, f %></td>
          <td class='hover'><%= permission_box @user, 'attach_orders?', :order_attach, f %></td>
        </tr>
      <% end %>
      <% if ms.shipment_enabled? %>
        <tr class='permission_row'>
          <td class='hover'><%=CoreModule::SHIPMENT.label%></td>
          <td class='hover'><%= permission_box @user, 'view_shipments?', :shipment_view, f %></td>
          <td class='hover'><%= permission_box @user, 'edit_shipments?', :shipment_edit, f %></td>
          <td class='hover'><%= permission_box @user, 'delete_shipments?', :shipment_delete, f %></td>
          <td class='hover'><%= permission_box @user, 'comment_shipments?', :shipment_comment, f %></td>
          <td class='hover'><%= permission_box @user, 'attach_shipments?', :shipment_attach, f %></td>
        </tr>
      <% end %>
      <% if ms.sales_order_enabled? %>
        <tr class='permission_row'>
          <td class='hover'><%=CoreModule::SALE.label%></td>
          <td class='hover'><%= permission_box @user, 'view_sales_orders?', :sales_order_view, f %></td>
          <td class='hover'><%= permission_box @user, 'edit_sales_orders?', :sales_order_edit, f %></td>
          <td class='hover'><%= permission_box @user, 'delete_sales_orders?', :sales_order_delete, f %></td>
          <td class='hover'><%= permission_box @user, 'comment_sales_orders?', :sales_order_comment, f %></td>
          <td class='hover'><%= permission_box @user, 'attach_sales_orders?', :sales_order_attach, f %></td>
        </tr>
      <% end %>
      <% if ms.delivery_enabled? %>
        <tr class='permission_row'>
          <td class='hover'><%=CoreModule::DELIVERY.label%></td>
          <td class='hover'><%= permission_box @user, 'view_deliveries?', :delivery_view, f %></td>
          <td class='hover'><%= permission_box @user, 'edit_deliveries?', :delivery_edit, f %></td>
          <td class='hover'><%= permission_box @user, 'delete_deliveries?', :delivery_delete, f %></td>
          <td class='hover'><%= permission_box @user, 'comment_deliveries?', :delivery_comment, f %></td>
          <td class='hover'><%= permission_box @user, 'attach_deliveries?', :delivery_attach, f %></td>
        </tr>
      <% end %>
        <tr class='permission_row'>
          <td class='hover'><%=CoreModule::PRODUCT.label%></td>
          <td class='hover'><%= permission_box @user, 'view_products?', :product_view, f %></td>
          <td class='hover'><%= permission_box @user, 'edit_products?', :product_edit, f %></td>
          <td class='hover'><%= permission_box @user, 'delete_products?', :product_delete, f %></td>
          <td class='hover'><%= permission_box @user, 'comment_products?', :product_comment, f %></td>
          <td class='hover'><%= permission_box @user, 'attach_products?', :product_attach, f %></td>
        </tr>
      <% if ms.classification_enabled? %>
        <tr class='permission_row'>
          <td class='hover'><%=CoreModule::CLASSIFICATION.label%></td>
          <td class='hover'><span class='light_text'>n/a</span></td>
          <td class='hover'><%= permission_box @user, 'edit_classifications?', :classification_edit, f %></td>
          <td class='hover'><span class='light_text'>n/a</span></td>
          <td class='hover'><span class='light_text'>n/a</span></td>
          <td class='hover'><span class='light_text'>n/a</span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
<br />
<br />
<% if current_user==@user %>
<b>Terms of Service</b>
<p>
<b><a href='/privacy_policy.pdf' target='_new'>Privacy Policy</a></b> - Last Updated: <%=TERMS[:privacy]%><br/>
<b><a href='/tos.pdf' target='_new'>Terms of Service</a></b> - Last Updated: <%=TERMS[:terms]%>
</p>

<p>You last accepted these agreements on: <%=current_user.tos_accept.nil? ? "Never" : current_user.tos_accept%></p>
<% end %>
