<% content_for :javascript do %>
  $(function() {
    selected_user_ids = [];

    $( "#btn_new" )
      .click(function() {
        window.location = '<%=new_company_user_path(@company)%>';
        });
    $("#btn_bulk").click(function() {window.location = '<%=show_bulk_upload_company_users_path(@company)%>';});
    $("#btn_send_email").click(function() {
      $("#users_form").submit();
    });

    $("#change_user_company_button").click(function(){
        $("#move_user_modal").modal('show');
    });

    $("#move_user_submit_button").click(function(){
      destination_company_id = parseInt($("#user_move_company_select").val());
      $("#users_form").prop("action","/users/move_to_new_company/" + destination_company_id);

      if (destination_company_id) { //this will catch null, undefined, NaN, 0, false, and empty strings
        $("#users_form").submit();
      }
      else{
        alert("Please select a destination company for these users and then try again.");
      }
      
    });

  });
<% end %>
<% content_for :action_bar do -%>
  <% unless @company.locked? %>
    <button id='btn_new'>New</button>
    <%if current_user.admin? -%>
      <button id='btn_bulk'>Bulk</button>
    <%end-%>
  <% end %>
  <% if current_user.sys_admin -%>
    <button id="btn_send_email" title="Send a welcome email to selected users with their login and a new, random password.">Send Invite Email</button>
    <button id="change_user_company_button" title="Move the selected user(s) from one company to another.">Move User(s)</button>
  <% end %>
<% end -%>
<h1><%=@company.name%> Users</h1>

<%=form_tag bulk_invite_company_users_path(@company), id: "users_form" do %>
<table class='detail_table'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Full Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Last Login</th>
    </tr>
  </thead>

<tbody>
<% @users.each do |user| %>
  <tr class='hover'>
    <td><%= check_box_tag 'id[]', user.id %></td>
    <td><%= link_to user.full_name, edit_company_user_path(user.company_id,user.id) %><%unless user.active? %> <span class='exception_value'>[Locked]</span><%end%></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.last_login_at %></td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>

<div class="modal fade" id="move_user_modal" tabindex=-1 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Move User(s) to Another Company</h4>
      </div>
      <div class="modal-body">
        <p>The selected user(s) should be transferred to...</p>
        <select class="form-control" id="user_move_company_select">
          <% Company.all.each do |c| %>
            <option value=<%=c.id%>>
              <%=c.name%>
            </option>
          <% end %>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="move_user_cancel_button" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="move_user_submit_button">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->