<% content_for :javascript do %>
  $(function() {
    $( "#btn_edit" )
      .click(function() {
        window.location = '<%=edit_company_user_path(@user.company,@user)%>';
      });
    $( "#btn_<%=@user.active? ? 'disable' : 'enable'%>" )
      .click(function() {
        window.location = '<%=@user.active? ? disable_company_user_path(@user.company,@user) : enable_company_user_path(@user.company,@user) %>';
      });
    $( "#btn_messages" ).click(function() {
      window.location = '<%=messages_path%>'
    });
    $("#btn_debug_records").click(function() {
      window.location = '<%=company_user_debug_records_path @user.company, @user%>';
    });
  });
<% end %>
<% content_for :action_bar do %>
  <%if @user.can_edit?(current_user) && !@user.company.locked?%>
    <button id='btn_edit'>Edit</button>
    <br/>
    <% if @user.id != current_user.id %>
      <% if @user.active? %>
        <button id='btn_disable'>Disable</button>
      <% else %>
        <button id='btn_enable'>Enable</button>
      <% end%>
    <% else %>
      <button id='btn_messages'>Messages</button>
    <% end %>
  <% end %>
  <% if current_user.sys_admin? && !@user.debug_records.blank? %>
    <button id='btn_debug_records'>Debug Records</button>
  <% end %>
<% end %>
<h1>
  <%=@user.full_name%>
  <% if @user.disabled %>
  <span style='color:red;'> [disabled]</span>
  <% end %>
</h1>
<table>
<%=field_row "Username", @user.username %>
<%=field_row "Email", @user.email %>
<%=field_row "First Name", @user.first_name %>
<%=field_row "Last Name", @user.last_name %>
<%=field_row "Time Zone", @user.time_zone %>
<%=field_row "Email Format", @user.email_format %>
<%=field_row "Administrator", @user.admin?%>
<% if current_user.sys_admin? %>
  <%=field_row "Sys Admin", @user.sys_admin? %>
  <% if @user.debug_active? %>
    <%=field_row "Debug Expires", @user.debug_expires %>
  <% end %>
<% end %>
</table>
