<%content_for :javascript do %>
$(function() {
  $("#btn_save").click(function() {
    $("#frm_ms").submit();
  });
  $("#btn_cancel").click(function() {
    window.location = '<%=settings_path%>';
  });
  $(".upgrade_count").click(function(evt) {
    evt.preventDefault();
    $(this).next('.upgrade_list').slideDown();
  });
  $("#mod_upgrade").dialog({autoOpen:false,modal:true,buttons:{
    "OK":function() {$("#frm_upgrade").submit();},
    "Cancel":function() {$("#mod_upgrade").dialog('close');}
  }});
  $("#btn_upgrade").click(function(evt) {
    $("#mod_upgrade").dialog('open');  
  });
});
<%end%>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_upgrade'>Upgrade</button>
<button id='btn_cancel'>Cancel</button>
<%end%>
<%=form_for @ms, :html=>{:id=>'frm_ms'} do |f| %>
<table>
  <%=field_row "System UUID", @ms.uuid%>
  <%=field_row "Version", @ms.version %>
  <%=field_row "System Code", f.text_field(:system_code) %>
  <%=field_row "FTP Enabled", f.check_box(:ftp_polling_active) %>
  <%=field_row "Logo Image", f.text_field(:logo_image) %>
  <%=field_row "Order Enabled",f.check_box(:order_enabled) %>
  <%=field_row "Shipment Enabled", f.check_box(:shipment_enabled)%>
  <%=field_row "Sale Enabled", f.check_box(:sales_order_enabled) %>
  <%=field_row "Delivery Enabled", f.check_box(:delivery_enabled) %>
  <%=field_row "Classification Enabled", f.check_box(:classification_enabled) %>
  <%=field_row "Entry Enabled", f.check_box(:entry_enabled)%>
  <%=field_row "Invoice Enabled", f.check_box(:broker_invoice_enabled)%>
  <%=field_row "Custom Features", f.text_area(:custom_features)%>
  <% ss = ScheduleServer.first %>
  <%=field_row "Active Scheduler Host", "#{ss.host} (#{ss.touch_time})"%>
  <%=field_row "Target Version", @ms.target_version%>
  <%=field_row "Server With Migration Lock", @ms.migration_host%>
  <%=field_row "Request Hosst (with port)", f.text_field(:request_host) %>
</table>
<%end%>

<h2>Delayed Job</h2>
<table class='detail_table'>
  <thead>
    <tr><th>ID</th><th>Priority</th><th>Attempts</th><th>Handler</th><th>Last Error</th><th>Run At</th><th>Locked At</th><th>Failed At</th><th>Locked By</th></tr>
  </thead>
  <% Delayed::Job.all.each do |dj| %>
    <tr>
      <td><%=dj.id%></td><td><%=dj.priority%></td><td><%=dj.attempts%></td><td><textarea width='15'><%=dj.handler%></textarea></td>
      <td><%=dj.last_error%></td><td><%=dj.run_at%></td><td><%=dj.locked_at%></td><td><%=dj.failed_at%></td><td><%=dj.locked_by%></td>
    </tr>
  <% end %>
</table>

<h2>Instances</h2>
<table class='detail_table'>
  <thead>
    <tr><th>Host Name</th><th>Version</th><th>Last Check In</th><th>Upgrade Logs</th></tr>
  </thead>
  <% InstanceInformation.order("last_check_in DESC").each do |ii| %>
    <tr class='hover <%=ii.last_check_in < 1.minute.ago ? "error" : ""%>'>
      <td><%=ii.host%></td>
      <td><%=ii.version%></td>
      <td><%=ii.last_check_in%></td>
      <td>
        <a href='#' class='upgrade_count'><%=pluralize ii.upgrade_logs.count, "log"%></a>
        <div class='upgrade_list' style='display:none;'>
          <%ii.upgrade_logs.order("started_at DESC").each do |u|%>
            <%=link_to u.started_at.to_s, u%><br />
          <%end%>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<div id='mod_upgrade' style='display:none;'>
  <%=form_tag '/master_setups/upgrade', :id=>:frm_upgrade do |f| %>
    <table>
      <%=field_row "Version", text_field_tag(:name) %>
      <%=field_row "Upgrade Password", password_field_tag(:upgrade_password)%>
    </table>
  <%end%>
</div>
