<%content_for :javascript do %>
$(function() {
  $("#btn_save").click(function() {
    $("#frm_ms").submit();
  });
  $("#btn_cancel").click(function() {
    window.location = '<%=settings_path%>';
  });
  $("#mod_upgrade").dialog({autoOpen:false,modal:true,buttons:{
    "OK":function() {$("#frm_upgrade").submit();},
    "Cancel":function() {$("#mod_upgrade").dialog('close');}
  }});
  $("#btn_upgrade").click(function(evt) {
    $("#mod_upgrade").dialog({
      title: "Set System Version",
      width: 400
    });
    $("#mod_upgrade").dialog("open");
  });
  $('#usr_head').click(function(evt) {
    $('#usr_tbl').toggle();
  });
  $('#dj_head').click(function(evt) {
    $('#dj_tbl').toggle();
  });
  $('#inst_head').click(function(evt) {
    $('#inst_tbl').toggle();
  });
  $('#settings_head').click(function(evt) {
    $('#frm_ms').toggle();
  });
  $('#admin_actions').click(function(evt) {
    $('#actions_table').toggle();
  });

  $('.btn-bulk-destroy').click(function(e){
    var id = e.target.getAttribute("data-id");
    var count = e.target.getAttribute("data-count");
    var modal = $('#modal-bulk-destroy');
    modal.find('#message').text("Clear " + count + " similar errors?");
    modal.find('#btn-clear-all').attr('href', '/delayed_jobs/' + id + '/bulk_destroy');
    modal.find('#btn-just-one').attr('href', '/delayed_jobs/' + id);
    modal.modal('show');
  });

});
<%end%>
<%
  upgrade_failed = false
%>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4'>
      <%actv_usrs = User.where("last_request_at > ?",30.minutes.ago).order("last_request_at DESC")%>
      <h2 id='usr_head' style='cursor:pointer;'>Active Users (<%=actv_usrs.count%>)</h2>
      <table id='usr_tbl' class='table table-condensed table-sm'>
        <thead><tr><th>User</th><th>Company</th><th>Last Action</th></tr></thead>
        <tbody>
          <%actv_usrs.each do |u|%>
            <tr class='hover'><td><%=link_to u.full_name, [u.company,u]%></td><td><%=link_to u.company.name, u.company%></td><td><%=u.last_request_at%></td></tr>
          <%end%>
        </tbody>
      </table>

      <h2 id='settings_head' style='cursor:pointer;'>Settings</h2>
      <%=form_for @ms, :html=>{:id=>'frm_ms'} do |f| %>
        <%=field_bootstrap "System UUID", @ms.uuid%>
        <%=field_bootstrap "Database Host", MasterSetup.database_host(machine_name_only: true) %>
        <%=field_bootstrap "Database Name", MasterSetup.database_name %>
        <%=field_bootstrap "Version", content_tag(:div, MasterSetup.current_code_version, class:(MasterSetup.current_code_version==@ms.target_version ? '' : 'alert-danger'))%>
        <%=field_bootstrap "Target Version", @ms.target_version%>
        <%=field_bootstrap "System Code", f.text_field(:system_code,:class=>'form-control') %>
        <%=field_bootstrap "Friendly System Name", f.text_field(:friendly_name,:class=>'form-control') %>
        <%=field_bootstrap "Request Host (with port)", f.text_field(:request_host,:class=>'form-control') %>
        <%=field_bootstrap "Stats API Key", f.text_field(:stats_api_key,:class=>'form-control') %>
        <%=field_bootstrap "Logo Image", f.text_field(:logo_image,:class=>'form-control') %>
        <%=field_bootstrap "Server With Migration Lock", @ms.migration_host%>
        <%#- There is no point to showing this field in a test environment since is specific to sending files from prod to test. --%>
        <% if MasterSetup.get.production? %>
          <%=field_bootstrap "Send Test Files To", f.text_field(:send_test_files_to_instance,:class=>'form-control') %>
        <% end %>
        <%=field_bootstrap "Custom Features", f.text_area(:custom_features, class: 'form-control', rows: 20)%>
        <%=field_bootstrap "FTP Enabled", f.check_box(:ftp_polling_active) %>
        <hr/>
        <%=field_bootstrap "Classification Enabled", f.check_box(:classification_enabled) %>
        <%=field_bootstrap "Delivery Enabled", f.check_box(:delivery_enabled) %>
        <%=field_bootstrap "Drawback Enabled", f.check_box(:drawback_enabled)%>
        <%=field_bootstrap "Entry Enabled", f.check_box(:entry_enabled)%>
        <%=field_bootstrap "Invoice Enabled", f.check_box(:broker_invoice_enabled)%>
        <%=field_bootstrap "Order Enabled",f.check_box(:order_enabled) %>
        <%=field_bootstrap "Sale Enabled", f.check_box(:sales_order_enabled) %>
        <%=field_bootstrap "Security Filing Enabled", f.check_box(:security_filing_enabled)%>
        <%=field_bootstrap "Shipment Enabled", f.check_box(:shipment_enabled)%>
        <%=field_bootstrap "Trade Lane Enabled", f.check_box(:trade_lane_enabled)%>
        <%=field_bootstrap "Variant Enabled", f.check_box(:variant_enabled) %>
        <%=field_bootstrap "Vendor Management Enabled", f.check_box(:vendor_management_enabled)%>
        <%=field_bootstrap "VFI Invoice Enabled", f.check_box(:vfi_invoice_enabled)%>
        <%=field_bootstrap "Customs Statements Enabled", f.check_box(:customs_statements_enabled)%>
        <%=field_bootstrap "Customer Invoices Enabled", f.check_box(:invoices_enabled)%>
        <%#- We don't really ever want to disable FTP / Email in production - so don't allow it for fear of having someone accidently turn it off --%>
        <% if !MasterSetup.get.production? %>
          <%=field_bootstrap "Suppress FTP", f.check_box(:suppress_ftp) %>
          <%=field_bootstrap "Suppress Email", f.check_box(:suppress_email) %>
        <% end %>
      <%end%>
    </div>
    <div class='col-md-8'>
      <h2 id='inst_head' style='cursor:pointer;'>Instances</h2>
      <table id='inst_tbl' class='table table-condensed table-sm'>
        <thead>
          <tr><th>Host Name</th><th>Version</th><th>Last Check In</th><th>Upgrade Logs</th></tr>
        </thead>
        <% InstanceInformation.where("last_check_in > ?",10.days.ago).order("last_check_in DESC").each do |ii| %>
          <tr class='hover'>
            <td><%=ii.host%><br><%=ii.name%><br><%=ii.role%></td>
            <td><%=ii.version%></td>
            <td><%=ii.last_check_in%></td>
            <td>
              <div class='upgrade_list'>
                <%ii.upgrade_logs.order("started_at DESC").limit(5).each_with_index do |u, idx|%>
                  <div>
                    <%=link_to u.started_at.to_s, u%> (<%=u.to_version%>)
                    <% if u.log && u.finished_at && !u.log.include?("Upgrade complete") %>
                      <%= "FAILED" %>
                      <% upgrade_failed = true if idx == 0 %>
                    <% elsif u.log && !u.finished_at && !(u.started_at < 30.minutes.ago) %>
                      <%= "Running" %>
                    <% end %>
                  </div>
                <%end%>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
      <h2 id="admin_actions" style="cursor: pointer;">Administrative Actions</h2>
      <table id="actions_table" class="table table-condensed table-sm initially-hidden">
      <% if @ms.migration_host.present? %>
        <tr>
          <td><%= link_to("Release Migration Lock", release_migration_lock_master_setups_path, method: :post, data: {confirm: "Are you sure you want to release the migration lock?"}) %> - Force Release the rake migration lock (only use is a process failed while executing migrations and didn't unlock).</td>
        </tr>
      <% end %>
      <% if upgrade_failed %>
        <tr>
          <td><%= link_to("Clear Upgrade Errors", clear_upgrade_errors_master_setups_path, method: :post) %> - Removes any error files preventing an automatic upgrade retry. Click this after fixing upgrade errors to let the system retry an upgrade.</td>
        </tr>
        <tr>
          <td><%= link_to("Install Missing Gems", install_gems_master_setups_path, method: :post) %> - Installs any gems that may be missing during an upgrade.</td>
        </tr>
      <% end %>
        <tr>
          <td><%= link_to("Restart #{MasterSetup.get.system_code} Web Applications", restart_web_servers_master_setups_path, method: :post, data: {confirm: "Are you sure you want to restart all web servers?"}) %> - Restart All Web Application Services</td>
        </tr>
        <tr>
          <td><%= link_to("Restart #{MasterSetup.get.system_code} Job Queue", restart_job_queue_master_setups_path, method: :post, data: {confirm: "Are you sure you want to restart the job queue? All currently running jobs will be killed and restarted."}) %> - Restart Backend Job Services</td>
        </tr>
        <tr>
          <td><%= link_to("Restart Job Queue Service", restart_job_queue_service_master_setups_path, method: :post, data: {confirm: "Are you sure you want to restart the job queue monitor service?"}) %> - Restart Job Queue Monitor Service. This service runs in the background on the job server to restart any job queues that have stopped (like after upgrades).</td>
        </tr>
      </table>
      <h2 id='dj_head' style='cursor:pointer;'>Delayed Job</h2>
      <%
        # Show all errored jobs at the top of the list, then running jobs, then show jobs in the order the queue will be processing them
        max_results = 100
        errored = Delayed::Job.where("last_error IS NOT NULL").order("attempts DESC, priority ASC, run_at ASC").limit(max_results).to_a
        running = Delayed::Job.where("last_error IS NULL AND locked_at IS NOT NULL").order("locked_at ASC, priority ASC, run_at ASC").limit(max_results - errored.length).to_a if errored.length < max_results
        running = [] if running.nil?

        queued_list = Delayed::Job.where("last_error IS NULL AND locked_at IS NULL").order("priority ASC, run_at ASC").limit(max_results - errored.length - running.length).to_a if (errored.length + running.try(:length).to_i) < max_results
        queued_list = [] if queued_list.nil?
        total_queued = Delayed::Job.count - errored.length - running.length
      %>
      <p><%= "#{errored.length} errored #{"job".pluralize(errored.length)} / #{running.length} running #{"job".pluralize(running.length)} / #{total_queued} queued #{"job".pluralize(total_queued)}" %></p>
      <p></p>
      <table id='dj_tbl' class='table table-condensed table-sm'>
        <thead>
          <tr><th>Action</th><th>Action</th><th>ID</th><th>Priority</th><th>Attempts</th><th>Last Error</th><th>Run At</th><th>Locked At</th><th>Failed At</th><th>Locked By</th><th>Handler</th></tr>
        </thead>
        <% (errored + running + queued_list).each do |dj| %>
          <tr>
            <td>
              <%- if dj.locked_at.blank? -%>
                <%= link_to "Run Now", run_now_delayed_job_path(dj), :method => :post, :class=>'btn btn-sm btn-primary' %></td>
              <%- end -%>
            </td>
            <%-if dj.last_error && dj.locked_at.blank? && @job_groups[dj.id].count > 1 -%>
              <td><button class='btn btn-sm btn-danger btn-bulk-destroy' data-id='<%=dj.id%>' data-count='<%=@job_groups[dj.id].count%>'>Delete</button></td>
            <%-else-%>
              <td><%= link_to "Delete", delayed_job_path(dj), :confirm => 'Are you sure you want to delete this item?', :method => :delete, :class=>'btn btn-sm btn-danger' %></td>
            <%-end-%>
            <td><%=dj.id%></td>
            <td><%=dj.priority%></td>
            <td><%=dj.attempts%></td>
            <td>
              <%-unless dj.last_error.blank?
                # Limit the error and handler sizes to only 1K characters...otherwise this can actually cause the master setups page to load REALLY slow if we have long errors/handlers in a bunch of fields
              -%>
                <pre class="pre-scrollable" style='height:150px;max-width:500px;overflow:scroll;resize:both;background-color: #f7f7f9;'><%=dj.last_error.to_s.length <= 1000 ? dj.last_error : (dj.last_error.to_s[0..1000] + "\n[TRUNCATED FOR DISPLAY- SEE DATABASE FOR FULL LAST ERROR VALUE]")%></pre>
              <%-end-%>
            </td>
            <td><%=dj.run_at%></td>
            <td><%=dj.locked_at%></td>
            <td><%=dj.failed_at%></td>
            <td><%=dj.locked_by%></td>
            <td>
              <pre class="pre-scrollable" style='height:150px;max-width:500px;overflow:scroll;resize:both;background-color: #f7f7f9;'><%=dj.handler.to_s.length <= 1000 ? dj.handler : (dj.handler.to_s[0..1000] + "\n[TRUNCATED FOR DISPLAY - SEE DATABASE FOR FULL HANDLER VALUE]")%></pre>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>


<div id='mod_upgrade'>
  <%=form_tag '/master_setups/upgrade', :id=>:frm_upgrade do |f| %>
    <table>
      <%=field_bootstrap "Version:", text_field_tag(:name) %>
    </table>
  <%end%>
</div>

<div class="modal hide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id='dj-err-title'></h3>
      </div>
      <div class="modal-body">
        <pre style='resize:both;overflow:auto;' id='dj-err-stack'></pre>
      </div>
      <div class="modal-footer">
        <button class='btn btn-primary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-bulk-destroy">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body" id="email-modal-container">
          <p id='message' class='text-center'></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Just This One", "#", :method => :delete, :class=>'btn btn-secondary', :id=>'btn-just-one' %>
          <%= link_to "Clear All", "#", :method => :delete, :class=>'btn btn-secondary', :id=>'btn-clear-all' %>
        </div>
      </div>
    </div>
</div>

<%content_for :action_bar do %>
  <button id='btn_save'>Save</button>
  <button id='btn_upgrade'>Upgrade</button>
  <button id='btn_cancel'>Cancel</button>
<%end%>
