<table>
<%=field_row 'Class', @error_log_entry.exception_class%>
<%=field_row 'Message', @error_log_entry.error_message%>
<%=field_row 'Time', @error_log_entry.created_at%>
<%msgs = ""%>
<%
  if @error_log_entry.additional_messages.respond_to?(:each)
     @error_log_entry.additional_messages&.each {|m| msgs << "#{m}<br />"}
  else
    msgs = @error_log_entry.additional_messages.to_s
  end
%>
<%=field_row 'Other Messages', msgs.html_safe%>
</table>
<h2>Trace</h2>
<pre style='overflow-x: auto;'>
<%= @error_log_entry.backtrace&.join("\n") %>
</pre>
