<% if !local_assigns.has_key?(:view_only) || !view_only%>
  <% content_for :javascript do %>
    $(document).ready(function() {
      Chain.initAttachments();
      $('.attachment_icon').popover({html: true});

      $('input[id=attachment_attached]').change(function(){
        $('#attachment_attached_visible').val($(this).val());
      });

    });    
  <% end %>
  <% if !attachable.respond_to?('can_attach?') || attachable.can_attach?(current_user)%>
    <% content_for :action_bar do %>
      <button id='btn_add_attachment'>Add Attachment</button>
    <%end%>
  <% end %>
<%end-%>
<% attachments = (attachable.respond_to?('all_attachments') ? attachable.all_attachments : attachable.attachments)-%>
<% unless attachments.blank?-%>
  <div class='row text-center'>
    <div class='col-md-12'>
      <h3>Attachments</h3>
    </div>
  </div>
      <% attachment_counter = 0 %>
      <% attachments.each do |att| %>
        <% next unless att.can_view?(current_user) %>
        <% if attachment_counter%3 == 0 %>
          <div class="row">
        <% end %>
        <% attachment_counter += 1%>
            <div class='col-sm-6 col-md-4'>
              <div class='thumbnail text-center'>
                <div class='attachment_delete'>
                  <%if attachable.can_edit?(current_user) && !att.attachable.is_a?(LinkableAttachment)%>
                    <%=link_to(image_tag("x.png",:size=>"16x16"), att, :method => :delete, :confirm => "Are you sure you want to delete this?")%>
                  <%else%>
                    <%=image_tag('spacer.gif',:size=>'16x16')%>
                  <%end%>
                </div>
                <%=attachment_icon att%>
                <div class='caption' style="word-wrap:break-word">
                  <%unless att.attachment_type.blank?%><h4><%=att.attachment_type%></h4><%end%>
                  <p>
                    <%=att.attached_file_name%>
                  </p>
                  <p>
                    <%=link_to 'Download', download_attachment_path(att), :class=>'btn btn-primary btn-sm', :role=>'button', :target=>"chainio_attachment"%>
                  </p>
                </div>
              </div>
            </div>
          <% if attachment_counter%3 == 0%>
            </div>
          <% end %>
      <% end -%>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/attachments/email_attachable/<%= attachable.class %>/<%= attachable.id %>">
        <button class="btn" id="email_attachments_button">Email attachments</button>
      </a>
    </div>
  </div>
<%end-%>

<div id='mod_attach' style='display:none;'>
  <% att = attachable.attachments.build %>
  <%= form_for att, html: {multipart: true, id: "frm_attach"} do |f| %>
    <%= f.hidden_field :attachable_id %>
    <%= f.hidden_field :attachable_type %>
    <input id="attachment_attached" type="file" name="attachment[attached]" style="display: none;">
    <div class="input-append">
      <input id="attachment_attached_visible" class="form-control" type="text" style="display: inline; width: 70%;">
      <a class="btn btn-primary" style="color: white; margin-bottom: 2px;" onclick="$('input[id=attachment_attached]').click();">Browse</a>
    </div>
    <%= f.check_box :is_private %>
    <%= f.label :is_private, "Private attachment" %>
  <% end %>
</div>
