<% content_for :javascript do %>
$(function() {
  OpenChain.initAttachments();
  $("#sub_attach").button();
});    
<% end %>
<% if attachable.can_edit?(current_user)%>
<% content_for :action_bar do %>
  <button id='btn_add_attachment'>Add Attachment</button>
<%end%>
<% end %>
<div class='attachments_box'>
  <% unless attachable.attachments.blank?%>
  <div class='attachment_heading'>Attachments</div>
  <% end %>
  <% c = 0 %>
  <table class='attachment_table'>
  <% attachable.attachments.each do |att| %>
    <% if(c%2==0) %><tr><%end%>
    <td>
      <%if attachable.can_edit?(current_user)%><div class='attachment_delete'><%=link_to(image_tag("x.png",:size=>"16x16"), att, :method => :delete, :confirm => "Are you sure you want to delete this?")%></div><%end%>
      <div class='attachment_type'><%=att.attachment_type%></div>
      <div><%=attachment_icon att%></div>
      <%=att.attached_file_name%>
    </td>
    <% if(c%2==1) %></tr><%end%>
    <% c += 1%>
  <% end %>
    <% if(c%2==1)%></tr><%end%>
  </table>
</div>
<%if attachable.can_edit?(current_user) %>
    <div id='mod_attach'>
    Attach File:<br />
    <% att = attachable.attachments.build %>
    <%=form_for att, :html=>{:multipart=>true,:id=>"frm_attach"} do |f|%>
    <%=f.hidden_field :attachable_id %>
    <%=f.hidden_field :attachable_type %>
    <%=f.collection_select :attachment_type, AttachmentType.all, :name, :name %>
    <%=f.file_field :attached %>
    <% end %>
  </div>
<%end%>
