<%=content_for :javascript do %>
$(function() {
  $("#mod_comments_add").dialog({autoOpen:false,title:'Add Comment',
      width:'auto',
      buttons:{"Save":function() {
                  recipient = $(".comment_input#to").val();
                  notice = $("#add-notice")
                  if (recipient != "")
                    notice.css("display", "inline");
                  $.ajax( {
                        type: "GET",
                        url: "/api/v1/emails/validate_email_list", 
                        headers: { Accept: "application/json", "Content-Type": "application/json"},
                        data: {email: recipient}, 
                        success: function(data) {
                          if (data["valid"] || recipient == "") {
                            $("#frm_comment_add").submit();
                            notice.css("display", "none");
                            $("#mod_comments_add").dialog('close');
                          }
                          else {
                            notice.css("display", "none");
                            window.setTimeout(function() { alert("Please enter a valid email address, or leave the \"Email To\" field blank."); }, 0);
                          }
                        }
                  });
                },
               "Cancel":function() {$("#mod_comments_add").dialog('close');}
             }
    });
  $("#btn_comment_add").click(function() {
    $("#mod_comments_add").dialog('open');
  });
  OpenChain.addKeyMap('m',"Add Comment",function() {$("#btn_comment_add").click();});
  $("#mod_comment_send").dialog({autoOpen:false,title:'Email Comment',
    width:'auto',
    buttons:{"Send":function() {sendComment();},
             "Cancel":function() {$("#mod_comment_send").dialog('close');}
    }});
  $(".send_comment_link").click(function(ev) {
    ev.preventDefault();
    $("#send_comment_id").val($(this).attr("comment_id"));
    $("#mod_comment_send").dialog('open');
  });
});
function sendComment() {
  var to_val = $("#send_comment_to").val();
  notice = $('#send-notice');
  notice.css("display", "inline");
  $.ajax ( {
            type: "GET",
            url: "/api/v1/emails/validate_email_list",
            headers: { Accept: "application/json", "Content-Type": "application/json"},
            data: {email: to_val},
            success: function(data) {
              if (data["valid"]) {
                jQuery.post("/comments/"+$("#send_comment_id").val()+"/send_email", {to:to_val});
                notice.css("display", "none");
                $("#mod_comment_send").dialog('close');
              }
              else {
                notice.css("display", "none");
                window.setTimeout(function() { alert("Please ensure all email addresses are valid."); }, 0); 
              }              
            }
    })
}
<% end %>
<% can_comment = (!commentable.respond_to?('can_comment?') || commentable.can_comment?(current_user)) %>
<% if can_comment %>
  <%content_for :action_bar do%>
    <button id='btn_comment_add' title='Add Comment'><i class='fa fa-sticky-note'></i></button>
  <% end %>
<%end%>
<div id='comments_container' class='section_insert'>
  <h3 class='section_insert_heading text-center'>Comments <span style='font-weight: normal; font-size: 40%;'>(<a href='#' class='comment_exp_all'>open all</a><a href='#' class='comment_cls_all' style='display:none;'>close all</a>)</span></h3>
  <% if commentable.comments.empty? %>
  <div class="well">There aren't any comments. 
    <%if can_comment %> 
      Create one with the <i class='fa fa-sticky-note'></i> button below.
    <%end%>
  </div>
  <% else %>
  <table class='comment_table'>
    <tbody>
      <%commentable.comments.each do |c| %>
      <tr class='comment_view comment_header hover'>
        <td><a href='#' class='comment_lnk'><%=c.subject%></a></td>
        <td><a href='#' class='comment_lnk'><%=c.user.full_name%></a></td>
        <td class='comment_header_date'><a href='#' class='comment_lnk'><%=c.created_at%></a></td>
      </tr>
      <tr class='comment_view comment_body'>
        <td colspan="3">
          <pre><%=c.body%></pre>
          <div class='comment_controls'>
            <a href='#' class='send_comment_link' comment_id="<%=c.id%>">Email</a>
            <%if c.user_id == current_user.id%>
              &nbsp;|&nbsp; <a href='#' class='comment_edit_link'>Edit</a>
            <% end %>
            <%if c.user_id == current_user.id && current_user.admin? %>
              &nbsp;|&nbsp;
            <% end %>
            <%if c.user_id == current_user.id || current_user.admin? %>
              <%=link_to 'Delete', c, :data => {:confirm=>'Are you sure you want to delete this comment?'}, :method => :delete%>
            <% end %>
          </div>
        </td>
      </tr>
      <tr class='comment_edit'><td colspan="3">
        <%=form_for c do |f| %>
          <% if local_assigns.has_key?(:redirect_to)%>
            <input type='hidden' name='redirect_to' value='<%=redirect_to%>' />
          <% end %>
          <%=f.hidden_field :commentable_id %>
          <%=f.hidden_field :commentable_type %>
          <%=f.text_field :subject, :class=>'comment_input' %><br />
          <%=f.text_area :body, :rows => '5', :class=>'comment_input' %><br />
          <%=f.submit 'Update', :class=>'comment_sub' %>
        <%end%>
      </td></tr>
      <%end%>
    </tbody>
  </table>
  <% end %>
</div>
<div id='mod_comments_add' style='display:none;'>
  <%=form_for(commentable.comments.build, :html=>{:id=>'frm_comment_add'}) do |f| %>
    <%=f.hidden_field :commentable_id %>
    <%=f.hidden_field :commentable_type %>
    <% if local_assigns.has_key?(:redirect_to)%>
      <input type='hidden' name='redirect_to' value='<%=redirect_to%>' />
    <% end %>
    <table>
    <%=field_row "Subject", f.text_field(:subject, :class=>'comment_input') %>
    <%=field_row "Message", f.text_area(:body, :rows => '5', :class=>'comment_input') %>
    <%=field_row "Email To", text_field_tag(:to,nil, :class=>'comment_input') %>
    </table>
    </br>
    <div class="alert alert-info col-12" id="add-notice" style="display:none;">
      Your comment is being sent.
    </div>
  <%end%>
</div>
<div id='mod_comment_send' style='display:none;'>
    <input type='hidden' id='send_comment_id' value='' />
    To: <input type='text' name='to' id='send_comment_to' /><br />
    <p>Separate addresses with commas (a@b.com, d@b.com)</p>
    <div class="alert alert-info col-12" id="send-notice" style="display:none;">
      Your comment is being sent.
    </div>
</div>
