<!-- quirks mode IE7 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<% 
  no_buttons = false
  no_buttons = true if @no_buttons
  no_buttons = true if !local_assigns[:not_buttons].nil?
  ms = MasterSetup.get
%>
<!-- System UUID: <%=ms.uuid%> -->
<% if current_user && current_user.sys_admin? %>
<!-- Hostname: <%=`hostname`.strip%> -->
<% end %>
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title>chain.io</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag :all, :media=>"all" %>
  <link rel="stylesheet" type="text/css" href="/print_css/print.css" media="print" />
  <%= javascript_include_tag "jquery-1.4.4.min.js", "rails.js", "jquery-ui-1.8.7.custom.min.js", "jquery.validate.js", "jquery.tools.min.js", "jquery.hotkeys.js", "jquery.jstepper.min.js", "application.js", "adv_search.js" %>
  <%= csrf_meta_tag %>
  <%= yield :head_tags%>
  <script>
  OpenChain.setAuthToken('<%=form_authenticity_token%>');
  <% if current_user %>
  $(function() {
    <% if current_user.view_orders?%>
    $( "#btn_orders" )
      .button()
      .click(function() {
        window.location = '<%=orders_path%>?force_search=true';
      })<% if current_user.add_orders? %>
      .next()
        .button( {
          text: false,
          icons: {
            primary: "ui-icon-plus"
          }
        })
        .click(function() {
          window.location = '<%=new_order_path%>';
        })
        .parent()
          .buttonset()<%end%>;
    <%end%>
    <% if current_user.view_shipments?%>
    $( "#btn_shipments" )
      .button()
      .click(function() {
        window.location = '<%=shipments_path%>?force_search=true';
      })<%if current_user.add_shipments?%>
      .next()
        .button( {
          text: false,
          icons: {
            primary: "ui-icon-plus"
          }
        })
        .click(function() {
          window.location = '<%=new_shipment_path%>';
        })
        .parent()
          .buttonset()<%end%>;<%end%>
     <%if current_user.view_products?%>
    $( "#btn_products" )
      .button()
      .click(function() {
        window.location = '<%=products_path%>?force_search=true';
      })<%if current_user.add_products?%>
      .next()
        .button( {
          text: false,
          icons: {
            primary: "ui-icon-plus"
          }
        })
        .click(function() {
          window.location = '<%=new_product_path%>';
        })
        .parent()
          .buttonset()<%end%>;<%end%>
      <%if current_user.view_sales_orders?%>
  $( "#btn_sales" )
      .button()
      .click(function() {
        window.location = '<%=sales_orders_path%>?force_search=true';
      })<%if current_user.add_sales_orders?%>
      .next()
        .button( {
          text: false,
          icons: {
            primary: "ui-icon-plus"
          }
        })
        .click(function() {
          window.location = '<%=new_sales_order_path%>';
        })
        .parent()
          .buttonset()<%end%>;
      <% end %>
      <% if current_user.view_deliveries?%>
  $( "#btn_deliveries" )
      .button()
      .click(function() {
        window.location = '<%=deliveries_path%>?force_search=true';
      })<%if current_user.add_deliveries?%>
      .next()
        .button( {
          text: false,
          icons: {
            primary: "ui-icon-plus"
          }
        })
        .click(function() {
          window.location = '<%=new_delivery_path%>';
        })
        .parent()
          .buttonset()<%end%>;
       <% end %>
  });
  <% end %>
  <%= yield :javascript%>
  <% if Rails.env=='development' || current_user.nil?%>
    $(document).ready(OpenChain.disableMessagePolling);
  <% end %>
  </script>
</head>
<body>
<div id="header">
  <div id="top_box">
<% if !current_user || no_buttons %>
  <span id="corner_title"><%=link_to image_tag(master_setup.logo_image.blank? ? "logo.png" : master_setup.logo_image, :height => "50"), root_path %></span>
<% end %>
  <% if current_user %>
    <% unless no_buttons %>
    <div id="corner_links">
        <%= link_to current_user.full_name, company_user_path(current_user.company, current_user), {:title=>"Edit Your Account",:class=>"tiplink"} %> | 
        <%= link_to 'Messages', messages_path %> <%=link_to(image_tag('envelope.png',{:alt=>'Messages',:style=>"vertical-align:bottom; display:#{@message_count==0 ? "none" : "inline"};",:id=>'message_envelope'}), messages_path)%> |
        <%= link_to 'Tools', tools_path%> | 
        <%= link_to "Help / Feedback", current_user.zendesk_url, :target=>"chainio_support" %> |
        <%= link_to 'Logout', logout_path %>
    </div>
  <% end %>
  <span id="corner_title"><%=link_to image_tag(master_setup.logo_image.blank? ? "logo.png" : master_setup.logo_image, :height => "50"), root_path %></span>
  </div>
  <% if current_user %>
    <div id="linkbar">
      <%if current_user.view_products?%><button id='btn_products' title='Search for products'>Products</button><%if current_user.add_products?%><button id='btn_new_product'>New Product</button><%end%><%end%>
      <%if current_user.view_orders?%><button id='btn_orders' title='Search for orders'>Orders</button><%if current_user.add_orders? %><button id='btn_new_order'>New Order</button><%end%><%end%>
      <%if current_user.view_shipments?%><button id='btn_shipments' title='Search for shipments'>Shipments</button><%if current_user.add_shipments?%><button id='btn_new_shipment'>New Shipment</button><%end%><%end%>
      <%if current_user.view_sales_orders?%><button id='btn_sales' title='Search for sales'>Sales</button><%if current_user.add_sales_orders?%><button id='btn_new_sale'>New Sale</button><%end%><%end%>
      <%if current_user.view_deliveries?%><button id='btn_deliveries' title='Search for deliveries'>Deliveries</button><%if current_user.add_deliveries?%><button id='btn_new_delivery'>New Delivery</button><%end%><%end%>      
    </div>
    <% end %>
  <% end %>
  </div>
</div>
  <% unless no_buttons %>
  <% if has_messages || !ms.system_message.blank?%>
    <div id='notice' class='notices' style='display:none;'>
			<div id='notice_hide'><a href="#" id="lnk_hide_notice">Hide</a></div>
    <% [:errors,:notices].each do |type|
          ary = flash[type].nil? ? [] : flash[type]
          ary.each do |m| %>
      <div class='<%=type%>_message'><%=m%></div>
    <%    end
       end 
    %>
    <% unless ms.system_message.blank? %>
      <div class='system_message'><%=ms.system_message%></div>
    <% end %>
    </div>
  <% end %>
  <% end %>
