<!DOCTYPE html>
<html>
<% 
  no_buttons = false
  no_buttons = true if @no_buttons
  no_buttons = true if !local_assigns[:not_buttons].nil?
  show_navbar = (!no_buttons && current_user)
  ms = MasterSetup.get
-%>
  <head>
    <title><%=@page_title.blank? ? 'VFI Track' : @page_title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag -%>
    <%= stylesheet_link_tag    "application", :media => "all" -%>
    <%= javascript_include_tag "application" -%>
    <% if @include_legacy_scripts %>
      <%= javascript_include_tag "legacy" %>
    <% end %>
    <%= csrf_meta_tags -%>
    <%= yield :head_tags -%>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shim" %>
    <![endif]-->
    <script type='text/javascript'>
      Chain.setAuthToken('<%=form_authenticity_token%>');
      <% if current_user %>
        Chain.messagePoller.initialize('<%=current_user.id%>', 30)
        <% if @include_legacy_scripts %>
          OpenChain.user_id = <%=current_user.id%>;
        <% end %>
      <% end %>
      <%= yield :javascript -%>
    </script>
  </head>
  <body>
    <% cache ['v3',ms,(current_user ? current_user.company : 0),(current_user ? current_user : 0),@run_as_user] do %>
      <% if @run_as_user %>
        <div id='run_as_box'>Logged In As: <%=@run_as_user.full_name%>, Running As: <%=@current_user.full_name%> - <a href='/disable_run_as'>Disable</a></div>
      <% end %>
      <% if show_navbar -%>
        <div class='navbar' id='topnav'>
          <div class='navbar-inner'>
            <div class='container'>
              <ul class='nav' id='leftnav'>
                <li><a href='/' id='dash-logo'><%=image_tag(master_setup.logo_image.blank? ? "vfi_logo.png" : master_setup.logo_image, :id=>'dash-logo')%></a></li>
                <% if current_user.view_products? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Products
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/products?force_search=true'>Search</a></li>
                      <% if current_user.edit_products?-%>
                        <li class='dropdown'><a href='/products/new'>New</a></li>
                      <%end-%>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_orders? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Orders
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/orders?force_search=true'>Search</a></li>
                      <% if current_user.edit_orders? -%>
                        <li class='dropdown'><a href='/orders/new'>New</a></li>
                      <% end -%>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_shipments? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Shipments
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/shipments?force_search=true'>Search</a></li>
                      <% if current_user.edit_shipments? -%>
                        <li class='dropdown'><a href='/shipments/new'>New</a></li>
                      <% end -%>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_sales_orders? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Sales 
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/sales_orders?force_search=true'>Search</a></li>
                      <% if current_user.edit_sales_orders? -%>
                        <li class='dropdown'><a href='/sales_orders/new'>New</a></li>
                      <% end -%>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_deliveries? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Deliveries 
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/deliveries?force_search=true'>Search</a></li>
                      <% if current_user.edit_deliveries? -%>
                        <li class='dropdown'><a href='/deliveries/new'>New</a></li>
                      <% end -%>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_security_filings? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Security Filings 
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/security_filings?force_search=true'>Search</a></li>
                      <% if current_user.edit_security_filings? -%>
                        <li class='dropdown'><a href='/security_filings/new'>New</a></li>
                      <% end -%>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_entries? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Entries 
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/entries'>Search</a></li>
                      <li class='dropdown'><a href='/entries/bi'>Snapshots</a></li>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_broker_invoices? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Broker Invoices
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/broker_invoices'>Search</a></li>
                    </ul>
                  </li>
                <% end -%>
                <% if current_user.view_drawback? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Drawback
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/drawback_claims'>Claims</a></li>
                      <li class='dropdown'><a href='/drawback_upload_files'>Upload</a></li>
                    </ul>
                  </li>
                <% end -%>
                <% if !current_user.survey_responses.blank? || current_user.view_surveys? -%>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                      Surveys 
                      <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu' role='menu'>
                      <li class='dropdown'><a href='/survey_responses'>View</a></li>
                      <% if current_user.view_surveys? -%>
                        <li class='dropdown'><a href='/surveys'>Edit</a></li>
                      <% end -%>
                    </ul>
                  </li>
                <% end -%>
                <li>
                  <a href='/messages/'><span class='badge badge-info' id='message_envelope'></span></a>
                </li>
              </ul>
              <ul class='nav pull-right'>
                <form class='navbar-search' action='/quick_search' method='GET'>
                  <input type='text' class='search-query' placeholder='Search' name='v' id='quick_search_input' /> 
                </form>
                <li class='dropdown' id='menu_dropdown'>
                  <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                    <%=current_user.full_name%>
                    <b class='caret'></b>
                  </a>
                  <ul class='dropdown-menu' role='menu'>
                    <li><a class='dropdown' href='/companies/<%=current_user.company_id%>/users/<%=current_user.id%>'>Account</a></li>
                    <li><a class='dropdown' href='/messages'>Messages</a></li>
                    <li><a class='dropdown' href='/report_results'>Reports</a></li>
                    <li><a class='dropdown' href='/support_tickets'>Support</a></li>
                    <li><a class='dropdown' href='/tools'>Tools</a></li>
                    <li><a class='dropdown' href='/imported_files'>Uploads</a></li>
                    <li><a class='dropdown' href='/logout'>Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end -%>
    <% end -%>
    <div class='container'>
      <div class='row'>
        <%unless flash[:notices].blank?-%>
          <div class='span12 alert alert-info'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%flash[:notices].each do |msg|-%>
              <p><%=msg%></p>
            <%end-%>
          </div>
        <%end-%>
        <%unless flash[:errors].blank?-%>
          <div class='span12 alert alert-error'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%flash[:errors].each do |msg|-%>
              <p><%=msg%></p>
            <%end-%>
          </div>
        <%end-%>
      </div>
    </div>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span12'>
          <%=yield%>
        </div>
        <%unless @no_action_bar-%>
        <div class='navbar navbar-fixed-bottom'>
          <div class='navbar-inner'>
            <ul class='nav'>
              <li id='nav-action-bar'>
                <%=yield :action_bar%>
              </li>
            </ul>
          </div>
        </div>
        <%end-%>
      </div>
    </div>
  </body>
</html>
