<div class='history_level'>
  <table class='detail_table'>
    <thead><tr><th>Field</th><th>From</th><th>To</th></tr></thead>
    <tbody>
<%diff.model_fields_changed.each do |mfuid,c|%> 
  <%mf = ModelField.find_by_uid(mfuid)%>
  <% next if !mf.can_view?(current_user) || (c[0].blank? && c[1].blank?) %>
  <tr class='hover'>
    <td><%=ModelField.find_by_uid(mfuid).label%></td>
  <% 
    if mf.data_type==:datetime
      c[0] = Time.parse(c[0]) unless c[0].blank? || !c[0].is_a?(String)
      c[1] = Time.parse(c[1]) unless c[1].blank? || !c[1].is_a?(String)
    end %>
    <td><%=c[0]%></td>
    <td><%=c[1]%></td>
  </tr>
<%end%>
    </tbody>
  </table>
</div>
<div >
  <%if !diff.nested_blank?(diff.children_added)%>
    <% diff.children_added.each do |ca|%>
      <%r = ca.recordable%>
      <% if !ca.blank? %>
        <h3>Added Item: <%=CoreModule.find_by_class_name(ca.core_module).unique_id_field.process_export(r,current_user) unless r.nil?%></h3>
        <%=render :partial=>'shared/history_widget', :locals=>{:diff=>ca} %>
      <% end %>
    <% end %>
  <%end%>
  <%if !diff.nested_blank?(diff.children_deleted)%>
    <% diff.children_deleted.each do |ca|%>
      <%r = ca.recordable%>
      <% if !ca.blank? %>
        <h3>Deleted Item: <%=CoreModule.find_by_class_name(ca.core_module).unique_id_field.process_export(r,current_user) unless r.nil?%></h3>
        <%=render :partial=>'shared/history_widget', :locals=>{:diff=>ca} %>
      <% end %>
    <% end %>
  <%end%>
  <%if !diff.nested_blank?(diff.children_in_both)%>
    <% diff.children_in_both.each do |ca|%>
      <%r = ca.recordable%>
      <% if !ca.blank? %>
        <h3>Changed Item: <%=CoreModule.find_by_class_name(ca.core_module).unique_id_field.process_export(r,current_user) unless r.nil?%></h3>
        <%=render :partial=>'shared/history_widget', :locals=>{:diff=>ca} %>
      <% end %>
    <% end %>
  <%end%>
</div>
