<% 
include_sorts = false unless local_assigns.has_key? :include_sorts
show = true unless local_assigns.has_key? :show
routing_object = current_search unless local_assigns.has_key? :routing_object
parent_hash_name = 'search_setup' unless local_assigns.has_key? :parent_hash_name
-%>
<%render :partial=>'shared/search_criterions', :locals=>{:current_search=>current_search,:model_fields=>current_search.column_fields_available(current_user),:wrapper=>'params_cont',:parent_hash_name=>parent_hash_name}%>
<div id='search_setup_outer' style='<%=!show ? "display:none;" : ""%>'>
  <div id='search_setup'>
    <%=form_for(routing_object, :html=>{:id=>"frm_current_search"}) do |f| %>
    <ul>
        <li><a href="#setup_cont">Setup</a></li>
        <li><a href="#params_cont">Parameters</a></li>
        <%if include_sorts-%>
        <li><a href="#sorts_cont">Sorts</a></li>
        <%end-%>
        <li><a href="#col_cont" id='tab_col_cont'>Columns</a></li>
        <li><a href="#sched_cont">Schedules</a></li>
    </ul>
    <div id='setup_cont'>
      Name: <%=f.text_field :name, "id"=>"current_name" %><br />
      <%if current_search.respond_to? :download_format-%>
      Download Format: <%=f.select :download_format, ["xls","csv"] %><br />
      <%end-%>
      Include Links In Download: <%=f.check_box :include_links %><br />
      Hide Time For All Date Fields: <%=f.check_box :no_time %><br />
      <%if current_search.respond_to? :module_type-%>
        <%=f.hidden_field :module_type %>
      <%end%>
      <%if current_search.respond_to? :type-%>
        <%=f.hidden_field :type%>
      <%end%>
    </div>
    <div id='params_cont'>
    </div>
    <%if include_sorts-%>
    <div id='sorts_cont'>
      <table class='detail_table' style='width:0px;'>
        <thead><tr><th>Available</th><th>Selected</th></tr></thead>
        <tbody>
        <tr>
          <td>
            <select id='unused_sorts' size='10' multiple='multiple'>
              <%current_search.unused_sort_fields(current_user).each do |mf|-%>
                <option value='<%=mf.uid%>'><%=mf.label%></option>
              <%end-%>
            </select>
          </td>
          <td>
            <select id='used_sorts' size='10' multiple='multiple'>
              <%current_search.sort_criterions.each do |sc|-%>
                <%mf = ModelField.find_by_uid(sc.model_field_uid)%>
                <option value='<%=mf.uid%>' ord='<%=sc.descending? ? "d" : "a"%>'><%=mf.label%> <%=sc.descending? ? " [Z > A]" : " [A > Z]" %></option>
              <%end-%>
            </select>
          </td>
          <td style='vertical-align:middle;'><a href='#' id='used_sorts_up'>Up</a><br /><a href='#' id='used_sorts_down'>Down</a><br/><a href='#' id='used_sorts_reverse'>Sort Order</a></td>
        </tr>
        <tr>
          <td><a href='#' id='use_sort'>Add</a></td>
          <td><a href='#' id='remove_sort'>Remove</a></td>  
        </tr>
        </tbody>
      </table>
    </div>
    <%end-%>
    <div id='col_cont'>
      <table class='detail_table' style='width:0px;'>
        <thead><tr><th>Available</th><th>Selected</th></tr></thead>
        <tbody>
          <tr>
            <td>
              <select id='unused_columns' size='10' multiple='multiple'>
                <%current_search.unused_column_fields(current_user).each do |mf|-%>
                <option value='<%=mf.uid%>'><%=mf.label%></option>
                <%end-%>
              </select>
            </td>
            <td>
              <select id='used_columns' size='10' multiple='multiple'>
                <%current_search.sorted_columns.each do |sc|-%>
                  <%mf = ModelField.find_by_uid(sc.model_field_uid)%>
                  <option value='<%=mf.uid%>'><%=mf.label%></option>
                <%end-%>
              </select>
            </td>
            <td><a href='#' id='used_columns_up'>Up</a><br /><a href='#' id='used_columns_down'>Down</a></td>
          </tr>
          <tr>
            <td><a href='#' id='use_column'>Add</a>, <a href='#' id='add_blank' title='Click here to add an empty column to your layout.'>Add Blank</a></td>
            <td><a href='#' id='remove_column'>Remove</a></td>  
          </tr>
        </tbody>
      </table>
    </div>
    <div id='sched_cont'>
      <ul id='sched_list'>
    <%current_search.search_schedules.each do |ss| %>
      <%ssa = "#{parent_hash_name}[search_schedules_attributes][#{ss.id}]"%>
      <li class='sch_data_cont'>
        <input class='sch_key' name='ignore_key' type='hidden' value='<%=ss.id%>' />
        <input class='sch_id' name='<%=ssa%>[id]' type='hidden' value='<%=ss.id%>'/>
        <input class='sch_dom' name='<%=ssa%>[day_of_month]' type='hidden' value='<%=ss.day_of_month%>'/>
        <input class='sch_mon' name='<%=ssa%>[run_monday]' type='hidden' value='<%=ss.run_monday%>'/>
        <input class='sch_tue' name='<%=ssa%>[run_tuesday]' type='hidden' value='<%=ss.run_tuesday%>'/>
        <input class='sch_wed' name='<%=ssa%>[run_wednesday]' type='hidden' value='<%=ss.run_wednesday%>'/>
        <input class='sch_thu' name='<%=ssa%>[run_thursday]' type='hidden' value='<%=ss.run_thursday%>'/>
        <input class='sch_fri' name='<%=ssa%>[run_friday]' type='hidden' value='<%=ss.run_friday%>'/>
        <input class='sch_sat' name='<%=ssa%>[run_saturday]' type='hidden' value='<%=ss.run_saturday%>'/>
        <input class='sch_sun' name='<%=ssa%>[run_sunday]' type='hidden' value='<%=ss.run_sunday%>'/>
        <input class='sch_hr' name='<%=ssa%>[run_hour]' type='hidden' value='<%=ss.run_hour%>'/>
        <input class='sch_email' name='<%=ssa%>[email_addresses]' type='hidden' value='<%=ss.email_addresses%>'/>
        <input class='sch_frmt' name='<%=ssa%>[download_format]' type='hidden' value='<%=ss.download_format%>'/>
        <input class='sch_destroy' name='<%=ssa%>[_destroy]' type='hidden' value='' />
        <%=comma_list {|list| 
          list << "Monday" if ss.run_monday
          list << "Tuesday" if ss.run_tuesday
          list << "Wednesday" if ss.run_wednesday
          list << "Thursday" if ss.run_thursday
          list << "Friday" if ss.run_friday
          list << "Saturday" if ss.run_saturday
          list << "Sunday" if ss.run_sunday
        }
        %>
        <%=ss.day_of_month ? "Day #{ss.day_of_month} of the month " : "" %>
        at <%=ss.run_hour%>:00 to <%=ss.email_addresses%> <%=ss.ftp_server.blank? ? "" : "FTP: #{ss.ftp_server}" %> - <a href='#' class='sched_edit'>Edit</a> | <a href='#' class='sched_remove'>Remove</a>
      </li>
    <%end%>
      </ul>
      <a href='#' id='add_schedule'>Add Schedule</a>
    </div>
    <% end %>
  </div>  
  <div style='text-align:right;'>
    <button id='btn_setup_save' title='Save Search'>Save</button>&nbsp;
    <button id='btn_give_to' title='Give a copy to another user'>Give</button>
    <button id='btn_setup_copy' title='Make a new copy for yourself'>Copy / New</button>&nbsp;
    <button id='btn_setup_delete' title='Delete this'>Delete</button>
  </div>
  <div id='mod_new_name' style='display:none;'>Enter a name for the copy:<br /><input id='txt_new_name' /></div>
  <div style='display:none'> <!--hide the real button, because we want to keep everything on the same row-->
    <%= button_to "Delete", routing_object, :method => :delete, :id=>"real_delete_button" %>
  </div>
  <div id='mod_give_to' style='display:none;'>Pick a user to give a copy of the report to:<br />
    <select id='give_user_list'><option value=''>Loading...</option></select>
  </div>
  <div id='mod_delete' style='display:none;'>Are you sure you want to delete this?</div>
  <div id='mod_schedule' style='display:none;'>
    <input type='hidden' id='sd_id' value='' />
    <input type='hidden' id='sd_key' value='' />
    <table>
<% 
hrs_opts = {"midnight"=>"0"}
(1..23).each {|n| hrs_opts["#{n}:00"]=n}
%>
      <%=field_row "Email Addresses",
        text_field_tag("eml","",{:id=>"sd_email",:class=>'dialogtip',:title=>"Like: joe@sample.com,max@aspect9.com"})+"<br /><span style='font-size:75%;'>Separate with commas.</span>".html_safe%>
      <% if current_user.admin? %>
        <%=field_row "FTP Server", text_field_tag("ftpsvr","",{:id=>"sd_ftpsvr",:class=>"dialogtip",:title=>"FTP Server address where files will be sent."}) %>
        <%=field_row "FTP User", text_field_tag("ftpusr","",{:id=>"sd_ftpusr"}) %>
        <%=field_row "FTP Password", password_field_tag("ftppass","",{:id=>"sd_ftppass",:class=>"dialogtip",:title=>"Note: FTP passwords are stored unencrypted in the database. Aspect 9 employees are able to view these passwords."}) %>
        <%=field_row "FTP Subfolder", text_field_tag("ftpfldr","",{:id=>"sd_ftpfldr",:class=>"dialogtip",:title=>"Subfolder on FTP server (optional)"}) %>
      <% end %>
      <%=field_row "File Format", select_tag("frmt",options_for_select(["csv","xls"]),{:id=>"sd_frmt"}) %>
      <%=field_row "Hour of Day (Your Timezone)", select_tag("hr",options_for_select(hrs_opts),{:id=>"sd_hr"}) %>
      <%days_opts = {"Any"=>""}%>
      <%(1..31).each {|x| days_opts[x]=x}%>
      <%=field_row "Day of Month", select_tag("dom",options_for_select(days_opts),{:id=>"sd_dom"}) %>
      <%=field_row "Monday", check_box_tag("mon","1",false,{:id=>"sd_mon",:class=>'day_chk'}) %>
      <%=field_row "Tuesday", check_box_tag("tue","1",false,{:id=>"sd_tue",:class=>'day_chk'}) %>
      <%=field_row "Wednesday", check_box_tag("wed","1",false,{:id=>"sd_wed",:class=>'day_chk'}) %>
      <%=field_row "Thursday", check_box_tag("thu","1",false,{:id=>"sd_thu",:class=>'day_chk'}) %>
      <%=field_row "Friday", check_box_tag("fri","1",false,{:id=>"sd_fri",:class=>'day_chk'}) %>
      <%=field_row "Saturday", check_box_tag("sat","1",false,{:id=>"sd_sat",:class=>'day_chk'}) %>
      <%=field_row "Sunday", check_box_tag("wed","1",false,{:id=>"sd_sun",:class=>'day_chk'}) %>
    </table>
  </div>
</div>

