<% content_for :javascript do %>
  $(function() {
    OCSearch.init(<%=item_count%>,<%=search_run_id%>,"","search_setup");
    <% unless bulk_actions.blank?%>
      <% bulk_actions.each do |k,v| %>
        OCSearch.addBulkHandler('<%="btn_bulk_#{k.gsub(/ /,"").underscore}"%>','<%=send(v)%>');
      <% end %>
    <% end%>

    processHiddenColumns(false);
    $('table#result_table thead tr th').click(function() {
      if ($(this).children(0).is("input") || $(this).text() == "Actions") {
        return false;
      }

      var col = $(this).prevAll().length + 1;
      hideColumn(col);
    });
    $('#show_all_columns').click(function() {
      processHiddenColumns(true);
    });
  });
<% end %>
<% content_for :action_bar do %>
  <%unless @bulk_actions.blank?%>
    <%@bulk_actions.each do |k,v|%>
      <button id='<%="btn_bulk_#{k.gsub(/ /,"").underscore}"%>'><%=k%></button>
    <%end%>
  <%end%>
<% end %>
<div id='main_search_cont'>
  <div id='bulk_message'></div>
  <div id='show_all_columns'><p>Click Headings To Hide Columns</p></div>
  <table class='detail_table' id='result_table'>
    <thead>
      <% unless bulk_actions.blank?%><th><input type='checkbox' id='chk_sel_all' /></th><%end%>
      <th>Actions</th>
      <%columns.each do |col|%>
        <th><%=col.model_field.label%></th>
      <%end%>
    </thead>
    <tbody class='pagination_wrapper'>
      <% cursor = objects.per_page * (objects.current_page-1) #because will_paginate's first page is 1, not 0 %>
      <% last_object = nil %>
      <%GridMaker.new(objects,columns,criterions,module_chain,current_user).go do |row,obj|%>
        <tr class='hover pagination_item <%=(!last_object.nil? && obj!=last_object) ? "search_row_break" : ""%>'>
          <% if !bulk_actions.blank? %><td><%=obj!=last_object ? "<input type='checkbox' id='sel_row_#{obj.id}' pk='#{obj.id}' />".html_safe : ""%></td><% end %>
          <td>
            <% if obj!=last_object %>
              <%=render :partial=>'shared/search_links', :locals=>{:obj=>obj,:cursor=>cursor}%> 
              <%cursor += 1%>
            <% end %>
          </td>
          <% row.each do |r| %>
          <td><%=r.blank? ? (!r.nil? && r.is_a?(FalseClass) ? "false" : "&nbsp;".html_safe) : r%></td>
          <% end %>
        </tr>
        <%last_object = obj%>
      <%end%>
    </tbody>
  </table>
  <div class='pagination_loading'></div>
</div>
<%=will_paginate objects%>
<div>
  <%=form_tag('',:id=>'frm_bulk') do %>
    <div id='div_bulk_content'></div>
  <%end%>
</div>
