<table class='table table-striped table-condensed table-sm'>
  <thead>
    <tr>
      <th>&nbsp;</th><th>System</th><th>Record Sent</th><th>Confirmation Received</th><th>Confirmation File Name</th><th>Failure Message</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% base_object.sync_records.each do |sr|-%>
    <tr class='<%=sr.problem? ? 'danger' : sr.sent_at.nil? ? 'warning' : 'success' %>'>
      <td><%=form_for sr, :url=>resend_sync_record_path(sr), :method=>:post do |f| %>
          <%=sr.sent_at.nil? ? "Awaiting Sync" : "<button class='btn btn-sm'>Resend</button>".html_safe%>
          <% end %>
      </td>
      <td><%=sr.trading_partner%></td>
      <td><% if sr.sent_at && sr.ftp_session.try(:can_view?, current_user) %>
        <%=link_to sr.sent_at, ftp_session_path(sr.ftp_session) %>
      <% else %> 
        <%=sr.sent_at%>
      <% end %></td>
      <td><%=sr.confirmed_at%></td>
      <td><%=sr.confirmation_file_name%></td>
      <td><%=sr.failure_message%></td>
    </tr>
    <%end-%>
  </tbody>
</table>
