<%=form_tag "/tracker", :method=>"get" do%>
<select name='f'>
<%PublicField.where(:searchable=>true).each do |pf|%>
  <% mf = ModelField.find_by_uid pf.model_field_uid%>
  <% if mf %>
    <option value='<%=mf.uid%>' <%=@field && @field==mf.uid ? "selected='true'" : ""%>><%=mf.label%></option>
  <% end%>
<%end%>
</select>
<%=text_field_tag :v, @value%>&nbsp;<%=submit_tag "Search"%>
<%end%>
