<%content_for :action_bar do %>
  <button class='btn_link' link_to='<%=@back_url || url_for(@base_object)%>' key_map='b'>Back</button>
  <button id='btn_xpnd'>Show All</button>
  <button id='btn_clpse'>Hide All</button>
<%end%>
<%content_for :javascript do %>
 $(function() {
    $('#history-table').on('show.bs.collapse', function(event){
      var snapshotId = event.target.dataset.snapshot
      var panel = $('#heading-'+snapshotId);
      panel.find('.history-dropdown').removeClass('fa-chevron-right').addClass('fa-chevron-down');

      if(!$("#diff-content-"+snapshotId).data("remotely-rendered")) {
        ChainAllPages.renderRemote({requestPath: "/entity_snapshots/"+snapshotId+".html", target: "#diff-content-"+snapshotId})
      }
    });
    $('#history-table').on('hide.bs.collapse', function(event){
      panel = $('#heading-'+event.target.dataset.snapshot);
      panel.find('.history-dropdown').removeClass('fa-chevron-down').addClass('fa-chevron-right');
    });
    $("form.frm_restore").submit(function() {
      return window.confirm("Restoring will overwrite the current values with the values from this history entry.\n\n Are you sure you want to continue?");
    });
    $("#btn_xpnd").click(function() {
      $('#history-table .collapse:not(".show")').collapse('show');
    });
    $("#btn_clpse").click(function() {
      $('#history-table .collapse.show').collapse('hide');
    });
  });
<%end%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>History: <%=CoreModule.find_by_object(@base_object).unique_id_field.process_export(@base_object,current_user)%></h2>
    </div>
  </div>
  <%unless @base_object.sync_records.empty? -%>
    <div class="row">
      <div class="col-md-12">
        <%= render(partial: "shared/sync_records", locals: {base_object: @base_object}) %>
      </div>
    </div>
  <%end-%>
  <div class="row">
    <div class="col-md-12">
      <div aria-multiselectable="true" id="history-table">
        <%-@snapshots.each do |s|-%>
          <div class="card">
            <div class="card-header" id='heading-<%=s.id%>'>
              <p>
                <i class="history-dropdown fa fa-chevron-right"></i>
                <a data-toggle='collapse' href='#collapse-<%=s.id%>'>
                  <%=s.created_at%>: <%=s.user.try(:full_name)%> <%="(#{s.user.company.name})"%>
                </a>
                <% if current_user.sys_admin? %>
                  <small><a href="<%=download_entity_snapshot_path(s)%>" target="_blank"><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a></small>
                <% end %>
              </p>
              <%if !s.context.blank?%>
                <% if current_user.sys_admin? && s.s3_integration_file_context? %>
                  <p><small><a href="<%=download_integration_file_entity_snapshot_path(s)%>" target="_blank"><%=s.context%></a></small></p>
                <% else %>
                  <p><small><%=s.cleansed_context%></small></p>
                <% end %>
              <%end%>
            </div>
            <div id="collapse-<%=s.id%>" class="collapse" aria-labelledby="heading-<%=s.id%>" data-snapshot="<%=s.id%>">
              <div class="card card-body">
                <%if s.imported_file_id%>
                  <p class="text-right">(Created By File: <%= link_to s.imported_file.attached_file_name, s.imported_file  %>)</p>
                <%end%>
                <%if s.bulk_process_log_id%>
                  <p class="text-right">(Created By <%= link_to s.bulk_process_log.bulk_type, s.bulk_process_log  %>)</p>
                <%end  %>
                <div id="diff-content-<%=s.id%>" class="diff-content">
                  <div class='loader'>Loading</div>
                </div>
                <% if @base_object.respond_to?(:can_edit?) && @base_object.can_edit?(current_user) && CoreModule.find_by_object(@base_object).restorable? -%>
                  <div class='history_actions text-right'>
                    <%=form_for s, :url=>restore_entity_snapshot_path(s), :method=>:post, :html=>{:class=>'frm_restore'} do |f|%>
                      <%=f.submit "Restore", :class=>'btn btn-danger btn-sm'%>
                    <%end%>
                  </div>
                <% end -%>
              </div>
            </div>
          </div>
        <%-end-%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%=will_paginate @snapshots%>
    </div>
  </div>
</div>
