<% content_for :javascript do %>
$(function() {
  $(".toggle_record").click(function(ev) {
    ev.preventDefault();
    var content_row = $(this).closest("tr").next()
    content_row.toggle();
    if(!content_row.hasClass('loaded')) {
      $.getJSON('<%=messages_url%>?cr_id='+$(this).attr("cr_id"),function(data) {
        var h = "No messages exist for this record.";
        if(data.length) {
          h = "";
          for(var i=0;i<data.length;i++) {
            h+=data[i]+"<br />";
          }
        }
        content_row.children("td").first().html(h);
        content_row.addClass('loaded');
      });
    }
  }); 
  $("button.failed_rec").each(function(idx) {
    $(this).click();
  });
  $("a.snapshot").click(function(evt) {
    evt.preventDefault();
    if (evt.target.href) {
      snapshot = $("<div style='display:none;' class='history_entry'></div>").appendTo('body')
      snapshot.load(evt.target.href, function(t, status){
        if (status == "success") {
          snapshot.dialog({autoOpen:true, modal:true, title:"Field Updates", height:"auto", width:"auto", close: function(){$(this).remove();}});
        } else {
          snapshot.remove()
        }
      });
    }
  });
});
<% end %>

<table class='table table-striped'>
  <thead><tr>
    <th>&nbsp;</th>
    <th>Row</th>
    <th>Item</th>
    <th>Status</th>
  </tr></thead>
  <%@change_records.each do |r|%>
    <tr>
      <td>
        <button class='btn btn-xs btn-default toggle_record <%if r.failed?%>failed_rec<%end%>' cr_id='<%=r.id%>'>Messages</button> 
        <%if r.entity_snapshot%><%=link_to "Changes", r.entity_snapshot, class: "btn btn-xs btn-default snapshot"%><%end%>
      </td>
      <td><%=r.record_sequence_number%></td>
      <td><% if r.recordable %>
            <button class='btn_link btn btn-xs btn-default' link_to='<%=polymorphic_path(r.recordable)%>'><%=CoreModule.find_by_object(r.recordable).unique_id_field.process_export(r.recordable,current_user)%></button>
          <% else %>
            &nbsp;
          <% end %>
      </td>
      <td><span class='<%=r.failed? ? "text-error" : "text-success"%>'><%=r.failed? ? "Error" : "Success"%></span></td>
    </tr>
    <tr style='display:none;'>
      <td colspan='4' style='padding-left:2em;'><%=image_tag "ajax-loader.gif"%> Loading...</td>
    </tr>
  <%end%>
</table>
<%= will_paginate @change_records%>