<% content_for :javascript do %>
$(function() {
  $(".toggle_record").click(function(ev) {
    ev.preventDefault();
    var content_row = $(this).closest("tr").next()
    content_row.toggle();
    if(!content_row.hasClass('loaded')) {
      $.getJSON('<%=messages_url%>?cr_id='+$(this).attr("cr_id"),function(data) {
        var h = "No messages exist for this record.";
        if(data.length) {
          h = "";
          for(var i=0;i<data.length;i++) {
            h+=data[i]+"<br />";
          }
        }
        content_row.children("td").first().html(h);
        content_row.addClass('loaded');
      });
    }
  }); 
  $("a.failed_rec").each(function(idx) {
    $(this).click();
  });
  $("a.snapshot").click(function(evt) {
    evt.preventDefault();
    if (evt.target.href) {
      snapshot = $("<div style='display:none;' class='history_entry'></div>").appendTo('body')
      snapshot.load(evt.target.href, function(t, status){
        if (status == "success") {
          snapshot.dialog({autoOpen:true, modal:true, title:"Field Updates", height:"auto", width:"auto", close: function(){$(this).remove();}});
        } else {
          snapshot.remove()
        }
      });
    }
  });
});
<% end %>

<table class='detail_table'>
  <thead><tr>
    <th>Row</th><th>Status</th><th>&nbsp;</th>
  </tr></thead>
  <%@change_records.each do |r|%>
    <tr class='hover'>
      <td><a href='#' class='toggle_record <%if r.failed?%>failed_rec<%end%>' cr_id='<%=r.id%>'><%=r.record_sequence_number%></a></td>
      <td class='<%=r.failed? ? "error" : ""%>'><%=r.failed? ? "Error" : "Success"%></td>
      <td><%if r.entity_snapshot%><%=link_to "Show Field Updates", r.entity_snapshot, class: "snapshot"%><%end%></td>
    </tr>
    <tr style='display:none;'>
      <td colspan='3' style='padding-left:2em;'><%=image_tag "ajax-loader.gif"%> Loading...</td>
    </tr>
  <%end%>
</table>
<%= will_paginate @change_records%>