<% content_for :javascript do %>
$(function() {
   setupShippingAddress('Master Company',$('#delivery_ship_from_id'),$('#ship_from_ad'),<%=Company.find_by_master(true).id%><%=@delivery.ship_from_id.nil? ? '' : ",#{@delivery.ship_from_id}"%>);
   setupShippingAddress('Customer',$('#delivery_ship_to_id'),$('#ship_to_ad'),<%=@delivery.customer.nil? ? "'not set'": @delivery.customer.id%><%=@delivery.ship_to_id.nil? ? '' : ",#{@delivery.ship_to_id}"%>);
   getAddress($('#ship_to_ad'),$("#delivery_ship_to_id").val());
   $("#delivery_customer_id").change(function() {
      setupShippingAddress('Customer',$('#delivery_ship_to_id'),$('#ship_to_ad'),$(this).val());
    });
   $("#btn_edit_next").click(function() {
     next_action_to_form($("#frm_shp"));
     $("#frm_shp").submit();
   });
   $("#btn_edit_previous").click(function() {
     previous_action_to_form($("#frm_shp"));
     $("#frm_shp").submit();
   });
    $("#btn_save").click(function() {
      $("#frm_shp").submit();
    });
    $("#btn_cancel").click(function() {
      window.location = '<%=url_for @delivery%>';
    });
  OpenChain.addClickMap('s','Save','btn_save');
  OpenChain.addClickMap('c','Cancel','btn_cancel');
  OpenChain.addClickMap('n','Next','btn_edit_next');
  OpenChain.addClickMap('p','Previous','btn_edit_previous');
  OpenChain.activateHotKeys();
});
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%unless @delivery.id.nil?%>
  <button id='btn_edit_next'>Next</button>
  <button id='btn_edit_previous'>Previous</button>
<%end%>
<% end %>

<%= form_for(@delivery, :html => {:id=>'frm_shp'} ) do |f| %>
<div class='content_head'>
  <span class='content_head_label'><%=field_label :del_ref%>:</span>
  <b><%= f.text_field :reference %></b>
  <br />
  <span class='content_head_label'><%=field_label :del_cust_name%>:</span>
  <% if @delivery.delivery_lines.size > 0 %>
    <%= f.hidden_field :customer_id %><%= @delivery.customer.name %>
  <% elsif current_user.company.customer? 
      @delivery.customer = current_user.company %>
      <%= f.hidden_field :customer_id %><%= @delivery.customer.name %>
  <% else %>
    <%= f.collection_select :customer_id, Company.customers.not_locked, :id, :name, options ={:prompt => "-Select a customer"} %>
  <% end %>  
</div>
<table class='detail_table'>
  <thead><th><%=field_label :del_ship_from_name%></th><th><%=field_label :del_ship_to_name%></th></thead>
  <tbody><tr>
    <td style='width:50%'>
      <%= f.select(:ship_from_id, [['...Loading...','']])%> 
      <div id='ship_from_ad'></div>
    </td>
    <td style='width:50%' class='hover'>
      <%= f.select(:ship_to_id, [['...Loading...','']])%> 
      <div id='ship_to_ad'></div>
    </td>
  </tr>
  <tr><th colspan='2'>Attributes</th></tr>
  <tr>
    <td colspan='2'>
      <table>
        <% @delivery.carrier = current_user.company if current_user.company.carrier %>
        <%=field_row field_label(:del_car_name), (current_user.company.carrier ? f.hidden_field(:carrier_id)+@delivery.carrier.name : f.collection_select(:carrier_id, Company.carriers.not_locked, :id, :name, options ={:prompt => "-Select a carrier"}) ) %>
        <%=field_row field_label(:del_mode), f.select(:mode, options_for_select(Shipment.modes), options = {:prompt => "-Select a mode"}) %>
        <%=show_custom_fields @delivery, {:table=>true, :form => true}%>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<% end %>
