<% content_for :javascript do %>
$(function() {
   setupShippingAddress('Master Company',$('#delivery_ship_from_id'),$('#ship_from_ad'),<%=Company.find_by_master(true).id%><%=@delivery.ship_from_id.nil? ? '' : ",#{@delivery.ship_from_id}"%>);
   setupShippingAddress('Customer',$('#delivery_ship_to_id'),$('#ship_to_ad'),<%=@delivery.customer.nil? ? "'not set'".html_safe : @delivery.customer.id%><%=@delivery.ship_to_id.nil? ? '' : ",#{@delivery.ship_to_id}"%>);
   getAddress($('#ship_to_ad'),$("#delivery_ship_to_id").val());
   $("#delivery_customer_id").change(function() {
      setupShippingAddress('Customer',$('#delivery_ship_to_id'),$('#ship_to_ad'),$(this).val());
    });
    $("#btn_save").click(function() {
      $("#frm_shp").submit();
    });
    $("#btn_cancel").click(function() {
      window.location = '<%=url_for @delivery%>';
    });
  OpenChain.addClickMap('s','Save','btn_save');
  OpenChain.addClickMap('c','Cancel','btn_cancel');
  OpenChain.activateHotKeys();
});
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% end %>

<%= form_for(@delivery, :html => {:id=>'frm_shp'} ) do |f| %>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= show_model_fields f, :del_ref %>
        <% @delivery.customer = current_user.company if current_user.company.customer? && @delivery.delivery_lines.size == 0 %>
        <%= show_model_fields(f, :del_cust_name) do |mf, field_name, value, attributes|
            attributes[:id] = "sales_order_customer_id"
            field = ""
            if @delivery.delivery_lines.size > 0 || current_user.company.customer?
              field += model_hidden_field_tag(field_name, mf, value, attributes).html_safe
              field += format_for_output(mf, value).html_safe
            else
              attributes[:prompt] = "Select a customer"
              attributes[:select_options] = options_from_collection_for_select(Company.customers.not_locked, :id, :name, value)
              field = model_select_field_tag field_name, mf, value, attributes
            end
            field.html_safe
          end %>
      </div>
    </div>
  </div>
<table class='detail_table'>
  <thead>
    <%= model_field_labels [:del_ship_from_name, :del_ship_to_name], table:true, heading:true %>
  </thead>
  <tbody>
    <tr>
      <%= show_model_fields(f, :del_ship_from_id, table: true, editor_only: true) do |mf, field_name, value, attributes| 
          attributes[:select_options] = options_for_select(["...Loading..."], value)
          attributes[:id] = "delivery_ship_from_id"
          field = model_select_field_tag field_name, mf, value, attributes
          field + "<div id='ship_from_ad' style='text-align: left'></div>".html_safe
        end %>
      <%= show_model_fields(f, :del_ship_to_id, table: true, editor_only: true) do |mf, field_name, value, attributes| 
          attributes[:select_options] = options_for_select(["...Loading..."], value)
          attributes[:id] = "delivery_ship_to_id"
          field = model_select_field_tag field_name, mf, value, attributes
          field + "<div id='ship_to_ad' style='text-align: left'></div>".html_safe
        end %>
    </tr>
  <tr><th colspan='2'>Attributes</th></tr>
  <tr>
    <td colspan='2'>
      <table>
        <% @delivery.carrier = current_user.company if current_user.company.carrier %>
        <% if current_user.company.carrier %>
          <%= show_model_fields(f, :del_car_id, hidden: true, editor_only: true) %>
          <%= show_model_fields(@delivery, :del_car_name, table:true) %>
        <% else %>
          <%= show_model_fields(f, :del_car_id, del_car_id: {prompt: "Select a carrier", select_options: lambda {|value| options_from_collection_for_select(Company.carriers.not_locked, :id, :name, value)}}) %>
        <% end %>
        <%= show_model_fields(f, :del_mode, table: true, del_mode: {prompt: "Select a mode", select_options: lambda {|value| options_for_select(Shipment.modes, value)}}) %>
        <%=show_custom_fields f, table: true%>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<% end %>
