<% content_for :javascript do %>
  $(function() {
    $( "#btn_edit" )
      .button()
      .click(function() {
        window.location = '<%=edit_delivery_path(@delivery)%>';
      });
    $( "#item_change_subscription_submit").button();
    $("#mod_subscriptions").dialog({autoOpen:false,title:"Subscriptions",
      buttons:{"Subscribe":function() {$("#frm_sub").submit();}}});
    $("#btn_subscriptions")
      .button()
      .click(function() {
        $("#mod_subscriptions").dialog('open');
    });
    OpenChain.addClickMap('e','Edit','btn_edit');
    OpenChain.activateHotKeys();
  });
<% end %>

<% content_for :action_bar do %>
  <% if @delivery.can_edit?(current_user) %>
  <button id='btn_edit'>Edit</button>
  <%end%> 
  <button class='btn_link' link_to='<%=deliveries_path%>' key_map='b'>Back To Search</button>
  <%=render :partial => 'shared/show_next_prev', :locals => {:table_name => "deliveries"} %>
<% end %>

<div class='content_head'>
  <span style="font-size:90%"><%=field_label :del_ref%>:</span>
  <b><%= @delivery.reference %></b>
  <br />
  <span style="font-size:90%"><%=field_label :del_cust_name%>:</span>
  <b><%= @delivery.customer.name %></b>
  <br />&nbsp;
</div>
<table class='detail_table'>
  <thead><th><%=field_label :del_ship_to_name%></th><th><%=field_label :del_ship_from_name%></th></thead>
  <tbody><tr>
    <td style='width:50%' class='hover'>
      <%=  render :partial => 'addresses/display', :locals => { :ad => @delivery.ship_from, :address_id => 'ship_from_ad' } %>
    </td>
    <td style='width:50%' class='hover'>
      <%=  render :partial => 'addresses/display', :locals => { :ad => @delivery.ship_to, :address_id => 'ship_to_ad' } %>      
    </td>
  </tr></tbody>
</table>
<br />
<table class='detail_table' >
  <thead>
    <tr><th>Attributes</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <b><%=field_label :del_car_name%>:</b>
        <%= @delivery.carrier_id.nil? ? '' : @delivery.carrier.name %>
        <br />
        <b><%=field_label :del_mode%>:</b>
        <%=@delivery.mode %>
				
	<%=show_custom_fields @delivery%>
      </td>
    </tr>
    </tbody>
</table>


<table class='detail_table'>
  <thead>
    <tr><th><%=field_label :delln_line_number%></th>
    <th><%=field_label :prod_name%></th>
    <th><%=field_label :delln_delivery_qty%></th>
    <th><%=field_label :soln_line_number%></th>
    <th><a href='#' id='lnk_all_details'>All Details</a></th>
  </thead>
  <tbody>
    <%@delivery.delivery_lines.order("line_number ASC").each do |line|%>
    <tr class='hover shp_line'>
      <td><%=@delivery.can_edit?(current_user) && !@delivery.locked? ? (link_to line.line_number, edit_delivery_delivery_line_path(@delivery,line)) : line.line_number %></td>
      <td><%=link_to line.product.name.nil? ? line.product.unique_identifier : line.product.name, line.product%></td>
      <td><%=line.quantity%></td>
      <td>
        <%line.sales_order_lines.each do |so| %>
          <%=link_to so.sales_order.order_number, so.sales_order%> - <%=so.line_number%><br />
        <%end%>
      </td>
      <td>
        <%if has_custom_fields(line)%><a href='#' class='lnk_detail'>Details</a><%end%>
        <%if has_custom_fields(line) && @delivery.can_edit?(current_user)%>
        &nbsp;|&nbsp;
        <%end%>
        <%if @delivery.can_edit?(current_user)%>
          <%=link_to "Delete", delivery_delivery_line_path(@delivery,line), :confirm=>'Are you sure you want to delete this line?', :method=>:delte %>
        <%end%>
      </td>
    </tr>
    <tr class='shp_line_detail' style='display:none;'>
      <td colspan='5' style='padding-left:1em'>
      <%=show_custom_fields line%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%=render :partial => 'shared/pack_lines', :locals => {:parent=>@delivery, :line=>@line, :products=>@products, :is_sales_order=>true} %>
<%=render :partial => 'shared/comments', :locals => {:commentable => @delivery} %>
<%=render :partial => 'shared/attachments', :locals => {:attachable => @delivery} %>
<div id='mod_pick_order' style='display:none;'>
  <p id='add_ord_content'>
    Add Sale: <%= select_tag "sales_order_id", options_from_collection_for_select(SalesOrder.where("customer_id = ? ",@delivery.customer), "id", "order_number") %>
  </p>
  <div id='pick_order_loading' style='display:none;'><img src='/images/ajax-loader.gif' alt='Loading' /></div>
</div>
<div id='add_order_box'></div>
