<% number_of_attachments = @attachments_array.length %>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h3 align="center">Send attachments</h3>
    </div>
  </div>
  <form role="form">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="form-group">
          <label>Send to:</label>
          <textarea class='form-control' id="send_to_address" placeholder="Enter up to 10 comma-separated email addresses..." autofocus=true rows=4><%=current_user.email%></textarea>
        </div>

        <div class="form-group">
          <label>Subject:</label>
          <% if @attachable.class.to_s == "Entry" %>
            <input type="text" class="form-control" id="email_subject" placeholder="Enter subject..." value="Attachments for Entry <%=@attachable.entry_number%>">
          <% else %>
            <input type="text" class="form-control" id="email_subject" placeholder="Enter subject...">
          <% end %>
        </div>

        <div class="form-group">
          <label>Body:</label>
          <textarea class="form-control" rows="4" id="email_body" placeholder="Enter body..."></textarea>
        </div>
      </div>
    </div>

    <% if number_of_attachments > 0 %>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h4 align="center">Choose attachments</h4>
        </div>
      </div>

      <% if number_of_attachments > 1 %> <!-- Not necessary if you only have one item -->
        <div class="row">
          <div class="col-md-4 offset-md-4" align="center">
            <button type="button" class="btn btn-success" id="select_all_button" style="width: 110px; margin-right: 5px;">Select all</button>
            <button type="button" class="btn btn-danger" id="select_none_button" style="width: 110px; margin-left: 5px;">Select none</button>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="col-md-4 offset-md-4">                
      <% @attachments_array.each do |single_attachment| %>
        <div class="row">
          <div class="checkbox att-checkbox">
            <div class="col-md-8">
              <% if number_of_attachments == 1 %>
                <!-- If there's only one, it has to be attached, so attach it by default -->
                <input type="checkbox" value="" checked=true>
              <% else %>
                <input type="checkbox" value="">
              <% end %>
              <div style="word-wrap: break-word;"><%= single_attachment.attached_file_name %></div>
              <%unless single_attachment.attachment_type.blank?%>
                (<%=single_attachment.attachment_type%>)
              <%end%>
              <div style="display: none" class="attachment_id_container">
                <%= single_attachment.id %>
              </div>
            </div>
            <div class="col-md-4" data-file-size="<%=single_attachment.attached_file_size%>"><%=number_to_human_size(single_attachment.attached_file_size)%>
            </div>
          </div>                
        </div>
      <% end %>
    </div>
    
    <div class="row">
      <div class="col-md-5 offset-md-4"
        <br><br><p>Total Size of Selected Attachments (limit 10 MB):&nbsp;&nbsp;&nbsp;<span id="total-file-size"></span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 offset-md-4" align="center">
        <button type="button" class="btn btn-primary btn-lg" id="submit_attachment_email" style="margin-top: 20px; width: 150px;">Submit</button>
      </div>
    </div>

</div>

<% content_for :javascript do -%>

  $(function(){

    updateTotalSize();

    function bytesToSize(bytes) {
     var sizes = ['Bytes', 'KB', 'MB'];
     if (bytes == 0) return '0 Bytes';
     var i = parseInt(Math.log(bytes) / Math.log(1024));
     return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
    }; //based on http://stackoverflow.com/a/18650828

    function updateTotalSize() {
      var selectedAttachments = $('.att-checkbox').filter(function(i) { return $(this).find('input').is(':checked'); });
      var attachmentSizes = selectedAttachments.map(function() { return $(this).find("[data-file-size]").data().fileSize; });
      var total = jQuery.makeArray(attachmentSizes).reduce(function(acc, nxt) { return acc += nxt; }, 0);
      var totalTag = $('#total-file-size')
      
      totalTag.text(bytesToSize(total));
      if (total > 10485760){
        totalTag.css('color', 'red');
        $('#submit_attachment_email').prop('disabled', true);
      }
      else {
        totalTag.css('color', '');
        $('#submit_attachment_email').prop('disabled', false);
      }
    }

    $("input[type='checkbox']").on('change', function() { 
      updateTotalSize();
    });

    $("#select_all_button").click(function(){
      $('input[type=checkbox]').prop("checked",true);
      $('input[type=checkbox]').triggerHandler('change');
    });

    $("#select_none_button").click(function(){
      $('input[type=checkbox]').prop("checked",false);
      $('input[type=checkbox]').triggerHandler('change');
    });

    $("#submit_attachment_email").click(function(){
      if ($("input:checked").length == 0){
        alert("Please select at least one attachment to send.");
      }
      else {
        attachable_id = <%= @attachable.id %>
        controller_name = "<%= @attachable.class.to_s %>"
        to_address = $("#send_to_address").val();
        email_subject = $("#email_subject").val();
        email_body = $("#email_body").val();
        ids_to_include = []

        for (i = 0; i < $("input:checked").length; i++){
          ids_to_include.push(parseInt($($("input:checked")[i]).parent().find(".attachment_id_container").text().trim()));
        }

        Chain.sendEmailAttachments(controller_name, attachable_id, to_address, email_subject, email_body, ids_to_include)       
        .fail(function(data){
          if (data.responseJSON)
            alert(data.responseJSON.error);
          else 
          alert("We were unable to send your attachments.  Please try sending fewer attachments at once or try again after reloading the page.");
        })
        .done(function(data){
          if(confirm("Your email has been sent successfully.  Click OK to return to the previous page."))
          {
            history.go(-1);
          }
        });

      }
    });
  });
<% end -%>
