<% number_of_attachments = @attachments_array.length %>


<form role="form">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 align="center">Send attachments</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="send_to_address">Send to:</label>
        <textarea class='form-control' id="send_to_address" placeholder="Enter up to 10 comma-separated email addresses..." autofocus=true rows=4><%=current_user.email%></textarea>
      </div>

      <div class="form-group">
        <label for="email_subject">Subject:</label>
        <% if @attachable.class.to_s == "Entry" %>
          <input type="text" class="form-control" id="email_subject" placeholder="Enter subject..." value="Attachments for Entry <%=@attachable.entry_number%>">
        <% else %>
          <input type="text" class="form-control" id="email_subject" placeholder="Enter subject...">
        <% end %>
      </div>

      <div class="form-group">
        <label for="email_body">Body:</label>
        <textarea class="form-control" rows="4" id="email_body" placeholder="Enter body..."></textarea>
      </div>
    </div>

    <div class="col-md-8">
      <h4 align="center">Choose <%="Attachment".pluralize(number_of_attachments)%></h4>

      <% if number_of_attachments > 1 %> <!-- Not necessary if you only have one item -->
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <button type="button" class="btn btn-success" id="select_all_button">Select All</button>
              <button type="button" class="btn btn-danger" id="select_none_button">Select None</button>
            </div>
          </div>
        </div>
      <% end %>
      <div style="margin-top: 1em;"></div>
      <% @attachments_array.each do |single_attachment| %>
        <div class="row">
          <div class="offset-md-3 att-checkbox" data-attachment-id="<%=single_attachment.id%>" data-file-size="<%=single_attachment.attached_file_size%>">
            <!-- If there's only one, it has to be attached, so attach it by default -->
            <input type="checkbox" class="form-check-input" value="" <%=number_of_attachments == 1 ? "checked=true" : ""%>>
            <label class="form-check-label" for="checkbox-<%=single_attachment.id%>">
              <%= single_attachment.attached_file_name %> 
              <%= single_attachment.attachment_type.blank? ? "" : "(#{single_attachment.attachment_type})" %>
              <%= number_to_human_size(single_attachment.attached_file_size) %>
            </label>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
         <div class="text-center" style="margin-top: 2em;">Total Size of Selected Attachments (limit 10 MB):&nbsp;&nbsp;&nbsp;<span id="total-file-size"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4" align="center">
      <button type="button" class="btn btn-primary btn-lg" id="submit_attachment_email" style="margin-top: 20px; width: 150px;">Submit</button>
    </div>
  </div>
</div>
</form>

<% content_for :javascript do -%>

  $(function(){

    updateTotalSize();

    function bytesToSize(bytes) {
     var sizes = ['Bytes', 'KB', 'MB'];
     if (bytes == 0) return '0 Bytes';
     var i = parseInt(Math.log(bytes) / Math.log(1024));
     return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
    }; //based on http://stackoverflow.com/a/18650828

    function updateTotalSize() {
      var selectedAttachments = $('.att-checkbox').filter(function(i) { return $(this).find('input').is(':checked'); });
      var attachmentSizes = selectedAttachments.map(function() { return $(this).data().fileSize; });
      var total = jQuery.makeArray(attachmentSizes).reduce(function(acc, nxt) { return acc += nxt; }, 0);
      var totalTag = $('#total-file-size')
      
      totalTag.text(bytesToSize(total));
      if (total > 10485760){
        totalTag.css('color', 'red');
        $('#submit_attachment_email').prop('disabled', true);
      }
      else {
        totalTag.css('color', '');
        $('#submit_attachment_email').prop('disabled', false);
      }
    }

    $("input[type='checkbox']").on('change', function() { 
      updateTotalSize();
    });

    $("#select_all_button").click(function(){
      $('input[type=checkbox]').prop("checked",true);
      $('input[type=checkbox]').triggerHandler('change');
    });

    $("#select_none_button").click(function(){
      $('input[type=checkbox]').prop("checked",false);
      $('input[type=checkbox]').triggerHandler('change');
    });

    $("#submit_attachment_email").click(function(){
      if ($("input:checked").length == 0){
        alert("Please select at least one attachment to send.");
      }
      else {
        attachable_id = <%= @attachable.id %>
        controller_name = "<%= @attachable.class.to_s %>"
        to_address = $("#send_to_address").val();
        email_subject = $("#email_subject").val();
        email_body = $("#email_body").val();
        var selectedAttachments = $('.att-checkbox').filter(function(i) { return $(this).find('input').is(':checked'); });
        var attachmentIds = selectedAttachments.map(function() { return $(this).data().attachmentId; })
        ids_to_include = jQuery.makeArray(attachmentIds)

        Chain.sendEmailAttachments(controller_name, attachable_id, to_address, email_subject, email_body, ids_to_include)       
        .fail(function(data){
          if (data.responseJSON)
            alert(data.responseJSON.error);
          else 
          alert("We were unable to send your attachments.  Please try sending fewer attachments at once or try again after reloading the page.");
        })
        .done(function(data){
          if(confirm("Your email has been sent successfully.  Click OK to return to the previous page."))
          {
            history.go(-1);
          }
        });

      }
    });
  });
<% end -%>
