<% content_for :javascript do %>
  $(function() {
    $("#btn_save").click(function() {$("#frm_mailing_list").submit();});
  });
<% end %>

<% content_for :action_bar do %>
  <button class='btn_link' link_to='<%=company_mailing_lists_path(@company)%>'>Back</button>
  <button id="btn_save">Save</button>
<% end %>

<%= form_for([@company, @mailing_list], html: {id: 'frm_mailing_list'}) do |f| %>
  <% if @mailing_list.new_record? %>
    <%= f.hidden_field :company_id, value: params[:company_id] %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <% if current_user.sys_admin? %>
    <div class="form-group">
      <label for="system_code">System Code</label>
      <%= f.text_field :system_code, class: 'form-control', placeholder: 'System Code', id:"system_code" %>
    </div>
  <% end %>
  <div class="form-group">
    <label for="name">Email Distribution List Name</label>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Email Distribution List Name', id: "name" %>
  </div>
  <% if current_user.sys_admin? %>
  <div class="form-check form-check-inline">
    <p>
      <label for="hidden" class="form-check-label">Only visible to System Administrators?</label>
      <%= f.check_box :hidden, class: 'form-check-input', title: "If checked, this group will not show in any mailing list select boxes for standard users.", id: "hidden", style: "margin-left: 5px;"%>
    </p>
  </div>
  <% end %>
  <div class="form-group">
    <label for="email_addresses">Email Addresses (Use commas between each email address)</label>
    <%= f.text_area :email_addresses, class: 'form-control', placeholder: 'Email Addresses', id: "email_addresses", rows: 20 %>
  </div>
<% end %>
