<% content_for :javascript do %>
  $(function() {
    $( "#btn_delete_selected" ).hide();
    $( "#btn_new" )
      .click(function() {
      window.location = '<%=new_company_mailing_list_path(@company)%>';
    });
    $( "#btn_delete_selected" ).click(
      function() {
        if (confirm("Are you sure you want to delete the selected Distribution Lists?") == true) {
          $('form').submit();
        }
      });

    if ($('input:checkbox').length > 0) {
      $('input:checkbox').change(
        function() {
          if ($('input:checkbox:checked').length === 0) {
            $( "#btn_delete_selected" ).hide();
          } else {
            $( "#btn_delete_selected" ).show();
          }
        });
    }
  });
<% end %>
<% content_for :action_bar do -%>
  <button id='btn_new'>New</button>
  <button id='btn_delete_selected'>Delete</button>
<% end %>

<h1><%=@company.name%> Distribution Lists</h1>
<%=form_tag bulk_delete_company_mailing_lists_path(@company), id: "mailing_lists_form", method: :delete do %>
  <table class='detail_table'>
    <thead>
    <tr>
      <th></th>
      <th>Distribution List Name</th>
      <th>Created By</th>
      <th>Creation Date</th>
      <th>Has Non-Maersk Navigator User Emails?</th>
    <% if current_user.sys_admin? %>
      <th>Sys Admin Only?</th>
    <% end %>
    </tr>
    </thead>
    <tbody>
      <% @mailing_lists.each do |list| %>
      <tr>
        <td><%= check_box_tag("delete[#{list.id}]", 1) %></td>
        <td><%= link_to list.name, edit_company_mailing_list_path(@company, list.id) %></td>
        <td><%= list.user.full_name %></td>
        <td><%= list.created_at %></td>
        <td>
          <% if list.non_vfi_addresses? %>
            <i title="Some users included in this distribution list do not have Maersk Navigator User accounts." class="fa fa-exclamation-triangle text-warning"></i>
          <% end %>
        </td>
        <% if current_user.sys_admin? %>
        <td>
          <% if list.hidden? %>
          <i title="Only visible to system administrators." class="fa fa-exclamation-triangle text-warning"></i>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
