<%content_for :action_bar do %>
  <button class="form_to" form_id="frm_et" key_map='s'>Save</button>
  <button class='btn_link' link_to='<%=entity_types_path%>' key_map='b'>Back To Search</button>
<%end%>
<%=form_for @entity_type, :html=>{:id=>'frm_et'} do |f| %>
  <%=f.hidden_field :module_type %>
  <table>
    <%=field_row "Module", CoreModule.find_by_class_name(@entity_type.module_type).label%>
    <%=field_row "Name", f.text_field(:name) %>
  </table>
  <h2>Fields</h2>
  <ul style='list-style-type:none'>
    <%@all_fields.each do |mf| %>
      <li><%=check_box_tag "entity_type_fields[#{mf.uid}]", true, @active_uids.include?(mf.uid)%> <%=mf.label%></li>
    <%end%>
  </ul>
<%end%>
