<h2><%= link_to 'Companies', companies_path%></h2>
<p>Setup your company description or your vendors and carriers.</p>
<h2><%= link_to 'Countries', countries_path%></h2>
<p>Set options for various countries.</p>
<h2><%= link_to 'Worksheet Setups', worksheet_configs_path %></h2>
<p>Setup the file formats for the Import Worksheet buttons.  These are used to upload a single Excel sheet that fills in one record's data.  
These are often files like a &quot;Quote Sheet&quot; or a &quot;Purchase Order&quot;.</p> 
<h2><%= link_to 'Custom Fields', custom_definitions_path %></h2>
<p>Add custom fields to the system.</p>
<h2><%= link_to 'Attachment Types', attachment_types_path%></h2>
<p>Setup the items that show in the attachment type drop down lists.</p>
<h2><%= link_to 'Status Rules', status_rules_path %></h2>
<p>Setup the rules that determine what status a particular item has.</p>
<%if current_user.sys_admin? %>
<h2><%= link_to 'Master Setup', master_setups_path %></h2>
<p>The master system settings (for system administrators who know what they're doing!)
<%end%>
