<table>
<%if !MasterSetup.get.custom_features_list.blank?%>
  <%=field_row link_to("Custom Features", '/custom_features'), "Custom features enabled for your company."%>
<%end%>
<%if !current_user.instant_classification_results.blank?%>
  <%=field_row link_to("Instant Classification Results", instant_classification_results_path), "View the results of the instant classifications you've run."%>
<%end%>
<%=field_row link_to("Messages", messages_path),"Messages that the system has generated for you."%>
<%=field_row link_to("New Report", reports_path), "Run a new report."%>
<%=field_row link_to("Previous Reports", report_results_path), "Access reports you've run in the last week."%>
<% if current_user.admin? %>
  <%=field_row link_to('Settings', settings_path), "Work with administrative system settings." %>
<%end%>
<% if current_user.edit_surveys? || current_user.view_surveys? %>
  <%=field_row link_to('Surveys', surveys_path), "Work with surveys." %>
<% end %>
<%=field_row link_to("Tariff Database", official_tariffs_path), "Search the tariffs for your subscribed countries."%>
<%if !current_user.imported_files.blank?%>
  <%=field_row link_to("Uploads", imported_files_path), "Work with the files that you have previously uploaded." %>
<%end%>
</table>
