<table>
<%if !MasterSetup.get.custom_features_list.blank?%>
  <%=field_row link_to("Custom Features", '/custom_features'), "Custom features enabled for your company."%>
<%end%>
<%if !current_user.instant_classification_results.blank?%>
  <%=field_row link_to("Instant Classification Results", instant_classification_results_path), "View the results of the instant classifications you've run."%>
<%end%>
<%=field_row link_to("Messages", messages_path),"Messages that the system has generated for you."%>
<% if current_user.admin? %>
  <%=field_row link_to('Settings', settings_path), "Work with administrative system settings." %>
<%end%>
<%=field_row link_to("Tariff Database", official_tariffs_path), "Search the tariffs for your subscribed countries."%>
</table>
