<h1>Instant Classification Result</h1>
<table>
<%=field_row "Run At", @icr.run_at%>
<%=field_row "Run By", @icr.run_by.full_name%>
<%=field_row "Products Checked", @icr.instant_classification_result_records.count%>
<%=field_row "Products Updated", @icr.instant_classification_result_records.where_changed.count%>
</table>
<h2>Products</h2>
<table class='detail_table'>
  <thead><tr><th>&nbsp;</th><th><%=field_label(:prod_uid)%></th><th>Changed</th><tr></thead>
  <tbody>
    <% @paged_results.each do |rec| %>
    <tr class='hover'>
      <td><%=link_to "View", rec.product%><%if rec.changed_product?%> | <%=link_to "Changes", "#", {:class=>'entity_snapshot_popup', :entity_snapshot_id=>rec.entity_snapshot_id}%><%end%></td>
      <td><%=ModelField.find_by_uid(:prod_uid).process_export rec.product, current_user%></td>
      <td><%= rec.changed_product? ? "Yes" : "No" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%=will_paginate @paged_results%>
