<% content_for :javascript do %>
  $(function() {
    setupShippingAddress('Master Company',$('#order_ship_to_id'),$('#ship_to_ad'),<%=Company.find_by_master(true).id%><%=@order.ship_to_id.nil? ? '' : ",#{@order.ship_to_id}"%>);
    $("#btn_save").click(function() {
      $("#frm_ord").submit();
    });
    $("#btn_cancel").click(function() {
      window.location = '<%=url_for @order%>';
    });
    OpenChain.addClickMap('s','Save','btn_save');
    OpenChain.addClickMap('c','Cancel','btn_cancel');
    <% unless @order.id.nil? %>
    OpenChain.addClickMap('n','Next','btn_edit_next');
    OpenChain.addClickMap('p','Previous','btn_edit_previous');
    <% end %>
    OpenChain.activateHotKeys();
  });
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% end %>

<%= form_for @order, :html=>{:id=>'frm_ord'} do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= show_model_fields(f, :ord_imp_name) do |mf, field_name, value, attributes| 
            # If an importer is already set, the field should be read only
            field = nil
            if @order.importer
              field = field_value(@order, :ord_imp_name) 
            else
              attributes[:select_options] = options_from_collection_for_select(current_user.available_importers.select("companies.id, companies.name").order(:name), :name, :name, value)
              attributes[:prompt] = "Select an importer"
              attributes[:class] = "focus_first"

              field = model_select_field_tag field_name, mf, value, attributes
            end
            field
        end %>
      <%= show_model_fields f, [:ord_ord_num, :ord_cust_ord_no] %>
      <%= show_model_fields f, :ord_approval_status, ord_approval_status: {include_blank: '', select_options: lambda {|v| options_for_select(['Accepted', 'Rejected'], v)}} %>
      <%= show_model_fields f, :ord_ven_name, ord_ven_name: {prompt: "Select a vendor", select_options: lambda {|v| options_from_collection_for_select( (@order.importer ? @order.importer.linked_companies.vendors : []), :name, :name, v)}} %>
      <%= show_model_fields f, :ord_agent_name, ord_agent_name: {prompt: "Select an agent", select_options: lambda {|v| options_from_collection_for_select( @order.available_agents, :name, :name, v)}} %>
      <%= show_model_fields f, :ord_div_name, ord_div_name: {prompt: "Select a division", select_options: lambda {|v| options_from_collection_for_select( (@order.importer ? @order.importer.divisions.order(:name) : []), :name, :name, v)}} %>
      <%= show_model_fields f, :ord_fob_point %>
    </div>
    <div class="col-md-6">
      <%= show_model_fields f, [:ord_ord_date, :ord_revised_date, :ord_window_start, :ord_window_end, :ord_first_exp_del] %>
      <%= show_model_fields(f, :ord_ship_to_id) do |mf, field_name, value, attributes| 
            attributes[:select_options] = options_for_select(["...Loading..."], value)
            attributes[:id] = "order_ship_to_id"
            field = model_select_field_tag field_name, mf, value, attributes
            field + "<div id='ship_to_ad'></div>".html_safe
          end %>
      <hr />
    	<%= show_custom_fields f %>
    </div>
  </div>
</div>
<% end %>
