<% content_for :javascript do %>
  $(function() {
    setupShippingAddress('Master Company',$('#order_ship_to_id'),$('#ship_to_ad'),<%=Company.find_master.id%><%=@order.ship_to_id.nil? ? '' : ",#{@order.ship_to_id}"%>);
    $("#btn_save").click(function() {
      $("#frm_ord").submit();
    });
    $("#btn_edit_next").click(function() {
      next_action_to_form($("#frm_ord"));
      $("#frm_ord").submit();
    });
    $("#btn_edit_previous").click(function() {
      previous_action_to_form($("#frm_ord"));
      $("#frm_ord").submit();
    });
    $("#btn_cancel").button().click(function() {
      window.location = '<%=url_for @order%>';
    });
  });
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% unless @order.id.nil? %>
  <button id='btn_edit_next'>Next</button>
  <button id='btn_edit_previous'>Previous</button>
<% end %>
<% end %>

<%= form_for @order, :html=>{:id=>'frm_ord'} do |f| %>

  <table>
    <%=field_row field_label(:ord_ord_num), f.text_field(:order_number, "class" => "focus_first") %>
    <%=field_row field_label(:ord_ven_name), f.collection_select(:vendor_id, @vendors, :id, :name, options ={:prompt => "Select a vendor"}) %>
    <%=field_row field_label(:ord_ship_to_name), f.select(:ship_to_id, [['...Loading...','']])+"<div id='ship_to_ad'></div>".html_safe %>
    <%=field_row field_label(:ord_ord_date), f.text_field(:order_date, "class" => "isdate") %>
    <%=field_row field_label(:ord_div_name), f.collection_select(:division_id, @divisions, :id, :name, options ={:prompt => "Select a division"})%>    
  	<%=show_custom_fields @order, {:form => true, :table=>true}%>
  </table>
<% end %>
