<%= render :partial => 'shared/search_box' %>
<table class="detail_table">
  <thead>
    <th><%=sortable_search_heading 'o_num'%></th>
		<th><%=sortable_search_heading 'v_name'%></th>
    <th><%=sortable_search_heading 'o_date'%></th>
    <th>Product</th>
    <th>Ordered Qty</th>
    <th>Shipped Qty</th>
  </thead>

<% @orders.each do |order| %>
  <tr class='hover'>
    <td><%= link_to order.order_number, order %></td>
		<td><%= order.vendor.name %></td>
    <td><%= order.order_date %></td>
    <td>
      <% order.unique_products.each do |p|%>
        <%=p.name%><br />
      <% end %>
    </td>
    <td>
      <% order.unique_products.each do |p|%>
        <%=p.instance_variable_get(:@ordered_qty)%><br />
      <% end %>
    </td>
    <td>
      <% order.unique_products.each do |p|%>
        <%=p.instance_variable_get(:@shipped_qty)%><br />
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @orders %>  
<br />
<% if current_user.edit_orders? %>
<%= render :partial => 'shared/mod_import', :locals => { :model_type => "order" }%>
<% end %>
<%= render :partial => 'shared/mod_export', :locals => { :model_type => "order" }%>
