<% content_for :javascript do %>
  $(function() {
    <% if current_user.company.master %>
    $( "#btn_edit" )
      .click(function() {
        window.location = '<%=edit_order_path(@order)%>';
      });
      OpenChain.addClickMap('e','Edit','btn_edit');
    <% end %>
    <% if @order.related_shipments.length == 0  && current_user.company.master %>
    OpenChain.addClickMap('d','Delete','btn_delete');
    <% end %>
    $("#mod_edit_line").dialog({autoOpen:false,title:'Edit Line',
      width:'auto',
      buttons:{"Save":function() {$("#frm_edit_line").submit();},
               "Cancel":function() {window.location = '<%=order_path(@order)%>';}}  
    });
    $("#btn_add_line").click(function() {
      $("#mod_edit_line").dialog('open');
    });
    <% if @line.nil? && @order.can_edit?(current_user)%>
      OpenChain.addClickMap('a','Add Product','btn_add_line');
    <% end %>
    $("#mod_subscriptions").dialog({autoOpen:false,title:'Subscriptions',
        buttons:{"Subscribe":function() {$("#frm_sub").submit();}}
      });
    $("#btn_subscriptions")
      .click(function() {
        $("#mod_subscriptions").dialog('open');
      });
    $("#btn_line_cancel").click(function() {
      window.location = '<%=order_path(@order)%>';
    });
    <% if @order.can_edit?(current_user) && !@line.nil? %>
      $("#mod_edit_line").dialog('open');
    <% end %>
    $("#btn_delete_shell").click(function() {
      $("#btn_delete").click();
    });
  });
<% end %>

<% content_for :action_bar do %>
  <% if current_user.company.master && !@order.locked? %>
  <button id='btn_edit'>Edit</button>
  <% end %>
  <% if @order.related_shipments.length == 0 && current_user.company.master && !@order.locked? -%>
    <button class='btn' id='btn_delete_shell'>Delete</button>
  <% end -%>
  <button class='btn_link' link_to='<%=orders_path%>' key_map='b'>Back To Search</button>
  <% if @line.nil? && @order.can_edit?(current_user)%>
    <button id='btn_add_line'>Add Product</button>
  <% end %>
  <button class='btn_link' link_to='<%=history_order_path(@order)%>' key_map='h'>History</button>
  <button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:order_id => @order.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>
<% end %>

<%=render :partial => 'shared/attachments', :locals => {:attachable => @order} %>
<div class='next_to_attachments'>
<!-- fields -->
<table class='detail_table'>
  <tbody><tr><td>
  <table>
  <%=field_row field_label(:ord_ord_num), @order.order_number  %>
  <%=field_row field_label(:ord_cust_ord_no), @order.customer_order_number  %>
  <%=field_row field_label(:ord_ship_to_name), render(:partial=>'addresses/display',:locals=>{ :ad => @order.ship_to, :address_id => 'ship_to_ad' } ) %>
  <%=field_row field_label(:ord_ord_date), @order.order_date %>
  <%=field_row field_label(:ord_div_name), (@order.division.blank? ? "" : @order.division.name) %>
  <%=field_row field_label(:ord_ven_name), (@order.vendor.blank? ? "" : @order.vendor.name) %>
  <%=field_row field_label(:ord_imp_name), (@order.importer.blank? ? "" : @order.importer.name) %>
  <%=show_custom_fields @order, {:table=>true}%>
  </table>
  </td></tr>
  </tbody>
</table>
</div>
<br />
<table class="detail_table">
	<thead>
	  <th><%=field_label :ordln_line_number, false%></th>
		<th><%=field_label :prod_name, false%></th>
		<th><%=field_label :ordln_ordered_qty, false%></th>
		<th>Shipped</th>
		<th>Received</th>
		<th><%=field_label :prod_uom, false%></th>
		<th><%=field_label :ordln_ppu, false%></th>
		<th>Total Price</th>
		<th></th>
	</thead>
	
		<% @order.order_lines.each do |line| %>
    <% line_state = line.worst_milestone_state %>
	<tr class='hover ord_det_row'>
	  <td class='<%=line_state.nil? || line_state=="Planned" ? "" : "ms_#{line_state.downcase}"%>'><%= @order.can_edit?(current_user) && !@order.locked? ? (link_to line.line_number, edit_order_order_line_path(@order,line)) : line.line_number %></td>
    <td><b><%=link_to(line.product.name, product_path(line.product))%></b></td>
  	<td><%= line.quantity %></td>
  	<td><%=line.shipped_qty%></td>
  	<td><%=line.received_qty%></td>
    <td><%= line.product.unit_of_measure %></td>
  	<td><%= line.price_per_unit %></td>
  	<td><%= line.price_per_unit.nil? || line.quantity.nil? ? '' : line.price_per_unit * line.quantity %></td>
  	<td>
  	  <% if @order.can_edit?(current_user) && !@order.locked?%>
  		  <%= link_to 'Delete', order_order_line_path(@order,line) , :confirm => 'Are you sure?', :method => :delete %>
  		  <% if line.custom_definitions.length > 0 || !MilestoneForecastSet.joins(:piece_set).where("piece_sets.order_line_id=?",line.id).blank?%>
  		  &nbsp;|&nbsp;
  		  <a id='lnk_det_s_<%=line.id%>' href="javascript:OpenChain.showOrderLineDetail(<%=line.id%>,<%=current_user.admin? ? 'true' : 'false' %>);$('#lnk_det_h_<%=line.id%>').show();$('#lnk_det_s_<%=line.id%>').hide();false;">Detail</a>
  		  <a id='lnk_det_h_<%=line.id%>' style='display:none;' href="javascript:$('#det_<%=line.id%>').fadeOut('slow');$('#lnk_det_s_<%=line.id%>').show();$('#lnk_det_h_<%=line.id%>').hide();false;">Detail</a>
  		  <% end %>
  		<% end %> 
  	</td>
	</tr>
	<tr style='display:none;' id='det_<%=line.id%>'>
	  <td></td>
      <td colspan='8' >
        <%= show_custom_fields line %><br />
        <div class='milestones_cont' id='ord_ms_<%=line.id%>'></div>
      </td>
	</tr>
<%end %> 
</table>
<%=render :partial => 'shared/comments', :locals => {:commentable => @order} %>
<% form_line = @line.nil? ? @order.order_lines.build : @line %>
<div id='mod_edit_line' style='display:none;'>
  <%= form_for([@order, form_line], :html=>{:id=>'frm_edit_line'}) do |f| %>
  <table>
    <% form_line.default_line_number%>
    <%=field_row field_label(:ordln_line_number,false), f.text_field(:line_number, "size" => 2) %>
    <%=field_row field_label(:prod_name), form_line.new_record? ? f.collection_select(:product_id, @products, :id, :name, {:prompt => "-Select a product"}, {:id=>"edit_line_product"}) : form_line.product.name%>
    <%=field_row field_label(:ordln_ordered_qty, false), f.text_field(:quantity, "size" => 5) %>
    <%=field_row field_label(:prod_uom, false), content_tag(:span,(form_line.product.nil? ? '' : form_line.product.unit_of_measure),{:id=>"edit_line_uom"})%>
    <%=field_row field_label(:ordln_ppu, false), f.text_field(:price_per_unit, "size" => 5) %>
    <%if !form_line.id && !MilestonePlan.blank? %>
      <%=field_row "Plan", select_tag("milestone_plan_id",options_from_collection_for_select(MilestonePlan.all,:id,:name,!form_line.piece_sets.first ? nil : form_line.piece_sets.first.milestone_plan_id),{:prompt=>"-Select a plan"})%>
    <%end%>
    <%= show_custom_fields form_line, {:form => true, :table=>true}%>
  </table>
  <% end %>
</div>

<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:order_id => @order.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @order.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html => {:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :order_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>
<div style='display:none;'>
  <!--hidden and linked through delete on button bar-->
  <%= button_to('Delete', order_path(@order),:method => :delete, :confirm => "Are you sure?", :id => "btn_delete") %>
</div>
<%=secure_link @order, current_user%>
