<%-content_for :javascript do -%>
$(function() {
  <%- cmsg = @cap.can_edit?(current_user) ? 'caped' : 'capvw'-%>
  <%-if cmsg=='caped' && !current_user.hide_message?('caped')-%>
  $('document').ready(function() { $('#tour-prompt').modal(); });
  $('#show-tour').click(function() {
    $('#tour-prompt').modal('hide');
    bootstro.start('',{items:[
      {selector:'#plan-title',placement:'bottom',content:"The corrective action plan is where you'll instruct the survey recipient on things they need to do to improve on the answers they gave in the survey."},
      {selector:'#status-display',placement:'right',content:"The plan has 3 statuses:<br /><ul><li><strong>New</strong>: <%=CorrectiveActionPlan::STATUS_DEFINITIONS[:new]%></li><li><strong>Active</strong>: <%=CorrectiveActionPlan::STATUS_DEFINITIONS[:active]%></li><li><strong>Resolved</strong>: <%=CorrectiveActionPlan::STATUS_DEFINITIONS[:resolved]%></li></ul>"},
      {selector:'#comments-title',placement:'top',content:"Everyone can add comments here."},
      {selector:'legend.issue-legend:first',placement:'top',content:"You add a <em>Description</em> and <em>Suggested Action</em> for each issue. The recipient adds an <em>Action Taken</em>."},
      {selector:'#add-issue',placement:'top',content:"Click here to add more issues."},
      <%-if @cap.status!=@cap.class::STATUSES[:active]-%>
      {selector:'#btn-activate',placement:'top',content:"Click here to activate the plan so the recipient can see it."},
      <%-end-%>
      {selector:'#btn-save',placement:'top',content:"Don't forget to save your changes."}
    ]});
  });
  <%-elsif cmsg=='capvw' && !current_user.hide_message?('capvw')-%>
  $('document').ready(function() { $('#tour-prompt').modal(); });
  $('#show-tour').click(function() {
    $('#tour-prompt').modal('hide');
    bootstro.start('',{items:[
      {selector:'#plan-title',placement:'bottom',content:"The corrective action plan is where you'll provide feedback on changes that need to be made based on your survey response."},
      {selector:'#status-display',placement:'right',content:"The plan has 2 statuses:<br /><ul><li><strong>Active</strong>: <%=CorrectiveActionPlan::STATUS_DEFINITIONS[:active]%></li><li><strong>Resolved</strong>: <%=CorrectiveActionPlan::STATUS_DEFINITIONS[:resolved]%></li></ul>"},
      {selector:'#comments-title',placement:'top',content:"Everyone can add comments here."},
      {selector:'legend.issue-legend:first',placement:'top',content:"The survey manager adds a <em>Description</em> and <em>Suggested Action</em> for each issue. You add the <em>Action Taken</em>."},
      {selector:'#btn-save',placement:'top',content:"Don't forget to save your changes."}
    ]});
  });
  <%-end-%>
  $('#never-show').click(function() {
    $('#tour-prompt').modal('hide');
    Chain.hideMessage('<%=cmsg%>');
  });

});
<%-end-%>
<%-content_for :action_bar do -%>
  <button class='btn btn_link' link_to='<%=url_for survey_response_path(@cap.survey_response)%>'>Back</button>
  <%-if @cap.status!=@cap.class::STATUSES[:active] && @cap.can_edit?(current_user) -%>
  <%=button_to 'Activate', activate_survey_response_corrective_action_plan_path(@cap.survey_response,@cap), :method=>:put, :form_class=>"inline-button-to", :class=>'btn btn-default', :id=>'btn-activate'%>
  <%-end-%>
  <%-if @cap.can_delete?(current_user)-%>
    <%=button_to 'Delete', survey_response_corrective_action_plan_path(@cap.survey_response,@cap), :method=>:delete, :form_class=>'inline-button-to', :class=>'btn btn-default'%>
  <%-end-%>
  <%-if @cap.status==@cap.class::STATUSES[:active] && @cap.can_edit?(current_user)-%>
    <%=button_to 'Resolve', resolve_survey_response_corrective_action_plan_path(@cap.survey_response,@cap), :method=>:put, :form_class=>"inline-button-to", :class=>'btn btn-default'%>
  <%-end-%>
<%-end-%>
<style>
  #ca-form label {
    font-weight: bold;
  }
  #ca-form textarea {
    width: 95%;
  }
  #ca-form fieldset {
    padding-bottom: 20px;
  }
  div.comment-container {
    padding-bottom: 20px;
  }
  div.comment-container pre {
    width: 100%;
  }
</style>
<div class='container' ng-app='CorrectiveActionPlanApp' ng-init='survey_response_id = <%=@cap.survey_response_id%>; corrective_action_plan_id= <%=@cap.id%>; autoload=true'>
  <div ng-controller='CorrectiveActionPlanController'>
    <div class='row'>
      <div class='col-md-12' style='padding-bottom:2em;'>
        <h1 id='plan-title'>Corrective Action Plan</h1>
      </div>
    </div>
    <!-- HEADER -->
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-4'>
            <strong>Survey:</strong>
          </div>
          <div class='col-md-8'>
            <%=link_to @cap.survey_response.survey.name, @cap.survey_response%>
          </div>
        </div>
        <div class='row' id='status-display'>
          <div class='col-md-4'>
            <strong>Status:</strong>
          </div>
          <div class='col-md-8'>
            <%=@cap.status%>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-4'>
            <strong>Assigned To:</strong>
          </div>
          <div class='col-md-8'>
            <%=@cap.survey_response.user.full_name%>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <strong>Created At:</strong>
          </div>
          <div class='col-md-8'>
            <%=l @cap.created_at.to_date%>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <strong>Created By:</strong>
          </div>
          <div class='col-md-8'>
            <%=@cap.created_by.full_name%>
          </div>
        </div>
      </div>
    </div>
    <!-- END HEADER -->
    <div class='row text-center' ng-show='settings.viewMode=="loading"'>
      <div class='col-md-12'>
        <div class="loader">loading</div>
      </div>
    </div>
    <div class='row text-center' ng-show='settings.viewMode=="saving"'>
      <div class='col-md-12'>
        <div class="loader">loading</div>
        Saving your update...
      </div>
    </div>
    <div class='row text-center' ng-show='settings.viewMode=="error"'>
      <div class='col-md-12'>
        There was an error processing your request. Please reload the page.
      </div>
    </div>
    <form id='ca-form' ng-show='settings.viewMode=="edit"'>
      <!-- COMMENTS -->
      <div class='row'>
        <div class='col-md-12'>
          <legend id='comments-title' class='text-info'>Comments</legend>
        </div>
      </div>
      <div class='row comment-container' ng-repeat='comm in cap.comments'>
        <div class='col-md-12 muted'>
          <strong>{{comm.user.full_name}}</strong> wrote:
        </div>
        <div class='col-md-12' ng-bind-html='comm.html_body'>
        </div>
      </div>
      <%-unless @cap.status==@cap.class::STATUSES[:resolved]-%>
        <div class='row'>
          <div class='col-md-12'>
            <label for='new_comment'>New Comment:</label>
            <textarea id='new_comment' ng-model='comment' rows='5' class='form-control'></textarea>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <button ng-show='comment.length>0' ng-click='addComment()' class='btn btn-success btn-small'>Add Comment</button>
          </div>
        </div>
      <%-end-%>
      <!-- END COMMENTS -->
      <!-- ISSUES -->
      <div class='row' ng-repeat='ci in cap.corrective_issues'>
        <div class='col-md-12'>
          <fieldset>
            <legend class='text-info issue-legend'>
              Issue
              <span ng-show='resp.saving' class='label label-info'>Saving...</span>
            </legend>
            <div class='row'>
              <div class='col-md-12'>
                <button ng-show='cap.status=="New"' ng-click='remove(ci)' class='pull-right btn btn-small btn-danger'>Remove Issue</button>
              </div>
            </div>
            <label for='issue-text-{{ci.id}}'>Description</label>
            <div ng-hide='settings.canEdit' ng-bind-html='ci.html_description'></div>
            <textarea rows='6' ng-blur='saveIssue(ci)' ng-show='settings.canEdit' id='issue-text-{{ci.id}}' ng-model='ci.description'></textarea>
            <label for='suggest-{{ci.id}}'>Suggested Action</label>
            <div ng-hide='settings.canEdit' ng-bind-html='ci.html_suggested_action'></div>
            <textarea rows='6' ng-blur='saveIssue(ci)' ng-show='settings.canEdit' id='suggest-{{ci.id}}' ng-model='ci.suggested_action'></textarea>
            <label for='action-{{ci.id}}'>Action Taken</label>
            <div ng-hide='settings.canUpdateActions' ng-bind-html='ci.html_action_taken'></div>
            <div ng-show='!settings.canUpdateActions && ci.html_action_taken.length==0'><em>Survey recipient has not added information yet.</em></div>
            <textarea rows='6' ng-blur='saveIssue(ci)' ng-show='settings.canUpdateActions' id='action-{{ci.id}}' ng-model='ci.action_taken'></textarea>
            <div class="row">
              <div class="col-md-4">
                <div class="checkbox">
                  <label>
                    <% if @cap.can_edit?(current_user) %>
                      <input type="checkbox" name="resolved" ng-model="ci.resolved" ng-change="updateResolutionStatus(ci)">
                    <% else %>
                      <span ng-switch on="ci.resolved">
                        <input ng-switch-when="true" type="checkbox" checked disabled title="You do not have permission to change this issue's resolution status.">
                        <input ng-switch-default type="checkbox" disabled title="You do not have permission to change this issue's resolution status.">
                      </span>
                    <% end %>
                      Issue resolved
                    </input>
                  </label>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12'>
                <h4>Attachments</h4>
              </div>
            </div>
            <div class='row' ng-repeat='att in ci.attachments'>
              <div class='col-md-12'>
                <a href='/attachments/{{att.id}}/download' target='_blank'>{{att.name}} <span class='badge'>{{att.size}}</span></a>
              </div>
            </div>
            <div class='row' style='margin-top:10px;'>
              <div class='col-md-12'>
                <div chain-attach='ci' attachable-type='CorrectiveIssue' attachable-id='{{ci.id}}'></div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <%-if @cap.can_edit?(current_user) && @cap.status!=@cap.class::STATUSES[:resolved]-%>
        <div class='row'>
          <div class='col-md-12'>
            <button ng-click='addIssue()' class='btn' id='add-issue'>Add Issue</button>
          </div>
        </div>
      <%-end-%>
      <!-- END ISSUES -->
    </form>
    <button style='display:none' ng-click='save()' id='hidden-save'>Save</button>
  </div>
</div>
<div id='tour-prompt' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Corrective Action Plan</h3>
      </div>
      <div class='modal-body'>
        <p>
          Welcome to the corrective action plan.  Click the button below for a tour.
        </p>
      </div>
      <div class='modal-footer'>
        <button class='btn' id='never-show'>Never Show This Again</button>
        <button class='btn btn-primary' id='show-tour'>Tour</button>
      </div>
    </div>
  </div>
</div>
