<%content_for :action_bar do%>
  <% if @plant.can_edit?(current_user) %>
    <button class='btn_link' link_to='<%=edit_vendor_vendor_plant_path(@vendor,@plant)%>'>Edit</button>
  <% end %>
  <button class='btn_link' link_to='<%=vendor_path(@vendor)%>'>Vendor</button>
<%end%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><a href='<%=vendor_path(@vendor)%>'><%=@vendor.name%></a> &gt; <%=@plant.name%></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2"> <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#attributes" data-toggle="tab">Attributes</a></li>
        <li><a href="#attachments" data-toggle="tab">Attachments</a></li>
        <li><a href="#product_groups" data-toggle="tab">Product Groups</a></li>
      </ul>
    </div>

    <div class="col-xs-10">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="attributes">
          <%= show_custom_fields @plant %>
        </div>
        <div class="tab-pane" id="attachments">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <%=render :partial => 'shared/attachments', :locals => {:attachable => @plant, :width=>"wide", :redirect_to=>vendor_vendor_plant_path(@vendor,@plant)} %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="product_groups">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 text-right">
                <button class='btn btn-success' id='btn_assign_plant_product_group' title='Add Product Group' data-plant-id='<%=@plant.id%>' data-vendor-id='<%=@vendor.id%>'>
                  <span class='glyphicon glyphicon-plus'></span>
                </button>
              </div>
              <div class="modal fade" id='mod_assign_product_group'>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Add Product Group</h4>
                    </div>
                    <div class="modal-body">
                      <div class='loader'></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success" disabled='disabled'>Add</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <script type='text/javascript'>
                $(document).ready(function() {
                  $('#mod_assign_product_group .btn-success').click(function () {
                    pgId = $('#mod_assign_product_group select option:selected').val();
                    if(pgId) {
                      $.post('/vendors/'+vendor_id+'/vendor_plants/'+plant_id+'/assign_product_group.json',{product_group_id:pgId},function(data) {
                        $('#mod_assign_product_group').modal('hide');
                        window.alert('Product group added.');
                        $('#main-content').html("<div class='loader'></div>");
                        location.reload();
                      });
                    } else {
                      window.alert('No product group selected');
                    }
                  });
                  $('#btn_assign_plant_product_group').click(function() {
                    vendor_id = $(this).attr('data-vendor-id')
                    plant_id = $(this).attr('data-plant-id')
                    load = function() {
                      $.get('/vendors/'+vendor_id+'/vendor_plants/'+plant_id+'/unassigned_product_groups.json', function(data) {
                        html = "<select class='form-control'>";
                        $.each(data.product_groups,function(idx,v) {
                          html += "<option value='"+v.id+"'>"+v.name+"</option>";
                        });
                        html += "</select>";
                        $('#mod_assign_product_group .btn-success').removeAttr('disabled');
                        $('#mod_assign_product_group .modal-body').html(html);
                      });
                    }
                    $('#mod_assign_product_group').modal('show');
                    load();
                  });
                });
              </script>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@plant.plant_product_group_assignments.includes(:product_group).each do |ppga|%>
                      <tr>
                        <td><a href='<%=vendor_vendor_plant_plant_product_group_assignment_path(@vendor,@plant,ppga)%>' class='btn btn-xs btn-default'>View</a></td>
                        <td><%=ppga.product_group.name%>
                      </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
