<%content_for :javascript do %>
$(function() {
  $("#attachment_type_submit").button();
});
<%end%>
<%=form_for AttachmentType.new do |f| %>
  <table class='detail_table'>
    <thead><tr><th>Attachment Type</th><th></th></tr></thead>
    <tbody>
      <%@attachment_types.each do |a|%>
      <tr class='hover'>
        <td><%=a.name%></td>
        <td><%=link_to 'Delete', a, :confirm => "Are you sure you want to delete this attachment type?", :method => :delete%></td>
      </tr>
      <%end%>
      <tr class='hover'>
        <td><%=f.text_field :name%></td>
        <td><%=f.submit 'Add' %></td>
      </tr>
    </tbody>
  </table>
<%end%>
