<div class='row text-center'>
  <h1>Drawback</h1>
</div>

<div class='row-fluid'>
  <div class='span6'>
    <h2>Uploads</h2>
    <%if MasterSetup.get.custom_feature?("LE Drawback")-%>
      <h2>Lands End</h2>
      <h3>Lands End B3 Export Files</h3>
      <p><em>.txt file</em></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_LANDS_END_EXPORTS}%>
      <h3>Lands End Fedex Import Files</h3>
      <p>
        .csv file manually built by reformatting the Duty Calc Imports By Entry report you get from FedEx into the folowing order (with headers)
      </p>
      <pre>
Entry Number, Port Code, Import Date, Received Date, HTS Code, Part - Description, Quantity, UOM, Unit Price, Duty Rate
      </pre>
      <p class='text-error'><strong>It is VERY important that you only process each file once.  This uploader adds quantities to existing records, so processing twice will double the import values and will result in invalid claims! If you have issues uploading the file, contact support immediately.</strong></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_LANDS_END_IMPORTS}%>
      <h3>Lands End Fedex Certificate Of Delivery Files</h3>
      <p>
        .csv file manually built by reformatting the Duty Calc Certificate of Delivery report you get from FedEx into the folowing order (with headers)
      </p>
      <pre>
[ignore],Entry Number,[ignore],[ignore],[ignore],Part - Description,[ignore],[ignore],[ignore],100% Duty Per Unit
      </pre>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_LANDS_END_CD}%>
    <%end-%>
    <%if MasterSetup.get.custom_feature?("UA Drawback")-%>
      <h2>Under Armour</h2>
      <h3>DH Inbound Files (last 10)</h3>
      <p><em>.xlsx file</em></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_WM_IMPORTS,:accept=>"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}%>
      <h3>OHL Entry Files (last 10)</h3>
      <p><em>.xls file</em></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_OHL_ENTRY}%>
      <h3>DH Outbound Files (last 10)</h3>
      <p><em>.csv file</em></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_DDB_EXPORTS}%>
      <h3>FMI Outbound Files (last 10)</h3>
      <p><em>.csv file</em></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_FMI_EXPORTS}%>
      <hr />
    <%end-%>
    <%if MasterSetup.get.custom_feature?("J Crew Drawback")-%>
      <h2>J Crew</h2>
      <h3>PO Correlation File (last 10)</h3>
      <p><em>.csv file from Frank Genus @ J Crew</em></p>
      <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_JCREW_SHIPMENTS}%>
      <hr />
    <%end-%>
  </div>
  <div class='span6'>
    <h2>Downloads</h2>
    <div>
      Import Lines Not Sent To Duty Calc:
      <ul>
        <%@import_lines_not_in_duty_calc.each do |comp,cnt|-%>
          <li>
            <form action='/duty_calc_import_files' method='POST'>
            <%=comp.name%> - <%=cnt%> 
              <input type='hidden' name='importer_id' value='<%=comp.id%>'/>
              <input type='submit' class='btn btn-mini' value='Make File'/>
            </form>
          </li>
        <%end-%>
      </ul>
    </div>
    <div>
      Export Lines Not Sent To Duty Calc:
      <ul>
        <%@export_lines_not_in_duty_calc.each do |comp,cnt|-%>
          <li>
            <form action='/duty_calc_export_files' method='POST'>
            <%=comp.name%> - <%=cnt%> 
              <input type='hidden' name='importer_id' value='<%=comp.id%>'/>
              <input type='submit' class='btn btn-mini' value='Make File'/>
            </form>
          </li>
        <%end-%>
      </ul>
    </div>
    <div>
      <h3>Import Files</h3>
      <ul>
        <%DutyCalcImportFile.order("updated_at DESC").limit(10).each do |f|-%>
          <li>
            <%if f.attachment.blank?-%>
              No Attachment
            <%else-%>
              <a href='/duty_calc_import_files/<%=f.id%>/download'><%=f.attachment.attached_file_name%></a></li>
            <%end-%>
            -
            <%=f.importer.name%>
            -
            <%=f.created_at%>
        <%end-%>
      </ul>
    </div>
    <div>
      <h3>Export Files</h3>
      <ul>
        <%DutyCalcExportFile.order("updated_at DESC").limit(10).each do |f|-%>
          <li>
            <%if f.attachment.blank?-%>
              No Attachment
            <%else-%>
              <a href='/duty_calc_export_files/<%=f.id%>/download'><%=f.attachment.attached_file_name%></a></li>
            <%end-%>
            -
            <%=f.importer.name%>
            -
            <%=f.created_at%>
        <%end-%>
      </ul>
    </div>
  </div>
</div>
