<div class='container'>
  <div class='row text-center'>
    <h1>Drawback</h1>
  </div>
  <%-running_files = DrawbackUploadFile.where('finish_at is null')-%>
  <%-unless running_files.empty?-%>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Running Files</h2>
        <table class="detail_table">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Started At</th>
            </tr>
          </thead>
          <tbody>
            <%-running_files.each do |rf|-%>
              <tr>
                <td><%=rf.attachment.attached_file_name%></td>
                <td><%=l rf.start_at%></td>
              </tr>
            <%-end-%>
          </tbody>
        </table>
      </div>
    </div>
  <%-end-%>
  <div class='row'>
    <div class='col-md-12'>
      <h2 class='text-center'>Uploads</h2>
      <ul class='nav nav-tabs' id='uploadTabs'>
        <%if MasterSetup.get.custom_feature?('Crocs Drawback')%><li><a href='#crocs' data-toggle='tab'>Crocs</a></li><%end%>
        <%if MasterSetup.get.custom_feature?('J Crew Drawback')%><li><a href='#j_crew' data-toggle='tab'>J Crew</a></li><%end%>
        <%if MasterSetup.get.custom_feature?('LE Drawback')%><li><a href='#lands_end' data-toggle='tab'>Lands End</a></li><%end%>
        <%if MasterSetup.get.custom_feature?('UA Drawback')%><li><a href='#under_armour' data-toggle='tab'>Under Armour</a></li><%end%>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane' id='crocs'>
          <div >
            <h3>Receiving File</h3>
            <p><em>.xlsx file from Crocs IT department</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_CROCS_RECEIVING}%>
          </div>
          <div >
            <h3>Export Details File</h3>
            <p><em>.csv file from Crocs IT department</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_CROCS_EXPORTS}%>
          </div>
        </div>
        <%if MasterSetup.get.custom_feature?("LE Drawback")-%>
        <div class='tab-pane' id='lands_end'>
          <div >
            <h3>Lands End B3 Export Files</h3>
            <p><em>.txt file</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_LANDS_END_EXPORTS}%>
          </div>
          <div >
            <h3>Lands End Fedex Import Files</h3>
            <p>
              .csv file manually built by reformatting the Duty Calc Imports By Entry report you get from FedEx into the folowing order (with headers)
            </p>
            <pre>
          Entry Number, Port Code, Import Date, Received Date, HTS Code, Part - Description, Quantity, UOM, Unit Price, Duty Rate
                </pre>
            <p class='text-error'>It is VERY important that you only process each file once.  This uploader adds quantities to existing records, so processing twice will double the import values and will result in invalid claims! If you have issues uploading the file, contact support immediately.</p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_LANDS_END_IMPORTS}%>
          </div>
          <div >
            <h3>Lands End Fedex Certificate Of Delivery Files</h3>
            <p>
              .csv file manually built by reformatting the Duty Calc Certificate of Delivery report you get from FedEx into the folowing order (with headers)
            </p>
            <pre>
          [ignore],Entry Number,[ignore],[ignore],[ignore],Part - Description,[ignore],[ignore],[ignore],100% Duty Per Line 
                </pre>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_LANDS_END_CD}%>
          </div>
        </div>
        <%end-%>
        <%if MasterSetup.get.custom_feature?("J Crew Drawback")-%>
        <div class='tab-pane' id='j_crew'>
          <div >
            <h3>PO Correlation File (last 10)</h3>
            <p><em>.csv file from Frank Genus @ J Crew</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_JCREW_SHIPMENTS}%>
          </div>
          <div>
            <h3>Create Import Lines</h3>
            <p><em>Trigger entry match processing to generate lines combining entries and the data from the PO Correlation File</em></p>
            <%=form_tag '/drawback_upload_files/process_j_crew_entries', method: :put do %>
              <div>Start Date: <input type='date' name='start_date' /></div>
              <div>End Date: <input type='date' name='end_date' /></div>
              <input type='submit' value='Go' class='btn btn-primary' />
            <%-end-%>
          </div>
          <div >
            <h3>Canada Export File (last 10)</h3>
            <p><em>167 column .csv file from Arvind @ J Crew</em></p>
            <p>
              Columns Used (column label when viewed in Excel)
              <ul>
                <li>Ship Date: DB</li>
                <li>Export Date: DC</li>
                <li>Part: FI</li>
                <li>Ref 1 (CA Entry #): DM</li>
                <li>Ref 2 (PO Number): I</li>
                <li>Ref 3 (Tracking #): F</li>
                <li>Quantity: DR</li>
                <li>Description: DS</li>
                <li>HTS Code: DQ</li>
              </ul>
            </p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_JCREW_CANADA_EXPORTS}%>
          </div>
            <div >
            <h3>Borderfree Export Drawback File (last 10)</h3>
            <p><em>17 column .xlsx file</em></p>
            <p>
              Columns Used (column label when viewed in Excel)
              <ul>
                <li>Ship Date: C</li>
                <li>Export Date: C</li>
                <li>Ref 1 (CA Entry #): E</li>
                <li>Carrier: F</li>
                <li>Ref 2 (PO Number): G</li>
                <li>Destination Country: I</li>
                <li>Description: L</li>
                <li>Part Number: M*</li>
                <li>Quantity: P</li>
                <li>UOM: Q</li>
              </ul>
              * Column M must match the format "Short description - Part number - Details"
            </p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_JCREW_BORDERFREE}%>
          </div>
        </div>
        <%end-%>
        <%if MasterSetup.get.custom_feature?("UA Drawback")-%>
        <div class='tab-pane' id='under_armour'>
          <div >
            <h3>DH Inbound Files (last 10)</h3>
            <p><em>.xlsx file</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_WM_IMPORTS,:accept=>"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}%>
          </div>
          <div >
            <h3>OHL Entry Files (last 10)</h3>
            <p><em>.xls file</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_OHL_ENTRY}%>
          </div>
          <div >
            <h3>DH Outbound Files (last 10)</h3>
            <p><em>.csv file</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_DDB_EXPORTS}%>
          </div>
          <div >
            <h3>FMI Outbound Files (last 10)</h3>
            <p><em>.csv file</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_FMI_EXPORTS}%>
          </div>
          <div>
            <h3>Canada Stock Transfers (last 10)</h3>
            <p><em>Excel Invoice File</em></p>
            <%=render :partial=>'file_list', :locals=>{:processor=>DrawbackUploadFile::PROCESSOR_UA_STO_EXPORTS}%>
          </div>
        </div>
        <%end-%>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <h2 class='text-center'>Downloads</h2>
      <div>
        Import Lines Not Sent To Duty Calc:
        <ul>
          <%@import_lines_not_in_duty_calc.each do |comp,cnt|-%>
          <li>
            <form action='/duty_calc_import_files' method='POST'>
              <%=comp.name%> - <%=cnt%> 
              <input type='hidden' name='importer_id' value='<%=comp.id%>'/>
              <input type='submit' class='btn btn-xs' value='Make File'/>
            </form>
          </li>
          <%end-%>
        </ul>
      </div>
      <div>
        Export Lines Not Sent To Duty Calc:
        <ul>
          <%@export_lines_not_in_duty_calc.each do |comp,cnt|-%>
          <li>
            <form action='/duty_calc_export_files' method='POST'>
              <%=comp.name%> - <%=cnt%> 
              <input type='hidden' name='importer_id' value='<%=comp.id%>'/>
              <input type='submit' class='btn btn-xs' value='Make File'/>
            </form>
          </li>
          <%end-%>
        </ul>
      </div>
      <h3>Import Files</h3>
      <ul>
        <%DutyCalcImportFile.order("updated_at DESC").limit(10).each do |f|-%>
        <li>
          <%if f.attachment.blank?-%>
          No Attachment
          <%else-%>
          <a href='/duty_calc_import_files/<%=f.id%>/download'><%=f.attachment.attached_file_name%></a></li>
        <%end-%>
        -
        <%=f.importer.name%>
        -
        <%=f.created_at%>
        <%end-%>
      </ul>
      <h3>Export Files</h3>
      <ul>
        <%DutyCalcExportFile.order("updated_at DESC").limit(10).each do |f|-%>
        <li>
          <%if f.attachment.blank?-%>
          No Attachment
          <%else-%>
          <a href='/duty_calc_export_files/<%=f.id%>/download'><%=f.attachment.attached_file_name%></a></li>
        <%end-%>
        -
        <%=f.importer.name%>
        -
        <%=f.created_at%>
        <%end-%>
      </ul>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#uploadTabs a:first').tab('show');    
  });
</script>
