<%-content_for :action_bar do-%>
  <%if current_user.edit_projects?%>
    <button class='btn btn-default' id='btn-new'>New</button>
  <%end%>
  <button class='btn btn-default btn_link' link_to='<%=project_deliverables_path%>'>Deliverables</button>
<%-end-%>
<%-cache ['project_index_v2',Project.select('projects.id, projects.updated_at').order('updated_at DESC').first] do-%>
<%@projects = @projects.order('closed_at ASC, name ASC, due ASC')%>
<h1 class="text-center">Projects</h1>
<table class="table table-striped table-collapse table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Due</th>
      <th>Incomplete Deliverables</th>
      <th>Sets</th>
    </tr>
  </thead>
  <tbody>
    <%-@projects.each do |p|-%>
      <%-cache ['proj_index_row_v2',p,0.seconds.ago.strftime('%Y-%m-%d')] do #cache at this level because the .red? method is expensive-%>
        <tr class='<%=p.red? ? 'danger' : 'no-danger'%>'>
          <td><%=link_to 'View', p, :class=>'btn btn-xs btn-default'%></td>
          <td><%=p.name%><%=p.closed_at ? ' <span class="label label-default">closed</span> '.html_safe : ''%></td>
          <td><%=p.due%></td>
          <td><%=p.project_deliverables.incomplete.count%></td>
          <td>
            <%-p.project_sets.each do |ps|-%>
              <span class='label label-default'><%=ps.name%></span>
            <%-end-%>
          </td>
        </tr>
      <%-end-%>
    <%-end-%>
  </tbody>
</table>
<div class='modal fade' id='mod-new'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%=form_for Project.new, :id=>'frm_new' do |f|%>
          <label for='pName'>New Project Name</label>
          <%=f.text_field :name, :class=>'form-control'%>
          <%=f.submit "Create", :class=>'btn btn-primary'%>
          <button class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <%end%>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#btn-new').click(function() {
      $('#mod-new').modal('show');
    });
  });
</script>
<%-end #end cache-%>
