<% content_for :javascript do %>
  $(function() {
  <% unless @import_config.id.nil? %>
    $( "#unmapped, #mapped" ).sortable({
      connectWith: ".sort_group"
    }).disableSelection();
    $("#import_config_submit").button();
    $(".edit_import_config").submit(function() {
      $('.edit_import_config').remove('.hidden_mf');
      var i = 1;
      $("#mapped").children("li").each(function() {
        var uid = $(this).attr('id')
        var uidName = 'import_config[import_config_mappings_attributes]['+i+'][model_field_uid]';
        var colName = 'import_config[import_config_mappings_attributes]['+i+'][column_rank]';
        addHiddenFormField($('.edit_import_config'),uidName,uid,uidName,'hidden_mf');
        addHiddenFormField($('.edit_import_config'),colName,i,colName,'hidden_mf');
        i++;
      });
    });
  <%end%>
  $("#btn_cancel").click(function() {window.location = '<%=import_configs_path%>';});
  $("#btn_save").click(function() {$("#frm_m").submit();});
  $("#btn_delete").button(); //DON'T DELETE THIS ONE
  });
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%= button_to('Delete', import_config_path(@import_config),:method => :delete, :confirm => "Are you sure?  There is no undo.", :id => "btn_delete") %>
<% end %>

<%= form_for(@import_config, :html=>{:id=>"frm_m"}) do |f| %>
<table>
  <%= field_row f.label(:name), f.text_field(:name) %>
  <%= field_row f.label(:model_type, "Module"), (@import_config.id.nil? ? f.select(:model_type, CoreModule.to_a_label_class, "id"=>"sel_mt") : CoreModule.find_by_class_name(@import_config.model_type).label) %> 
  <%= field_row f.label(:ignore_first_row), f.check_box(:ignore_first_row) %>
</table>
  <% @import_config.file_type = 'csv' %>
  <%= f.hidden_field :file_type %>
  <% unless @import_config.id.nil? %> 
  <div id='mapping_container' class='drag_lists'>
    <h3>File Columns</h3>
    <div style='font-size:70%'>(drag fields to move &amp; sort)</div>
    <table>
      <thead><th>Available</th><th>Mapped</th></thead>
      <tr>
        <td>
          <ul id='unmapped' class='sort_group drag_lists_inactive_col'>
            <%@unmapped_fields.each do |m|%>
              <li id='<%=m.uid%>' class='hover'><%=m.label%></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul id='mapped' class='sort_group drag_lists_active_col'>
            <%@mapped_fields.each do |m|%>
              <li id='<%=m.uid%>' class='hover'><%=m.label%></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
<% end %>  
