<%content_for :javascript do %>
$(function() {
  $('#<%=@company.id.nil? ? "new_company" : "edit_company"+@company.id.to_s%>')
    .validate();
  $('#btn_save').button().click(function() {$("#frm_cmp").submit();});
});
<% end %>

<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<% end %>

<%= form_for @company, :html=>{:id=>'frm_cmp'} do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :carrier %><br />
    <%= f.check_box :carrier %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.check_box :vendor %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.check_box :customer %>
  </div>
<% end %>
