<%content_for :javascript do %>
$(function() {
$('#<%=@company.id.nil? ? "new_company" : "edit_company"+@company.id.to_s%>')
  .validate();
$('#company_submit').button();
});
<% end %>

<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :carrier %><br />
    <%= f.check_box :carrier %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.check_box :vendor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
