<%content_for :javascript do %>
$(function() {
  $('#<%=@company.id.nil? ? "new_company" : "edit_company"+@company.id.to_s%>')
    .validate();
  $('#btn_save').button().click(function() {$("#frm_cmp").submit();});
});
<% end %>

<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<% end %>

<%= form_for @company, :html=>{:id=>'frm_cmp'} do |f| %>
<table>
<%=field_row "Name", f.text_field(:name,:class=>"required")%>
<%=field_row "System Code", f.text_field(:system_code,{:title=>"Code used to integrate with another system.",:class=>"fieldtip"}) %>
<%=field_row "Carrier", f.check_box(:carrier) %>
<%=field_row "Vendor", f.check_box(:vendor) %>
<%=field_row "Customer", f.check_box(:customer) %>
<%=field_row "Importer", f.check_box(:importer) %>
<%=field_row("Alliance Customer Number", f.text_field(:alliance_customer_number)) if MasterSetup.get.custom_feature? "alliance"%>
</table>
<% end %>
