<% content_for :javascript do %>
$(function() {
  $('#mod_lock').dialog({
      autoOpen:false,
      buttons: {"Yes":function() {$("#frm_lock").submit();},"No":function() {$(this).dialog('close');}},
      title: 'Are you sure?'
    });
  $('#mod_unlock').dialog({
      autoOpen:false,
      buttons: {"Yes":function() {$("#frm_unlock").submit();},"No":function() {$(this).dialog('close');}},
      title: 'Are you sure?'
    });
  <%if current_user.admin? %>
  $( "#btn_edit" )
    .click(function() {
      window.location = '<%=edit_company_path(@company)%>';
    });
  
  $("#btn_users")
    .click(function() {
      window.location = '<%=company_users_path(@company)%>';
    });
  $("#btn_lock")
    .click(function() {
      $("#mod_lock").dialog('open');
    });
  $("#btn_unlock").click(function(){$("#mod_unlock").dialog('open');});
  $("#btn_poas").click(function() {window.location = '<%= company_power_of_attorneys_path(@company) %>'});
  <% end %>
});
<% end %>

<% content_for :action_bar do %>
  <% if current_user.admin? %>
    <% unless @company.locked?%><button id='btn_edit'>Edit</button><%end%>
    <button id='btn_users'>Users</button>
    <% if !@company.master && !@company.locked%>
      <button id='btn_lock'>Lock</button>
    <% elsif @company.locked %>
      <button id='btn_unlock'>Unlock</button>
    <%end%>
    <% if current_user.company.master? %>
      <button class='btn_link' link_to='<%=show_children_company_path(@company)%>'>Linked Companies</button>
    <% end %>
    <button class='btn_link' link_to='<%=company_charge_categories_path(@company)%>'>Charge Categories</button>
    <% if @company.attachment_archive_setup -%>
      <button class='btn_link' link_to='<%=company_attachment_archive_setup_path(@company,@company.attachment_archive_setup)%>'>Attachment Archive Setup</button>
    <% else -%>
      <button class='btn_link' link_to='<%=new_company_attachment_archive_setup_path(@company)%>'>Attachment Archive Setup</button>
    <% end -%>
    <% if MasterSetup.get.custom_feature?('alliance') && !@company.alliance_customer_number.blank? && @company.importer_products.first-%>
      <button class='form_to' form_id='frm_alliance'>Products To Alliance</button>
    <% end -%>
  <%end%>
  <button id='btn_poas'>POAs</button>
  <button class='btn_link' link_to='<%=companies_path%>' key_map='b'>Back</button>
<% end %>

<div class="container">
  <%if @company.locked %>
    <div class="row">
      <div class="col-md-12">
        <div class='alert alert-danger'>Company Locked</div>
      </div>
    </div>
  <%end%>
  <div class="row">
    <div class="col-md-12">
      <%= show_model_fields @company, [:cmp_name, :cmp_sys_code, :cmp_agent, :cmp_broker, :cmp_carrier, :cmp_customer, :cmp_factory, :cmp_importer, :cmp_vendor, :cmp_created_at, :cmp_updated_at, :cmp_alliance, :cmp_fenix, :cmp_order_view_template ] %>
      <%= show_custom_fields @company %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'companies/division', :locals => { :edit_div => @division } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'companies/address', :locals => { :edit_add => @address } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'shared/attachments', :locals => { :attachable => @company } %>
    </div>
  </div>
</div>



<%if current_user.admin? %>
<div id='mod_lock' style='display:none; text-align:center;'>
  <%= form_for @company, :html => {:id=>'frm_lock'} do |f| %>
    <h3>Are you sure you want to lock this company?</h3><br />
    <em>If you lock, then you cannot edit or create any Orders, Shipments, Sales, Products or Deliveries associated with this company.</em><br />
    <%= f.hidden_field :locked, {:value => '1'}%>
  <% end %>
</div>
<div id='mod_unlock' style='display:none; text-align:center;'>
  <%= form_for @company, :html => {:id=>'frm_unlock'}  do |f| %>
    <h3>Are you sure you want to unlock this company?</h3><br />
    <%= f.hidden_field :locked, {:value => '0'}%>
  <% end %>
</div>
<%end%>
<%=form_tag push_alliance_products_company_path(@company), :id=>'frm_alliance', :method=>:post do-%>
  &nbsp;
<%end-%>
