<% content_for :action_bar do%>
  <button class='btn_link' link_to='<%=broker_invoices_path%>' key_map='b'>Back To Search</button>
  <% if current_user.view_entries? && @invoice.entry.present? %>
    <button class='btn_link' link_to='<%=entry_path(@invoice.entry)%>' key_map='e'>View Entry</button>
  <% end %>
  <% if current_user.sys_admin? %>
    <button class="btn_link" title='Sync Records' link_to='<%=sync_records_broker_invoice_path(@invoice)%>'><i class='fa fa-exchange'></i></button>
  <% end %>
<% end%>
<%= show_model_fields @invoice, CoreModule::BROKER_INVOICE.model_fields.values %>
<h2>Lines</h2>
<hr />
<% line_fields = CoreModule::BROKER_INVOICE_LINE.model_fields.values %>
<% @invoice.broker_invoice_lines.each do |line| %>
  <%= show_model_fields line, line_fields %>
  <hr />
<% end %>
<%=render :partial => 'shared/integration_file_link', :locals => {:obj => @invoice, :user => current_user} %>
