<% content_for :javascript do %>
$(function(){
  $("#btn_save").click(function() {$("#frm_sr").submit();});
  $("#btn_cancel").click(function() {window.location = '<%=url_for @status_rule%>';});
  $("#sel_mod_type").change(function() {loadFieldNames();});
  $(".sc_remove").click(function(ev) {
    destroy_nested('sc',$(this));
    ev.preventDefault();
  });
  $("#add_criteria").click(function() {addRow();});
});
$(document).ready(function() {loadFieldNames();});
function addRow() {
  var m = new Date().getTime();
  var d = "<tr class='hover sc_row'><td>"; 
  d = d + "<input id='status_rule_search_criterions_attributes_"+m+"_model_field_uid' name='status_rule[search_criterions_attributes]["+m+"][model_field_uid]' type='hidden' />"; 
  d = d + "<select class='fld_nm' id='status_rule_search_criterions_attributes_"+m+"_model_field_uid' name='ignore_me'><option value='Loading...'>Loading...</option>"; 
  d = d + "<option value=''></option></select></td>"; 
  d = d + "<td><select id='status_rule_search_criterions_attributes_"+m+"_operator' name='status_rule[search_criterions_attributes]["+m+"][operator]'>"; 
<%CriterionOperator::OPERATORS.each do |o|%>
  d = d + "<option value='<%=o.key%>'><%=o.label%></option>";
<%end%>
  d = d + "</select></td><td><input id='status_rule_search_criterions_attributes_"+m+"_value' name='status_rule[search_criterions_attributes]["+m+"][value]' size='30' type='text' /></td>"; 
  d = d + "<td><input class='sc_destroy' id='status_rule_search_criterions_attributes_"+m+"__destroy' name='status_rule[search_criterions_attributes]["+m+"][_destroy]' type='hidden' value='false' /><a href='#' class='sc_remove'>Remove</a></td></tr>";
  $("#tbl_criteria").append(d);
  loadFieldNames();
}
function loadFieldNames() {
  $(".fld_nm").each(function() {
    $(this).val('');
    $(this).html("<option value=''>Loading...</option>");
  });
  var mod_type = $("#sel_mod_type").val();
  
  $.getJSON('<%=url_for :controller=>"model_fields", :action=>"find_by_module_type", :format=>"json"%>?include_basic=true&module_type='+mod_type, function(data) {
    $(".sc_mod_type").val(mod_type)
    var options = "<option value=''>Select a field</option>";
    for(i=0;i<data.length;i++) {
      options = options + "<option value='"+data[i].uid+"'>"+data[i].label+"</option>"
    }
    $(".fld_nm").each(function() {
      $(this).html(options);
      $(this).val($(this).prev().val());
    });
  });
  $(".fld_nm").change(function() {$(this).prev("input").val($(this).val());});
}
<% end %>
<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% end %>
<%= form_for(@status_rule, :html=>{:id=>'frm_sr'} ) do |f| %>
<table>
  <%=field_row "Module", f.select(:module_type, CoreModule.to_a_label_class {|c| c.statusable?},{},:id=>"sel_mod_type")%>
  <%=field_row "Name", f.text_field(:name)%>
  <%=field_row "Description", f.text_field(:description)%>
  <%=field_row "Test Rank", f.text_field(:test_rank)%>
</table>

<h2>Critera</h2>
<table id='tbl_criteria'>
  <%@status_rule.search_criterions.build%>
  <%f.fields_for :search_criterions do |sc| %>
    <tr class='hover sc_row'>
      <td>
        <%=sc.hidden_field :model_field_uid %>
        <%=sc.select :model_field_uid, ["Loading...",""], {}, {"class"=>"fld_nm","name"=>"ignore_me"}%>
      </td>
      <td><%=sc.select :condition, CriterionOperator::OPERATORS.collect {|o| [o.label,o.key]}%></td>
      <td><%=sc.text_field :value%></td>
      <td><%=sc.hidden_field :_destroy, "class" => "sc_destroy"%><a href='#' class='sc_remove'>Remove</a></td>
    </tr>
  <%end%>
</table>
<% end %>
<button id='add_criteria'>Add Criteria</button>
