<%-content_for :action_bar do-%>
  <button class="btn_link" link_to="<%=new_schedulable_job_path%>">New</button>
<%-end-%>
<div class='container'>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Schedulabe Jobs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class='detail_table' width="100%">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Class</th>
            <th>Status</th>
            <th>Last Run</th>
            <th>Next Run</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <%-@schedulable_jobs.each do |sj|-%>
          <tr class='hover'>
            <td><%=link_to 'Edit', edit_schedulable_job_path(sj), {class:'btn btn-xs'}%></td>
            <td><span title="<%=sj.run_class%>"><%=sj.run_class.to_s.split("::").last%></span></td>
            <td><%=sj.running ? "Running" : "Waiting" %>
            <td><%=sj.last_start_time.blank? ? "Never" : sj.last_start_time%></td>
            <%- next_run = sj.next_run_time -%>
            <td><%=next_run.blank? ? "Never" : next_run.in_time_zone(sj.time_zone_name).strftime('%Y-%m-%d %H:%M %Z')%></td>
            <td><pre><%=sj.opts%></pre></td>
          </tr>
          <%-end-%>
        </tbody>
      </table>
    </div>
  </div>
</div>
