<%= render :partial => 'shared/search_box' %>
<table class="detail_table">
  <thead>
    <th>Username</th>
    <th>Server</th>
    <th>File Name</th>
    <th>Created At</th>
    <th>Sent At</th> 
  </thead>

<% @ftp_sessions.each do |ftp_session| %>
  <tr class='hover'>
    <td><%= link_to ftp_session.username, ftp_session %></td>
    <td><%= ftp_session.server %></td>
    <td><%= link_to(ftp_session.file_name, download_attachment_path(ftp_session.attachment, disposition: "attachment")) if ftp_session.attachment %></td>
    <td><%= ftp_session.created_at %></td>
    <td><%= ftp_session.updated_at %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @ftp_sessions %>  
