<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VFI Track - Trade Lanes</title>
  <%= app_internals(MasterSetup.get) %>
  <%= stylesheet_link_tag    "trade_lanes", :media => "all" -%>
  <%= javascript_include_tag "trade_lanes" -%>
  <%= javascript_include_tag "jquery_ujs" -%>
  <%= csrf_meta_tags -%>
  </head>
<% body_tag(master_setup, current_user, run_as_user) %>
  <% if current_user %>
    <%= render "shared/nav_panel" %>
  <% end %>
  <div ng-app='ChainTradeLanes'>
    <div ui-view></div>
    <chain-errors></chain-errors>
  </div>
</body>
</html>
