<% content_for :javascript do%>
  $(function() {
    $('#frm_svy').submit(function(){
      if ($('#survey_name').val().length == 0){
        alert("Please name your survey before saving.");
        return false;
      }
    });
    <%@survey.questions.each do |q|%>
    OCSurvey.addQuestion(<%=q.id%>,"<%=q.content.gsub("\n",'\n').gsub("\r","")%>","<%=q.choices.gsub("\n",'\n').gsub("\r",'')%>",<%=q.warning?%>);
    <%end%>
    <%if @survey.questions.empty?%>
    OCSurvey.addQuestion(null,"Your first question goes here...","");
    <%end%>
    $('#btn_add_q').click(function() {
      var mid = new Date().getTime();
      OCSurvey.addQuestion(mid,"","");
      $('html, body').animate({scrollTop: $("#q-"+mid).offset().top}, 'slow');
    });
    $("#preview_link").click(function(evt) {
      evt.preventDefault();
      var preHtml = "<b>"+$("#eml_sub").val()+"</b><hr/>";
      var postHtml = "<div>To view the survey follow this link: [link here]</div>";
      OpenChain.previewTextile("#email_body","Email Preview",preHtml,postHtml);
    });
    $(".q_preview").live('click',function(evt) {
      evt.preventDefault();
      var qid = $(this).attr('qid');
      OpenChain.previewTextile("#q_"+qid,"Question Preview");
    });
    $("a.del_ques").live('click',function(evt) {
      evt.preventDefault();
      var qid = $(this).attr('qid');
      var qb = $("#q-"+qid);
      qb.append("<input type='hidden' name='survey[questions_attributes]["+qid+"][_destroy]' value='1' />");
      qb.slideUp('fast');
    });
    $("a.copy_ques").live('click',function(evt) {
      evt.preventDefault();
      OCSurvey.copyQuestion($(this).attr('qid'));
    });
    $("#questions").sortable({handle:'.question_handle',axis:'y'});
    $("#frm_svy").submit(function() {
      ChainSurveys.applyRankToQuestions();
    });
  });
<% end %>
<style>
.question_box {
  width: 98%;
}
.q_area {
  width: 100%;
}
.question_handle {
  cursor: move;
}
</style>
<%content_for :action_bar do %>
<button class='form_to' form_id="frm_svy">Save</button>
<button class='btn_link' link_to='<%=surveys_path%>'>Back</button>
<% end %>
<%=form_for @survey, :html=>{ :id=>'frm_svy' } do |f|%>
  <table>
    <%=field_row "Survey Name", f.text_field(:name), id: "survey-name"%>
    <%=field_row "Rating Options", f.text_area(:ratings_list, :rows=>"5")%>
    <%=field_row "", "One rating per line."%>
  </table>
  <h2 id='email_head'>Email Setup</h2>
  <table>
    <%=field_row "Subject", f.text_field(:email_subject, :id=>"eml_sub")%>
    <%=field_row "Body", f.text_area(:email_body, :id=>"email_body")%>
    <%=field_row "", "<a href='#' id='preview_link'>Preview</a> | <a href='http://redcloth.org/hobix.com/textile/quick.html' target='_blank'>Formatting Guide</a>".html_safe%>
  </table>
  <hr />
  <div id='questions'>
  </div>
<%end%>
<button id='btn_add_q'>Add Question</button>
