<% content_for :javascript do%>
  var OCSurvey = (function() {
    return {
      addQuestion: function(id,content,choices) {
        var mid = id ? id : new Date().getTime();
        var h = "<div class='question_box' id='q-"+mid+"'>";
        if(id) {
          h += "<input type='hidden' name='survey[questions_attributes]["+mid+"][id]' value='"+mid+"' />";
        }
        h += "Question Body:<br/><textarea class='q_area' name='survey[questions_attributes]["+mid+"][content]'>"+content+"</textarea><br/>";
        h += "Possible Answers: (put one answer on each line)<br/><textarea class='q_area' name='survey[questions_attributes]["+mid+"][choices]'>"+choices+"</textarea>";
        h += "<div style='text-align:right;'><a href='#' class='del_ques' qid='"+mid+"'>Delete</a></div>"
        h += "</div>";
        $("#questions").append(h);
      },
      previewEmail: function() {
        $("#subject_preview").html("<b>"+$("#eml_sub").val()+"</b><hr/>");
        $("#body_preview").html("preview loading...");
        $.post("/textile/preview",{c:$("#email_body").val()},function(data) {
          $("#body_preview").html(data);
        });
      }
    }
  })();
  $(function() {
    <%@survey.questions.each do |q|%>
    OCSurvey.addQuestion(<%=q.id%>,"<%=q.content.gsub("\n",'\n').gsub("\r","")%>","<%=q.choices.gsub("\n",'\n').gsub("\r",'')%>");
    <%end%>
    <%if @survey.questions.empty?%>
    OCSurvey.addQuestion(null,"Your first question goes here...","");
    <%end%>
    $('#btn_add_q').click(function() {
      OCSurvey.addQuestion(null,"","");
    });
    $("#preview_link").click(function(evt) {
      evt.preventDefault();
      OCSurvey.previewEmail();
    });
    $("a.del_ques").live('click',function(evt) {
      evt.preventDefault();
      var qid = $(this).attr('qid');
      var qb = $("#q-"+qid);
      qb.append("<input type='hidden' name='survey[questions_attributes]["+qid+"][_destroy]' value='1' />");
      qb.slideUp('fast');
    });
    OCSurvey.previewEmail();
  });
<% end %>
<style>
.question_box {
  width: 98%;
}
.q_area {
  width: 100%;
}
#email_preview {
  width: 45%;
  float: right;
}
#email_edit {
  width: 50%;
}
#email_head {width:100%; text-align: center; margin-bottom: 10px;}
</style>
<%content_for :action_bar do %>
<button class='form_to' form_id="frm_svy">Save</button>
<button class='btn_link' link_to='<%=surveys_path%>'>Back</button>
<% end %>
<%form_for @survey, :html=>{ :id=>'frm_svy' } do |f|%>
  Survey Name: <%=f.text_field :name%>
  <h2 id='email_head'>Email Setup</h2>
  <div id='email_cont'>
    <div id='email_preview'>
      <div id='subject_preview'></div>
      <div id='body_preview'></div>
      <div>To view the survey follow this link: [link here]</div>
    </div>
    <div id='email_edit'>
      Subject: <%=f.text_field :email_subject, :id=>"eml_sub"%><br/>
      Body:<br />
      <%=f.text_area :email_body, :id=>"email_body"%>
    </div>
    <a href='#' id='preview_link'>Update Preview</a> | <a href="http://redcloth.org/hobix.com/textile/quick.html" target="_blank">Formatting Guide</a><br />
    <div style="display: block; clear: both;"></div>
  </div>
  <hr />
  <div id='questions'>
  </div>
<%end%>
<button id='btn_add_q'>Add Question</button>
