<% content_for :javascript do%>
  $(function() {
    $('#frm_svy').submit(function(){
      if ($('#survey-name').val().length == 0){
        alert("Please name your survey before saving.");
        return false;
      }
    });
    <%@survey.questions.each do |q|%>
      attachment_info = [];
      <% q.attachments.each do |a| %>
        attachment_info.push([<%=a.id%>, "<%=a.attached_file_name.html_safe%>"]);
      <% end %>

    OCSurvey.addQuestion(<%=q.id%>,"<%=q.content.gsub("\n",'\n').gsub("\r","")%>","<%=q.choices.gsub("\n",'\n').gsub("\r",'')%>",attachment_info,<%=q.warning?%>, <%=q.require_comment?%>, <%=q.require_attachment?%>, "<%=q.attachment_required_for_choices%>", "<%=q.comment_required_for_choices%>");
    <%end%>
    <%if @survey.questions.empty?%>
    OCSurvey.addQuestion(null,"Your first question goes here...","");
    <%end%>
    $('#btn_add_q').click(function() {
      var mid = new Date().getTime();
      OCSurvey.addQuestion(mid,"","");
      $('html, body').animate({scrollTop: $("#q-"+mid).offset().top}, 'slow');
    });
    $("#preview_link").click(function(evt) {
      evt.preventDefault();
      var preHtml = "<b>"+$("#eml_sub").val()+"</b><hr/>";
      var postHtml = "<div>To view the survey follow this link: [link here]</div>";
      OpenChain.previewTextile("#email_body","Email Preview",preHtml,postHtml);
    });
    $(document).on('click', ".q_preview", function(evt) {
      evt.preventDefault();
      var qid = $(this).attr('qid');
      OpenChain.previewTextile("#q_"+qid,"Question Preview");
    });
    $(document).on('click', "a.del_ques", function(evt) {
      evt.preventDefault();
      var qid = $(this).attr('qid');
      var qb = $("#q-"+qid);
      qb.append("<input type='hidden' name='survey[questions_attributes]["+qid+"][_destroy]' value='1' />");
      qb.slideUp('fast');
    });
    $(document).on('click', "a.copy_ques", function(evt) {
      evt.preventDefault();
      OCSurvey.copyQuestion($(this).attr('qid'));
    });
    $("#questions").sortable({handle:'.question_handle',axis:'y'});
    $("#questions").on('change','textarea.q_area',function(event) {
      var t, val, mid, errorBox;
      t = event.target;
      val = $(t).val();
      mid = $(t).attr('q-id');
      errorBox = $('#q_error_'+mid)
      if(val.length < 10) {
        errorBox.html('Question must be at least 10 characters.').show();
      } else {
        errorBox.html('').hide();
      }
    });
    $("#frm_svy").submit(function() {
      ChainSurveys.applyRankToQuestions();
    });
  });
<% end %>
<style>
.question_box {
  width: 98%;
}
.q_area {
  width: 100%;
}
.question_handle {
  cursor: move;
}
</style>
<%content_for :action_bar do %>
  <button class='form_to' form_id="frm_svy">Save</button>
  <button class='btn_link' link_to='<%=surveys_path%>'>Back</button>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%=form_for @survey, :html=>{ :id=>'frm_svy', :multipart=>true } do |f|%>
          <%=field_bootstrap "Survey Name", f.text_field(:name, id: "survey-name", :class=>'form-control')%>
          <%=field_bootstrap "Expires in... (days)", f.text_field(:expiration_days, maxlength: 4, size: 20, placeholder: "Number of days. Ex: 365", :class=>'form-control')%> 
          <%=field_bootstrap "System Code", f.text_field(:system_code,:title=>"A code used by the workflow system to track the survey.", :class=>'form-control')%>
          <%=field_bootstrap "Rating Options", f.text_area(:ratings_list, :rows=>"5", :class=>'form-control')%>
          <%=field_bootstrap "", "One rating per line."%>
        <h2 id='email_head'>Email Setup</h2>
          <%=field_bootstrap "Subject", f.text_field(:email_subject, :id=>"eml_sub", :class=>'form-control')%>
          <%=field_bootstrap "Body", f.text_area(:email_body, :id=>"email_body", :class=>'form-control')%>
          <%=field_bootstrap "", "<a href='#' id='preview_link'>Preview</a> | <a href='http://redcloth.org/hobix.com/textile/quick.html' target='_blank'>Formatting Guide</a>".html_safe%>
        <hr />
        <div id='questions'>
        </div>
      <%end%>
      <button id='btn_add_q'>Add Question</button>      
    </div>
  </div>
</div>

