<%content_for :action_bar do %>
  <button id='btn_submit' style='display:none;'>Assign</button>
  <button class='btn_link' link_to='<%=survey_path @survey%>'>Cancel</button>
<%end%>
<%content_for :javascript do%>
$(function() {
  $("#assign_lst").change(function() {
    if($("#assign_lst").find(":selected").size()>0) {
      $("#btn_submit").slideDown('fast');
    } else {
      $("#btn_submit").slideUp('fast');
    }
  });
  $("#btn_submit").click(function() {
    var h = "";
    $("#assign_lst").find(":selected").each(function (idx,opt) {
      h += "<input type='hidden' name='assign["+idx+"]' value='"+$(opt).val()+"'>";
    });
    $("#hdn_assigns").html(h);
    $("#frm_as").submit();
  });
});
<%end%>
<% visible_companies = [current_user.company] -%>
<% visible_companies += current_user.company.linked_companies.to_a -%>
<% visible_companies << Company.where(:master=>true).first unless visible_companies.include? Company.where(:master=>true).first -%>
<%= form_for @survey, :url=>assign_survey_path(@survey), :html=>{:method=>"POST",:id=>"frm_as"} do |f| %>
<table class='detail_table'>
  <thead><tr><th style='text-align:center;'>Assign Users To <%=@survey.name%></th></tr></thead>
  <tbody>
    <tr><td>
      <table>
        <%=field_row "Report Label", text_field_tag(:subtitle)%>
      </table>
    <select id='assign_lst' name='to_assign' multiple='multiple' size='10' style='width:100%;'>
      <%visible_companies.each do |c|%>
        <optgroup label='<%=c.name%>'>
          <%c.users.each do |u|%>
            <option value='<%=u.id%>'><%=u.full_name%></option>
          <%end%>
        </optgroup>
      <%end%>
    </select>
    </td></tr>
  </tbody>
</table>
  <div id='hdn_assigns' style='display:none;'></div>
  
<% end %>
<p><em><b>Be careful</b>, when you assign a user... </em>
<ul>
  <li style='color:red;'>you won't be able to edit the survey anymore.</li>
  <li>he or she will receive an email notification.</li>
  <li>he or she will be permanently assigned to this survey.</li>
</ul>
</p>

<h3>Current Surveys</h3>
<%=render :partial=>'response_status', locals: {survey_responses: @survey.survey_responses.was_archived(false)} %>
