<%content_for :head_tags do%>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%end%>
<%content_for :javascript do%>
  $(function() {
    $("#mod_copy").dialog({autoOpen:false,title:"Confirm Copy",buttons:{
      "OK":function() {window.location="/surveys/<%=@survey.id%>/copy"},"Cancel":function() {$("#mod_copy").dialog('close');}
    }}); 
    $("#btn_cpy").click(function() {$("#mod_copy").dialog('open');});
  });
  google.load('visualization', '1.0', {'packages':['corechart']});
  var respC = function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Rating');
    data.addColumn('number', 'Count');
    data.addRows([
      <%@survey.rating_values.each_with_index do |rv,i|%>
        ['<%=rv%>',<%=@survey.survey_responses.where(:rating=>rv).count%>],
      <%end%>
      ['Not Rated',<%=@survey.survey_responses.where("rating is null OR length(rating)=0").count%>]
    ]);

    var options = {'title':'Surveys by Rating',
                   'height':300};
    var chart = new google.visualization.PieChart(document.getElementById('resp_chart'));
    chart.draw(data, options);
  }
  google.setOnLoadCallback(respC);
  var statC = function drawchart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Status');
    data.addColumn('number', 'Count');
    data.addRows([
      <%["Incomplete","Needs Rating","Rated"].each do |st|%>
      ['<%=st%>',<%=@survey.survey_responses.where(:status=>st).count%>]<%=st=="Rated" ? "" : ","%>
      <%end%>
    ]);
    var options = {'title':'Surveys by Status',
                   'height':300};
    var chart = new google.visualization.PieChart(document.getElementById('stat_chart'));
    chart.draw(data, options);
  }
  google.setOnLoadCallback(statC);
<%end%>
<%content_for :action_bar do%>
  <% unless @survey.locked? %>
    <button class='btn_link' link_to='<%=edit_survey_path @survey%>' key_map='e'>Edit</button>
  <% end%>
  <button class='btn_link' link_to='<%=show_assign_survey_path @survey%>' key_map='a'>Assign</button>
  <% if current_user.view_surveys? && @survey.company_id == current_user.company_id %>
    <button class='btn_link' link_to='<%=toggle_subscription_survey_path @survey%>' key_map='t'>
      <%= @survey.survey_subscriptions.where(:user_id => current_user).empty? ? "Subscribe" : "Unsubscribe" %>
    </button>
  <% end %>
  <% if @survey.can_edit?(current_user)%>
    <button id='btn_cpy'>Copy Survey</button>
  <% end %>
<%end%>
<h1><%=@survey.name%></h1>

<div id='stat_chart' style='text-align:center; width:45%; margin:0; float:right;'></div>
<div id='resp_chart' style='text-align:center; width:45%; margin:0;'></div>
<div style='clear:both'></div>
<table class='detail_table'>
  <thead><tr><th>Company</th><th>Responder</th><th>Status</th><th>Rating</th><th>Invited</th><th>Opened</th><th>Submitted</th><th>Last Updated</th></tr></thead>
  <tbody>
    <%@survey.survey_responses.each do |sr| %>
      <tr>
        <td><%=link_to sr.user.company.name, sr%></td><td><%=sr.user.full_name%></td><td><%=sr.status%></td>
        <td><%=sr.rating%></td>
        <td><%=sr.email_sent_date%></td>
        <td><%=sr.response_opened_date%></td>
        <td><%=sr.submitted_date%></td>
        <td><%=sr.updated_at%></td>
      </tr>
    <% end%>
  </tbody>
</table>

<h2>Questions</h2>
<table class='detail_table'>
  <thead><tr><th>Question</th><th>Answered</th>
  <%@survey.rating_values.each do |rv|%>
    <th><%=rv%></th>
  <%end%>
  </tr></thead>
  <tbody>
    <%@survey.questions.each do |q|%>
      <tr class='hover'>
        <td><%=RedCloth.new(q.content).to_html.html_safe%></td>
        <td><%=@survey.answers.where(:question_id=>q.id).where("survey_responses.submitted_date is not null").count%></td>
        <%@survey.rating_values.each do |rv|%>
          <td><%=@survey.answers.where(:question_id=>q.id,:rating=>rv).count%></td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>

<div id='mod_copy' style='display:none;'>
  <p><em>Are you sure you want to make a new version of this survey?</em></p>
  <p>If you are trying to issue the survey to a user, use the Assign button instead.</p>
</div>
