
<% @official_tariff = OfficialTariff.new if @official_tariff.nil? %>

<%=form_for @official_tariff do |f| %>
Country ID: <%=f.text_field :country_id%><br />
Full Description: <%=f.text_area :full_description, "rows"=>"5"%><br />
HTS Code: <%=f.text_field :hts_code %><br />
<%=f.submit%>
<%end%>

<hr />

<table class='detail_table'>
  <thead>
    <tr>
      <th>CountryID</th>
      <th>Country Name</th>
      <th>Full Description</th>
      <th>HTS</th>
    </tr>
  </thead>
  <tbody>
    <%@official_tariffs.each do |o|%>
    <tr class='hover'>
      <td><%=o.country_id%></td>
      <td><%=o.country.name%></td>
      <td><%=o.full_description%></td>
      <td><%=link_to o.hts_code, o%></td>
    </tr>
    <%end%>
  </tbody>
</table>
