<%content_for :action_bar do%>
<button class='btn_link' link_to='<%=official_tariffs_path%>' key_map='b'>Back To Search</button>
<%end%>
<table>
<%=field_row field_label(:ot_cntry_name), @official_tariff.country.name%>
<%=field_row field_label(:ot_hts_code), @official_tariff.hts_code.hts_format%>
<%=field_row field_label(:ot_gen_rate), @official_tariff.general_rate%>
<%=field_row field_label(:ot_chapter), @official_tariff.chapter%>
<%=field_row field_label(:ot_heading), @official_tariff.heading%>
<%=field_row field_label(:ot_sub_heading), @official_tariff.sub_heading%>
<%=field_row field_label(:ot_remaining), @official_tariff.remaining_description%>
<%=field_row field_label(:ot_spec_rates), @official_tariff.special_rates%>
<%=field_row field_label(:ot_ad_v),@official_tariff.add_valorem_rate%>
<%=field_row field_label(:ot_per_u), @official_tariff.per_unit_rate%>
<%=field_row field_label(:ot_uom), @official_tariff.unit_of_measure%>
<%=field_row field_label(:ot_mfn), @official_tariff.most_favored_nation_rate%>
<%=field_row field_label(:ot_gpt), @official_tariff.general_preferential_tariff_rate%>
<%=field_row field_label(:ot_erga_omnes_rate), @official_tariff.erga_omnes_rate%>
<%=field_row field_label(:ot_col_2), @official_tariff.column_2_rate%>
<%if @official_tariff.country.iso_code=="TW"%>
<%=field_row field_label(:ot_import_regs), @official_tariff.import_regulations%>
<%=field_row field_label(:ot_export_regs), @official_tariff.export_regulations%>
<%end%>
<%if @official_tariff.country.iso_code=="US"%>
  <%=field_row "Binding Rulings", link_to("Click Here","http://rulings.cbp.gov/index.asp?qu=#{@official_tariff.hts_code.hts_format.gsub(/\./,"%2E")}&vw=results",:target=>"rulings")%>
<%end%>
<%if @official_tariff.official_quota%>
  <%oq = @official_tariff.official_quota%>
  <%=field_row "Quota Category", oq.category%>
  <%=field_row "SME Factor", oq.square_meter_equivalent_factor%>
  <%=field_row "SME UOM", oq.unit_of_measure%>
<%end%>
</table>
