<%content_for :action_bar do%>
  <%if current_user.edit_classifications?%>
    <button class="form_to" form_id="frm_md" key_map='s'>Save</button>
  <%end%>
  <button class='btn_link' link_to='<%=official_tariffs_path%>' key_map='b'>Back To Search</button>
<%end%>
<%=form_for @official_tariff.meta_data, :html=>{:id=>"frm_md"} do |f| %>
  <%=f.hidden_field :country_id%>
  <%=f.hidden_field :hts_code%>
  <table>
    <%= show_model_fields @official_tariff, [:ot_cntry_name, :ot_hts_code, :ot_common_rate,:ot_gen_rate,:ot_chapter,:ot_heading,:ot_sub_heading,:ot_remaining,:ot_spec_rates, :ot_ad_v, :ot_per_u, :ot_uom, :ot_mfn, :ot_gpt, :ot_erga_omnes_rate, :ot_col_2], table: true %>
    <%if @official_tariff.country.iso_code=="TW"%>
      <%= show_model_fields @official_tariff, [:ot_import_regs, :ot_export_regs], table: true %>
    <%end%>
    <% b_ruling = @official_tariff.binding_ruling_url %>
    <% if !b_ruling.nil?%>
      <%=field_row "Binding Rulings", link_to("Click Here",b_ruling,:target=>"rulings")%>
    <%end%>
    <%if @official_tariff.official_quota%>
      <%oq = @official_tariff.official_quota%>
      <%=field_row "Quota Category", oq.category%>
      <%=field_row "SME Factor", oq.square_meter_equivalent_factor%>
      <%=field_row "SME UOM", oq.unit_of_measure%>
    <%end%>
    <%if current_user.edit_classifications?%>
      <%=field_row "Ignore For Auto Classify", f.check_box(:auto_classify_ignore)%>
      <%=field_row "Notes", f.text_area(:notes)%>
      <%=field_row "Summary Description", f.text_field(:summary_description)%>
    <%else%>
      <%=field_row "Ignore For Auto Classify", f.object.auto_classify_ignore ? "Yes" : "No" %>
      <%=field_row "Notes", f.object.notes%>
      <%=field_row "Summary Description", f.object.summary_description%>
    <%end%>
  </table>
<%end%>
