<%content_for :javascript do %>
$(function() {
  $("#btn_save").click(function() {$("#frm_dw").submit();});
  $("#btn_cancel").click(function() {window.location = '/';});
});
<%end%>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%end%>
<h2>Dashboard Setup</h2>
<div>
<p>Use the drop down boxes below to choose the searches that you want to have on your dashboard.</p>
</div>
<br />
<%=form_tag save_dashboard_widgets_path, :method=>"post", :id=>"frm_dw" do%>
  <table>
  <% wa = @widgets.to_a %>
  <% (0..4).each do |i| %>
    <% w = wa.shift %>
    <% w = DashboardWidget.new() if w.nil? %>
    <tr class='hover'><td style='font-weight:bold'>Slot <%=i+1%>:</td>
    <td>
    <input type='hidden' name='dashboard_widget[<%=i%>][rank]' value='<%=i%>' />
    <select name='<%="dashboard_widget[#{i}][search_setup_id]"%>'>
      <option value='none'>[None]</option>
      <%@searches.each do |s| %>
        <option value='<%=s.id%>' <%=s.id==w.search_setup_id ? "selected='true'" : ""%>><%="#{CoreModule.find_by_class_name(s.module_type).label} - #{s.name}"%></option>
      <%end%>
    </select>
    </td>
    </tr>
  <% end %>
  </table>
<% end %>
<br />
<p>To create a new search, click on the button on the bar above that matches the items you want to search, then click the <em>setup</em> link and configure your new search.</p>
