<%content_for :javascript do %>
$(function() {
  $('#submit-form').click(function() {$('#edit_um').submit();});
  $('#cancel-back').click(function() {window.location = "<%=user_manuals_path%>";});
  $('#download-manual').click(function() {window.location = "<%= download_user_manual_path(@user_manual) %>";});
  $('#delete-manual').click(function() {
    var response = confirm('Are you sure you want to delete this?');
    if (response == true) {
      $.ajax({
        url: '<%= user_manual_path(@user_manual) %>',
        type: 'DELETE',
      });
      window.location = '<%= user_manuals_path %>'
    }
  });
});
<%end%>
<%content_for :action_bar do %>
  <button class='btn btn-secondary' id='submit-form'><i class='fa fa-floppy-o'></i></button>
  <button class='btn btn-secondary' id='download-manual'><i class='fa fa-download'></i></button>
  <button class='btn btn-secondary' id='delete-manual'><i class='fa fa-trash'></i></button>
<%end%>
<%=form_for @user_manual, html: {id: 'edit_um'} do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Edit User Manual</h2>
        <div class="form-group">
          <%=f.label :name%>
          <%=f.text_field :name, required: true, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%=f.label :category%>
          <%=f.text_field :category, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%=f.label :document_url, "Document URL <small>(overrides Wistia code)</small>".html_safe %>
          <%=f.text_field :document_url, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%=f.label :wistia_code, "Wistia code <small>(overrides attachment)</small>".html_safe %>
          <%=f.text_field :wistia_code, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%=f.label :page_url_regex, 'Matching Page URL (regex)'%>
          <%=f.text_field :page_url_regex, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%=f.label :groups, 'Group System Codes'%>
          <%=f.text_area :groups, class: 'form-control', rows: 5%>
          <em class='small'>One per line</em>
        </div>
        <div class="form-group">
          <%=f.check_box :master_company_only%>
          <%=f.label :master_company_only, 'Master Company Only (Limit access to only users with Master Company Accounts.)'%>
        </div>
      </div>
    </div>
  </div>
<%end%>
