<%content_for :javascript do %>
$(function() {
  $("#btn_save").click(function() {$("#frm_c").submit();});
  $("#btn_cancel").click(function() {window.location = '<%=countries_path%>';})
});
<%end%>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%end%>
<%=form_for(@country, :html=>{:id=>'frm_c'}) do |f|%>
<table>
<%=field_row "Name", @country.name %>
<%=field_row "ISO Code", @country.iso_code%>
<%=field_row "Used For Imports", f.check_box(:import_location)%>
</table>
<%end%>
