<%content_for :javascript do %>
$(function() {
  $("#btn_save").click(function() {$("#frm_c").submit();});
  $("#btn_cancel").click(function() {window.location = '<%=countries_path%>';});

  if (!$("#country_import_location").is(':checked'))
    $("#country_quicksearch_show").attr('disabled', true);

  $("#country_import_location").click(function(e) {
    var checkBox = $("#country_quicksearch_show");
    if ($(e.target).is(':checked'))
      checkBox.attr('disabled', false);
    else {
      checkBox.prop('checked', false);
      checkBox.attr('disabled', true);
    }
  });
});
<%end%>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%end%>
<%=form_for(@country, :html=>{:id=>'frm_c'}) do |f|%>
<table>
<%=field_row "Name", @country.name %>
<%=field_row "ISO Code", @country.iso_code%>
<%=field_row "Used For Imports", f.check_box(:import_location)%>
<%=field_row "View in QuickSearch", f.check_box(:quicksearch_show)%>
<%=field_row "Classification Screen Sort Rank", f.text_field(:classification_rank)%>
<%=field_row "Active Origin?", f.check_box(:active_origin)%>
</table>
<%end%>