<% content_for :action_bar do %>
  <button class='form_to' form_id="frm_sr">Save</button>
  <% if @sr.user == current_user && @sr.submitted_date.nil? %>
    <button id='btn_submit' style='display:none'>Submit</button>
  <% end %>
  <% if @sr.rated? %>
    <button id='btn_filter'>Filter</button>
  <% end %>
  <% if @sr.survey.company_id == current_user.company_id%>
    <button class='btn_link' link_to='<%=invite_survey_response_path(@sr)%>'>Resend Invite Email</button>
  <%end%>
  <button class='btn_link' link_to='<%=survey_response_survey_response_logs_path(@sr)%>'>Logs</button>
  <button class='btn_link' link_to='<%=@sr.user == current_user ? survey_responses_path : survey_path(@sr.survey)%>'>Back</button>
  <div id='answr_trk'>
    
  </div>
<% end %>

<% content_for :javascript do %>
var OCSR = (function() {
  var contactGood = false;
  var respTrackGood = false;
  return {
    updateResponseTrack:function() {
      var quests = $("div.question");
      var q_cnt = quests.length;
      var g_cnt = 0;
      quests.each(function(i,e) {
        var q = $(e);
        var pass = false;
        if(q.attr('answered')=='y') {
          g_cnt++;
        } else {
          $(e).children(".a_opt, .a_fil").each(function(j,x) {
            if(!pass && $(x).val().length > 0) {
              pass = true;
              g_cnt++;
            }
          });
        }
      });
      $("#answr_trk").html(g_cnt+" of "+q_cnt+" questions answered.");
      respTrackGood = (g_cnt==q_cnt);
      OCSR.setSubmit();
    },
    contactCheck:function() {
      var pass = true;
      $(".creq").each(function() {
        var lPass = $(this).val().length > 0;
        if(pass) {
          pass = lPass;
        }
        if(!lPass) {
          $(this).addClass('required_empty');
        } else {
          $(this).removeClass('required_empty');
        }
      });
      contactGood = pass;
      OCSR.setSubmit();
    },
    addAttachment: function(link,uploadedById,answerIndex) {
      var prefix,h,mid;
      mid = new Date().getTime();
      prefix = "survey_response[answers_attributes]["+answerIndex+"][attachments_attributes]["+mid+"]"; 
      h = "<div class='a_line'>";
      h += "<input type='hidden' name='"+prefix+"[attachable_type]' value='Answer'/>";
      h += "<input type='hidden' name='"+prefix+"[uploaded_by_id]' value='"+uploadedById+"'/>";
      h += "<input type='file' class='a_fil' name='"+prefix+"[attached]'>";
      h += " - <a href='#' class='a_rem'>Remove</a>";
      h += "</div>";
      link.before(h);
    },
    setSubmit: function() {
      if(contactGood && respTrackGood) {
        $("#btn_submit").show();
      } else {
        $("#btn_submit").hide();
      }
    },
    filter: function() {
      var warnMsg = "Showing responses for: ";
      $("div.question").hide();
      $("input.r_filter:checked").each(function() {
        var val =$(this).val();
        var warnLbl = val.length > 0 ? val : "Not Rated";
        $("div.question[rating='"+val+"']").slideDown();
        warnMsg += warnLbl+", ";
      });
      if(warnMsg=="Showing responses for: ") {
        $("#filter_warn").hide();
      } else {
        warnMsg = warnMsg.substr(0,warnMsg.length-2);
        $("#filter_warn").html(warnMsg);
        $("#filter_warn").show();
      }
    }
  }
})();
$(function() {
  $("#s_confirm").dialog({autoOpen:false,title:"Confirm Submit",buttons:{
    "Continue":function() {
      $("#frm_sr").append("<input type='hidden' name='do_submit' value='1' />");
      $("#frm_sr").submit();
    },
    "Cancel":function() {$("#s_confirm").dialog('close');}}
  });
  $("#btn_submit").click(function() {
    $("#s_confirm").dialog('open');
  });
  $("#s_rating_filter").dialog({autoOpen:false,title:"Filter Ratings",buttons:{
    "Filter":function() {
      OCSR.filter();
      $("#s_rating_filter").dialog('close');
    }
  }});
  $("#btn_filter").click(function() {
    $("#s_rating_filter").dialog('open');
  });
  $("select.resp").change(function() {OCSR.updateResponseTrack();});
  $(".creq").keyup(function() {OCSR.contactCheck();});
  $(".a_opt").keyup(function() {OCSR.updateResponseTrack();});
  $(".a_fil").change(function() {OCSR.updateResponseTrack();});
  $(".add_attach").click(function(evt) {
    var t = $(this);
    evt.preventDefault();
    OCSR.addAttachment(t,t.attr('uploaded_by_id'),t.attr('answer_index'));
  });
  $(".a_rem").live('click',function(evt) {
    evt.preventDefault();
    var found = $(this).parent("div.a_line");
    found.fadeOut();
    found.remove();
  });
});
<%if @respond_mode%>
$(document).ready(function() {
  OCSR.updateResponseTrack();
  OCSR.contactCheck();
  OCSR.setSubmit();
});
<%end%>
<% end %>

<style>
textarea {
  width: 100%;
  height: 10em;
}
.q_head {
  font-size: 80%;
  background-color: #ccc;
  color: black;
  text-align: center;
  margin: 10px 0 0 0;
}
.q_subhead {
  font-weight: bold;
  font-size: 80%;
}
.c_warn {
  width: 80%;
  margin-top: 4px;
  border: 2px solid #FF9900;
  background-color: #FFFF66;
}
.comm {
  border-left: 2px solid #1eb816;
  margin: 2px;
  padding-left: 5px;
}
.comm pre {
  overflow-x: auto;
  background: none;
}
</style>
<div id='filter_warn' class='c_warn' style='display:none;'></div>
<%form_for @sr, :html=>{:id=>'frm_sr',:multipart=>true} do |f|%>
  <h1><%=@sr.survey.name%> <%if @sr.user!=current_user%> - <%=@sr.user.full_name%><%end%> </h1>
  <%if @rate_mode %> 
    <%=f.select(:rating, @sr.survey.rating_values, {:include_blank=>true})%>
  <%elsif @sr.rating %>
    <h2>Rating: <%=@sr.rating%></h2>
  <%end%>
  <div id='contact'>
    <div class='q_head'>Contact Information</div>
    <table>
      <%=field_row "Name", @rate_mode ? @sr.name : f.text_field(:name,:class=>:creq)%>
      <%=field_row "Address", @rate_mode ? @sr.address : f.text_area(:address,:class=>:creq)%>
      <%=field_row "Phone", @rate_mode ? @sr.phone : f.text_field(:phone,:class=>:creq)%>
      <%=field_row "Email", @rate_mode ? @sr.email : f.text_field(:email,:class=>:creq)%>
      <%=field_row "Fax", @rate_mode ? @sr.fax : f.text_field(:fax)%>
    </table>
  </div>
  </table>
  <%q_idx = 1%>
  <%@sr.answers.each_with_index do |ans,a_idx|%>
    <%f.fields_for :answers, ans do |a|%>
      <%q = a.object.question%>
      <div class='question' answered='<%=a.object.answered? ? "y" : "n"%>' rating='<%=a.object.rating%>'>
        <div class='q_head'>Question #<%=q_idx%></div>
        <%if !@rate_mode && a.object.question.warning? && a.object.answer_comments.empty? && a.object.attachments.empty?%> 
          <div class='c_warn'>This question requires a comment or attachment.  Your submission may be rejected if this is not included.</div>
        <%end%>
        <%q_idx += 1%>
        <div class='q_content'><%=RedCloth.new(q.content).to_html.html_safe%></div>
        <p><span class='q_subhead'>Answer:</span>
          <% if @respond_mode && !q.choices.blank? %>
            <%=a.select :choice, q.choices.lines, {:include_blank=>true},:class=>'resp'%>
          <% else %>
            <%=a.object.choice%>
          <% end %>
        </p>
        <p>
        <% if @rate_mode %>
          Rating: <%=a.select :rating, @sr.survey.rating_values, {:include_blank=>true} %>
        <% elsif !a.object.rating.blank? %>
          Rated: <%=a.object.rating%>
        <% end %>
        </p>
        <div class='q_subhead'>Comments</div>
        <% a.object.answer_comments.each do |ac|%>
          <% next if ac.private? && !@sr.can_view_private_comments?(current_user) -%>
          <div class='comm'>
            <em><%=ac.user.full_name%> - <%=ac.created_at%> <%=ac.private? ? " - PRIVATE" : ""%></em><br/>
            <pre>
    <%=ac.content%>
            </pre>
          </div>
        <% end %>
        <%a.fields_for :answer_comments, a.object.answer_comments.build(:user=>current_user) do |acf|%>
          <%=acf.hidden_field :user_id%>
          <%=acf.text_area :content, :class=>'a_opt'%><br />
          <%if @sr.can_view_private_comments?(current_user)%><%=acf.check_box :private%> Private<%end%>
        <% end %>
        <ul>
        <% a.object.attachments.each do |att|%>
          <li><%=link_to att.attached_file_name, download_attachment_path(att)%></li>
        <% end %>
        </ul>
        <div class='attach_box' id='attach_box_<%=a.object.id%>'>
          <a href='#' class='add_attach' uploaded_by_id='<%=current_user.id%>' answer_index='<%=a_idx%>'>Attach File</a>
        </div>
      </div>
    <%end%>
  <%end%>
<%end%>

<div id='s_confirm' style='display:none;'>
  <p>Submitting this survey will lock all answers notify the survey owner.</p>
  <p>You will <span style='color:red'>NOT</span> be able to change your answers after clicking the Continue button below.</p>
  <p>Please click Continue to finish submitting or Cancel to go back..</p>
</div>

<div id='s_rating_filter' style='display:none;'>
  <div>Select the ratings you want to see.</div>
  <%@sr.survey.rating_values.each do |rv|%>
    <input type='checkbox' value='<%=rv%>' class='r_filter' /> <%=rv%><br />
  <%end%>
    <input type='checkbox' value='' class='r_filter' /> Show Not Rated
</div>
