<%content_for :javascript do %>
  Chain.onBeforeUnload(function(evt) {
    if($('div[ng-controller]').scope().hasUnsavedComments()) {
      return "You have not added all of your comments. If you leave the page without clicking the Add Comment button, they will not be saved."
    } else {
      return undefined;
    }
  });
<%end%>
<style>
  label {
    font-weight: bold;
  }
</style>
<%-unless current_user.hide_message?('survey_response_1') || current_user.created_at.to_date > Date.new(2013,11,1)-%>
  <script>
    $(document).ready(function() {
      $('#survey_response_1').modal('show');
      $('#sr1_never_show').click(function() {
        $('#survey_response_1').modal('hide');
        Chain.hideMessage('survey_response_1');
      });
      $('#sr1_hide').click(function() {
        $('#survey_response_1').modal('hide');
      });
    });
  </script>
  <div id='survey_response_1' class='modal fade' role='modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>New Survey Updates</h3>
        </div>
        <div class='modal-body'>
          <p>Welcome to the new survey screen. We've made some improvements!</p>
          <ul>
            <li>We've removed the save button. Everything is now automatically saved each time you leave a field.</li>
            <li>If someone is making changes, you'll only receive notifications once per hour.</li>
          </ul>
        </div>
        <div class='modal-footer'>
          <button class='btn' id='sr1_never_show'>Never Show This Again</button>
          <button class='btn btn-primary' id='sr1_hide'>OK</button>
        </div>
      </div>
    </div>
  </div>
<%-end-%>
<div ng-app='SurveyResponseApp' ng-init='response_id = <%=@sr.id%>'>
  <div class='container' ng-controller='srController'>
    <div chain-action-bar>
      <button class='btn btn-default' ng-show='resp.can_submit' ng-click='submit()'>Submit</button>
      <button class='btn btn-default' ng-click='srService.invite(resp)'>Resend Email Invite</button>
      <%-if @sr.survey.can_edit?(current_user)-%>
        <button class='btn_link btn btn-default' link_to='<%=survey_path(@sr.survey)%>'>Survey Dashboard</button>
      <%-end-%>
      <%-if @sr.can_edit?(current_user) && @sr.submitted_date && @sr.corrective_action_plan.nil?-%>
        <%=button_to 'Corrective Action Plan', survey_response_corrective_action_plans_path(@sr), :method=>'POST', :class=>'btn btn-default', :form_class=>'inline-button-to', :class=>'btn btn-default'%>
      <%-end-%>
      <%-if @sr.submitted_date && @sr.corrective_action_plan && @sr.corrective_action_plan.can_view?(current_user) -%>
        <button class='btn_link btn <%= @sr.corrective_action_plan.status==CorrectiveActionPlan::STATUSES[:active] ? 'btn-danger' : 'btn-default'%>' link_to='<%=survey_response_corrective_action_plan_path(@sr,@sr.corrective_action_plan)%>'>Corrective Action Plan</button>
      <%-end-%>
    </div>
    <div class='row text-center' style='margin-bottom:20px;'>
      <div class='col-md-12'>
        <h1>{{resp.survey.name}} <span ng-show='resp.subtitle.length>0'> - {{resp.subtitle}}</span></h1>
      </div>
    </div>
    <div chain-modal-message='resp.success_message' title='Success' clear-on-close='true'></div>
    <div chain-modal-message='resp.error_message' title='Error' clear-on-close='true'></div>
    <div>
      <div class='col-md-12'>
        <span ng-show='resp.saving' class='label label-info'>Saving...</span>&nbsp;
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <div>
          <strong>Status:</strong><br />
          {{resp.status}}
        </div>
        <div>
          <strong>Rating:</strong><br />
          <span ng-hide='resp.can_rate'>{{resp.rating}}</span>
          <span ng-hide='resp.rating.length>0 || resp.can_rate'>Not Rated</span>
          <select ng-change='srService.saveRating(resp)' ng-disabled='resp.error_message' ng-show='resp.can_rate' ng-model='resp.rating' ng-options='v for v in resp.survey.rating_values'></select>
        </div>
        
      </div>
      <div class='col-md-6 form-inline'>
        <strong>Question Filter</strong><br/>
        <select class='form-control' ng-model='srService.settings.filterMode' ng-options='r for r in srService.filterModes' ng-change='filterAnswers()'></select>
      </div>
    </div>
    <form name='contact_form'>
      <fieldset>
        <div class='row'>
          <div class='col-md-12'>
            <legend class='text-info'>
              Contact Information (required) 
            </legend>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group' ng-class="{error: contact_form.$dirty && contact_form.name.$invalid}">
              <label for='ci-name'>Your Name</label>
              <input class='form-control' id='ci-name' name='name' ng-blur='srService.saveContactInfo(resp)' type='text' ng-model='resp.name' ng-disabled='!resp.can_answer || resp.error_message.length>0' required />
            </div>
            <div class='form-group' ng-class="{error: contact_form.$dirty && contact_form.address.$invalid}">
              <label for='ci-address'>Address</label>
              <textarea class='form-control' id='ci-address' name='address' ng-blur='srService.saveContactInfo(resp)' ng-model='resp.address' ng-disabled='!resp.can_answer || resp.error_message.length>0' required></textarea>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group' ng-class="{error: contact_form.$dirty && contact_form.phone.$invalid}">
              <label for='ci-phone'>Phone</label>
              <input class='form-control' id='ci-phone' name='phone' type='tel' ng-blur='srService.saveContactInfo(resp)' ng-model='resp.phone' ng-disabled='!resp.can_answer || resp.error_message.length>0' required />
            </div>
            <div class='form-group' ng-class="{error: contact_form.$dirty && contact_form.email_add.$invalid}">
              <label for='ci-email'>Email</label>
              <input class='form-control' id='ci-email' name='email_add' type='email' ng-blur='srService.saveContactInfo(resp)' ng-model='resp.email' ng-disabled='!resp.can_answer || resp.error_message.length>0' required />
            </div>
            <div class='form-group'>
              <label for='ci-fax'>Fax</label>
              <input class='form-control' id='ci-fax' type='tel' ng-blur='srService.saveContactInfo(resp)' ng-model='resp.fax' ng-disabled='!resp.can_answer || resp.error_message.length>0' />
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2 text-center alert alert-info' ng-hide='srService.settings.filterMode=="All"'>
        Showing {{filteredAnswers.length}} of {{resp.answers.length}} questions.
      </div>
    </div>
    <div ng-repeat='answer in filteredAnswers' style='margin-bottom:20px;'>
      <div class='row'>
        <div class='col-md-12'>
          <legend class='text-info'>
            Question #{{answer.sort_number}} <span ng-show='answer.saving' class='label label-info'>Saving...</span>
          </legend>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-12 text-right"><span class="label" ng-class='{"label-info": answer.hours_since_last_update<24, "label-default": answer.hours_since_last_update > 24}'>Updated <span am-time-ago='answer.updated_at'></span></span></div>
      </div>
      <div class='row' ng-show='showWarning(answer)'>
        <div class='col-md-10 alert'>
          This is a required question.  You must provide an answer or comment or your response may be rejected.
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <span ng-bind-html='answer.question.html_content'></span>
        </div>
      </div>
      <div class='row' ng-show='answer.error_message'>
        <div class='col-md-12 alert alert-error'>{{answer.error_message}}</div>
      </div>
      <div class='row' ng-show='answer.question.attachments'>
        <div class='col-md-12'>
          <h4>Attachments</h4>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12' ng-repeat='question_att in answer.question.attachments'>
          <a href='/attachments/{{question_att.id}}/download' target='_blank'>{{question_att.attached_file_name}}</a>
        </div>
      </div>
      <div class='row' style='margin-bottom:15px; margin-top:15px;'>
        <div class='col-md-6' ng-show='answer.question.choice_list.length>0'>
          <label>Multiple Choice Answer</label>
          <span ng-hide='resp.can_answer'>{{answer.choice}}</span>
          <select ng-change='saveAnswer(answer)' ng-show='resp.can_answer' ng-model='answer.choice' ng-options='c for c in answer.question.choice_list' ng-disabled='answer.error_message'></select>
        </div>
        <div class='col-md-6' ng-show='resp.can_rate || answer.rating'>
          <label>Rating</label>
          <span ng-hide='resp.can_rate'>{{answer.rating}}</span>
          <select ng-change='srService.saveAnswer(answer)' ng-show='resp.can_rate' ng-model='answer.rating' ng-options='v for v in resp.survey.rating_values' ng-disabled='answer.error_message'></select>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h4>Comments</h4>
        </div>
      </div>
      <div class='row' ng-repeat='com in answer.answer_comments'>
        <div class='col-md-12 muted'>
          <span ng-show='com.private' class='label label-success'>private</span> <strong>{{com.user.full_name}}</strong> wrote at {{com.created_at | date:'yyyy-MM-dd HH:mm'}}: 
        </div>
        <div class='col-md-12'>
          {{com.content}}
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <label for='new_comment'>New Comment:</label>
          <textarea id='new_comment' ng-model='answer.new_comment' rows='5' style='width:100%;'></textarea>
          <div ng-hide='answer.error_message'>
            <div class='pull-right' ng-show='resp.can_make_private_comment'>
              <input type='checkbox' ng-model='answer.new_comment_private' /> private
            </div>
            <div>
              <button ng-show='answer.new_comment && answer.new_comment.length > 0 && !answer.error_message' class='btn btn-small btn-success' ng-click='addComment(answer)'>Add Comment</button>
            </div>
            <div ng-show='answer.error_message' class='alert alert-error'>
              {{answer.error_message}}
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h4>Attachments</h4>
        </div>
      </div>
      <div class='row' ng-repeat='att in answer.attachments'>
        <div class='col-md-12'>
          <a href='/attachments/{{att.id}}/download' target='_blank'>{{att.name}} <span class='badge'>{{att.size}}</span></a>
        </div>
      </div>
      <div class='row' style='margin-top:10px;'>
        <div class='col-md-12'>
          <div chain-attach='answer' attachable-type='Answer' attachable-id='{{answer.id}}'></div>
        </div>
      </div>
    </div>
  </div>
</div>
