<% content_for :action_bar do %>
  <button class='form_to' form_id="frm_sr">Save</button>
  <% if @sr.user == current_user && @sr.submitted_date.nil? %>
    <button id='btn_submit' style='display:none'>Submit</button>
  <% end %>
  <% if @sr.survey.company_id == current_user.company_id%>
    <button class='btn_link' link_to='<%=invite_survey_response_path(@sr)%>'>Resend Invite Email</button>
  <%end%>
  <button class='btn_link' link_to='<%=survey_response_survey_response_logs_path(@sr)%>'>Logs</button>
  <button class='btn_link' link_to='<%=@sr.user == current_user ? survey_responses_path : survey_path(@sr.survey)%>'>Back</button>
  <div id='answr_trk'>
    
  </div>
<% end %>

<% content_for :javascript do %>
var OCSR = (function() {
  var contactGood = false;
  var respTrackGood = false;
  return {
    updateResponseTrack:function() {
      var selects = $("select.resp");
      var total = selects.size();
      var answered = 0;
      selects.each(function(i,e) {
        answered = answered + ($(e).val().length > 0 ? 1 : 0);
      });
      $("#answr_trk").html(answered+" of "+total+" questions answered.");
      respTrackGood = (answered==total);
      OCSR.setSubmit();
    },
    contactCheck:function() {
      var pass = true;
      $(".creq").each(function() {
        var lPass = $(this).val().length > 0;
        if(pass) {
          pass = lPass;
        }
        if(!lPass) {
          $(this).addClass('required_empty');
        } else {
          $(this).removeClass('required_empty');
        }
      });
      contactGood = pass;
      OCSR.setSubmit();
    },
    setSubmit: function() {
      if(contactGood && respTrackGood) {
        $("#btn_submit").show();
      } else {
        $("#btn_submit").hide();
      }
    }
  }
})();
$(function() {
  $("#s_confirm").dialog({autoOpen:false,title:"Confirm Submit",buttons:{
    "Continue":function() {
      $("#frm_sr").append("<input type='hidden' name='do_submit' value='1' />");
      $("#frm_sr").submit();
    },
    "Cancel":function() {$("#s_confirm").dialog('close');}}
  });
  $("#btn_submit").click(function() {
    $("#s_confirm").dialog('open');
  });
  $("select.resp").change(function() {OCSR.updateResponseTrack();});
  $(".creq").keyup(function() {OCSR.contactCheck();});
});
<%if @respond_mode%>
$(document).ready(function() {
  OCSR.updateResponseTrack();
  OCSR.contactCheck();
  OCSR.setSubmit();
});
<%end%>
<% end %>

<style>
textarea {
  width: 100%;
  height: 10em;
}
.q_head {
  font-size: 80%;
  background-color: #ccc;
  color: black;
  text-align: center;
  margin: 10px 0 0 0;
}
.q_subhead {
  font-weight: bold;
  font-size: 80%;
}
</style>
<%form_for @sr, :html=>{:id=>'frm_sr',:multipart=>true} do |f|%>
  <h1><%=@sr.survey.name%> <%if @sr.user!=current_user%> - <%=@sr.user.full_name%><%end%> <%=( @rate_mode ? f.select(:rating, @sr.survey.rating_values, {:include_blank=>true}) : @sr.rating ) %></h1>
  <div id='contact'>
    <div class='q_head'>Contact Information</div>
    <table>
      <%=field_row "Name", @rate_mode ? @sr.name : f.text_field(:name,:class=>:creq)%>
      <%=field_row "Address", @rate_mode ? @sr.address : f.text_area(:address,:class=>:creq)%>
      <%=field_row "Phone", @rate_mode ? @sr.phone : f.text_field(:phone,:class=>:creq)%>
      <%=field_row "Email", @rate_mode ? @sr.email : f.text_field(:email,:class=>:creq)%>
      <%=field_row "Fax", @rate_mode ? @sr.fax : f.text_field(:fax)%>
    </table>
  </div>
  </table>
  <%q_idx = 1%>
  <%f.fields_for :answers do |a|%>
    <%q = a.object.question%>
    <div class='question'>
      <div class='q_head'>Question #<%=q_idx%></div>
      <%q_idx += 1%>
      <div class='q_content'><%=RedCloth.new(q.content).to_html.html_safe%></div>
      <p><span class='q_subhead'>Answer:</span>
        <% if @respond_mode %>
          <%=a.select :choice, q.choices.lines, {:include_blank=>true},:class=>'resp'%>
        <% else %>
          <%=a.object.choice%>
        <% end %>
      </p>
      <p>
      <% if @rate_mode %>
        Rating: <%=a.select :rating, @sr.survey.rating_values, {:include_blank=>true} %>
      <% elsif !a.object.rating.blank? %>
        Rated: <%=a.object.rating%>
      <% end %>
      </p>
      <div class='q_subhead'>Comments</div>
      <% a.object.answer_comments.each do |ac|%>
        <em><%=ac.user.full_name%> - <%=ac.created_at%></em><br/>
        <pre>
<%=ac.content%>
        </pre>
      <% end %>
      <%a.fields_for :answer_comments, a.object.answer_comments.build(:user=>current_user) do |acf|%>
        <%=acf.hidden_field :user_id%>
        <%=acf.text_area :content%>
      <% end %>
      <ul>
      <% a.object.attachments.each do |att|%>
        <li><%=link_to att.attached_file_name, download_attachment_path(att)%></li>
      <% end %>
      </ul>
      <%a.fields_for :attachments, a.object.attachments.build do |attf|%>
        <%=attf.hidden_field :attachable_type%>
        <span class='q_subhead'>Attach File: </span><%=attf.file_field :attached%>
      <%end%>
    </div>
  <%end%>
<%end%>

<div id='s_confirm' style='display:none;'>
  <p>Submitting this survey will lock all answers notify the survey owner.</p>
  <p>You will <span style='color:red'>NOT</span> be able to change your answers after clicking the Continue button below.</p>
  <p>Please click Continue to finish submitting or Cancel to go back..</p>
</div>
