<%content_for :head_tags do %>
  <%= javascript_include_tag "milestone_plan.js" %>
<%end%>

<%content_for :action_bar do %>
  <button class='form_to' form_id='frm_mp'>Save</button>
  <button class='btn_link' link_to='<%=milestone_plans_path%>'>Cancel</button>
<%end%>

<%=form_for @milestone_plan, :html=>{:id=>'frm_mp'} do |f| %>
  <table>
    <%=field_row "Name", f.text_field(:name)%>
  </table>

  <table class='detail_table'>
    <thead><tr><th>Field</th><th>Days After</th><th>Based On</th><th>SLA Complete</th></tr></thead>
    <tbody>
      <% sd = @milestone_plan.starting_definition.nil? ? @milestone_plan.milestone_definitions.build : @milestone_plan.starting_definition%>
      <%=f.fields_for :milestone_definitions, sd do |sdf|%>
        <tr id='first_milestone_row'><td><%=sdf.select :model_field_uid, grouped_options_for_select(@available_fields,sd.model_field_uid), {}, :class=>:sel_def_field%></td></tr>
      <%end%>
      </tbody>
  </table>
<%end%>
