<%content_for :javascript do %>
$(function() {
  $("#mod_wait").dialog({autoOpen:false,title:'Loading Samples',width:'auto'});
  $("#mod_criteria_results").dialog({autoOpen:false,title:'Criteria Matches',width:'auto',
    buttons:{"Close":function() {$("#mod_criteria_results").dialog('close');}}
  });
  $("#btn_edit").click(function() {window.location = '<%=edit_milestone_plan_path @plan%>';})
  $("#btn_search").click(function() {window.location = '<%=milestone_plans_path%>';})
  $("#lnk_test_criteria").click(function(ev) {
    ev.preventDefault();
    $("#mod_wait").dialog('open');
    $.getJSON('<%=test_criteria_milestone_plan_path(@plan)%>', function(data) {
      var h = "";
      for(i=0;i<data.length;i++) {
        var d = data[i].piece_set;
        h = h+"<tr class='hover'><td>"+d.product.name+"</td>";
        if(d.order_line!=undefined) {
          h = h+"<td>"+d.order_line.order.order_number+" - "+d.order_line.line_number+"</td>";
        } else {
          h = h+"<td></td>";
        }
        if(d.shipment!=undefined) {
          h = h+"<td>"+d.shipment.reference+"</td>"; 
        } else {
          h = h+"<td></td>";
        }
        if(d.sales_order_line!=undefined) {
          h = h+"<td>"+d.sales_order_line.sales_order.order_number+" - "+d.sales_order_line.line_number+"</td>";
        } else {
          h = h+"<td></td>";
        }
        if(d.delivery!=undefined) {
          h = h+"<td>"+d.delivery.reference+"</td>";
        } else {
          h = h+"<td></td>";
        }
        h = h+"</tr>";
      }
      $("#criteria_result_data").html(h)
      $("#mod_wait").dialog('close');
      $("#mod_criteria_results").dialog('open');
  });
  });
});
<%end%>
<%content_for :action_bar do %>
<button id='btn_edit'>Edit</button>
<button id='btn_search'>Back To List</button>
<%end%>
<table>
  <%=field_row "Name", @plan.name %>
  <%=field_row "Test Rank", @plan.test_rank%>
  <%=field_row "Direction", @plan.direction%>
</table>
<h1>Criteria (<a href='#' id='lnk_test_criteria'>Test</a>)</h1>
<table class='detail_table'>
  <thead><tr><th>Module</th><th>Field</th><th>Condition</th><th>Value</th></tr></thead>
  <tbody>
<%@plan.search_criterions.each do |c|%>
  <tr class='hover'><td><%=c.model_field.core_module.label%></td><td><%=c.model_field.label%></td><td><%=c.condition.nil? ? "" : CriterionOperator.find_by_key(c.condition).label%></td><td><%=c.value%></td></tr>
<%end%>
  </tbody>
</table>

<div id='mod_wait' style='display:none;'>Loading samples...</br><%=image_tag 'ajax-loader.gif'%></div>
<div id='mod_criteria_results' style='display:none;'>
  <div>Here are the most recent items that match these criteria.</div><br />
  <table class='detail_table'>
    <thead><tr><th>Product</th><th>Order - Line</th><th>Shipment</th><th>Sale - Line</th><th>Delivery</th></tr></thead>
    <tbody id='criteria_result_data'>
    </tbody>
  </table>
</div>
