<table>
<%=field_row "From Version", @upgrade_log.from_version%>
<%=field_row "To Version", @upgrade_log.to_version%>
<%=field_row "Started At", @upgrade_log.started_at%>
<%=field_row "Finished At", @upgrade_log.finished_at%>
</table>
<h2>Log</h2>
<pre>
<%=@upgrade_log.log%>
</pre>
