<%content_for :action_bar do %>
  <% if current_user.admin? %>
    <% if params[:show_all] %>
      <button class='btn_link' link_to='<%=report_results_path%>'>Only My Reports</button>
    <% else %>
      <button class='btn_link' link_to='<%=report_results_path+"?show_all=true"%>'>All Users</button>
    <% end %>
  <% end %>
<% end %>
<% if @show_basic -%>
<h2>Run A Basic Report</h2>
<table class='detail_table'>
  <%if current_user.company.master?%>
    <tr class='hover'><td><%=link_to "Stale Tariffs", reports_show_stale_tariffs_path%></td>
    <td>Shows all products with tariff numbers that are no longer valid.</td></tr>

    <tr class='hover'><td><%=link_to "Tariff Comparison", reports_show_tariff_comparison_path%></td>
    <td>Compares two tariff files for the same country and shows you the HTS numbers that were added, removed, or changed.</td></tr>

    <% if current_user.admin? %>
    <tr class='hover'><td><%=link_to "POA Expiration", reports_show_poa_expirations_path%></td>
    <td>Shows all companies with Power of Attorneys expiring by a given date.</td></tr>
    <% end %>
  <%end%>
  <%if current_user.view_entries?%>
    <tr class='hover'><td><%=link_to "Containers Released", reports_show_containers_released_path%></td>
    <td>Shows all containers released in a date range.</td></tr>
  <%end%>
  <%if current_user.company.master? && !LinkableAttachment.where("1=1").empty? %>
    <tr class='hover'><td><%=link_to "Attachments Not Matched", reports_show_attachments_not_matched_path%></td>
    <td>Shows all uploaded attachments not matched to items.</td</tr>
  <%end%>
  <%if current_user.company.master? && (!LinkedAttachment.where("attachable_type = \"Product\"").empty? || !Attachment.where("attachable_type = \"Product\"").empty?)%>
    <tr class='hover'><td><%=link_to "Products Without Attachments", reports_show_products_without_attachments_path%></td>
    <td>Shows all products without attachments.</td</tr>
  <%end%>
  </table>
<% end -%>
<% unless @customizable_reports.blank? -%>
<h2>Create A Customizable Report</h2>
<table class='detail_table'>
  <% @customizable_reports.each do |cr| -%>
    <tr class='hover'><td><%=link_to cr.template_name, new_custom_report_path(:type=>cr.name)%></td><td><%=cr.description%></td></tr>
  <% end -%>
</table>
<% end -%>
<% unless @current_custom_reports.blank? -%>
<h2>Manage Customizable Reports</h2>
<table class='detail_table'>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>
  <tbody>
    <% @current_custom_reports.each do |cust| -%>
      <tr><td><%=link_to cust.name, cust.becomes(CustomReport)%></td><td><%=cust.class.template_name%></td><td><%=cust.created_at%></td></tr>
    <% end -%>
  </tbody>
</table>
<% end -%>
<h2>Report You've Run</h2>
<table class='detail_table'>
  <thead><tr><th>&nbsp;</th><th>Name</th><th>Run At</th><%if params[:show_all]%><th>Run By</th><%end%><th>Status</th></tr></thead>
  <tbody>
    <% @report_results.each do |r| %>
      <tr class='hover'>
      <td><%=link_to "Details", r%><%if r.report_data_file_name %> | <%=link_to "Download", download_report_result_path(r)%><%end%></td>
      <td><%=r.name%></td>
      <td><%=r.run_at%></td>
      <%if params[:show_all]%><td><%=r.run_by.full_name%></td><%end%>
      <td><%=r.status%></td></tr>
    <%end%>
  </tbody>
</table>
<%=will_paginate @report_results%>
