<%content_for :action_bar do-%>
  <button class='btn_link' link_to='<%=new_data_cross_reference_path(cross_reference_type: @xref_info[:identifier])%>'>New</button>
<% end %>
<h1><%=@xref_info[:title]%></h1>

<% content_for(:search_form) do %>
  <input type="hidden" name="cross_reference_type" value="<%=@xref_info[:identifier]%>">
<% end %>

<%= render :partial => 'shared/search_box' %>

<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th><%=sortable_search_heading 'd_key'%></th>
      <% if @xref_info[:show_value_column] %>
        <th><%=sortable_search_heading 'd_value'%></th>
      <% end %>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <%- @xrefs.each do |xref| %>
      <tr>
        <td><%= link_to "Edit", edit_data_cross_reference_path(xref) %></td>
        <td><%=xref.key %></td>
      <% if @xref_info[:show_value_column] %>
        <td><%=xref.value %></td>
      <% end %>
        <td><%=xref.updated_at.strftime("%Y-%m-%d %I:%M %p")%></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
  <%=will_paginate @xrefs%>
</div>

