<%content_for :javascript do%>
$(function() {
  $(".search-query ").val("<%=escape_javascript raw(@value)%>");
  $('[data-qs-panel]').hide();
  $("[data-qs-activate]").click(function() {
    var btn, activateTarget, defaultModule;
    btn = $(this)
    activateTarget = btn.attr('data-qs-activate');


    $("[data-qs-activate]").addClass('btn-secondary').removeClass('btn-primary');
    btn.addClass('btn-primary').removeClass('btn-secondary');

    if(activateTarget=="all") {
      defaultModule = "all";
      searchAllModules();
      $("[data-qs-panel]").fadeIn();
    } else {
      defaultModule = activateTarget.slice(3); // Slice off the 'qs-' prefix
      searchByModule(defaultModule);
      $("[data-qs-panel]:visible").fadeOut();
      $("[data-qs-panel='"+activateTarget+"']").fadeIn();
    }
    Chain.setStorageItem('defaultModule', defaultModule);
  });

  moduleName = Chain.getStorageItem('defaultModule') || "all";
  if(moduleName !== "all") {
    el = $("[data-qs-activate='qs-" + moduleName + "']")
    el.click();
    searchByModule(moduleName);
  } else {
    $("[data-qs-activate='all']").click()
  }

  function searchByModule(moduleName) {
    OCQuickSearch.byModule(moduleName,'<%=@value%>');
  }

  function searchAllModules() {
    <%@available_modules.each do |cm|%>
    OCQuickSearch.byModule('<%=cm.class_name%>','<%=@value%>');
    <%end%>
  }
});
<%end%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class='text-center'>Search Results</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="button-bar" class="btn-group">
        <button type="button" class="btn btn-secondary" data-qs-activate='all'>All</button>
        <%@available_modules.each do |cm|%>
          <button type="button" class="btn btn-secondary" data-qs-activate='qs-<%=cm.class_name%>'><%=cm.label%></button>
        <%end%>
      </div>
    </div>
  </div>
  <%@available_modules.each do |cm|%>
    <div class="row" data-qs-panel='qs-<%=cm.class_name%>' style="margin-bottom: 5px;">
      <div class="col-md-12">
        <h2><%=cm.label%></h2>
        <div id='modwrap_<%=cm.class_name%>'>
          <div class='loader'>loading</div>
        </div>
      </div>
    </div>
  <%end%>
</div>
