<% content_for :javascript do %>
$(function() {
  $(".btn_add_component").click(function(ev) {
    ev.preventDefault();
    var seed = new Date().getTime(); 
    var tf_row = $(this).parent().siblings(".tf_row:first").clone();
    var custom_fields = tf_row.find('[name^="tariff_custom["]');
    custom_fields.each(function() {
      var cf_id = $(this).attr('mf_id').substring(4);
      $(this).attr('name','tariff_custom['+seed+']tariffrecord_cf['+cf_id+']');
      $(this).attr('value','');
    });
    var static_fields = tf_row.find('[name^="product[classifications_attributes]["]').each(function() {
      var start_name = $(this).attr('name');
      var str_ind = start_name.indexOf('[tariff_records_attributes]');
      var new_name = start_name.substring(0,str_ind + 28)+seed+"]"+start_name.substring(start_name.lastIndexOf("["));
      $(this).attr('name',new_name);
      $(this).attr('value','');
    });
    tf_row.find('.tariff_result').html('');
    tf_row.find('.sched_b_options').html('');
    var vs = tf_row.children('[name$="[view_sequence]"]');
    vs.attr('value',seed);
    $(this).parent().before(tf_row);
    tf_row.show();
  });
});
<%end%>
<div id='classifications'>
  <a name='classifications'></a>
  <% classification_count = 0 %>
  <% tariff_view_sequence = 0 %>
  <%= form_obj.fields_for :classifications do |cf| %>
    <table class='classification_box' must_submit='<%=!cf.object.id.nil?%>'>
      <thead><tr><th class='class_ctry_name'><%=cf.object.country.name.titleize%></th></tr></thead>
      <tbody>
        <tr>
          <td class='class_tr_box'>
            <div class='cf_box'>
              <table>
                <%=cf.hidden_field :country_id, :class=>"hdn_country_id"%>
                <%=show_custom_fields cf.object, {:form=>true, :table=>true, :show_prefix=>false, :parent_name=>"classification_custom[#{classification_count}]"}%>
              </table>
            </div>
            <% if cf.object.tariff_records.blank? %>
              <%cf.object.tariff_records.build %>
            <% end %>
            <% tariff_count = 0 %>
            <%= cf.fields_for :tariff_records do |tf| %>
              <%=render :partial=>'products/tariff_record_row', :locals=>{:f=>tf, :classification_count=>classification_count,:tariff_count=>tariff_count,:tariff_view_sequence=>tariff_view_sequence,:country_id=>cf.object.country_id}%>
              <% tariff_view_sequence += 1%>
              <% tariff_count += 1%>
            <% end %>
            <div class='tr_add_box'>
              <button class='btn_add_component btn btn-sm btn-default'>Add Component</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <% classification_count += 1 %>
  <% end %>
</div>
