<% content_for :javascript do %>
$(function() {
  $("#btn_save").click(function() {
    checkUOMChange();
  });
  $("#btn_cancel").click(function() {
    window.location = '<%=url_for @product%>';
  });
  $("#btn_edit_next").click(function() {
    next_action_to_form($("#frm_prod"));
    checkUOMChange();
  });
  $("#btn_edit_previous").click(function() {
    previous_action_to_form($("#frm_prod"));
    checkUOMChange();
  });
  OpenChain.addClickMap('s',"Save","btn_save");
  <% unless @product.id.nil? %>
  OpenChain.addClickMap('n',"Next","btn_edit_next");
  OpenChain.addClickMap('p','Previous','btn_edit_previous');
  <% end %>
  OpenChain.addClickMap('c',"Cancel","btn_cancel");
  OpenChain.activateHotKeys();
});
function checkUOMChange() {
  ou = $("#original_uom").val();
  if(ou.length==0 || ou==$("#txt_uom").val()) {
    return $("#frm_prod").submit();
  } else {
    $('<div></div>')
    .html("<p>Are you sure you want to change the unit of measure?</p><p>This will change the unit of measure for <em>all</em> existing orders, shipments, inventory, etc.</p><p>If you have a new unit of measure for upcoming orders, click <a href='/products/new'>here</a> to create a new product.")
    .dialog({title:'Are you sure?',
      buttons:{"Yes":function() {$("#frm_prod").submit();},"No":function() {$(this).dialog('close');}}}
    );
  }
}
<% end %>

<% content_for :action_bar do %>
  <button id='btn_save'>Save</button>
  <button id='btn_cancel'>Cancel</button>
  <% unless @product.id.nil? %>
    <button id='btn_edit_next'>Next</button>
    <button id='btn_edit_previous'>Previous</button>
  <% end %>
<% end %>
<%= render :partial => 'shared/worksheet', :locals=>{:base_obj => @product}%>
<%= form_for @product, :html=>{:id=>'frm_prod'} do |f| %>
<input type='hidden' name='original_uom' id='original_uom' value='<%=@product.unit_of_measure%>' />
<table>
  <%=field_row field_label(:prod_uid), f.text_field(:unique_identifier) %>
  <%=field_row field_label(:prod_name), f.text_field(:name) %>
  <%=field_row field_label(:prod_uom), f.text_field(:unit_of_measure, :id=>'txt_uom') %>
  <%=field_row field_label(:prod_ven_name), f.collection_select(:vendor_id, Company.find_vendors.not_locked, :id, :name, options ={:prompt => "Select a vendor"}) %>
  <%=field_row field_label(:prod_div_name), f.collection_select(:division_id, Division.all, :id, :name, options ={:prompt => "Select a division"}) %>
  <%=show_custom_fields @product, {:form=>true, :table=>true}%>
</table>	
<% end %>
