<%content_for :javascript do %>
$(function() {
  $(document).on('change', '.entity_type', function() {
    OpenChain.hideByEntityType($("#product_header"),$(this).val());
  });
});
<%end%>
<% hide_no_bulk_fields = nil if local_assigns[:hide_no_bulk_fields].nil?%>
<table id='product_header'>
  <%unless hide_no_bulk_fields%>
    <%= show_model_fields form_obj, :prod_uid, table: true %>
    <%= show_model_fields form_obj, :prod_ven_id, {table: true, prod_ven_id: {prompt: "Select a vendor", select_options: lambda {|value| options_from_collection_for_select(Company.vendors.not_locked.order('companies.name ASC'), :id, :name, value)}}} %>
  <%end%>
  <%= show_model_fields form_obj, :prod_name, table: true %>
  <%imps = []-%>
  <%if current_user.company.master? -%>
    <%imps = Company.importers.not_locked.by_name-%>
  <%else -%>
    <%imps << current_user.company if current_user.company.importer?%>
    <%imps = imps + current_user.company.linked_companies.importers.not_locked.by_name.to_a -%>
  <%end-%>
  <%= show_model_fields form_obj, :prod_imp_id, {table: true, prod_imp_id: {prompt: "Select an importer", select_options: lambda {|value| options_from_collection_for_select(imps, :id, :name, value)}}} %>
  <% entity_types = EntityType.where(:module_type=>CoreModule::PRODUCT.class_name).order('name ASC') %>
  <% if entity_types.size > 0 %>
    <%= show_model_fields form_obj, :prod_ent_type_id, {table: true, prod_ent_type_id: {never_hide: true, class: "entity_type", include_blank: true, select_options: lambda {|value| options_from_collection_for_select(entity_types, :id, :name, value)}}} %>
  <% end %>
  <%= show_model_fields form_obj, :prod_uom, {table: true, prod_uom: {id: 'txt_uom'}} %>
  <%= show_model_fields form_obj, :prod_div_id, {table: true, prod_div_id: {prompt: "Select a division", select_options: lambda {|value| options_from_collection_for_select(Division.all, :id, :name, value)}}} %>
  <%= show_custom_fields form_obj, {:table=>true, :display_read_only=>!(hide_no_bulk_fields == true)}%>
  <%= show_model_fields(form_obj, :prod_changed_at, table: true) unless hide_no_bulk_fields %>
</table>	
