<%iso = f.object.classification.country.iso_code-%>
<%is_us = iso=='US'-%>
<div class='tf_row'>
<input type='hidden' name='product[classifications_attributes][<%=classification_count%>][tariff_records_attributes][<%=tariff_count%>][view_sequence]' value='<%=tariff_view_sequence%>' />
<div class='tr_close'>
  <a href='#' class='auto_class'>Auto-Classify</a> | 
  <%= f.hidden_field :_destroy, "class" => "tf_destroy"%>
  <%=link_to "Delete", '#', :class=>'tf_remove'%>
</div>
  <table>
    <%=field_row field_label(:hts_line_number,false), model_text_field(f,:line_number, :hts_line_number, {:class=>'tf_line_number'})%> 
    <%=show_custom_fields f.object, {:form=>true, :show_prefix=>false, :table=>true, :parent_name=>"tariff_custom[#{tariff_view_sequence}]"} %>
  </table>
  <table class='tr_hts'>
    <thead>
      <tr>
        <th><%=field_label :hts_hts_1, false%></th>
        <th><%=field_label :hts_hts_2, false%></th>
        <th><%=field_label :hts_hts_3, false%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='hts_cell'>
          <%= f.text_field :hts_1, :class=>"hts_field", :country=>country_id, :country_iso=>iso,:col=>1%>
          <div class='tariff_result'></div>
          <div class='auto_class_results class_col_1 cntry_<%=iso%>'></div>
        </td>
        <td class='hts_cell'>
          <%= f.text_field :hts_2, :class=>"hts_field", :country=>country_id, :country_iso=>iso,:col=>2%>
          <div class='tariff_result'></div>
          <div class='auto_class_results class_col_2 cntry_<%=iso%>'></div>
        </td>
        <td class='hts_cell'>
          <%= f.text_field :hts_3, :class=>"hts_field", :country=>country_id, :country_iso=>iso,:col=>3%>
          <div class='tariff_result'></div>
          <div class='auto_class_results class_col_3 cntry_<%=iso%>'></div>
        </td>
      </tr>
     <%if f.object.has_schedule_b? || is_us %>
      <tr><th>Schedule B 1</th><th>Schedule B 2</th><th>Schedule B 3</th></tr>
      <tr>
        <td><%=f.text_field :schedule_b_1, :class=>:sched_b_field, :col=>1%></td>
        <td><%=f.text_field :schedule_b_2, :class=>:sched_b_field, :col=>2%></td>
        <td><%=f.text_field :schedule_b_3, :class=>:sched_b_field, :col=>3%></td>
      </tr>
     <%end%>
    </tbody>
  </table>
</div>
