<%iso = f.object.classification.country.iso_code-%>
<%is_us = iso=='US'-%>
<div class='tf_row'>
  <% f.object.view_sequence = tariff_view_sequence %>
  <%= show_model_fields(f, :hts_view_sequence, hidden: true) %>
<div class='tr_close'>
  <a href='#' class='auto_class btn btn-xs btn-default'>Auto-Classify</a>  
  <%= f.hidden_field :_destroy, "class" => "tf_destroy"%>
  <%=link_to "Delete", '#', :class=>'tf_remove btn btn-xs btn-danger'%>
</div>
  <table>
    <%= show_model_fields(f, :hts_line_number, table:true, show_prefix: false) %>
    <%= show_custom_fields f, {show_prefix: false, table: true}%>
  </table>
  <table class='tr_hts'>
    <thead>
      <tr>
        <th><%=field_label :hts_hts_1, false%></th>
        <th><%=field_label :hts_hts_2, false%></th>
        <th><%=field_label :hts_hts_3, false%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='hts_cell'>
          <%= show_model_fields(f, :hts_hts_1, editor_only: true, show_prefix: false, attributes: {class: "hts_field", country: country_id, country_iso: iso, col: 1, size: 10}) %>
          <div class='tariff_result'></div>
          <div class='auto_class_results class_col_1 cntry_<%=iso%>'></div>
        </td>
        <td class='hts_cell'>
          <%= show_model_fields(f, :hts_hts_2, editor_only: true, show_prefix: false, attributes: {class: "hts_field", country: country_id, country_iso: iso, col: 2}) %>
          <div class='tariff_result'></div>
          <div class='auto_class_results class_col_2 cntry_<%=iso%>'></div>
        </td>
        <td class='hts_cell'>
          <%= show_model_fields(f, :hts_hts_3, editor_only: true, show_prefix: false, attributes: {class: "hts_field", country: country_id, country_iso: iso, col: 3}) %>
          <div class='tariff_result'></div>
          <div class='auto_class_results class_col_3 cntry_<%=iso%>'></div>
        </td>
      </tr>
     <%if f.object.has_schedule_b? || is_us %>
      <tr><th><%=field_label :hts_hts_1_schedb, false%></th><th><%=field_label :hts_hts_2_schedb, false%></th><th><%=field_label :hts_hts_3_schedb, false%></th></tr>
      <tr>
        <td><%= show_model_fields(f, :hts_hts_1_schedb, editor_only: true, show_prefix: false, attributes: {class: "sched_b_field", country: country_id, col: 1}) %></td>
        <td><%= show_model_fields(f, :hts_hts_2_schedb, editor_only: true, show_prefix: false, attributes: {class: "sched_b_field", country: country_id, col: 2}) %></td>
        <td><%= show_model_fields(f, :hts_hts_3_schedb, editor_only: true, show_prefix: false, attributes: {class: "sched_b_field", country: country_id, col: 3}) %></td>
      </tr>
     <%end%>
    </tbody>
  </table>
</div>
