<%content_for :javascript do%>
$(function() {
  $("#btn_save").click(function() {$("#frm_bu").submit();});
  $("#btn_cancel").click(function() {window.location='<%=products_path%>';});
  $("#btn_auto_classify").click(function() {
    OpenChain.autoClassify($("#frm_bu"),'<%=bulk_auto_classify_products_path%>');
  });
  OpenChain.addClickMap('s','Save','btn_save');
  OpenChain.addClickMap('c','Cancel','btn_cancel');
  OpenChain.activateHotKeys();
  OpenChain.initClassifyPage();
});
<%end%>
<%content_for :action_bar do%>
  <button id='btn_save'>Save</button>
  <button id='btn_cancel'>Cancel</button>
  <% if Country.import_locations.size > 1 && !OfficialTariff.first.nil? %>
    <button id='btn_auto_classify'>Auto Classify</button>
  <% end %>
<%end%>
<div class='bulk_header_inner'>
  Changes will be applied to <strong><%=pluralize @pks.size, CoreModule::PRODUCT.label.downcase%></strong>.<br />
  <span class='error'>Warning: Clicking save will replace ALL classifications for the selected products.</span>
</div>
<%=form_for @base_product, :url=>bulk_update_classifications_products_path, :html=>{:method=>"POST", :id=>"frm_bu"} do |f| %>
  <%@pks.each do |k,v|%>
    <%=hidden_field_tag "pk[#{k}]", v %>
  <%end%>
  <%=render :partial=> 'classify', :locals=>{:form_obj => f}%>
<% end %>
