<%content_for :javascript do%>
$(function() {
  $("#btn_save").click(function() {
    $("#frm_p").attr("action",'<%=product_path%>').submit();
  });
  $("#btn_edit_next").click(function() {
    next_action_to_form($("#frm_p"));
    hidden_to_form($("#frm_p"),"c_classify","true");
    $("#frm_p").submit();
  });
  $("#btn_edit_previous").click(function() {
    previous_action_to_form($("#frm_p"))
    hidden_to_form($("#frm_p"),"c_classify","true");
    $("#frm_p").submit();
  });
  $("#btn_cancel").click(function() {window.location='<%=product_path(@product)%>';});
  $("#btn_auto_classify").click(function() {OpenChain.autoClassify($("#frm_p"),'<%=auto_classify_product_path(@product)%>');});

  OpenChain.addClickMap('s',"Save","btn_save");
  OpenChain.addClickMap('n',"Next","btn_edit_next");
  OpenChain.addClickMap('p',"Previous","btn_edit_previous");
  OpenChain.addClickMap('c',"Cancel","btn_cancel");
  OpenChain.addClickMap('a',"Auto-Classify","btn_auto_classify");
  OpenChain.addKeyMap('j',"Jump To Classification Section",function() {window.location.hash=""; window.location.hash="classifications";});
  OpenChain.activateHotKeys();

  OpenChain.initClassifyPage();

});
<%end%>
<%content_for :action_bar do %>
  <button id='btn_save'>Save</button>

  <% if Country.import_locations.size > 1 && !OfficialTariff.first.nil? %>
    <button id='btn_auto_classify'>Auto Classify</button>
  <% end %>

  <button id='btn_cancel'>Cancel</button>
  <button id='btn_edit_next'>Next</button>
  <button id='btn_edit_previous'>Previous</button>
<% end %>
<a href='#classifications'>Jump To Classifications</a>
<br />
<h2>Product Information</h2>
<table>
  <%=field_row field_label(:prod_status_name), @product.status_name %>
  <%=field_row field_label(:prod_uid), @product.unique_identifier%>
  <%=field_row field_label(:prod_name),@product.name%>
  <%=field_row field_label(:prod_uom), @product.unit_of_measure%>
  <%=field_row field_label(:prod_ven_name), @product.vendor.nil? ? "" : @product.vendor.name%>
  <%=field_row field_label(:prod_div_name), @product.division.nil? ? "" : @product.division.name%>
  <%=show_custom_fields @product, {:table=>true}%>
  <%=field_row field_label(:prod_changed_at),@product.changed_at%>
</table>

<hr />
<%= form_for(@product,:html=>{:id=>"frm_p"}) do |f| %>
  <%=render :partial=>'classify', :locals=>{:form_obj=>f}%>
<% end %>
