<%content_for :action_bar do %>
<button class='btn_link' link_to='<%=product_path(@product)%>' key_map='b'>Back</button>
<%end%>
<h1>History: <%=@product.unique_identifier%></h1>
<div>
  <%@snapshots.each do |s| %>
    <div>
      <% d = s.diff_vs_previous %>
      <h2><%=s.user.full_name%> - <%=s.created_at %></h2>
      <div style='margin-left:1em;'>
        <%=render :partial=>'shared/history', :locals=>{:diff=>d}%>
      </div>
    </div>
  <%end%>
  <%=will_paginate @snapshots%>
</div>
