<%= render :partial => 'shared/search_box' %>
<table class='detail_table'>
  <thead>
  <tr>
    <th><%=sortable_search_heading 'p_name'%></th>
    <th><%=sortable_search_heading 'uid'%></th>
    <th><%=sortable_search_heading 'v_name'%></th>
		<th><%=sortable_search_heading 'div'%></th>
		<th><%=sortable_search_heading 'status'%></th>
		<th>Inventory Quantity</th>
  </tr>
</thead>
<% @products.each do |product| %>
  <tr class='hover'>
    <td><%= link_to product.name, product %></td>
    <td><%= product.unique_identifier %></td>
    <td><%= product.vendor.name %></td>
		<td><%= product.division.name %></td>
		<td><%= product.status_rule.nil? ? "" : product.status_rule.name %></td>
		<td><%= product.current_inventory_qty%> <%=product.unit_of_measure%></td>
  </tr>
<% end %>
</table>
<%= will_paginate @products %>  
<br />
<% if current_user.edit_products?%>
<%= render :partial => 'shared/mod_import', :locals => { :model_type => CoreModule::PRODUCT.class_name }%>
<% end %>
<%= render :partial => 'shared/mod_export', :locals => { :model_type => CoreModule::PRODUCT.class_name }%>