<% content_for :javascript do %>
  $(function() {
    $("button").button();
  <% if @product.can_edit?(current_user)%>
    $( "#btn_edit" )
      .click(function() {
        window.location = '<%=edit_product_path(@product)%>';
      });
    $("#mod_inventory").dialog({autoOpen:false,title:"Adjust Inventory",
      buttons:{"Adjust":function() {$("#frm_inv").submit();}}});
    $( "#btn_adj_inventory").button().click(function() {
      $("#mod_inventory").dialog('open');
    });
    $("#btn_classify").click(function() {window.location='<%=classify_product_path%>';});
  <% end %>
    $("#mod_subscriptions").dialog({autoOpen:false,title:"Subscriptions",
      buttons:{"Subscribe":function() {$("#frm_sub").submit();}}});
    $("#btn_subscriptions")
      .click(function() {
        $("#mod_subscriptions").dialog('open');
      });
    $("#btn_order_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :orders, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq' )%>';
      });
    $("#btn_shipment_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :shipments, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq' )%>';
      });
    $("#btn_sales_order_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :sales_orders, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq' )%>';
      });
    $("#btn_delivery_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :deliveries, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq')%>';
      })
    $("#sub_attach").button();
  });
<% end %>

<% content_for :action_bar do %>
<% if @product.can_edit?(current_user) && !@product.locked?%>
  <button id='btn_edit'>Edit</button>
  <button id='btn_classify'>Classify</button>
  <button id='btn_adj_inventory'>Adjust Inventory</button>
<%end%>
<button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:product_id => @product.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>

<% if current_user.view_orders? && @product.has_orders? %><button id='btn_order_jump'>Orders</button><%end%>
<% if current_user.view_shipments? && @product.has_shipments? %><button id='btn_shipment_jump'>Shipments</button><%end%>
<% if current_user.view_sales_orders? && @product.has_sales_orders?%><button id='btn_sales_order_jump'>Sales</button><%end%>
<% if current_user.view_deliveries? && @product.has_deliveries? %><button id='btn_delivery_jump'>Deliveries</button><%end%>
<% end %>

<table width="97%">
<tr><td>
<!-- fields -->
	<table>
	  <%=field_row "Status", @product.status_name %>
	  <%=field_row "Unique Identifier", @product.unique_identifier%>
	  <%=field_row "Name",@product.name%>
	  <%=field_row "Unit of Measure", @product.unit_of_measure%>
	  <%=field_row "Vendor", @product.vendor.name%>
	  <%=field_row "Division", @product.division.name%>
	  <%=field_row "Inventory Quantity", @product.current_inventory_qty %>
    <%=show_custom_fields @product, {:table=>true}%>
	</table>
</td><td style='vertical-align:top;'>
<!-- image -->
<div class='attachments_container'>
  <table class='detail_table'>
    <thead><tr><th>File Name</th><th>Preview</th><th>Delete</th></tr></thead>
    <tbody>
        <% @product.attachments.each do |att|%>
          <tr class='hover'>
            <td><%=link_to att.attached_file_name, att.attached.url%></td>
            <td>
              <% if att.web_preview? %>
                <a href='<%=att.attached.url%>' target='oc_img_view'><img src="<%=att.attached.url%>" title="<%=att.attached_file_name%>" width="150px" style="border:1px solid black;" /></a>
              <%end%>
             </td>
             <td><%=link_to("Delete", att, :method => :delete, :confirm => "Are you sure?")%></td>
          </tr>
        <%end%>
    </tbody>
  </table>
  <div id='mod_attach'>
    Attach File:<br />
    <% att = @product.attachments.build %>
    <%=form_for att, :html=>{:multipart=>true} do |f|%>
    <%=f.hidden_field :attachable_id %>
    <%=f.hidden_field :attachable_type %>
    <%=f.file_field :attached %><br />
    <%=f.submit "Attach", :id=>"sub_attach"%>
    <% end %>
  </div>
</div>
</td></tr>
</table>

<% @product.classifications.each do |c| %>
<h2>Classification: <%=c.country.name.titleize%></h2>
<table>
<%=show_custom_fields c, {:table=>true} %>
</table>
<table class='detail_table'>
  <thead>
    <th>HTS 1</th>
    <th>HTS 2</th>
    <th>HTS 3</th>    
  </thead>
  <tbody>
    <% c.tariff_records.each do |t| %>
    <tr>
      <td><%=t.hts_1%></td>
      <td><%=t.hts_2%></td>
      <td><%=t.hts_3%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:product_id => @product.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @product.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html=>{:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :product_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>
<div id='mod_inventory' style='display:none;'>
  <%form_tag('/adjust_inventory', :method=>"post", :id => "frm_inv") do %>
    <input type="hidden" name="product_id" value="<%=@product.id%>" />
  Current: <%=@product.current_inventory_qty%><br />
  New: <input type="text" name="quantity" /><br />
  <%end%>
</div>

