<% content_for :javascript do %>
  $(function() {
  <% if @product.can_edit?(current_user) || @product.can_classify?(current_user)%>
    $( "#btn_edit" )
      .click(function() {
        window.location = '<%=edit_product_path(@product)%>';
      });
    $("#btn_classify").click(function() {
      var p = <%=@json_product.html_safe%>;
      Chain.showQuickClassify(p.product,"<%=product_path(@product)%>");  
    });
    OpenChain.addClickMap('e',"Edit","btn_edit");
    OpenChain.addClickMap('l',"Classify","btn_classify");
    OpenChain.activateHotKeys();
  <% end %>
  });
<% end %>

<% content_for :action_bar do %>
  <% if (@product.can_edit?(current_user) || @product.can_classify?(current_user)) && !@product.locked?%>
    <button id='btn_edit'>Edit</button>
    <%if current_user.edit_classifications? %> <button id='btn_classify'>Classify</button><% end %>
  <%end%>
  <button class='btn_link' link_to='<%=products_path%>' key_map='b'>Back To Search</button>
  <%=render :partial => 'shared/show_next_prev', :locals => {:obj=>@product} %>
  <button class='btn_link' link_to='<%=history_product_path(@product)%>' key_map='h'>History</button>
<% end %>
<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span6'>
      <h3 class='text-center'>Attributes</h3>
      <%=render :partial => 'product_view', :locals => {:product => @product} %>
    </div>
    <div class='span6'>
      <h3 class='text-center'>Classifications</h3>
      <% if !@product.saved_classifications_exist? && @product.can_classify?(current_user)-%>
        <div class='hero-unit'>
          <p>You don't have any classifications for this product.  Click the classify button to add some.</p>
        </div>
      <% else -%>
        <%=render :partial=>'show_classification'%>
      <%end-%>
      <%=render :partial => 'shared/attachments', :locals => {:attachable => @product} %>
      <%=render :partial => 'shared/comments', :locals => {:commentable => @product} %>
      <%if @product.on_bill_of_materials?-%>
        <div class='bom_cont'>
          <% unless @product.parent_products.empty? -%>
            <table class='detail_table'>
              <thead><tr><th>Parent Products</th></tr></thead>
              <tbody>
                <%@product.parent_products.each do |par| -%>
                  <tr><td><%=link_to par.unique_identifier, par%></td></tr>
                <%end-%>
              </tbody>
            </table>
          <% end -%>
          <% unless @product.bill_of_materials_children.empty? -%>
            <table class='detail_table'>
              <thead><tr><th>Child Products</th></tr></thead>
              <tbody>
                <%@product.bill_of_materials_children.each do |ch| -%>
                <tr><td><%=link_to ch.child_product.unique_identifier, ch.child_product%> - <span title='Total Pieces In Set'><%=ch.quantity%></span></td></tr>
                <%end-%>
              </tbody>
            </table>
          <% end -%>
        </div>
      <%end-%>
    </div>
  </div>
</div>
