<% content_for :javascript do %>
  $(function() {
    $("button").button();
  <% if @product.can_edit?(current_user)%>
    $( "#btn_edit" )
      .click(function() {
        window.location = '<%=edit_product_path(@product)%>';
      });
    $("#btn_classify").click(function() {window.location='<%=classify_product_path%>';});
  <% end %>
    $("#mod_subscriptions").dialog({autoOpen:false,title:"Subscriptions",
      buttons:{"Subscribe":function() {$("#frm_sub").submit();}}});
    $("#btn_subscriptions")
      .click(function() {
        $("#mod_subscriptions").dialog('open');
      });
    $("#btn_order_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :orders, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq' )%>';
      });
    $("#btn_shipment_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :shipments, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq' )%>';
      });
    $("#btn_sales_order_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :sales_orders, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq' )%>';
      });
    $("#btn_delivery_jump")
      .click(function() {
        window.location = '<%=raw url_for(:action => :index, :controller => :deliveries, :s => @product.unique_identifier, :f => 'p_id', :con => 'eq')%>';
      })
  });
<% end %>

<% content_for :action_bar do %>
<% if @product.can_edit?(current_user) && !@product.locked?%>
  <button id='btn_edit'>Edit</button>
  <%if current_user.edit_classifications? %> <button id='btn_classify'>Classify</button><% end %>
<%end%>
<button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:product_id => @product.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>
<!-- fix these later
<% if current_user.view_orders? && @product.has_orders? %><button id='btn_order_jump'>Orders</button><%end%>
<% if current_user.view_shipments? && @product.has_shipments? %><button id='btn_shipment_jump'>Shipments</button><%end%>
<% if current_user.view_sales_orders? && @product.has_sales_orders?%><button id='btn_sales_order_jump'>Sales</button><%end%>
<% if current_user.view_deliveries? && @product.has_deliveries? %><button id='btn_delivery_jump'>Deliveries</button><%end%>
-->
<% end %>

<table class='detail_table'>
<thead><tr><th>Product Information</th></tr></thead>
<tbody>
<tr><td>
<!-- fields -->
	<table>
	  <%=field_row "Status", @product.status_name %>
	  <%=field_row "Unique Identifier", @product.unique_identifier%>
	  <%=field_row "Name",@product.name%>
	  <%=field_row "Unit of Measure", @product.unit_of_measure%>
	  <%=field_row "Vendor", @product.vendor.name%>
	  <%=field_row "Division", @product.division.name%>
    <%=show_custom_fields @product, {:table=>true}%>
	</table>
</td></tr>
</tbody>
</table>

<% if current_user.view_classifications? %>
<div class='attachments_container section_insert'>
  <h2 class='section_insert_heading'>Classifications</h2>
  <% @product.classifications.each do |c| %>
  <h2><%=c.country.name.titleize%></h2>
  <table>
  <%=show_custom_fields c, {:table=>true} %>
  </table>
  <table class='detail_table'>
    <thead>
      <th>Row</td>
      <th>HTS 1</th>
      <th>HTS 2</th>
      <th>HTS 3</th>    
    </thead>
    <tbody>
      <% c.tariff_records.each do |t| %>
      <tr>
        <td><%=t.line_number%></td>
        <td><%=show_tariff t.hts_1,c.country_id%></td>
        <td><%=show_tariff t.hts_2,c.country_id%></td>
        <td><%=show_tariff t.hts_3,c.country_id%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
<% end %>

<%=render :partial => 'shared/comments', :locals => {:commentable => @product} %>
<%=render :partial => 'shared/attachments', :locals => {:attachable => @product} %>

<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:product_id => @product.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @product.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html=>{:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :product_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>

