<% content_for :javascript do %>
  $(function() {
    $("#beta-on").click(function() {
      $.cookie('product_beta','y',{ path: '/' });
      location.reload(true);
    });
  });
  <% if @product.can_edit?(current_user) || @product.can_classify?(current_user)%>
  $(function() {
    $( "#btn_edit" )
      .click(function() {
        window.location = '<%=edit_product_path(@product)%>';
      });
    $("#btn_classify").click(function() {
      var p = <%=@json_product.html_safe%>;
      Chain.showQuickClassify(p.product,"<%=product_path(@product)%>");  
    });
    OpenChain.addClickMap('e',"Edit","btn_edit");
    OpenChain.addClickMap('l',"Classify","btn_classify");
    OpenChain.activateHotKeys();
  });
  <% end %>
<% end %>

<% content_for :action_bar do %>
  <% if (@product.can_edit?(current_user) || @product.can_classify?(current_user)) && !@product.locked?%>
    <button id='btn_edit' title='Edit'><i class='fa fa-pencil'></i></button>
    <%if current_user.edit_classifications? %> <button id='btn_classify' title='Classify'><i class='fa fa-globe'></i></button><% end %>
  <%end%>
  <button class='btn_link' link_to='<%=products_path%>' key_map='b' title='Back To Search'><i class='fa fa-search'></i></button>
  <%=render :partial => 'shared/show_next_prev', :locals => {:obj=>@product} %>
  <button class='btn_link' link_to='<%=history_product_path(@product)%>' key_map='h' title='History'><i class='fa fa-history'></i></button>
<% end %>
    
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <p>
        Try the new Beta version <button class='btn btn-sm' role='button' id='beta-on'>here</button>.
      </p>
    </div>
  </div>
  <%=render partial: '/shared/business_rules', locals:{base_object:@product,rule_state:@product.business_rules_state_for_user(current_user), validation_path: validation_results_product_path(@product)}%>
  <div class='row'>
    <div class='col-md-6' id='prod_attr'>
      <h3 class='text-center'>Attributes</h3>
      <%=render :partial => 'product_view', :locals => {:product => @product} %>
    </div>
    <div class='col-md-6' id='prod_class'>
      <h3 class='text-center'>Classifications</h3>
      <% if !@product.saved_classifications_exist? && @product.can_classify?(current_user)-%>
        <div class='jumbotron'>
          <p>You don't have any classifications for this product.  Click the classify button to add some.</p>
        </div>
      <% else -%>
        <%=render :partial=>'show_classification'%>
      <%end-%>
      <%=render :partial => 'shared/attachments', :locals => {:attachable => @product} %>
      <%=render :partial => 'shared/comments', :locals => {:commentable => @product} %>
      <%=render :partial => 'shared/folders', :locals => {:obj => @product} %>
      <%if @product.on_bill_of_materials?-%>
        <div class='bom_cont'>
          <% unless @product.parent_products.empty? -%>
            <table class='detail_table'>
              <thead><tr><th>Parent Products</th></tr></thead>
              <tbody>
                <%@product.parent_products.each do |par| -%>
                  <tr><td><%=link_to par.unique_identifier, par%></td></tr>
                <%end-%>
              </tbody>
            </table>
          <% end -%>
          <% unless @product.bill_of_materials_children.empty? -%>
            <table class='detail_table'>
              <thead><tr><th>Child Products</th></tr></thead>
              <tbody>
                <%@product.bill_of_materials_children.each do |ch| -%>
                <tr><td><%=link_to ch.child_product.unique_identifier, ch.child_product%> - <span title='Total Pieces In Set'><%=ch.quantity%></span></td></tr>
                <%end-%>
              </tbody>
            </table>
          <% end -%>
        </div>
      <%end-%>
    </div>
  </div>
</div>
<%=render :partial => 'shared/integration_file_link', :locals => {:obj => @product, :user => current_user} %>
