<% content_for :javascript do %>
$(function() {
	setupShippingAddress('Master Company',$('#shipment_ship_to_id'),$('#ship_to_ad'),<%=Company.find_master.id%><%=@shipment.ship_to_id.nil? ? '' : ",#{@shipment.ship_to_id}"%>);
	setupShippingAddress('Vendor',$('#shipment_ship_from_id'),$('#ship_from_ad'),<%=@shipment.vendor.nil? ? "'not set'": @shipment.vendor.id%><%=@shipment.ship_from_id.nil? ? '' : ",#{@shipment.ship_from_id}"%>);
  getAddress($('#ship_from_ad'),$("#shipment_ship_from_id").val());
  $("#shipment_vendor_id").change(function() {
     setupShippingAddress('Vendor',$('#shipment_ship_from_id'),$('#ship_from_ad'),$(this).val());
  });
  $("#btn_save").click(function() {
    $("#frm_shp").submit();
  });
  $("#btn_edit_next").click(function() {
    next_action_to_form($("#frm_shp"));
    $("#frm_shp").submit();
  });
  $("#btn_edit_previous").click(function() {
    previous_action_to_form($("#frm_shp"));
    $("#frm_shp").submit();
  });
  $("#btn_cancel").click(function() {
    window.location = '<%=url_for @shipment%>';
  });
});
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% unless @shipment.id.nil? %>
<button id='btn_edit_next'>Next</button>
<button id='btn_edit_previous'>Previous</button>
<% end %>
<% end %>

<%= form_for @shipment, :html => {:id=>'frm_shp'} do |f| %>
<div class='content_head'>
  <span class='content_head_label'><%=field_label :shp_ref%>:</span>
  <b><%= f.text_field :reference %></b>
  <br />
  <span class='content_head_label'><%=field_label :shp_ven_name%>:</span>
  <% if @shipment.shipment_lines.size > 0 %>
    <%= f.hidden_field :vendor_id %><%= @shipment.vendor.name %>
  <% elsif current_user.company.vendor? 
      @shipment.vendor = current_user.company %>
      <%= f.hidden_field :vendor_id %><%= @shipment.vendor.name %>
  <% else %>
    <%= f.collection_select :vendor_id, Company.find_vendors.not_locked, :id, :name, options ={:prompt => "-Select a vendor"} %>
  <% end %>  
</div>
<table class='detail_table'>
  <thead><th><%=field_label :shp_ship_from_name%></th><th><%=field_label :shp_ship_to_name%></th></thead>
  <tbody><tr>
    <td style='width:50%'>
      <%= f.select(:ship_from_id, [['...Loading...','']])%> 
      <div id='ship_from_ad'></div>
    </td>
    <td style='width:50%'>
      <%= f.select(:ship_to_id, [['...Loading...','']])%> 
      <div id='ship_to_ad'></div>
    </td>
  </tr></tbody>
</table>
<br />
<table class='detail_table' >
  <thead>
    <tr><th>Attributes</th></tr>
  </thead>
  <tbody>
    <tr>
      <td style='width:50%'>
      <table>
        <% if current_user.company.carrier? 
            @shipment.carrier = current_user.company %>
        <%=field_row field_label(:shp_car_name), f.hidden_field(:carrier_id)+@shipment.carrier.name %>
        <% else %>
        <%=field_row field_label(:shp_car_name), f.collection_select(:carrier_id, Company.find_carriers.not_locked, :id, :name, options ={:prompt => "Select a carrier"}) %>
        <% end %>
        <%= field_row field_label(:shp_mode), f.select(:mode, options_for_select(Shipment.modes), options = {:prompt => "-Select a mode"}) %>
				<%=show_custom_fields @shipment, {:table=>true,:form => true}%>
      </table>
      </td>
    </tr>
    </tbody>
</table>
<% end %>
