<% content_for :javascript do %>
	$(function() {
	 setupShippingAddress('Master Company',$('#shipment_ship_to_id'),$('#ship_to_ad'),<%=Company.find_master.id%><%=@shipment.ship_to_id.nil? ? '' : ",#{@shipment.ship_to_id}"%>);
	 setupShippingAddress('Vendor',$('#shipment_ship_from_id'),$('#ship_from_ad'),<%=@shipment.vendor.nil? ? "'not set'": @shipment.vendor.id%><%=@shipment.ship_from_id.nil? ? '' : ",#{@shipment.ship_from_id}"%>);
   getAddress($('#ship_from_ad'),$("#shipment_ship_from_id").val());
   $("#shipment_vendor_id").change(function() {
      setupShippingAddress('Vendor',$('#shipment_ship_from_id'),$('#ship_from_ad'),$(this).val());
    });
    $("#btn_save").button().click(function() {
      $("#frm_shp").submit();
    });
    $("#btn_cancel").button().click(function() {
      window.location = '<%=url_for @shipment%>';
    });
  });
<% end %>

<% content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% end %>

<%= form_for @shipment, :html => {:id=>'frm_shp'} do |f| %>
<div class='content_head'>
  <span class='content_head_label'>Reference:</span>
  <b><%= f.text_field :reference %></b>
  <br />
  <span class='content_head_label'>Vendor:</span>
  <% if @shipment.shipment_lines.size > 0 %>
    <%= f.hidden_field :vendor_id %><%= @shipment.vendor.name %>
  <% elsif current_user.company.vendor? 
      @shipment.vendor = current_user.company %>
      <%= f.hidden_field :vendor_id %><%= @shipment.vendor.name %>
  <% else %>
    <%= f.collection_select :vendor_id, Company.find_vendors.not_locked, :id, :name, options ={:prompt => "-Select a vendor"} %>
  <% end %>  
</div>
<table class='detail_table'>
  <thead><th>Ship From</th><th>Ship To</th></thead>
  <tbody><tr>
    <td style='width:50%'>
      <%= f.select(:ship_from_id, [['...Loading...','']])%> 
      <div id='ship_from_ad'></div>
    </td>
    <td style='width:50%'>
      <%= f.select(:ship_to_id, [['...Loading...','']])%> 
      <div id='ship_to_ad'></div>
    </td>
  </tr></tbody>
</table>
<br />
<table class='detail_table' >
  <thead>
    <tr><th>Attributes</th></tr>
  </thead>
  <tbody>
    <tr>
      <td style='width:50%'>
        <b>Carrier: </b>
        <% if current_user.company.carrier? 
            @shipment.carrier = current_user.company %>
        <%= f.hidden_field :carrier_id %><%= @shipment.carrier.name %>
        <% else %>
        <%= f.collection_select :carrier_id, Company.find_carriers.not_locked, :id, :name, options ={:prompt => "-Select a carrier"} %>
        <% end %>
        <br />
        <b>Mode: </b>
        <%= f.select(:mode, options_for_select(Shipment.modes), options = {:prompt => "-Select a mode"}) %>
				<%=show_custom_fields @shipment, {:form => true}%>
      </td>
    </tr>
    </tbody>
</table>
<% end %>
