<% content_for :javascript do %>
$(function() {
  $( "#btn_edit" )
    .button()
    .click(function() {
      window.location = '<%=edit_shipment_path(@shipment)%>';
    });
  $( "#item_change_subscription_submit").button();
  $("#mod_subscriptions").dialog({autoOpen:false,title:"Subscriptions",
    buttons:{"Subscribe":function() {$("#frm_sub").submit();}}});
  $("#btn_subscriptions")
    .button()
    .click(function() {
      $("#mod_subscriptions").dialog('open');
  });
});
<% end %>

<% content_for :action_bar do %>
  <% if @shipment.can_edit?(current_user) %>
    <button id='btn_edit'>Edit</button>
  <%end%> 
  <button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:shipment_id => @shipment.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>
<% end %>

<div class='content_head'>
	<span class='content_head_label'>Reference:</span>
	<b><%= @shipment.reference %></b>
	<br />
	<span class='content_head_label'>Vendor:</span>
  <b><%= @shipment.vendor.name %></b>
  <br />&nbsp;
</div>
<table class='detail_table'>
  <thead><th>Ship From</th><th>Ship To</th></thead>
  <tbody><tr>
    <td style='width:50%' class='hover'>
      <%=  render :partial => 'addresses/display', :locals => { :ad => @shipment.ship_from, :address_id => 'ship_from_ad' } %>
    </td>
    <td style='width:50%' class='hover'>
      <%=  render :partial => 'addresses/display', :locals => { :ad => @shipment.ship_to, :address_id => 'ship_to_ad' } %>      
    </td>
  </tr></tbody>
</table>
<br />
<table class='detail_table' >
  <thead>
    <tr><th>Attributes</th></tr>
  </thead>
  <tbody>
    <tr>
      <td style='width:50%'>
        <b>Carrier:</b>
        <%= @shipment.carrier_id.nil? ? '' : @shipment.carrier.name %>
        <br />
        <b>Mode:</b>
        <%=@shipment.mode %>
				<%=show_custom_fields @shipment%>
      </td>
    </tr>
  </tbody>
</table>

<table class='detail_table'>
  <thead>
    <tr><th>Row</th><th>Product</th><th>Ship Quantity</th><th>Order Number - Line</th><th><a href='#' id='lnk_all_details'>All Details</a></th>
  </thead>
  <tbody>
    <%@shipment.shipment_lines.order("line_number ASC").each do |line|%>
    <tr class='hover shp_line'>
      <td><%= @shipment.can_edit?(current_user) & !@shipment.locked? ? (link_to line.line_number, edit_shipment_shipment_line_path(@shipment,line)) : line.line_number %></td>
      <td><%=link_to line.product.name.nil? ? line.product.unique_identifier : line.product.name, line.product%></td>
      <td><%=line.quantity%></td>
      <td>
        <%line.order_lines.each do |o|%>
          <%=link_to o.order.order_number, o.order%> - <%=o.line_number%><br />
        <%end%>
      </td>
      <td>
        <%if has_custom_fields(line) %><a href='#' class='lnk_detail'>Details</a><%end%>
        <%if has_custom_fields(line) && @shipment.can_edit?(current_user)%>
        &nbsp;|&nbsp;
        <%end%>
        <%if @shipment.can_edit?(current_user)%>
        <%=link_to "Delete", shipment_shipment_line_path(@shipment,line), :confirm=>'Are you sure you want to delete this line?', :method=>:delete %>
        <%end%>
      </td>
    </tr>
    <tr class='shp_line_detail' style='display:none;'>
      <td colspan='5' style="padding-left:1em;">
      <%=show_custom_fields line%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%=render :partial => 'shared/pack_lines', :locals=>{:parent=>@shipment, :line=>@line, :products=>@products, :is_sales_order=>false} %>
<%=render :partial => 'shared/comments', :locals => {:commentable => @shipment} %>
<%=render :partial => 'shared/attachments', :locals => {:attachable => @shipment}%>
<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:shipment_id => @shipment.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @shipment.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html=>{:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :shipment_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>

