<% content_for :javascript do %>
  $(function() {
    $( "#btn_edit" )
      .button()
      .click(function() {
        window.location = '<%=edit_shipment_path(@shipment)%>';
      });
    $("#add_order_box").dialog({autoOpen:false,title:"Add Items",
      buttons:{"Add":function() {$("#frm_pack").submit();}}
    });
    $("#mod_pick_order").dialog({autoOpen:false,title:"Select Order",
      buttons:{"Add":function() {
        $("#add_ord_content").hide();
        $("#pick_order_loading").show();
        $.get('<%=unpacked_order_lines_shipment_path(@shipment)%>/?order_id='+$('#order_id').val(), function(data){
        $("#add_ord_content").show();
        $("#pick_order_loading").hide();
          $("#add_order_box").html(data);
          $("#mod_pick_order").dialog('close');
          $("#add_order_box").dialog('open');
        });
      }}
    });
    $("#btn_add_ord").button().click(function() {
      $("#mod_pick_order").dialog('open');
    }); 
    $("#btn_save_piece_set").button();
    $( "#item_change_subscription_submit").button();
    $("#mod_subscriptions").dialog({autoOpen:false,title:"Subscriptions",
      buttons:{"Subscribe":function() {$("#frm_sub").submit();}}});
    $("#btn_subscriptions")
      .button()
      .click(function() {
        $("#mod_subscriptions").dialog('open');
    });
    $("#mod_receive_box").dialog({autoOpen:false,title:"Receive Inventory",
      buttons:{"Receive":function() {$("#frm_rec").submit();}}
      });
    $("#btn_receive")
      .button()
      .click(function() {
        $("#mod_receive_box").dialog('open');
      });
    $(".undo_receive").click(function() {
      id = $(this).attr('id').substring(3)
      $("#und_ps_id").attr('value',id);
      $("#frm_und").submit();
    });
  });
<% end %>

<% content_for :action_bar do %>
  <button id='btn_edit'>Edit</button>
  <% if @shipment.can_edit?(current_user) %><button id='btn_add_ord'>Add Order</button><%end%> 
  <button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:shipment_id => @shipment.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>
  <% if current_user.company.master && !@shipment.piece_sets.empty?%>
  <button id='btn_receive'>Receive</button>
  <% end %>
<% end %>

<div class='content_head'>
	<span style="font-size:90%">Reference:</span>
	<b><%= @shipment.reference %></b>
	<br />
	<span style="font-size:90%">Vendor:</span>
  <b><%= @shipment.vendor.name %></b>
  <br />&nbsp;
</div>
<table class='detail_table'>
  <thead><th>Ship From</th><th>Ship To</th></thead>
  <tbody><tr>
    <td style='width:50%' class='hover'>
      <%=  render :partial => 'addresses/display', :locals => { :ad => @shipment.ship_from, :address_id => 'ship_from_ad' } %>
    </td>
    <td style='width:50%' class='hover'>
      <%=  render :partial => 'addresses/display', :locals => { :ad => @shipment.ship_to, :address_id => 'ship_to_ad' } %>      
    </td>
  </tr></tbody>
</table>
<br />
<table class='detail_table' >
  <thead>
    <tr><th>Attributes</th></tr>
  </thead>
  <tbody>
    <tr>
      <td style='width:50%'>
        <b>Carrier:</b>
        <%= @shipment.carrier_id.nil? ? '' : @shipment.carrier.name %>
        <br />
        <b>Mode:</b>
        <%=@shipment.mode %>
				<%=show_custom_fields @shipment%>
      </td>
    </tr>
    </tbody>
</table>



<% ps_edit = @ps_to_edit.nil? ? @shipment.piece_sets.build : @ps_to_edit %>
<%= form_for(ps_edit) do |f| %>
<table class="detail_table" style='margin-top: 4em'>
	<thead>
		<th>Product</th>
		<th>Order - Line</th>
		<th>Quantity</th>
		<th></th>
	</thead>
  <tbody>
	<% @shipment.piece_sets.joins(:order_line => :order).order("orders.order_number, order_lines.line_number").each do |ps| %>
	<% if !ps_edit.id.nil? && ps_edit.id == ps.id %>
  <tr>
    <td><%=f.hidden_field :id%>
      <%=f.hidden_field :shipment_id %>
      <input type='hidden' name='from' value='s' />
      <%= ps.product.nil? ? '' : ps.product.name %></td>
    <td><%= ps.order_line.nil? ? '[n/a]' : "#{ps.order_line.order.order_number} - #{ps.order_line.line_number}" %></td>
    <td><%= f.text_field :quantity %></td>
    <td><%= f.submit 'Save', :id => 'btn_save_piece_set' %></td>
  </tr>
	<% elsif !ps.id.nil? %>
	<tr class='hover'>
    <td><%= link_to ps.product.name, ps.product %></td>
    <td><%= ps.order_line.nil? ? '[n/a]' : raw("#{link_to(ps.order_line.order.order_number, order_path(ps.order_line.order))} - #{ps.order_line.line_number}")%></td>
    <% undo_rec_link = "<a href='#' class='undo_receive' id='ur_#{ps.id}'>x</a>" %>
    <td><%= raw("#{ps.quantity} #{ps.product.unit_of_measure}" + (!ps.inventory_in_id.nil? ? " (received #{undo_rec_link})" : "") + (!ps.adjustment_type.nil? ? " (#{ps.adjustment_type})" : "")) %></td>
    <td>
       <%= link_to 'Remove', piece_set_path(ps,:from => "s") , :confirm => 'Are you sure?', :method => :delete  %> |
       <%= link_to 'Edit', edit_piece_set_path(ps,:from => "s") %>
       
    </td>
  </tr>
	<% end %>
  <% end %>
	</tbody>
</table>
<% end %>
<div id='mod_pick_order' style='display:none;'>
  <p id='add_ord_content'>
    Add Order: <%= select_tag "order_id", options_from_collection_for_select(Order.find_by_vendor(@shipment.vendor), "id", "order_number") %>
  </p>
  <div id='pick_order_loading' style='display:none;'><img src='/images/ajax-loader.gif' alt='Loading' /></div>
</div>
<div id='add_order_box'></div>

<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:shipment_id => @shipment.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @shipment.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html=>{:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :shipment_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>
<div id='mod_receive_box' style='display:none'>
  <%= form_for @shipment, :url => "/shipments/#{@shipment.id}/receive_inventory", :html=>{:id=>'frm_rec'} do |sf| %>
    <table class='detail_table'>
      <thead><tr><th>Order - Line</th><th>Product</th><th>Quantity</th></tr></thead>
      <%= sf.hidden_field :id %>
      <% @shipment.piece_sets.each_with_index do |piece_set, index| %>
        <% if !piece_set.id.nil? && piece_set.inventory_in_id.nil? %>
          <%= fields_for "shipment[piece_set_attributes][#{index}]", piece_set do |ps_form| %>
            <%=ps_form.hidden_field :id %>
            <tr class='hover'>
              <td><%=piece_set.order_line_id.nil? ? '' : piece_set.order_line.order.order_number%> - <%=piece_set.order_line_id.nil? ? '' : piece_set.order_line.line_number%></td>
              <td><%=piece_set.product.name%></td>
              <td><%=ps_form.text_field :quantity, :size=>6%></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
    <% end %>
</div>

<div style='display:none'>
<%=form_for @shipment, :url => "/shipments/#{@shipment.id}/undo_receive", :html => {:id=>'frm_und'} do |psf| %>  
    <input type='hidden' name='ps_id' id='und_ps_id'/>
    <input type='submit' />
<% end %>
</div>