<% content_for :action_bar do %>
  <button class='btn btn-default btn_link' link_to='<%=projects_path%>'>All Projects</button>
  <button class='btn btn-default' id='toggle-closed-projects'>Show Closed Projects</button>
<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>Projects in <%=@project_set.name%></h2>
  </div>
</div>

<table id="project-sets-table" class="table table-striped table-collapse table-hover tablesorter">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th style="cursor:pointer" id="name-header">Name</th>
      <th style="cursor:pointer" id="due-header">Due</th>
      <th style="cursor:pointer" id="deliverables-header">Incomplete Deliverables</th>
      <th style="cursor:pointer" id="sets-header">Sets</th>
      <th style="display:none" id="closed-header">Closed?</th>
      <th style="display:none" id="hold-header">On Hold?</th>
    </tr>
  </thead>
  <tbody>
    <%-@projects.each do |p|-%>
      <%-cache ['proj_index_row_v2',p,0.seconds.ago.strftime('%Y-%m-%d')] do #cache at this level because the .red? method is expensive-%>
        <tr class='<%=p.red? ? 'danger' : 'no-danger'%> <%=p.closed_at ? 'closed-project' : ''%>' style='<%= p.closed_at.nil? ? '' : 'display:none' %>' data-project-id='<%=p.id%>'>
          <td><%=link_to 'View', p, :class=>'btn btn-xs btn-default'%></td>
          <td><%=p.name%>
            <%=p.closed_at ? ' <span class="label label-default">closed</span> '.html_safe : ''%>
            <%=p.on_hold? ? '<span class="label label-warning">on hold</span> '.html_safe : '' %>
          </td>
          <td><%=p.due%></td>
          <td><%=p.project_deliverables.incomplete.count%></td>
          <td>
            <%-p.project_sets.each do |ps|-%>
              <span class='label label-default'><%=ps.name%></span>
            <%-end-%>
          </td>
          <td style="display:none">
            <%=p.closed_at.nil? ? 'No' : 'Yes' %>
          </td>
          <td style="display:none">
            <%=p.on_hold? ? 'Yes' : 'No' %>
          </td>
        </tr>
      <%-end-%>
    <%-end-%>
  </tbody>
</table>

<% content_for :javascript do %>
  $(function() {

    var showClosed = -1;

    $("#toggle-closed-projects").click(function(){
      showClosed *= -1;
      if (showClosed == 1){
        $(".closed-project").css("display","table-row");
        $("#toggle-closed-projects").text("Hide Closed Projects");
      }
      else{
        $(".closed-project").css("display","none");
        $("#toggle-closed-projects").text("Show Closed Projects");
      }
    });
    
    if (typeof(Storage) !== void(0))
    {
      if (typeof(Chain.getStorageItem("user-project-sets-sort"))==="undefined" || Chain.getStorageItem("user-project-sets-sort")==null){
        Chain.setStorageItem("user-project-sets-sort",{order: [[5,0],[6,0],[2,0]]});
      }

      startingOrder = [];
      $.each(Chain.getStorageItem("user-project-sets-sort").order, function(index, value){ startingOrder.push(value)});

      $("#project-sets-table").tablesorter({
        sortList: startingOrder,
        sortForce: [[5,0],[6,0]]
      }).bind("sortEnd", function(sorter){
        Chain.setStorageItem("user-project-sets-sort",{order: sorter.target.config.sortList});
        setProjectOrder();
      });

      setProjectOrder();

    }
    else
    {
      $("#project-sets-table").tablesorter({
        sortList: [[5,0],[6,0],[2,0]],
        sortForce: [[5,0],[6,0]]
      });
    }

    function setProjectOrder() {
      order = [];
      $.each($("tr"), function(index, value){
        if ($(value).data("project-id")!=null){ 
          order.push($(value).data("project-id"));
        }
      });
      Chain.setStorageItem("user-projects-sorted-ids", {ordered_ids: order})
    }
    
  })
<% end %>