<div class='container'>
  <div class='row'>
    <div class='text-center'>
      <%=image_tag(master_setup.logo_image.blank? ? "vfi_logo.png" : master_setup.logo_image, :id=>'dash-logo')%>
    </div>
    <h2 class='text-center'>Welcome To VFI Track</h2>
    <div class='hero-unit'>
      <div id='login'>
        <%= form_for(@user_session) do |f| %>
          <%=f.label(:username)%>
          <%=f.text_field(:username,"class"=>"focus_first")%>
          <%=f.label(:password)%>
          <%=f.password_field(:password)%><br />
          <%=f.check_box(:remember_me)%>
          <%=f.label(:remember_me)%>
          <%=f.submit 'Log In', :class=>'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class='hero-unit'>
      <%unless PublicField.scoped.empty?-%>
        <h2>Public Shipment Tracking</h>
        <%=render :partial=>'shared/tracker' %>
      <%end-%>
    </div>
    <div class='hero-unit'>
      <%if MasterSetup.get.custom_feature? 'fenix'-%>
        <h2>PARS Check - Canada Imports</h2>
        <button class='btn_link btn' style='text-align:left;' link_to='http://www.parslookup.com?vcu'>Click Here To Check Canada PARS Status</button>
      <%end-%>
    </div>
    <div class='hero-unit'>
      <h2>Lost Password</h2>
      <%=form_tag password_resets_path do %>
        <label for='email'>Enter Your Email</label> <%=text_field_tag("email")-%><br />
        <%= submit_tag "Reset My Password", :id=>'pwd_reset_submit', :class=>'btn' -%>
      <% end %>
    </div>
  </div>
</div>
