<% content_for :head_tags do %>
<style type="text/css">
  #new_user_session .small-margin {margin-bottom: 5px;}
  #new_user_session {margin-bottom: 0;}
  #forgot_password {font-size: small;}
  #forgot_password_dialog p {font-size: smaller;}
</style>
<% end %>
<div class='container'>
  <div class='row'>
    <div class='text-center'>
      <%=image_tag(master_setup.logo_image.blank? ? "vfi_logo.png" : master_setup.logo_image, :id=>'dash-logo')%>
    </div>
    <h2 class='text-center'>Welcome To VFI Track</h2>
  </div>
</div>
<div class='container'>
  <div class='well well-small'>
    <div id='login' class='row'>
      <%=form_tag("/user_sessions", :method=>'post', :id=>"new_user_session") do -%>
      <div class='col-md-6'>
        <div class="form-group small-margin">
          <%=label_tag('user_session_username', "Username", class: "control-label")%>
          <div class="controls"><%=text_field_tag('user_session[username]', "", class: "focus_first input-lg form-control", id: "user_session_id")%></div>
        </div>
        <div class="form-group small-margin">
          <%=label_tag("user_session_password", 'Password', class: "control-label")%>
          <div class="controls"><%=password_field_tag('user_session[password]', nil, class: "input-lg form-control", id: 'user_session_password')%></div>
        </div>
        <div class="form-group">
          <div class="controls">
            <%=check_box_tag(:remember_me, "1", false, style: "display: inline;")%>
            <%=label_tag(:remember_me, "Remember Me", title: "Check this to remain logged in even after you close your browser.", style: "display: inline;")%><br>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <div><%=submit_tag 'Log In', class: 'btn btn-primary' %></div>
          </div>
        </div>
        <div class="form-group small-margin">
          <div class="controls">
            <a id="forgot_password" href="javascript:void(0)" data-toggle="modal" data-target="#forgot-password-modal">Forgot your password?</a>
          </div>
        </div>
      </div>
      <% end %>
      <div class="modal fade" id="forgot-password-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Reset Password</h4>
            </div>
            <div class="modal-body">
              <p>Enter your email and we'll send you instructions for resetting your password.</p>
              <%=form_tag password_resets_path, id: "password_reset_form" do -%>
              <div class="col-md-8">
                <%=text_field_tag("email", "", :class=>"form-control")-%>
              </div>
              <div style='margin-top:5px;'>
                <%= submit_tag "Reset My Password", :id=>'pwd_reset_submit', :class=>'btn btn-primary' -%>
              </div>
              <% end -%>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <%-if MasterSetup.get.custom_feature? 'public hts'-%>
  <div class='well'>
    <h2>Public HTS Database</h2>
    <a href='/hts' class='btn btn-default'>Click Here</a>
  </div>
  <%-end-%>
  <%unless PublicField.scoped.empty?-%>
  <div class='well'>
    <h2>Public Shipment Tracking</h2>
      <%=render :partial=>'shared/tracker' %>
    </div>
    <%end-%>
    <%if MasterSetup.get.custom_feature? 'fenix'-%>
    <div class='well'>
      <h2>PARS Check - Canada Imports</h2>
      <button class='btn_link btn btn-default' style='text-align:left;' link_to='http://www.parslookup.com?vcu'>Click Here To Check Canada PARS Status</button>
    </div>
    <%end-%>
  </div>
