<!DOCTYPE html>
<html>
  <head>
    <title>VFI Track</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= app_internals(MasterSetup.get) %>
    <%= stylesheet_link_tag "login", :media => "all" -%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/flash_notice" %>
    <div class='container-fluid'>
      <div class="row py-2">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-12">
          <div class="text-center">
            <a href="https://www.vandegriftinc.com/">
            <%= image_tag(master_setup.logo_image.blank? ? "vfi_track_logo.png" : master_setup.logo_image, :id=>'dash-logo', :class=>'img-fluid', :alt=>'Vandegrift Logo')%>
            </a>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row py-md-1">
        <div class="col-md-2"></div>
      <% if MasterSetup.get.custom_feature?('public hts') || !PublicField.all.empty? || MasterSetup.get.custom_feature?('fenix') -%>
        <div class="col-md-4 col-sm-12">
      <% else -%>
        <div class="col-md-8 col-sm-12">
      <% end -%>
          <div class="card mr-md-0">
            <div class="card-header pb-md-0">
              <h3>Sign In to VFI Track</h3>
            </div>
            <div id='login' class='card-body'>
              <%= form_tag("/user_sessions", :method=>'post', :id=>"new_user_session") do -%>
                <div class="form-group small-margin">
                  <%= label_tag('user_session_username', "Username", class: "control-label") %>
                  <div class="controls"><%=text_field_tag('user_session[username]', "", class: "focus_first input-lg form-control", id: "user_session_id") %></div>
                </div>
                <div class="form-group small-margin">
                  <%= label_tag("user_session_password", 'Password', class: "control-label")%>
                  <div class="controls"><%=password_field_tag('user_session[password]', nil, class: "input-lg form-control", id: 'user_session_password') %></div>
                </div>
                <% unless Rails.application.config.disable_remember_me %>
                <div class="form-group">
                  <div class="controls">
                    <%= check_box_tag(:remember_me, "1", false, style: "display: inline;") %>
                    <%= label_tag(:remember_me, "Remember Me", title: "Check this to remain logged in even after you close your browser.", style: "display: inline;") %><br>
                  </div>
                </div>
                <% end %>
                <div class="form-group">
                  <div class="controls">
                    <span><%=submit_tag 'Log In', class: 'btn btn-warning' %></span>
                    <% if Rails.configuration.use_google_auth %>
                      <span> or </span>

                      <%= link_to image_tag('btn_google_signin_light_normal_web.png', size: '169x42'), "/auth/google_oauth2", method: :post %>
                    <% end %>
                    <% if Rails.configuration.use_azure_auth %>
                      <span> or </span>

                        <span>
                          <%= link_to raw('<button class="btn btn-maersk" type="button">Log In With Your Maersk ID</button>'), "/auth/azure_oauth2", method: :post %>
                        </span>
                        
                    <% end %>
                    <% if Rails.application.config.pepsi_sso_url %> or
                      <a href="<%=Rails.application.config.pepsi_sso_url%>" alt="myPepsiCo Login"><%= image_tag "mypepsico.png"%></a>
                    <% end %>
                  </div>
                </div>
                <div class="form-group small-margin">
                  <div class="controls">
                    <div class="row">
                      <div class="col"><a id="forgot_password" href="javascript:void(0)" data-toggle="modal" data-target="#forgot-password-modal">Forgot your VFI Track password?</a>
                      </div>
                    </div>
                    <% if Rails.application.config.pepsi_sso_url.blank? %>
                      <div class="col">
                        <div class="row"><a id="need_account" href="javascript:void(0)" data-toggle="modal" data-target="#registration-modal">Need an Account?</a>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="modal fade" id="forgot-password-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Reset Password</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Enter your email and we'll send you instructions for resetting your password.</p>
                      <%=form_tag password_resets_path, id: "password_reset_form" do -%>
                      <div class="col-8">
                        <%=text_field_tag("email", "", class: "form-control", id: "reset-password-email")-%>
                      </div>
                      <div class="pt-3">
                        <button id="cancel-reset-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <%= submit_tag "Reset My Password", :id=>'pwd_reset_submit', :class=>'btn btn-primary' -%>
                      </div>
                      <% end -%>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="registration-modal">
                <div class="modal-dialog">
                  <%= form_tag register_path, id: "registration_form" do -%>
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                            <%=label_tag("email", "Email:")-%>
                            <%=text_field_tag("email", "", :class=>"form-control", :id => "registration-email")-%>
                          </div>

                          <div class="form-group">
                            <%=label_tag("fname", "First Name:")-%>
                            <%=text_field_tag("fname", "", :class=>"form-control")-%>
                          </div>

                          <div class="form-group">
                            <%=label_tag("lname", "Last Name:")-%>
                            <%=text_field_tag("lname", "", :class=>"form-control")-%>
                          </div>

                          <div class="form-group">
                            <%=label_tag("company", "Company Name:")-%>
                            <%=text_field_tag("company", "", :class=>"form-control")-%>
                          </div>

                          <div class="form-group">
                            <%=label_tag("cust_no", "Customer / Vendor ID(s):")-%>
                            <%= text_area_tag("cust_no", "", :class=>"form-control")-%>
                          </div>

                          <div class="form-group">
                            <%=label_tag("contact", "#{Company.find_master.name.titleize} Contact Name:")-%>
                            <%= text_area_tag("contact", "", :class=>"form-control")-%>
                          </div>

                          <div class="form-group">
                            <%= recaptcha_tags %>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <div class="form-group">
                          <button id="cancel-register-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <%= submit_tag "Register", :id=>'registration_submit', :class=>'btn btn-primary'-%>
                        </div>
                      </div>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if MasterSetup.get.custom_feature?('public hts') || !PublicField.all.empty? || MasterSetup.get.custom_feature?('fenix') %>
          <div class="col-md-4 col-sm-12 pl-md-0 pt-sm-3 pt-md-0">
            <%unless PublicField.all.empty?-%>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header pb-0">
                      <h3>Public Shipment Tracking</h3>
                    </div>
                    <div class="card-body">
                      <%=render :partial=>'shared/tracker' %>
                    </div>
                  </div>
                </div>
              </div>
            <%end-%>
            <%if MasterSetup.get.custom_feature? 'fenix'-%>
              <div class="row py-3">
                <div class="col">
                  <div class="card">
                    <div class="card-header pb-0">
                      <h3>PARS Check - Canada Imports</h3>
                    </div>
                    <div class="card-body">
                      <button class='btn btn_link btn-primary' link_to='http://www.parslookup.com?vcu'>Check Canada PARS</button>
                    </div>
                  </div>
                </div>
              </div>
            <%end-%>
            <%-if MasterSetup.get.custom_feature? 'public hts'-%>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header pb-0">
                    <h3>Public HTS Database</h3>
                  </div>
                  <div class="card-body">
                    <button class='btn btn_link btn-primary' link_to="/hts">Search HTS</button>
                  </div>
                </div>
              </div>
            </div>
            <%-end-%>
          </div>
          <div class="col-md-2"></div>
        <% else %>
          <div class="col-md-6"></div>
        <% end %>
      </div>
      <div class="row pt-3" id="media">
        <div class="col-md-1"></div>
        <div class="col-md-1">
          <div class="sideaffix">
            <a href="https://twitter.com/VandegriftInc " target="_blank">
              <%= image_tag('social/twitter_circle.png', :id=>'twitter-icon', :class=>'float-right', :alt=>'Twitter icon') %>
            </a>
            <a href="https://www.linkedin.com/company/598796/" target="_blank">
              <%= image_tag('social/linkedin_circle.png', :id=>'linkedin-logo', :class=>'float-right', :alt=>'Linkedin icon') %>
            </a>
            <a href="https://www.facebook.com/vandegriftinc/" target="_blank">
              <%= image_tag('social/facebook_circle.png', :id=>'facebook-icon', :class=>'float-right', :alt=>'Facebook icon')%>
            </a>
          </div>
        </div>
        <div class="col-md-8 col-12">
          <div class="card">
            <div class="card-header"><a id="news-header" class="pb-0" href="https://www.vandegriftinc.com/news" target="_blank"><h3>Recent News from Vandegrift</h3></a>
            </div>
            <div id="news-box" class="card-body"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row bottomaffix">
        <div class="col-md-2"></div>
        <div class="col py-1" id="facebookbox">
          <a href="https://www.facebook.com/vandegriftinc/" target="_blank" class="pt-2">
            <%=image_tag('social/facebook.png', :id=>'facebook-icon', :class=>'img-fluid', :alt=>'Facebook icon')%>
          </a>
        </div>
        <div class="col py-1" id="linkedinbox">
          <a href="https://www.linkedin.com/company/598796/" target="_blank" class="pt-2">
            <%= image_tag('social/linkedin.png', :id=>'link-logo', :class=>'img-fluid', :alt=>'Linkedin icon') %>
          </a>
        </div>
        <div class="col py-1" id="twitterbox">
          <a href="https://twitter.com/VandegriftInc" target="_blank">
            <%= image_tag('social/twitter.png', :id=>'twitter-icon', :class=>'img-fluid', :alt=>'Twitter icon') %>
          </a>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <%= javascript_include_tag "login" -%>
    <%= javascript_include_tag "jquery_ujs" -%>
  </body>
</html>
