<!DOCTYPE html>
<html>
  <head>
    <title>VFI Track</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "login" -%>
    <script>
      $(function () {  
        $('#registration_form').on('submit', function(e) {
            var target = $(e.target);
            e.preventDefault();
            $('#registration-modal').modal('hide');
            $.ajax({
              type: 'post',
              url: target.attr('action'),
              data: target.serialize(),
              success: function(r) {
                if (r.flash.errors) {
                  var panel = Chain.makeErrorPanel(r.flash.errors);
                  $('.panel-danger, .panel-success').remove();
                  $('.container').first().prepend(panel);
                }
                else {
                  var panel = Chain.makeSuccessPanel(r.flash.notice);
                  $('.panel-danger, .panel-success').remove();
                  $('.container').first().prepend(panel);
                }
              },
              error: function(r) {
                var panel = Chain.makeErrorPanel("There was a problem with the server. Please wait a minute, and try again.");
                $('.panel-danger, .panel-success').remove();
                $('.container').first().prepend(panel);
              }
            });
          });
      });
    </script>

    <%= stylesheet_link_tag "login", :media => "all" -%>
    <style type="text/css">
      body {
        background-image: url("<%=image_path('SERVICES.jpg')%>");
        background-size: cover;
        padding-top: 15px;
      }
      .outer-well {
        margin-top: 10px;
        background-color: rgba(255,255,255,0.6);
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
      #new_user_session .small-margin {margin-bottom: 5px;}
      #new_user_session {margin-bottom: 0;}
      #forgot_password, #need_account {font-size: small;}
      #forgot_password_dialog p {font-size: smaller;}
      #login-container {
      }
    </style>
  </head>
  <body>  
    <%= render "shared/flash_notice" %>
    <div class='container'>
      <div class='row'>
        <div class="col-md-12">
          <div class='text-center'>
            <%=image_tag(master_setup.logo_image.blank? ? "vfi_logo.png" : master_setup.logo_image, :id=>'dash-logo')%>
          </div>
        </div>
      </div>
      <div class="well outer-well">
        <div>
          <div id='login' class='row'>
            <%=form_tag("/user_sessions", :method=>'post', :id=>"new_user_session") do -%>
            <div class='col-md-12'>
              <div class="form-group small-margin">
                <%=label_tag('user_session_username', "Username", class: "control-label")%>
                <div class="controls"><%=text_field_tag('user_session[username]', "", class: "focus_first input-lg form-control", id: "user_session_id")%></div>
              </div>
              <div class="form-group small-margin">
                <%=label_tag("user_session_password", 'Password', class: "control-label")%>
                <div class="controls"><%=password_field_tag('user_session[password]', nil, class: "input-lg form-control", id: 'user_session_password')%></div>
              </div>
              <% unless Rails.application.config.disable_remember_me %>
              <div class="form-group">
                <div class="controls">
                  <%=check_box_tag(:remember_me, "1", false, style: "display: inline;")%>
                  <%=label_tag(:remember_me, "Remember Me", title: "Check this to remain logged in even after you close your browser.", style: "display: inline;")%><br>
                </div>
              </div>
              <% end %>
              <div class="form-group">
                <div class="controls">
                  <span><%=submit_tag 'Log In', class: 'btn btn-success' %></span>
                  <% if Rails.configuration.use_google_auth %>
                    <span> or </span>

                    <a href="/auth/google_oauth2">

                      <span>
                        <%= image_tag "btn_google_signin_light_normal_web.png",
                                      size: "169x42" %>
                      </span>

                    </a>
                  <% end %>
                  <% if Rails.application.config.pepsi_sso_url %> or
                    <a href="<%=Rails.application.config.pepsi_sso_url%>" alt="myPepsiCo Login"><%= image_tag "mypepsico.png"%></a>
                  <% end %>
                </div>
              </div>
              <div class="form-group small-margin">
                <div class="controls">
                  <a id="forgot_password" href="javascript:void(0)" data-toggle="modal" data-target="#forgot-password-modal">Forgot your VFI Track password?</a> |
                  <% if Rails.application.config.pepsi_sso_url.blank? %>
                    <a id="need_account" href="javascript:void(0)" data-toggle="modal" data-target="#registration-modal">Need an Account?</a>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <div class="modal fade" id="forgot-password-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Reset Password</h4>
                  </div>
                  <div class="modal-body">
                    <p>Enter your email and we'll send you instructions for resetting your password.</p>
                    <%=form_tag password_resets_path, id: "password_reset_form" do -%>
                    <div class="col-md-8">
                      <%=text_field_tag("email", "", :class=>"form-control")-%>
                    </div>
                    <div style='margin-top:5px;'>
                      <%= submit_tag "Reset My Password", :id=>'pwd_reset_submit', :class=>'btn btn-primary' -%>
                    </div>
                    <% end -%>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="registration-modal">
              <div class="modal-dialog">
                <%=form_tag register_path, id: "registration_form" do -%>
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4>Register</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                          <%=label_tag("email", "Email:")-%>
                          <%=text_field_tag("email", "", :class=>"form-control")-%>
                        </div>
                        
                        <div class="form-group">
                          <%=label_tag("fname", "First Name:")-%>
                          <%=text_field_tag("fname", "", :class=>"form-control")-%>
                        </div>
                          
                        <div class="form-group">  
                          <%=label_tag("lname", "Last Name:")-%>
                          <%=text_field_tag("lname", "", :class=>"form-control")-%>
                        </div>
                          
                        <div class="form-group">
                          <%=label_tag("company", "Company Name:")-%>
                          <%=text_field_tag("company", "", :class=>"form-control")-%>
                        </div>
                          
                        <div class="form-group">
                          <%=label_tag("cust_no", "Customer / Vendor ID(s):")-%>
                          <%= text_area_tag("cust_no", "", :class=>"form-control")-%>
                        </div>
                          
                        <div class="form-group">
                          <%=label_tag("contact", "#{Company.find_master.name.titleize} Contact Name:")-%>
                          <%= text_area_tag("contact", "", :class=>"form-control")-%>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <div style='margin-top:5px;' class="form-group">
                        <button id="cancel-btn" type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        <%= submit_tag "Register", :id=>'registration_submit', :class=>'btn btn-primary'-%>
                      </div> 
                    </div>
                  </div>
                <%end%>  
              </div>
            </div>

          </div>
        </div>
      </div>
      <%if MasterSetup.get.custom_feature?('public hts') || !PublicField.scoped.empty? || MasterSetup.get.custom_feature?('fenix') %>
      <div class='well outer-well'>
        <%-if MasterSetup.get.custom_feature? 'public hts'-%>
        <div>
          <h2>Public HTS Database</h2>
          <a href='/hts' class='btn btn-default'>Click Here</a>
        </div>
        <%-end-%>
        <%unless PublicField.scoped.empty?-%>
        <div>
          <h2>Public Shipment Tracking</h2>
            <%=render :partial=>'shared/tracker' %>
        </div>
        <%end-%>
        <%if MasterSetup.get.custom_feature? 'fenix'-%>
        <div>
          <h2>PARS Check - Canada Imports</h2>
          <button class='btn_link btn btn-default' style='text-align:left;' link_to='http://www.parslookup.com?vcu'>Click Here To Check Canada PARS Status</button>
        </div>
        <%end-%>
      </div>
      <%end%>
    </div>
  </body>
</html>
