<%content_for :javascript do %>
$(function() {$("#btn_delete").button();});
<%end%>
<%content_for :action_bar do %>
  <button class="form_to" form_id="frm_rule" key_map='s'>Save</button>
  <%=button_to('Delete', linkable_attachment_import_rule_path(@rule),:method => :delete, :confirm => "Are you sure?", :id => "btn_delete") if @rule.id%>
  <button class='btn_link' link_to='<%=linkable_attachment_import_rules_path%>' key_map='b'>Back</button>
<%end%>
<h1>Linkable Attachment Rule</h1>
<%=form_for @rule, :html=>{:id=>'frm_rule'} do |f| %>
  <table>
    <%=field_row "Remote Folder", f.text_field(:path)%>
    <%=field_row "Field", select_model_fields_tag("linkable_attachment_import_rule[model_field_uid]",@rule.model_field_uid) %>
  </table>
<%end%>
