<% content_for :javascript do %>
  $(function() {
    $( "#btn_poa_report" )
      .button()
      .click(function() {
        window.location = '<%= reports_show_poa_expirations_path(@company )%>';
      });
  });
<% end %>

<%content_for :action_bar do%>
  <button id='btn_poa_report'>New Report</button>
<%end%>

<%= will_paginate @poas %>
<table class='detail_table'>
  <thead>
    <tr>
      <th>Company</th>
      <th><%= "Start date".titleize %></th>
      <th><%= "Expiration date".titleize %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @poas.each do |poa| %>
      <tr class='hover'>
        <td><%= poa.company.name %></td>
        <td><%= poa.start_date %></td>
        <td><%= poa.expiration_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
