<% content_for :javascript do -%>
$(function() {
  $("#frm_run").submit(function() {
    var r = true;
    if($("input[name='start_date']").val().length < 10) {
      r = false;
    }
    if($("input[name='end_date']").val().length < 10) {
      r = false;
    }
    if(!r) {
      window.alert("You must enter both dates.");
      return false;
    }
  });
});
<%end-%>
<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>Landed Cost Report</h2>
<%=form_tag reports_run_landed_cost_path, :id=>'frm_run' do -%>
<div class="container">
  <div class="row">
    <span class="span12"><%=ModelField.find_by_uid(:ent_cust_num).label(false)%> <%=text_field_tag :customer_number %></span>
  </div>
  <div class="row">
    <span class="span12">
  Release Date on or after <%=text_field_tag :start_date, (Time.zone.today - 1.month).at_beginning_of_month.strftime("%Y-%m-%d"), :class=>'isdate ', :size=>10%> and prior to
  <%=text_field_tag :end_date, Time.zone.today.at_beginning_of_month.strftime("%Y-%m-%d"), :class=>'isdate', :size=>10%>.
    </span>
  </div>
<%end%>
</div>