<%content_for :action_bar do %>
  <button class="form_to" form_id='frm_t' key_map='u'>Update Ticket</button>
<%end%>
<%content_for :javascript do %>
  $(function() {
    if($("#sel_requestor").length>0) {
      OpenChain.loadUserList($("#sel_requestor"),"<%=@ticket.requestor_id%>");
    }
  });
<%end%>
<style>
  .support_comment_body {margin-left: 10px; border-left: 1px solid #ccc; padding-left:5px;}
</style>
<h1>New Ticket</h1>

<%form_for @ticket, :html=>{:id=>"frm_t"} do |f| %>
  <%f.hidden_field :last_saved_by_id%>
  <table>
    <%=field_row "User", current_user.support_agent? ? f.select(:requestor_id, ["Loading..."], {}, :id=>"sel_requestor") : @ticket.requestor.full_name %>
    <%if current_user.support_agent?%>
      <%=field_row "Agent Assigned", f.collection_select(:agent_id, User.where(:support_agent=>true), :id, :full_name, {:include_blank=>:true})%>
    <%end%>
    <%=field_row "Short Description", @ticket.subject%>
    <%=field_row "State", current_user.support_agent? ? f.select(:state, ["Open","Closed"]) : @ticket.state%>
    <%=field_row "More Information", RedCloth.new(@ticket.body).to_html.html_safe%>
  </table>
  <h3>Comments</h3>
  <%@ticket.support_ticket_comments.each do |stc|%>
    <div><em><%=stc.user.full_name%> - <%=stc.created_at%></em></div>
    <div class='support_comment_body'>
      <%=RedCloth.new(stc.body).to_html.html_safe%>
    </div>
  <%end%>
  <%f.fields_for :support_ticket_comments, @ticket.support_ticket_comments.build(:user=>current_user) do |stcf|%>
    <%=stcf.hidden_field :user_id%>
    <%=stcf.text_area :body, :style=>"width:90%;"%>
  <%end%>
<%end%>
