<h1>Support Tickets</h1>

<table class='detail_table'>
  <thead><tr><th>Number</th><th>Created</th><th>Body</th><th>Status</th></thead>
  <tbody>
    <%@tickets.each do |tick|%>
      <tr class='hover'><td><%=link_to tick.id, tick%></td><td><%=tick.created_at%></td><td><%=tick.body%></td><td><%=tick.state%></tr>
    <%end%>
  </tbody>
</table>
<% if @assigned && !@assigned.empty%>
  <h2>Assigned To You</h2>
  <table class='detail_table'>
    <thead><tr><th>Number</th><th>User</th><th>Created</th><th>Body</th><th>Status</th></thead>
    <tbody>
      <%@tickets.each do |tick|%>
      <tr class='hover'><td><%=link_to tick.id, tick%></td><%=tick.requestor.full_name%></td><td><%=tick.created_at%></td><td><%=tick.body%></td><td><%=tick.state%></tr>
      <%end%>
    </tbody>
  </table>
<% end %>
