<%content_for :javascript do %>
$(function() {
  setupShippingAddress('Customer',$('#sales_order_ship_to_id'),$('#ship_to_ad'),<%=@sales_order.customer.nil? ? "'not set'": @sales_order.customer.id%><%=@sales_order.ship_to_id.nil? ? '' : ",#{@sales_order.ship_to_id}"%>);
  $("#sales_order_customer_id").change(function() {
    setupShippingAddress('Customer',$('#sales_order_ship_to_id'),$('#ship_to_ad'),$(this).val());
  });
  $("#btn_save").button().click(function() {
    $("#frm_so").submit();
  });
  $("#btn_cancel").button().click(function() {
    window.location = '<%=url_for @sales_order%>';
  });
});

<% end %>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<% end %>
<%= form_for(@sales_order, :html=>{:id=>'frm_so'}) do |f| %>

  <div class='content_head'>
    <p><span class='content_head_label'>Sales Order Number: </span><%= f.text_field :order_number %></p>
    <p><span class='content_head_label'>Customer: </span><%= f.collection_select :customer_id, Company.where(:customer => true).not_locked, :id, :name, options ={:prompt => "Select a customer"} %></p>
  </div>
  <table style='width:100%;'><!--table based layout... good enough for now-->
    <tr>
      <td style='vertical-align:top;'>
        <table class='detail_table'>
          <thead><tr><th>Ship To</th></tr></thead>
          <tbody><tr><td>
            <%= f.select(:ship_to_id, [['...Loading...','']])%> 
            <div id='ship_to_ad'></div>
          </td></tr></tbody>
        </table>
        <table class='detail_table'>
          <thead><tr><th>Attributes</th></tr></thead>
          <tbody><tr><td>
            <b>Order Date: </b><%= f.text_field :order_date, "class" => "isdate" %><br />
            <b>Division: </b><%= f.collection_select :division_id, Division.all, :id, :name, options ={:prompt => (Division.all.size>1 ? "Select a division" : nil)} %><br />
      			<%=show_custom_fields @sales_order, {:form => true}%>
          </td></tr></tbody>  
        </table>
      </td>
    </tr>
  </table>
<% end %>
