<%content_for :javascript do %>
$(function() {
  setupShippingAddress('Customer',$('#sales_order_ship_to_id'),$('#ship_to_ad'),<%=@sales_order.customer.nil? ? "'not set'".html_safe : @sales_order.customer.id%><%=@sales_order.ship_to_id.blank? ? '' : ",#{@sales_order.ship_to_id}"%>);
  $("#sales_order_customer_id").change(function() {
    setupShippingAddress('Customer',$('#sales_order_ship_to_id'),$('#ship_to_ad'),$(this).val());
  });
  $("#btn_save").click(function() {
    $("#frm_so").submit();
  });
  $("#btn_cancel").click(function() {
    window.location = '<%=url_for @sales_order%>';
  });
  OpenChain.addClickMap('s','Save','btn_save');
  OpenChain.addClickMap('c','Cancel','btn_cancel');
  OpenChain.activateHotKeys();
});

<% end %>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%unless @sales_order.id.nil?%>
  <button id='btn_edit_next'>Next</button>
  <button id='btn_edit_previous'>Previous</button>
<%end%>
<% end %>
<%= form_for(@sales_order, :html=>{:id=>'frm_so'}) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= show_model_fields f, :sale_order_number %>
        <%= show_model_fields f, :sale_cust_id, sale_cust_id: {id: "sales_order_customer_id", prompt: "Select a customer", select_options: lambda {|val| options_from_collection_for_select(Company.where(:customer => true).not_locked, :id, :name, val)}} %>
      </div>
    </div>
  </div>
  <table style='width:100%;'><!--table based layout... good enough for now-->
    <tr>
      <td style='vertical-align:top;'>
        <table class='detail_table'>
          <thead>
            <tr colspan="2">
              <%= model_field_labels :sale_ship_to_name, table:true, heading:true %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <%= show_model_fields(f, :sale_ship_to_id, table: true, editor_only: true) do |mf, field_name, value, attributes| 
                    attributes[:select_options] = options_for_select(["...Loading..."], value)
                    attributes[:id] = "sales_order_ship_to_id"
                    field = model_select_field_tag field_name, mf, value, attributes
                    field + "<div id='ship_to_ad' style='text-align: left'></div>".html_safe
                  end %>
            </tr>
          </tbody>
        </table>
        <table class='detail_table'>
          <thead><tr><th colspan="2">Attributes</th></tr></thead>
          <tbody>
            <%= show_model_fields(f, :sale_order_date, table: true) %>
            <% divs = Division.all %>
            <%= show_model_fields(f, :sale_div_id, table: true, sale_div_id: {prompt: (divs.length > 0 ? "Select a division": ""), select_options: lambda {|val| options_from_collection_for_select(divs, :id, :name, val)}}) %>
      			<%= show_custom_fields f, {:table => true}%>
          </tbody>  
        </table>
      </td>
    </tr>
  </table>
<% end %>
