<%content_for :javascript do %>
$(function() {
  setupShippingAddress('Customer',$('#sales_order_ship_to_id'),$('#ship_to_ad'),<%=@sales_order.customer.nil? ? "'not set'": @sales_order.customer.id%><%=@sales_order.ship_to_id.nil? ? '' : ",#{@sales_order.ship_to_id}"%>);
  $("#sales_order_customer_id").change(function() {
    setupShippingAddress('Customer',$('#sales_order_ship_to_id'),$('#ship_to_ad'),$(this).val());
  });
  $("#btn_save").click(function() {
    $("#frm_so").submit();
  });
  $("#btn_edit_next").click(function() {
    next_action_to_form($("#frm_so"));
    $("#frm_so").submit();
  });
  $("#btn_edit_previous").click(function() {
    previous_action_to_form($("#frm_so"));
    $("#frm_so").submit();
  });
  $("#btn_cancel").click(function() {
    window.location = '<%=url_for @sales_order%>';
  });
  OpenChain.addClickMap('s','Save','btn_save');
  OpenChain.addClickMap('c','Cancel','btn_cancel');
  OpenChain.addClickMap('n','Next','btn_edit_next');
  OpenChain.addClickMap('p','Previous','btn_edit_previous');
  OpenChain.activateHotKeys();
});

<% end %>
<%content_for :action_bar do %>
<button id='btn_save'>Save</button>
<button id='btn_cancel'>Cancel</button>
<%unless @sales_order.id.nil?%>
  <button id='btn_edit_next'>Next</button>
  <button id='btn_edit_previous'>Previous</button>
<%end%>
<% end %>
<%= form_for(@sales_order, :html=>{:id=>'frm_so'}) do |f| %>

  <div class='content_head'>
    <p><span class='content_head_label'><%=field_label :sale_order_number%>: </span><%= f.text_field :order_number %></p>
    <p><span class='content_head_label'><%=field_label :sale_cust_name%>: </span><%= f.collection_select :customer_id, Company.where(:customer => true).not_locked, :id, :name, options ={:prompt => "Select a customer"} %></p>
  </div>
  <table style='width:100%;'><!--table based layout... good enough for now-->
    <tr>
      <td style='vertical-align:top;'>
        <table class='detail_table'>
          <thead><tr><th><%=field_label :sale_ship_to_name%></th></tr></thead>
          <tbody><tr><td>
            <%= f.select(:ship_to_id, [['...Loading...','']])%> 
            <div id='ship_to_ad'></div>
          </td></tr></tbody>
        </table>
        <table class='detail_table'>
          <thead><tr><th>Attributes</th></tr></thead>
          <tbody><tr><td>
            <b><%=field_label :sale_order_date%>: </b><%= f.text_field :order_date, "class" => "isdate" %><br />
            <b><%=field_label :sale_div_name%>: </b><%= f.collection_select :division_id, Division.all, :id, :name, options ={:prompt => (Division.all.size>1 ? "Select a division" : nil)} %><br />
      			<%=show_custom_fields @sales_order, {:form => true}%>
          </td></tr></tbody>  
        </table>
      </td>
    </tr>
  </table>
<% end %>
