<%content_for :javascript do %>
$(function() {
  <%if @sales_order.can_edit?(current_user)%>
  $("#btn_edit").button().click(function() {
    window.location = '<%=url_for edit_sales_order_path(@sales_order)%>';
  });
  OpenChain.addClickMap('e','Edit','btn_edit');
  <%end%>
  $("#mod_subscriptions").dialog({autoOpen:false,title:'Subscriptions',
      buttons:{"Subscribe":function() {$("#frm_sub").submit();}}
    });
  $("#btn_subscriptions")
    .button()
    .click(function() {
      $("#mod_subscriptions").dialog('open');
    });
  $("#mod_edit_line").dialog({autoOpen:false,title:'Edit Line',width:'auto',
    buttons:{"Save":function() {$("#frm_edit_line").submit();},
             "Cancel":function() {window.location = '<%=sales_order_path(@sales_order)%>';}}
  });
  $("#btn_add_line").button().click(function() {
    $("#mod_edit_line").dialog('open');
  });  
  <% if @sales_order.can_edit?(current_user) && !@line.nil? %>
    $("#mod_edit_line").dialog('open');
    OpenChain.addClickMap('r','Add Product','btn_add_line');
  <% end %>
  $("#edit_line_product").change(function() {
    if($(this).val().length>0) {
      $("#edit_line_uom").html("<span style='font-size:80%;'>...loading...</span>");
      getProductUOM($(this).val(),function(uom) {
        $("#edit_line_uom").html(uom);
      });
    }
  });
  <% if current_user.company.master && !@sales_order.locked? %>
    $("#btn_delete").button();
    OpenChain.addClickMap('d','Delete','btn_delete');
  <%end%>
});
<%end%>
<%content_for :action_bar do%>
  <%if @sales_order.can_edit?(current_user)%><button id='btn_edit'>Edit</button><%end%>
  <% if current_user.company.master && !@sales_order.locked? %>
      <%= button_to('Delete', sales_order_path(@sales_order),:method => :delete, :confirm => "Are you sure?", :id => "btn_delete") %>
  <% end %>
  <% if @line.nil? && @sales_order.can_edit?(current_user) %>
    <button id='btn_add_line'>Add Product</button>
  <% end %>
  <%=render :partial => 'shared/show_next_prev', :locals => {:table_name => "sales_orders"} %>
  <button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:sales_order_id => @sales_order.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>
<%end%>

<table class='detail_table'>
<thead><tr><th>Sale Information</th></tr></thead>
<tbody><tr><td>
  <table>
    <%=field_row field_label(:sale_order_number), @sales_order.order_number %>
    <%=field_row field_label(:sale_order_date), @sales_order.order_date %>
    <%=field_row field_label(:sale_cust_name), @sales_order.customer.name %>
    <%=show_custom_fields @sales_order, {:table=>true} %>
  </table>
</td></tr></tbody>
</table>

<div>
      
<table class="detail_table">
  <thead>
    <th><%=field_label :soln_line_number%></th>
    <th><%=field_label :prod_name%></th>
    <th><%=field_label :soln_ordered_qty%></th>
    <th>Qty On Delivery</th>
    <th><%=field_label :prod_uom%></th>
    <th><%=field_label :soln_ppu%></th>
    <th>Total Price</th>
    <th></th>
  </thead>

  <% @sales_order.sales_order_lines.each do |line| %>
        <tr class='hover'>
          <% line.set_line_number if line.line_number.nil? %>
          <td><%= @sales_order.can_edit?(current_user) && !@sales_order.locked? ? (link_to line.line_number, edit_sales_order_sales_order_line_path(@sales_order,line)) : line.line_number %></td>
          <td><%= link_to line.product.name, product_path(line.product) %></td>
          <td><%= line.quantity %></td>
          <td><%= line.delivery_qty%></td>
          <td><%= line.product.unit_of_measure %></td>
          <td><%= line.price_per_unit %></td>
          <td><%= line.price_per_unit.nil? || line.quantity.nil? ? '' : line.price_per_unit * line.quantity %></td>
          <td>
            <% if @sales_order.can_edit?(current_user) && !@sales_order.locked?%>
              <%= link_to 'Delete', sales_order_sales_order_line_path(@sales_order,line) , :confirm => 'Are you sure?', :method => :delete %>
            <% end %> 
          </td>
        </tr>
  <% end %>
</table>
</div>
<%=render :partial => 'shared/comments', :locals => {:commentable => @sales_order} %>
<%=render :partial => 'shared/attachments', :locals => {:attachable => @sales_order} %>
<% form_line = @line.nil? ? @sales_order.sales_order_lines.build : @line %>
<% form_line.default_line_number %>
<div id='mod_edit_line' style='display:none;'>
  <%= form_for([@sales_order, form_line], :html=>{:id=>"frm_edit_line"}) do |f| %>
    <table>
      <%=field_row field_label(:soln_line_number), f.text_field(:line_number,"size"=>"2") %>
      <%=field_row field_label(:prod_name), f.collection_select(:product_id, Product.all, :id, :name, options={:prompt=>"Select a product"},{:id=>"edit_line_product"})%>
      <%=field_row field_label(:soln_ordered_qty), f.text_field(:quantity,"size"=>"5") %>
      <%=field_row field_label(:prod_uom), content_tag(:span,(f.object.product.nil? ? "" : f.object.product.unit_of_measure),:id=>"edit_line_uom") %>
      <%=field_row field_label(:soln_ppu), f.text_field(:price_per_unit, "size"=>"5") %>
    </table>
  <% end %>
</div>
<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:sales_order_id => @sales_order.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @sales_order.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html => {:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :sales_order_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>
