<%content_for :javascript do %>
$(function() {
  <%if @sales_order.can_edit?(current_user)%>
  $("#btn_edit").button().click(function() {
    window.location = '<%=url_for edit_sales_order_path(@sales_order)%>';
  });
  <%end%>
  $("#mod_subscriptions").dialog({autoOpen:false,title:'Subscriptions',
      buttons:{"Subscribe":function() {$("#frm_sub").submit();}}
    });
  $("#btn_subscriptions")
    .button()
    .click(function() {
      $("#mod_subscriptions").dialog('open');
    });
  $("#mod_edit_line").dialog({autoOpen:false,title:'Edit Line',width:'auto',
    buttons:{"Save":function() {$("#frm_edit_line").submit();},
             "Cancel":function() {window.location = '<%=sales_order_path(@sales_order)%>';}}
  });
  $("#btn_add_line").button().click(function() {
    $("#mod_edit_line").dialog('open');
  });  
  <% if @sales_order.can_edit?(current_user) && !@sales_order_line.nil? %>
    $("#mod_edit_line").dialog('open');
  <% end %>
  <% if current_user.company.master && !@sales_order.locked? %>$("#btn_delete").button();<%end%>
});
<%end%>
<%content_for :action_bar do%>
<%if @sales_order.can_edit?(current_user)%><button id='btn_edit'>Edit</button><%end%>
<% if current_user.company.master && !@sales_order.locked? %>
    <%= button_to('Delete', sales_order_path(@sales_order),:method => :delete, :confirm => "Are you sure?", :id => "btn_delete") %>
<% end %>
<button id='btn_subscriptions'>Subscriptions<%=ItemChangeSubscription.count(:conditions => {:sales_order_id => @sales_order.id, :user_id => current_user.id}) == 0 ? '' : "*"%></button>

<%end%>

<table class='detail_table'>
<thead><tr><th>Sale Information</th></tr></thead>
<tbody><tr><td>
  <table>
    <%=field_row "Sales Order Number", @sales_order.order_number %>
    <%=field_row "Order Date", @sales_order.order_date %>
    <%=field_row "Customer", @sales_order.customer.name %>
    <%=show_custom_fields @sales_order, {:table=>true} %>
  </table>
</td></tr></tbody>
</table>

<div>
      
<table class="detail_table">
  <thead>
    <th>Line</th>
    <th>Product</th>
    <th>Ordered</th>
    <th>Unit of Measure</th>
    <th>Price / Unit</th>
    <th>Total Price</th>
    <th></th>
  </thead>

  <% @sales_order.sales_order_lines.each do |line| %>
        <tr class='hover'>
          <% line.set_line_number if line.line_number.nil? %>
          <td><%= @sales_order.can_edit?(current_user) && !@sales_order.locked? ? (link_to line.line_number, edit_sales_order_sales_order_line_path(@sales_order,line)) : line.line_number %></td>
          <td><%= link_to line.product.name, product_path(line.product) %></td>
          <td><%= line.ordered_qty %></td>
          <td><%= line.product.unit_of_measure %></td>
          <td><%= line.price_per_unit %></td>
          <td><%= line.price_per_unit.nil? || line.ordered_qty.nil? ? '' : line.price_per_unit * line.ordered_qty %></td>
          <td>
            <% if @sales_order.can_edit?(current_user) && !@sales_order.locked?%>
              <%= link_to 'Delete', sales_order_sales_order_line_path(@sales_order,line) , :confirm => 'Are you sure?', :method => :delete %>
            <% end %> 
          </td>
        </tr>
  <% end %>
</table>
</div>
<% if @sales_order_line.nil? && @sales_order.can_edit?(current_user) %>
<button id='btn_add_line'>Add</button>
<% end %>
<%=render :partial => 'shared/comments', :locals => {:commentable => @sales_order} %>
<%=render :partial => 'shared/attachments', :locals => {:attachable => @sales_order} %>
<% form_line = @sales_order_line.nil? ? @sales_order.sales_order_lines.build : @sales_order_line %>
<div id='mod_edit_line' style='display:none;'>
  <%= form_for([@sales_order, form_line], :html=>{:id=>"frm_edit_line"}) do |f| %>
    <table>
      <%=field_row "Line Number", f.text_field(:line_number,"size"=>"2") %>
      <%=field_row "Product", f.collection_select(:product_id, Product.all, :id, :name, options={:prompt=>"Select a product"})%>
      <%=field_row "Ordered Quantity", f.text_field(:ordered_qty,"size"=>"5") %>
      <%=field_row "Unit of Measure", f.object.product.nil? ? "" : f.object.product.unit_of_measure %>
      <%=field_row "Price / Unit", f.text_field(:price_per_unit, "size"=>"5") %>
    </table>
  <% end %>
</div>
<div id='mod_subscriptions' style='display:none;'>
  <% 
  change_subs = ItemChangeSubscription.where({:sales_order_id => @sales_order.id, :user_id => current_user.id})
  if change_subs.length == 0
   @ics = @sales_order.item_change_subscriptions.build
   @ics.user = current_user 
  else
   @ics = change_subs[0]
  end 
 %>
 <%= form_for @ics, :html => {:id=>'frm_sub'} do |ics| %>
    <%= ics.hidden_field :user_id %>
    <%= ics.hidden_field :sales_order_id %>
    <%= ics.check_box :app_message %> Message<br />
    <%= ics.check_box :email %> Email<br />
 <% end %>
</div>
