<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <%-if !Rails.env.production?-%>
      <table border='0' width='100%'>
        <tr><td style='padding:20px;font-size:30px;color:#FF0000;'>
          <%=Rails.env%>
        </td></tr>
      </table>
    <%-end-%>
    <% if Rails.env == "development" %>
      <b>Original "To" field:</b> <%= message.to.join(", ") %><br>
      <% if !message.cc.nil? %>
        <b>Original "CC" field:</b> <%= message.cc.join(", ") %><br>
      <% end %>
      <% if !message.bcc.nil? %>
        <b>Original "BCC" field:</b> <%= message.bcc.join(", ") %><br>
      <% end %>
    <% end %>
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
      <tr>
        <td bgcolor='#ffffff' align='center' style='padding-top:20px;padding-bottom:20px;font-family:Helvetica, Arial, sans-serif;'>
          <table border='0' cellpadding='0' cellspacing='0' width='600'>
            <tr>
              <td align='center' style='padding:25px 0 25px 0;font-size:20px;text-align:center;'>
                <img src='http://www.vfitrack.net/images/vfi_logo_90.png' />
                <br />
                VFI Track
              </td>
            </tr>
            <tr>
              <td style='padding:20px 20px 20px 20px;' bgcolor='#ffffff'>
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                  <tr><td>
                    <%=yield%>  
                  </td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#000000">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
